@use "styles";
@use "table";

.clear-button-container button {
  color: var(--grey-light-active);
  height: 24px;
  width: 24px;
  padding: 0;
  margin-right: 16px;
  margin-left: 8px;
}

.clear-button-container button mat-icon {
  font-size: 24px;
  rotate: 45deg;
}

.clear-button-container button :hover {
  color: var(--red-light);
  cursor: pointer;
}
