@use "../../../../styles";
@use "@angular/material" as mat;

.brand {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.brand-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
}

.brand-row > a.clickable-logo {
  grid-column: 2;
  justify-self: center;
}

.logo {
  margin-bottom: 16px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  @include mat.elevation(5);
}

.clickable-logo {
  display: inline-grid;
  line-height: 0;
}

.logo-text {
  width: 240px;
  height: auto;
}

.support-spacer {
  margin-right: 48px;
}

.spacer { flex: 1 1 0; }

.session-timer {
  width: 70px;
  height: 19px;
  text-align: right;
  margin-bottom: 13px;
  margin-top: 8px;
  margin-right: 8px;
}

.no-expansion.mat-expansion-panel {
  box-shadow: none;
  background: transparent;
  border-radius: 0;
}

.no-expansion .mat-expansion-panel-header {
  padding: 0;
}

.no-expansion .mat-expansion-panel-header .mat-content {
  margin: 0;
}

.no-expansion .mat-expansion-indicator,
.no-expansion .mat-expansion-panel-header:before {
  display: none;
}

.drawer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  gap: 8px;

  ::ng-deep {
    .mat-expansion-panel-body {
      padding: 0 8px 8px;
    }

    .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
      height: 8px;
    }
  }
}
