<div class="token-table">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder=" ">
  </mat-form-field>

  <table (matSortChange)="announceSortChange($event)" [dataSource]="dataSource" class="mat-elevation-z8" mat-table
         matSort>
    <ng-container *ngFor="let column of columnDefinitions" [matColumnDef]="column.key">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
      <td *matCellDef="let element" mat-cell> {{ element[column.key] }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of tokens" showFirstLastButtons>
  </mat-paginator>
</div>

