<div class="flex-row margin-bottom-1 gap-8">
  @if (authService.actionAllowed("container_delete")) {
    <button
      class="action-button-delete"
      (click)="deleteSelectedContainer()"
      [disabled]="containerSelection().length === 0"
      mat-stroked-button
      i18n>
      <mat-icon> delete_sweep</mat-icon>
      Delete Selected
    </button>
  }
  <button
    [routerLink]="[ROUTE_PATHS.TOKENS_CONTAINERS_CREATE]"
    class="action-button-1"
    mat-stroked-button>
    <mat-icon> create_new_folder</mat-icon>
    Create Container
  </button>
</div>