<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="flex-row margin-bottom-1 margin-top-1 gap-8">
  @if (authService.actionAllowed("container_delete")) {
    <button
      class="action-button-delete"
      (click)="deleteSelectedContainer()"
      [disabled]="containerSelection().length === 0"
      mat-stroked-button
      i18n>
      <mat-icon> delete_sweep</mat-icon>
      Delete Selected
    </button>
  }
  <button
    [routerLink]="[ROUTE_PATHS.TOKENS_CONTAINERS_CREATE]"
    class="action-button-1"
    mat-stroked-button>
    <mat-icon> create_new_folder</mat-icon>
    Create Container
  </button>
</div>