<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  aria-label="Login Container"
  class="login-container"
  i18n-aria-label>
  <div class="login-scroll">
    @if (customLogo()) {
      <img
        alt="logo"
        aria-label="Logo"
        class="custom-logo"
        height="200"
        i18n-alt
        i18n-aria-label
        ngSrc="{{ customLogo() }}"
        ngSrcset="1x"
        sizes="(max-width: 300px) 100vw, 300px"
        width="200" />
    } @else {
      <img
        alt="logo"
        aria-label="Logo"
        class="logo"
        height="307"
        i18n-alt
        i18n-aria-label
        ngSrc="assets/privacyIDEA1.png"
        ngSrcset="1x"
        sizes="(max-width: 307px) 100vw, 307px"
        width="307" />

      <img
        alt="logo-text"
        aria-label="Logo Text"
        class="logo-text"
        height="109"
        i18n-alt
        i18n-aria-label
        ngSrc="assets/logo-text.png"
        ngSrcset="1x"
        sizes="(max-width: 575px) 100vw, 575px"
        width="575" />
    }

    @if (useRemoteLogin()) {
      <div class="login-form">
        <h3
          class="margin-bottom-16 text-center"
          i18n>
          Login as {{ remoteUser() }}
        </h3>

        <p
          class="margin-top-0 margin-bottom-32"
          i18n>
          You are authenticated by the web server as user <strong>{{ remoteUser() }}</strong>.
          You may log in as this user to privacyIDEA without any further credentials.
        </p>

        <button
          (click)="remoteLogin()"
          aria-label="Remote Login Button"
          class="login-btn margin-bottom-8"
          extended
          i18n-aria-label
          mat-fab>
          <span i18n>Log In</span>
          <mat-icon iconPositionEnd>login</mat-icon>
        </button>

        @if (!forceRemoteUser()) {
          <button
            (click)="useRemoteLogin.set(false)"
            aria-label="Login with credentials Button"
            class="passkey-btn"
            extended
            i18n-aria-label
            mat-fab>
            <span i18n>Login with Credentials</span>
          </button>
        }
      </div>
    } @else {
      @if (loginText()) {
        <div class="margin-top-64">
          {{ loginText() }}
        </div>
      }

      <form
        (ngSubmit)="onSubmit()"
        aria-label="Login Form"
        class="login-form gap-16"
        i18n-aria-label>
        @if (authMessage().length > 0) {
          <div class="login-message">
            @for (msg of authMessage(); track msg) {
              <p class="login-message-header">{{ msg }}</p>
            }
          </div>
        }
        @if (errorMessage()) {
          <div class="error-message">
            <p>{{ errorMessage() }}</p>
          </div>
        }

        @if (realms().length > 0) {
          <mat-form-field>
            <mat-label>Realm</mat-label>
            <mat-select
              [(ngModel)]="realm"
              [ngModelOptions]="{ standalone: true }"
              [value]="realm()">
              @for (realmOption of realms(); track realmOption) {
                <mat-option [value]="realmOption">{{ realmOption }}</mat-option>
              }
            </mat-select>
            @if (realm() !== "") {
              <app-clear-button
                (onClick)="clearRealmSelection($event)"
                matSuffix></app-clear-button>
            }
          </mat-form-field>
        }

        @if (!showOtpField()) {
          <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic">
            <mat-label i18n="Login username label">Username</mat-label>
            <input
              [(ngModel)]="username"
              id="username"
              matInput
              name="username"
              required
              type="text" />
          </mat-form-field>
        }

        @if (!showOtpField()) {
          <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic">
            <mat-label i18n="Login password label">Password</mat-label>
            <input
              [(ngModel)]="password"
              id="password"
              matInput
              name="password"
              required
              [type]="hidePassword() ? 'password' : 'text'" />
            <button
              (click)="hidePassword.set(!hidePassword())"
              [aria-label]="hidePassword() ? 'Show password' : 'Hide password'"
              i18n-aria-label
              mat-icon-button
              matSuffix
              type="button">
              <mat-icon>{{ hidePassword() ? "visibility" : "visibility_off" }}</mat-icon>
            </button>
          </mat-form-field>
        }

        @if (showOtpField()) {
          <mat-form-field appearance="outline">
            <mat-label i18n="Login OTP label">One-Time-Password</mat-label>
            <input
              #otpInput
              [(ngModel)]="otp"
              autocomplete="one-time-code"
              id="otp"
              matInput
              name="otp"
              required
              type="text" />
          </mat-form-field>
        }

        <div class="login-actions margin-top-16">
          <button
            [disabled]="isLoginButtonDisabled()"
            aria-label="Login Button"
            class="login-btn"
            extended
            i18n-aria-label
            mat-fab
            type="submit">
            <span i18n="Login button text">Log In</span>
            <mat-icon iconPositionEnd>login</mat-icon>
          </button>

          @if (showOtpField()) {
            <button
              (click)="resetLogin()"
              aria-label="Start Over"
              class="reset-btn"
              extended
              i18n-aria-label
              mat-fab
              type="button">
              <span i18n="Reset button text">Reset</span>
              <mat-icon iconPositionEnd>replay</mat-icon>
            </button>
          }
        </div>

        @if (webAuthnTriggered()) {
          <button
            (click)="webAuthnLogin()"
            aria-label="WebAuthn Button"
            class="reset-btn margin-top-16"
            extended
            i18n-aria-label
            mat-fab
            type="button">
            <span i18n="WebAuthn button text">WebAuthn</span>
            <mat-icon iconPositionEnd>key</mat-icon>
          </button>
        }
      </form>
      @if (!showOtpField() && passkeyLoginEnabled()) {
        <div class="passkey-form">
          <button
            (click)="passkeyLogin()"
            aria-label="Passkey Button"
            class="passkey-btn margin-top-16"
            extended
            i18n-aria-label
            mat-fab
            type="submit">
            <span i18n="Passkey button text">Log In With Passkey</span>
            <mat-icon iconPositionEnd>key</mat-icon>
          </button>
        </div>
      }
    }

    @if (node()) {
      <div class="margin-top-64 italic">
        {{ node() }}
      </div>
    }
  </div>
</div>
