<h2 mat-dialog-title>Search for Token</h2>
<mat-dialog-content class="token-count">
  <p>
    The searchrequest will check {{ data.numberOfTokens }} in the system for the given OTP value.
    This could take a lot of time and could even timeout. <br />
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="data.onAbort()"
          class="abort-button"
          mat-button
          mat-dialog-close>
    Abort
  </button>
  <button (click)="data.onConfirm()"
          [mat-dialog-close]="true"
          class="confirm-button"
          mat-button>
    Start Search
  </button>
</mat-dialog-actions>
