<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
 -->
<div
  appScrollToTop
  class="clients-layout">

  <h3>
    Known Clients
  </h3>

  <div class="margin-bottom-1">
    This is a list of clients that have used the <i>/validate/check</i> endpoint for authentication.
  </div>

  <div class="margin-bottom-1">
    <mat-form-field
      class="width-100"
      subscriptSizing="dynamic">
      <mat-label i18n>Filter Clients ...</mat-label>
      <input
        (keyup)="handleFilterInput($event)"
        i18n-aria-label
        aria-label="Filter Input"
        matInput
        i18n-placeholder
        placeholder="Filter across all columns." />
    </mat-form-field>
  </div>

  <table
    mat-table
    matSort
    (matSortChange)="onSortChange($event)"
    [dataSource]="clientDataSource()"
    aria-label="Client Data Table">
    @for (column of columnKeysMap; let colIdx = $index; track column) {
      <ng-container [matColumnDef]="column.key">
        <th
          *matHeaderCellDef
          attr.aria-label="{{ column.label }} Header"
          mat-header-cell
          mat-sort-header
          [ngClass]="{'col-even': colIdx % 2 === 0, 'col-odd': colIdx % 2 !== 0}">
          {{ column.label }}
        </th>
        @if (column.key === "application") {
          <ng-container *matCellDef="let client">
            @if ((!activeSortColumn() || activeSortColumn() === "application") && !filterValue) {
              @if (client.isFirst) {
                <td
                  mat-cell
                  [attr.rowspan]="client.rowspan"
                  [ngClass]="colIdx % 2 === 0 ? 'col-even' : 'col-odd'">
                  <ng-container>
                    <span>{{ client[column.key] }}</span>
                  </ng-container>
                  <app-copy-button [copyText]="client.application" />
                </td>
              }
            } @else {
              <td
                attr.aria-label="{{ column.label }} Cell"
                mat-cell
                [ngClass]="colIdx % 2 === 0 ? 'col-even' : 'col-odd'">
                {{ client[column.key] }}
              </td>
            }
          </ng-container>
        } @else {
          <td
            *matCellDef="let client"
            attr.aria-label="{{ column.label }} Cell"
            mat-cell
            [ngClass]="colIdx % 2 === 0 ? 'col-even' : 'col-odd'">
            <!-- Format lastseen as date/time -->
            @if (column.key === 'lastseen') {
              {{ client.lastseen ? (client.lastseen | date:'yyyy-MM-dd HH:mm:ss z':'UTC') : '' }}
            } @else {
              {{ client[column.key] }}
            }
            @if (column.key === 'ip') {
              <app-copy-button [copyText]="client[column.key]" />
              @if (authService.actionAllowed("auditlog")) {
                <button
                  (click)="showIpInAuditLog(client[column.key])"
                  [routerLink]="[ROUTE_PATHS.AUDIT]"
                  mat-icon-button
                  matTooltip="Show client in audit log">
                  <mat-icon>receipt_long</mat-icon>
                </button>
              }
            }
          </td>
        }
      </ng-container>
    }
    <tr
      mat-header-row
      *matHeaderRowDef="columnKeys"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnKeys;"></tr>

    <tr
      *matNoDataRow
      aria-label="No Data Row"
      i18n-aria-label>
      <td
        [attr.colspan]="columnKeys.length"
        aria-label="No Data Cell"
        i18n
        i18n-aria-label>
        No data matching the filter.
      </td>
    </tr>
  </table>
</div>