@use "styles";
@use "table";

.clients-layout {
  @include styles.main-component-style;
  @include table.base-table-structure(".clients-table", ".clients-table-filter", ".table-scroll-container");
}

.col-even {
  background-color: var(--mat-sys-light) !important;
}

.col-odd {
  background-color: var(--mat-sys-surface-container-low) !important;
}

.line-height {
  line-height: 1em;
}

.data-table-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
