@use "styles";
@use "table";

.clients-layout {
  @include table.table-container-styles;
  @include table.base-table-structure();
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  overflow: auto;
  display: grid;
}

.col-even {
  background-color: var(--mat-sys-light) !important;
}
.col-odd {
  background-color: var(--mat-sys-surface-container-low) !important;
}

.line-height {
  line-height: 1em;
}

.data-table-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
}
