@use "../../../../../../../styles" as styles;

.gap-div-8px {
  width: 8px;
  height: 8px;
}

.action-button-in-panel {
  flex-shrink: 0;
  margin: auto -4px;
  --mat-icon-button-state-layer-color: var(--mat-sys-surface-container-high);
}

.action-card-in-panel {
  border-radius: var(--border-radius);
  box-shadow: var(--mat-sys-level1);
  font-weight: 500;
  padding: 0 var(--global-padding);
  background-color: var(--mat-sys-surface-container-high);
}

.action-card-in-panel:hover {
  background-color: var(--mat-sys-primary-light);
  color: var(--mat-sys-on-primary);
  cursor: pointer;
  font-size: 600;
}

.detail-input {
  flex: 1 0 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;

  .full-width {
    width: 100%;
  }
  .half-width {
    width: 50%;
  }
}

.action-card-in-panel:focus-within {
  outline: 2px solid var(--mat-sys-primary-base);
  outline-offset: -2px;
}
