mat-card {
  background: white;
  box-sizing: content-box;
  border: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

mat-tab-group {
  display: flex;
  align-items: center;
}

h4 {
  padding: 8px;
}

.active {
  color: var(--blue-base);
  transition: 200ms;
}
