<mat-card [ngClass]="{'card-margin-pad':
!overflowService.isOverflowing('.token-layout',
    containerIsSelected() ? 1580 : 1880)}" appearance="outlined">
  <mat-card-content>
    <mat-tab-group
      (selectedTabChange)="onTabChange($event)"
      [(selectedIndex)]="selectedTabIndex"
      animationDuration="400ms"
      fitInkBarToContent
      mat-align-tabs="center"
      mat-stretch-tabs="false"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon [ngClass]="{ 'tab-active': selectedTabIndex() === 0 }">shield</mat-icon>
          <h4 [ngClass]="{ 'tab-active': selectedTabIndex() === 0 }">Token</h4>
        </ng-template>
        <ng-template matTabContent>
          <app-token-tab [active]="active" [refreshTokenDetails]="refreshTokenDetails"
                         [revoked]="revoked" [serial]="serial"
                         [tokenIsSelected]="tokenIsSelected"></app-token-tab>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon [ngClass]="{ 'tab-active': selectedTabIndex() === 1 }">folder</mat-icon>
          <h4 [ngClass]="{ 'tab-active': selectedTabIndex() === 1 }">Container</h4>
        </ng-template>
        <ng-template matTabContent>
          <app-container-tab [containerIsSelected]="containerIsSelected" [container_serial]="serial"
                             [refreshContainerDetails]="refreshContainerDetails"
                             [states]="states">
          </app-container-tab>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
