mat-card {
  padding-top: 10px;
  background: white;
  width: 100%;
  box-sizing: content-box;
  border: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

h4 {
  padding: 8px;
}

.active {
  color: var(--blue2);
  transition: 200ms;
}
