mat-card {
  background: white;
  box-sizing: content-box;
  border: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin-top: 2rem;
}

mat-tab-group {
  display: flex;
  align-items: center;
}

.mat-mdc-card-content {
  padding: 0;
}

h4 {
  padding: 8px;
  margin: 0;
}

.active {
  color: var(--blue-base);
  transition: 200ms;
}
