.conditions-grid-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 4 * 3);
  min-width: 350px;
}

.conditions-grid-container > *:not(:last-child) {
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  padding-bottom: var(--global-gap);
  margin-bottom: var(--global-gap);
}
