@use "styles";
@use "@angular/material";

.policy-panel-edit-container {
  display: flex;
  flex-direction: column;
  gap: var(--half-global-gap);

  .tab-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--half-global-gap);
    justify-content: center;
    padding: var(--half-global-padding) 0;
  }

  .action-button-1 {
    padding: var(--global-padding);

    &.action-button-active {
      background-color: var(--mat-sys-primary-container);
      color: var(--mat-sys-on-primary-container);
      border-color: var(--mat-sys-primary);
    }
  }

  .name-priority-row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: var(--global-gap);

    app-policy-name-edit {
      flex: 1;
    }

    .spacer {
      flex: 1;
    }

    app-policy-priority-edit {
      flex: 0 0 auto;
    }
  }
}
