@use "styles";
@use "@angular/material";

.policy-panel-edit-container {
  display: flex;
  flex-direction: column;
  gap: var(--half-global-gap);

  .tab-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--half-global-gap);
    justify-content: center;
    padding: var(--half-global-padding) 0;
  }

  .action-button-1 {
    padding: var(--global-padding);
  }
  .name-priority-row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: var(--global-gap);

    app-policy-name {
      flex: 1;
    }
    div {
      flex: 1;
    }
  }
}
