<div class="flex-column">
  <h4 class="enroll-h4">Token Configuration</h4>
  @if (!yubicoIsConfigured()) {
    <span
      i18n
      class="inline-warning">For Yubico tokens to work properly you need to set the <a href="#">Yubico Token Config</a>!</span><!-- TODO: Link -->
  }
  <div class="flex-row gap-1">
    <mat-form-field class="input-height width-33">
      <mat-label i18n>Yubikey Identifier</mat-label>
      <input
        [errorStateMatcher]="yubicoErrorStatematcher"
        [formControl]="yubikeyIdentifierControl"
        i18n-placeholder
        matInput
        placeholder="Enter the 12 digit identifier"
        required />
      <mat-error i18n>Yubikey identifier with 12 digits is <strong>required</strong></mat-error>
    </mat-form-field>
  </div>
</div>
