<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="flex-column">
  @if (!yubicoIsConfigured()) {
    @if (authService.role() === "admin") {
      <span
        i18n
        class="inline-warning">
        For Yubico tokens to work properly you need to set the
        <a
          role="button"
          tabindex="0"
          aria-label="Go to Yubico token configuration"
          i18n-aria-label
          (click)="goToYubicoConfig()"
          (keydown)="onYubicoConfigKeydown($event)"
        >
          Yubico Token Configuration
        </a>!
      </span>
    } @else {
      <span
        i18n
        class="inline-warning">
        The Yubico token enrollment is not completely configured. Please contact your administrator.
      </span>
    }
  }
  <div class="flex-row gap-16">
    <mat-form-field class="input-width-l">
      <mat-label i18n>Yubikey Identifier</mat-label>
      <input
        [errorStateMatcher]="yubicoErrorStatematcher"
        [formControl]="yubikeyIdentifierControl"
        i18n-placeholder
        matInput
        placeholder="Enter the 12 digit identifier"
        required />
      <mat-error i18n>Yubikey identifier with 12 digits is <strong>required</strong></mat-error>
    </mat-form-field>
  </div>
</div>
