<div class="selected-actions-container">
  @for (action of actions(); track action.name) {
    <div class="action-card">
      <div class="detail-row">
        <span class="detail-label">{{ action.name }}</span>
        <span class="detail-value">{{ action.value }}</span>
        @if (!policyService.selectedAction()) {
          <button
            mat-icon-button
            class="edit-action-button"
            (click)="policyService.selectedAction.set(action)">
            <mat-icon>edit</mat-icon>
          </button>
        } @else if (policyService.selectedAction()?.name === action.name) {
          <button
            mat-icon-button
            class="cancel-edit-action-button"
            (click)="policyService.addActionToSelectedPolicy()">
            <mat-icon>save</mat-icon>
          </button>
        }
        <button
          mat-icon-button
          class="delete-action-button"
          (click)="policyService.removeActionFromSelectedPolicy(action.name)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  }
</div>
