<div class="selected-actions-container">
  @for (entry of actions; track entry.actionName) {
    <div class="action-card">
      <div class="detail-row">
        <span class="detail-label">{{ entry.actionName }}</span>
        <span class="detail-value">{{ entry.value }}</span>
        @if (!policyService.selectedActionName()) {
          <button
            mat-icon-button
            class="edit-action-button"
            (click)="policyService.selectedActionName.set(entry.actionName)">
            <mat-icon>edit</mat-icon>
          </button>
        } @else if (policyService.selectedActionName() === entry.actionName) {
          <button
            mat-icon-button
            class="cancel-edit-action-button"
            (click)="policyService.updateAction()">
            <mat-icon>save</mat-icon>
          </button>
        }
        <button
          mat-icon-button
          class="delete-action-button"
          (click)="deleteAction.emit(entry.actionName)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  }
</div>
