<div class="tab-list">
  <mat-list>
    <mat-divider />
    <br />
    <mat-list-item>
      <button (click)="onClickContainerTab()"
              [ngClass]="[
          selectedContent() === 'container_overview'
            ? 'card-button-active'
            : 'card-button']"
              mat-flat-button>
        <mat-icon class="mdi--folder-search" />
        Overview
      </button>
    </mat-list-item>
    <div [@toggleState]="containerIsSelected()">
      @if (selectedContent() !== "container_details") {
        <mat-list-item>
          <button (click)="onClickCreateContainer()"
                  [ngClass]="[
          selectedContent() === 'container_create'
            ? 'card-button-active'
            : 'card-button']"
                  mat-flat-button>
            <mat-icon>create_new_folder</mat-icon>
            Create
          </button>
        </mat-list-item><br />
        <mat-divider /><br />
        <mat-list-item>
          <button class="card-button"
                  mat-flat-button>
            <mat-icon>plagiarism</mat-icon>
            Templates
          </button>
        </mat-list-item>
        <mat-list-item>
          <button class="card-button"
                  mat-flat-button>
            <mat-icon>note_add</mat-icon>
            Create Template
          </button>
        </mat-list-item><br />
        <mat-divider /><br />
        <mat-list-item>
          <button class="card-button"
                  (click)="versioningService.openDocumentation(selectedContent())"
                  mat-flat-button>
            <mat-icon>info_outline</mat-icon>
            Help
          </button>
        </mat-list-item>
        @if (selectedContent() === "container_overview") {
          <br />
          <mat-divider /><br />
          <mat-list-item>
            <button class="card-button-delete"
                    [ngClass]="{'disabled-button': containerSelection().length === 0}"
                    (click)="deleteSelectedContainer()"
                    [disabled]="containerSelection().length === 0"
                    mat-flat-button>
              <mat-icon>delete_outlined</mat-icon>
              Delete Selected
            </button>
          </mat-list-item>
        }
      } @else {
        <mat-list-item>
          <button [ngClass]="[
              selectedContent() === 'container_details'
                ? 'card-button-active'
                : 'card-button',
            ]"
                  mat-flat-button>
            <mat-icon>health_and_safety</mat-icon>
            Container Details
          </button>
        </mat-list-item>
        <mat-list-item>
          <button (click)="enrollTokenInContainer()"
                  class="card-button"
                  mat-flat-button>
            <mat-icon>add_moderator</mat-icon>
            Enroll Token
          </button>
        </mat-list-item><br />
        <mat-divider /><br />
        <mat-list-item>
          <button (click)="lostContainer()"
                  class="card-button"
                  mat-flat-button>
            <mat-icon>remove_red_eye</mat-icon>
            Lost Container
          </button>
        </mat-list-item>
        <mat-list-item>
          <button (click)="damagedContainer()"
                  class="card-button"
                  mat-flat-button>
            <mat-icon>broken_image</mat-icon>
            Damaged Container
          </button>
        </mat-list-item>
        <mat-list-item>
          <button class="card-button"
                  (click)="versioningService.openDocumentation(selectedContent())"
                  mat-flat-button>
            <mat-icon>info_outline</mat-icon>
            Help
          </button>
        </mat-list-item><br />
        <mat-divider /><br />
        <mat-list-item>
          <button (click)="toggleActive()"
                  [ngClass]="{
              'card-button-delete': states().includes('active'),
              'card-button-activate': !states().includes('active'),
            }"
                  mat-flat-button>
            <mat-icon>{{ states().includes("active") ? "auto_delete" : "play_circle" }}
            </mat-icon>
            {{ states().includes("active") ? "Deactivate" : "Activate" }}
          </button>
        </mat-list-item>
        <mat-list-item>
          <button (click)="deleteContainer()"
                  class="card-button-delete"
                  mat-flat-button>
            <mat-icon>delete_outlined</mat-icon>
            Delete
          </button>
        </mat-list-item>
      }
    </div>
  </mat-list>
</div>
