<div
  aria-label="User Layout"
  class="user-layout"
  i18n-aria-label>
  <div
    appScrollToTop
    class="user-table-container">
    <div class="filter-paginator-container">
      <mat-form-field
        class="token-table-filter"
        subscriptSizing="dynamic">
        <mat-label i18n>Enter Filter</mat-label>
        <app-clearable-input
          (onClick)="userService.resetFilter()"
          [showClearButton]="filterHTMLInputElement.value.length > 0">
          <input
            #filterHTMLInputElement
            (input)="userService.handleFilterInput($event)"
            [value]="userService.apiUserFilter().filterString"
            aria-label="Filter Input"
            i18n-aria-label
            i18n-placeholder
            matInput
            placeholder="Example query: 'type: hotp userid: 1000'" />
        </app-clearable-input>
      </mat-form-field>
      <mat-paginator
        [length]="totalLength()"
        [pageSizeOptions]="pageSizeOptions()"
        [pageSize]="userService.pageSize()"
        showFirstLastButtons></mat-paginator>
    </div>
    <app-keyword-filter
      [advancedApiFilter]="userService.advancedApiFilterOptions"
      [apiFilter]="userService.apiFilterOptions"
      [filterHTMLInputElement]="filterHTMLInputElement"
      [filterValue]="userService.apiUserFilter"></app-keyword-filter>
    <div class="audit-table-overflow">
      <table
        [dataSource]="usersDataSource()"
        aria-label="User Data Table"
        class="token-table"
        mat-table
        matSort>
        @for (column of columnKeysMap; track column) {
          <ng-container [matColumnDef]="column.key">
            <th
              *matHeaderCellDef
              attr.aria-label="{{ column.label }} Header"
              mat-sort-header
              mat-header-cell>
              {{ column.label }}
            </th>
            <td
              *matCellDef="let element; let row"
              attr.aria-label="{{ column.label }} Cell"
              mat-cell
              [ngClass]="{
                'width-18rem': column.key === 'description',
                'table-checkbox': column.key === 'select'
              }">
              <div>
                @switch (column.key) {
                  @case ("username") {
                    <span
                      attr.aria-label="{{ column.label }} Link">
                      {{ element[column.key] }}
                    </span>
                  }
                  @default {
                    <span>
                      {{ element[column.key] }}
                    </span>
                  }
                }
              </div>
            </td>
          </ng-container>
        }
        <tr
          *matHeaderRowDef="columnKeys"
          aria-label="Header Row"
          mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: columnKeys"
          aria-label="Data Row"
          mat-row></tr>
        <tr
          *matNoDataRow
          aria-label="No Data Row">
          <td
            [attr.colspan]="columnKeys.length"
            aria-label="No Data Cell">
            No data matching the filter.
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
