@use "../../../../styles";
@use "@angular/material" as mat;

.user-layout {
  display: flex;
  justify-content: center;
}

.user-table-container {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  display: grid;
  overflow: auto;
}
