<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  aria-label="User Layout"
  class="user-layout"
  i18n-aria-label>
  <div
    appScrollToTop
    class="user-table-container">
    <div class="filter-paginator-container">
      <mat-form-field
        class="token-table-filter"
        subscriptSizing="dynamic">
        <mat-label i18n>Filter Users...</mat-label>
        <app-clearable-input
          (onClick)="userService.resetFilter()"
          [showClearButton]="filterHTMLInputElement.value.length > 0">
          <input
            #filterHTMLInputElement
            (input)="userService.handleFilterInput($event)"
            [value]="userService.apiUserFilter().filterString"
            aria-label="Filter Input"
            i18n-aria-label
            i18n-placeholder
            matInput
            placeholder="Example query: 'username: root'" />
        </app-clearable-input>
      </mat-form-field>
      <mat-paginator
        [length]="totalLength()"
        [pageSizeOptions]="pageSizeOptions()"
        [pageSize]="userService.pageSize()"
        showFirstLastButtons></mat-paginator>
    </div>

    <app-user-table-actions />
    <div class="audit-table-overflow">
      <table
        [dataSource]="usersDataSource()"
        aria-label="User Data Table"
        class="token-table"
        mat-table>
        @for (column of columnKeysMap; track column) {
          <ng-container [matColumnDef]="column.key">
            <th
              *matHeaderCellDef
              attr.aria-label="{{ column.label }} Header"
              mat-header-cell>
              <div class="flex ali-center">
                {{ column.label }}
                <div class="margin-left-1 flex">
                  @if (apiFilter.includes(column.key)) {
                    <button
                      (click)="onFilterClick(column.key)"
                      class="filter-button"
                      mat-icon-button
                      type="button">
                      <mat-icon class="keyword-button-icon margin-left-0">
                        {{ getFilterIconName(column.key) }}
                      </mat-icon>
                    </button>
                  }
                  <button
                    (click)="tableUtilsService.onSortButtonClick(column.key, sort)"
                    class="sort-button"
                    mat-icon-button
                    type="button">
                    <mat-icon>{{ tableUtilsService.getSortIcon(column.key, sort()) }}</mat-icon>
                  </button>
                </div>
              </div>
            </th>
            <td
              *matCellDef="let element; let row"
              [ngClass]="{
                'width-18rem': column.key === 'description',
                'table-checkbox': column.key === 'select'
              }"
              attr.aria-label="{{ column.label }} Cell"
              mat-cell>
              <div>
                @switch (column.key) {
                  @case ("username") {
                    <a
                      (click)="onClickUsername(element)"
                      attr.aria-label="{{ column.label }} Link"
                      routerLink="/users/details/{{ element.username }}">
                      {{ element[column.key] }}
                    </a>
                  }
                  @case ("resolver") {
                    <a
                      (click)="onClickResolver(element[column.key]); $event.preventDefault()"
                      attr.aria-label="{{ column.label }} Link"
                      role="button">
                      {{ element[column.key] }}
                    </a>
                  }
                  @default {
                    <span>
                      {{ element[column.key] }}
                    </span>
                  }
                }
              </div>
            </td>
          </ng-container>
        }
        <tr
          *matHeaderRowDef="columnKeys"
          aria-label="Header Row"
          mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: columnKeys"
          aria-label="Data Row"
          mat-row></tr>
        <tr
          *matNoDataRow
          aria-label="No Data Row">
          <td
            [attr.colspan]="columnKeys.length"
            aria-label="No Data Cell">
            No data matching the filter.
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
