<div class="policy-card">
  <mat-expansion-panel
    #panel
    class="margin-4"
    [disabled]="
      policyService.viewMode() === 'new' || (policyService.isPolicyEdited() && policyService.viewMode() === 'edit')
    "
    (opened)="policyService.initializeNewPolicy()"
    (closed)="policyService.deselectPolicy(newPolicyName())">
    <mat-expansion-panel-header>
      <mat-panel-title>
        @if (panel.expanded) {
          <input
            type="text"
            class="policy-name-input"
            placeholder="Policy Name"
            [ngModel]="newPolicyName()"
            (ngModelChange)="onNameChange($event)"
            (click)="$event.stopPropagation(); panel.expanded = true"
            (keydown)="$event.stopPropagation()" />
        } @else {
          @if (!newPolicyName()) {
            <p i18n>New Policy</p>
          } @else {
            {{ newPolicyName() }}
          }
        }
      </mat-panel-title>
      <mat-panel-description class="header-description">
        <div class="policy-scope-label">
          @if (!this.policyService.selectedPolicyHasActions() && panel.expanded) {
            <app-horizontal-wheel
              [initialValue]="newPolicyScope()"
              [values]="policyService.allPolicyScopes"
              (onSelect)="onScopeSelect($event)" />
          } @else {
            <span>
              {{ newPolicyScope().toLocaleUpperCase() }}
            </span>
          }
        </div>
        <div class="policy-actions">
          @if (panel.expanded) {
            <button
              mat-icon-button
              [disabled]="!canSavePolicy()"
              (click)="$event.stopPropagation(); savePolicy(panel)">
              <mat-icon>save</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="$event.stopPropagation(); resetPolicy(panel)">
              <mat-icon>close</mat-icon>
            </button>
          }
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="tab-buttons">
      <button
        mat-stroked-button
        class="button-hover"
        [class.button-active]="activeTab() === 'actions'"
        (click)="setActiveTab('actions')">
        ACTIONS
      </button>
      <button
        mat-stroked-button
        class="button-hover"
        [class.button-active]="activeTab() === 'conditions'"
        (click)="setActiveTab('conditions')">
        CONDITIONS
      </button>
    </div>
    @if (activeTab() === "actions") {
      <app-action-tab [isEditMode]="true" />
    }
    @if (activeTab() === "conditions") {
      <app-conditions-tab [isEditMode]="true" />
    }
  </mat-expansion-panel>
</div>
