@use "../../../../../styles" as styles;
@use "@angular/material" as mat;
@use "../policy-panel/policy-panel.component.scss";

.policy-card {
  border-radius: var(--quarter-global-padding);

  mat-expansion-panel {
    border-radius: var(--quarter-global-padding);
  }

  mat-expansion-panel-header {
    padding: 0 var(--global-padding);
  }
}
