@use "styles";
@use "table";

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  padding: 8px 0;
}

mat-form-field {
  width: 100%;
  --mat-form-field-filled-container-color: transparent;
}

.flex-fix-size {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-card {
  border-radius: var(--border-radius);
  background-color: var(--mat-sys-surface-container-low);

  mat-card-content {
    padding: 16px !important;

    small {
      color: var(--mat-sys-on-surface-variant);
      display: block;
      line-height: 1.5;
    }
  }
}

.margin-top-1 {
  margin-top: 16px;
}
