<div>
    <h2 class="form-signin-heading"
            translate>Configure LDAP Resolver to fetch user groups</h2>
    
    <form name="formResolverAddLdap" role="form" validate
          class="form-horizontal">
    
        <div class="form-group">
            <label for="resolvername" class="col-sm-3 control-label"
                    translate>Base LDAP Resolver name</label>
    
            <div class="col-sm-9">
                <input name="resolvername" id="resolvername" class="form-control"
                       ng-model="$parent.resolvername" required placeholder="resolver1"
                       autofocus/>
            </div>
        </div>
        <div class="form-group">
            <label for="userGroupDN" class="col-sm-3 control-label"
                    translate>User to group DN</label>
            <div class="col-sm-9">
                <input name="userGroupDN" id="userGroupDN" class="form-control"
                        ng-model="$parent.userGroupDN" placeholder="dc=example,dc=org"/>
            </div>
        </div>
        <div class="form-group">
            <label for="userGroupAttr" class="col-sm-3 control-label"
                    translate>User to group search attribute</label>
            <div class="col-sm-9">
                <input name="userGroupAttr" id="userGroupAttr" class="form-control"
                ng-model="$parent.userGroupAttr" placeholder="member"/>
           </div>
        </div>
        <div class="form-group">
            <label for="userDN" class="col-sm-3 control-label"
                    translate>User DN for testing</label>
            <div class="col-sm-9">
                <input name="userDN" id="userDN" class="form-control"
                ng-model="$parent.userDN" placeholder="uid=john.doe,ou=people,dc=example,dc=org"/>
            </div>
        </div>
        <div class="text-center">
            <button ng-click="testGroupResolver()"
                    class="btn btn-success"
                    translate>Test LDAP Group Resolver
            </button>
            <button ng-click="saveResolver()"
                    ng-show="checkRight('resolverwrite')"
                    ng-disabled="formResolver.$invalid"
                    class="btn btn-primary"
                    translate>Save
            </button>
        </div>
    </form>
</div>