<div>
    <h2 class="form-signin-heading"
            translate>Attach User Resolvers to Group Resolvers</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>User Resolver</th>
                <th>Group Resolver</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="element in form['group_resolvers']">
                <td>{{element.user_resolver}}</td>
                <td>{{element.group_resolver}}</td>
                <td>
                    <button class="btn btn-danger"
                            ng-click="deleteGroup(element.user_resolver,element.group_resolver)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr ng-show="checkRight('policywrite')">
                <td>
                    <select class="form-control"
                        ng-model="$parent.userResolver" name="userResolver"
                        ng-options="select for select in form['resolvers']">
                    </select>
                </td>
                <td>
                    <select class="form-control"
                        ng-model="$parent.groupResolver" name="groupResolver"
                        ng-options="select for select in form['resolvers']">
                    </select>
                </td>
                <td>
                    <button class="btn btn-default"
                            ng-click="addUserGroupResolver()">
                        Attach user resolver to group resolver
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>