<div class="row">
    <div class="col-lg-3 sticky">
        <div class="pa-sidebar panel">
            <ul class="nav nav-pills nav-stacked nav-capitalize">
                <li role="presentation"
                    ng-show="checkRight('policyread')"
                    ng-class="{ active: $state.includes('config.risk.test')}">
                    <a ui-sref="config.risk.test" translate>
                        Test risk</a></li>
                <li role="presentation"
                    ng-show="checkRight('policyread')"
                    ng-class="{ active: $state.includes('config.risk.user')}">
                    <a ui-sref="config.risk.user" translate>
                        User group</a></li>
                <li role="presentation"
                    ng-show="checkRight('policyread')"
                    ng-class="{ active: $state.includes('config.risk.service')}">
                    <a ui-sref="config.risk.service" translate>
                        Service</a></li>
                <li role="presentation"
                    ng-show="checkRight('policyread')"
                    ng-class="{ active: $state.includes('config.risk.ip')}">
                    <a ui-sref="config.risk.ip" translate>
                        IP</a></li>
                </li>
                <li role="presentation"
                    ng-show="checkRight('policyread')"
                    ng-class="{ active: $state.includes('config.risk.groups')}">
                    <a ui-sref="config.risk.groups" translate>
                        Groups</a></li>
                </li>
            </ul>
        </div>
    </div>
    <div ui-view class="col-lg-9 slide panel"></div>
</div>