<ng-template #tokenCard
             let-hasMargin="hasMargin">
  <app-token-card [ngClass]="hasMargin ? 'margin-right-1' : ''" />
</ng-template>

<div aria-label="Token Layout"
     class="token-layout">
  @if (!overflowService.isWidthOverflowing("body",
    overflowService.getOverflowThreshold(contentService.selectedContent()))) {
    <ng-container [ngTemplateOutlet]="tokenCard"
                  [ngTemplateOutletContext]="{ hasMargin: true }" />
  }
  <mat-drawer-container>
    @if (overflowService.isWidthOverflowing(
      "body",
      overflowService.getOverflowThreshold(contentService.selectedContent())
    )) {
      <mat-drawer #drawer
                  (opened)="updateOverflowState()"
                  [mode]="'over'"
                  [ngClass]="isTokenDrawerOverflowing() ? 'token-drawer-overflow' : 'token-drawer'">
        <div class="drawer">
          <ng-container [ngTemplateOutlet]="tokenCard" />
        </div>
      </mat-drawer>
    }
    <mat-drawer-content>
      <div class="drawer-content-div">
        @if (overflowService.isWidthOverflowing(
          "body",
          overflowService.getOverflowThreshold(contentService.selectedContent())
        )) {
          <div class="drawer-button-div">
            <button mat-fab
                    (click)="drawer.toggle()"
                    class="drawer-button">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        }
        <div [ngClass]="[
              overflowService.isWidthOverflowing(
                'body',
                overflowService.getOverflowThreshold(contentService.selectedContent()))
                ? 'main-margin'
                : 'main-margin-overflow']"
             class="main-content-div">
          @switch (contentService.selectedContent()) {
            @case ("token_overview") {
              <app-token-table #tokenTableComponent />
            }
            @case ("token_enrollment") {
              <app-token-enrollment />
            }
            @case ("token_details") {
              <app-token-details #tokenDetailsComponent />
            }
            @case ("token_challenges") {
              <app-challenges-table />
            }
            @case ("token_applications") {
              <app-token-applications />
            }
            @case ("token_get_serial") {
              <app-token-get-serial />
            }
            @case ("container_overview") {
              <app-container-table #containerTableComponent />
            }
            @case ("container_details") {
              <app-container-details #containerDetailsComponent />
            }
            @case ("container_create") {
              <app-container-create />
            }
          }
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
