@use "../../../styles/styles";
@use "@angular/material" as mat;

.token-selfservice-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-content-container {
  display: grid;
  justify-items: center;
  align-content: start;
  height: calc(var(--main-height) - var(--global-padding) * 2);
  padding: calc(2 * var(--global-padding));
}
