<ng-template
  #tokenCard
  let-hasMargin="hasMargin">
  <app-token-card [ngClass]="hasMargin ? 'margin-right-1' : ''" />
</ng-template>

<div
  aria-label="Token Layout"
  class="token-layout">
  @if (!overflowService.isWidthOverflowing("body", overflowService.getOverflowThreshold())) {
    <ng-container
      [ngTemplateOutlet]="tokenCard"
      [ngTemplateOutletContext]="{ hasMargin: true }" />
  }
  <mat-drawer-container>
    @if (overflowService.isWidthOverflowing("body", overflowService.getOverflowThreshold())) {
      <mat-drawer
        #drawer
        [mode]="'over'"
        (opened)="updateOverflowState()"
        [ngClass]="isTokenDrawerOverflowing() ? 'token-drawer-overflow' : 'token-drawer'">
        <div class="drawer">
          <ng-container [ngTemplateOutlet]="tokenCard" />
        </div>
      </mat-drawer>
    }
    <mat-drawer-content>
      <div class="drawer-content-div">
        @if (overflowService.isWidthOverflowing("body", overflowService.getOverflowThreshold())) {
          <div class="drawer-button-div">
            <button
              mat-fab
              (click)="drawer.toggle()"
              class="drawer-button">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        }
        <div
          [ngClass]="{
            'margin-left-64': overflowService.isWidthOverflowing('body', overflowService.getOverflowThreshold())
          }"
          class="main-margin overflow padding-32">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
