<div
  aria-label="Token Layout"
  class="token-layout">
  <mat-drawer-container class="drawer-container">
    <mat-drawer
      class="drawer"
      mode="side"
      opened>
      <div class="drawer-div">
        <div class="brand">
          <div class="brand-row">
            <img
              alt="logo"
              aria-label="Logo"
              class="logo"
              height="307"
              i18n-alt
              i18n-aria-label
              ngSrc="assets/privacyIDEA1.png"
              ngSrcset="1x"
              sizes="(max-width: 307px) 100vw, 307px"
              width="307" />

            <div
              [ngClass]="[
                sessionTimerService.remainingTime()! < 31000
                  ? 'red-light'
                  : sessionTimerService.remainingTime()! < 60000
                    ? 'yellow-light'
                    : 'surface-highest'
              ]"
              class="session-timer">
              @if (sessionTimerService.remainingTime()! < 599500) {
                {{ sessionTimerService.remainingTime() | date:'m:ss':'UTC' }}
              } @else if (sessionTimerService.remainingTime()! < 3600000) {
                {{ sessionTimerService.remainingTime() | date:'m':'UTC' }}min
              } @else {
                {{ sessionTimerService.remainingTime() | date:"H'h' mm'min'":"UTC" }}
              }
            </div>
          </div>

          <img
            alt="logo-text"
            aria-label="Logo Text"
            class="logo-text"
            height="109"
            i18n-alt
            i18n-aria-label
            ngSrc="assets/logo-text.png"
            ngSrcset="1x"
            sizes="(max-width: 575px) 100vw, 575px"
            width="575" />

          <p class="font-14">
            Open-source project
            <a
              href="https://netknights.it/"
              target="_blank">maintained by NetKnights
            </a>
            <br />
            in collaboration with
            <a
              href="https://github.com/privacyidea/privacyidea"
              target="_blank">community contributors
            </a>
          </p>
        </div>

        <div class="flex-row gap-8 support-spacer">
          <a
            aria-label="Support"
            class="card-button-reset"
            extended
            href="https://netknights.it/support_link_admin"
            i18n-aria-label
            mat-fab
            target="_blank">
            <mat-icon>support_agent</mat-icon>
            <h4 i18n>Support</h4>
          </a>
        </div>

        <div class="flex-row gap-8">
          <a
            aria-label="Support"
            class="card-button"
            extended
            href="https://netknights.it/support_link_admin"
            i18n-aria-label
            mat-fab
            target="_blank">
            <mat-icon>info_outline</mat-icon>
            <h4 i18n>Documentation</h4>
          </a>
          <app-theme-switcher></app-theme-switcher>
        </div>

        <div class="flex-row gap-8">
          <button
            class="profile-btn"
            disabled
            extended
            href="#"
            mat-fab>
            <mat-icon>account_box</mat-icon>
            <h4>{{ profileText }}</h4>
          </button>
          <button
            (click)="logout()"
            aria-label="Logout"
            class="logout-btn"
            i18n-aria-label
            mat-icon-button>
            <mat-icon>logout</mat-icon>
          </button>
        </div>

        <mat-divider class="width-100" />

        <form class="width-100">
          <mat-form-field class="width-100">
            <mat-label>Search</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>

        <mat-accordion>
          <mat-expansion-panel
            (opened)="router.navigate([ROUTE_PATHS.TOKENS])"
            [expanded]="router.url.startsWith(ROUTE_PATHS.TOKENS)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>shield</mat-icon>
                Token
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>
                <button
                  [ngClass]="contentService.routeUrl() === ROUTE_PATHS.TOKENS ? 'card-button-active' : 'card-button'"
                  [routerLink]="[ROUTE_PATHS.TOKENS]"
                  i18n
                  mat-flat-button>
                  <mat-icon>policy</mat-icon>
                  Overview
                </button>
              </mat-list-item>
              @if (authService.tokenEnrollmentAllowed()) {
                <mat-list-item>
                  <button
                    [ngClass]="
                      contentService.routeUrl() === ROUTE_PATHS.TOKENS_ENROLLMENT ? 'card-button-active' : 'card-button'"
                    [routerLink]="[ROUTE_PATHS.TOKENS_ENROLLMENT]"
                    i18n
                    mat-flat-button>
                    <mat-icon>add_moderator</mat-icon>
                    Enrollment
                  </button>
                </mat-list-item>
              }
              @if (authService.actionAllowed("getchallenges")) {
                <mat-list-item>
                  <button
                    [ngClass]="
                      contentService.routeUrl() === ROUTE_PATHS.TOKENS_CHALLENGES ? 'card-button-active' : 'card-button'"
                    [routerLink]="[ROUTE_PATHS.TOKENS_CHALLENGES]"
                    mat-flat-button
                    i18n>
                    <mat-icon>cached</mat-icon>
                    Show Challenges
                  </button>
                </mat-list-item>
              }
              @if (authService.actionsAllowed(["machinelist", "manage_machine_tokens"])) {
                <mat-list-item>
                  <button
                    [ngClass]="
                      contentService.routeUrl() === ROUTE_PATHS.TOKENS_APPLICATIONS ? 'card-button-active' :
                      'card-button'"
                    [routerLink]="[ROUTE_PATHS.TOKENS_APPLICATIONS]"
                    mat-flat-button
                    i18n>
                    <mat-icon>now_widgets</mat-icon>
                    Applications
                  </button>
                </mat-list-item>
              }
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel
            (opened)="router.navigate([ROUTE_PATHS.TOKENS_CONTAINERS])"
            [expanded]="router.url.startsWith(ROUTE_PATHS.TOKENS_CONTAINERS)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>folder</mat-icon>
                Container
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
              <mat-list-item>
                <button
                  [ngClass]="contentService.routeUrl() === ROUTE_PATHS.TOKENS_CONTAINERS ? 'card-button-active' :
                  'card-button'"
                  [routerLink]="[ROUTE_PATHS.TOKENS_CONTAINERS]"
                  i18n
                  mat-flat-button>
                  <mat-icon class="mdi--folder-search"></mat-icon>
                  Overview
                </button>
              </mat-list-item>
              @if (authService.actionAllowed("container_create")) {
                <mat-list-item>
                  <button
                    [routerLink]="[ROUTE_PATHS.TOKENS_CONTAINERS_CREATE]"
                    [ngClass]="this.contentService.routeUrl() === ROUTE_PATHS.TOKENS_CONTAINERS_CREATE ?
                  'card-button-active' : 'card-button'"
                    mat-flat-button
                    i18n>
                    <mat-icon>create_new_folder</mat-icon>
                    Create
                  </button>
                </mat-list-item>
              }
              @if (authService.oneActionAllowed(["container_template_list", "container_template_create"])) {
                @if (authService.actionAllowed("container_template_list")) {
                  <mat-list-item>
                    <button
                      class="card-button-disabled"
                      mat-flat-button
                      disabled
                      i18n>
                      <mat-icon>plagiarism</mat-icon>
                      Templates
                    </button>
                  </mat-list-item>
                }
                @if (authService.actionAllowed("container_template_create")) {
                  <mat-list-item>
                    <button
                      class="card-button-disabled"
                      mat-flat-button
                      disabled>
                      <mat-icon>note_add</mat-icon>
                      Create Template
                    </button>
                  </mat-list-item>
                }
              }
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>supervised_user_circle</mat-icon>
                User
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>
                <button
                  [ngClass]="contentService.routeUrl() === ROUTE_PATHS.TOKENS ? 'card-button-active' : 'card-button'"
                  [routerLink]="[ROUTE_PATHS.USERS]"
                  i18n
                  mat-flat-button>
                  <mat-icon>policy</mat-icon>
                  Overview
                </button>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>gavel</mat-icon>
                Policies
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item></mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>flag</mat-icon>
                Events
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item></mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>manage_search</mat-icon>
                Audit
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item></mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>home_repair_service</mat-icon>
                External Services
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item></mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>build</mat-icon>
                Configuration
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item></mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <div class="padding-32">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
