@import '../../../../styles/table.css';

.detail-table {
  display: flex;
  width: auto;
  max-width: fit-content;
}

.details-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.details-section .user-details-section {
  align-self: flex-start;
  width: 100%;
  max-width: fit-content;
  table-layout: auto;
  border-collapse: collapse;
}

.detail-table th,
.detail-table td {
  margin-left: 10px;
}

.info-table th:nth-child(odd),
.info-table td:nth-child(odd) {
  background: #f3f3f3;
}

.info-table th:nth-child(even),
.info-table td:nth-child(even) {
  background: #ffffff;
}

.detail-row {
  min-width: 143px;
  height: 50px;
}

.user-detail-row {
  height: 50px;
}

.edit-info-row {
  display: flex;
  flex-direction: row;
}

.token-detail-header {
  display: flex;
  align-content: center;
  margin-left: 20px;
  margin-right: auto;
  gap: 10px;
}

.detail-button {
  height: 40px;
  width: 100%;
  color: white;
  border: none;
  justify-content: start;
  border-radius: var(--border-radius);
  background: var(--background-blue);
  box-shadow: var(--box-shadow-blue);
  cursor: pointer;
  transition: 0ms;
}

.detail-button:hover {
  background: var(--background-blue-inset);
  box-shadow: var(--box-shadow-blue-inset);
  transition: 0ms;
}

.detail-button-icon {
  vertical-align: bottom;
  margin-bottom: -6px;
  font-size: 18px;
}

.info-container {
  flex-direction: column;
  display: flex;
  gap: 10px;
  margin: 10px 10px;
  width: auto;
  padding: 7px;
}

.otp-container {
  flex-direction: column;
  display: flex;
  gap: 10px;
  width: auto;
  padding: 0 59px 0 60px
}

.input {
  height: 40px;
  width: calc(50% - 5px);
  border-radius: var(--border-radius);
}

input {
  outline: none;
}

input:focus {
  outline: 3px solid var(--blue-light);
}

.input-full {
  height: 40px;
  width: calc(100% - 50px);
  border-radius: var(--border-radius);
}

mat-grid-tile {
  /* background-color: #ff5555; *//* DEBUG */
  display: flex;
}

:host ::ng-deep .mat-grid-tile-content {
  align-items: start;
}

.detail-row.mat-cell {
  display: flex;
  align-items: center;
  width: auto;
  padding: 0;
}

.edit-button-container {
  display: inline-flex;
}

.edit-column-cell {
  min-width: 86px;
  padding: 0;
  text-align: center;
}

.editable-row {
  min-width: 285px;
}

.user-editable-row {
  min-width: 234px;
}

.pin-input {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.user-pin-input {
  display: flex;
  margin: 0 87px;
  gap: 10px;
}

.user-pin-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0 87px;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 10px;
  padding: 7px 7px 26px;
}

.assign-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 82px;
}

.mat-form-field {
  width: 100%;
}

.yellow-icon {
  color: var(--yellow-base);
}

.red-icon {
  color: var(--red-base);
}

.green-icon {
  color: var(--green-base);
}

.card-button-activate {
  color: white;
  height: 40px;
  width: 100%;
  border: none;
  justify-content: start;
  border-radius: var(--border-radius);
  background: var(--background-green);
  box-shadow: var(--box-shadow-green);
  cursor: pointer;
  transition: 0ms;
}

.card-button-activate.activ,
.card-button-activate:hover {
  background: var(--background-green-inset);
  box-shadow: var(--box-shadow-green-inset);
  transition: 0ms;
}

h3 {
  margin-left: 10px;
}

.info-input {
  margin-left: 5px;
}

.delete-info-icon {
  margin-top: 10px
}

.flex {
  display: flex;
}

.value-container {
  width: 288px;
}

.value-td {
  padding: 0;
}

.info-span {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

::ng-deep .mat-mdc-text-field-wrapper {
  padding-left: 5px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 5px;
}

::ng-deep .mat-mdc-form-field-infix {
  padding-bottom: 0;
  margin-bottom: -4px;
}

.detail-table-input {
  margin-bottom: -5px;
  margin-top: -4px;
  font-size: 12px;
}

.detail-table-item {
  margin-left: 5px;
}

textarea {
  margin-top: -2px;
}

onepx {
  margin-top: 4px;
}
