@import '../../../../styles/table.css';

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--table-color);
  padding: 2rem;

  .detail-table th,
  .detail-table td {
    max-width: 18rem;
    margin-left: 10px;
    border: 2px solid #E0E2EC;
  }

  .details-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .token-detail-header {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    h3 {
      margin-top: 0;
    }
  }

  .flex-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: white;

    &.flex-9 {
      flex: 9;
      flex-direction: row;
    }

    &.flex-14 {
      flex: 14;
      flex-direction: column;
    }

    &.flex-5 {
      flex: 5;
      flex-direction: row;
      gap: 2rem;
    }
  }

  .details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .details-section {
      width: 100%;
      overflow-x: auto;

      table {
        width: 100%;
        table-layout: auto;
        border-collapse: collapse;
      }
    }
  }

  ::ng-deep .info-container .mat-mdc-form-field-infix {
    padding-bottom: 0;
    margin-bottom: -3px;
  }

  ::ng-deep .details-section .mat-mdc-form-field-subscript-wrapper {
    height: 5px;
  }

  ::ng-deep .details-section .mat-mdc-form-field-infix {
    padding-bottom: 0;
    margin-bottom: -5px;
  }

  ::ng-deep .user-container .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }

  ::ng-deep .user-container .mat-mdc-form-field-infix {
    padding-bottom: 0;
    margin-bottom: -8px;
  }

  .detail-table-input {
    margin-bottom: -5px;
    margin-top: -4px;
  }

::ng-deep .mat-mdc-row {
  font-size: 14px;
}

.cut-textarea {
  margin-top: -2px;
}

  .onepx {
    margin-top: 1px;
  }

  .visibility-icon {
    font-size: 25px;
  }

  .mat-icon-button {
    font-size: 25px;
  }

  .red-icon {
    color: var(--red-base);
  }

  .scrollable-container {
    overflow-y: auto;
    overflow-wrap: anywhere;
    max-height: 43px;
    align-items: center;
    display: block;
    flex-direction: column;
    margin-right: -1rem;
  }

  .cell-list {
    height: 48px;
    width: 17rem;
  }

  .details-user,
  .details-info,
  .details-actions {
    display: flex;
    align-items: stretch;
  }

  .edit-button-container {
    display: flex;
    justify-content: center;
  }
}
