<div aria-label="Details Tables" class="item-table">
  <mat-grid-list cols="25" rowHeight="6vh">
    <mat-grid-tile [colspan]="25" [rowspan]="1">
      <div class="token-detail-header">
        <h2>Details for Token: </h2>
        <h2 style="color: var(--blue-base)"> {{ serial() }} </h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="9" [rowspan]="12">
      <div class="details-wrapper">
        <div class="details-section">
          <table [dataSource]="detailData()" aria-label="Token Detail Data Table" class="detail-table" mat-table>
            <ng-container matColumnDef="key">
              <th *matHeaderCellDef class="detail-row" mat-header-cell></th>
              <td *matCellDef="let element" class="detail-row" mat-cell>{{ element.key.label }}</td>
            </ng-container>
            <ng-container matColumnDef="value">
              <th *matHeaderCellDef class="detail-row" mat-header-cell></th>
              <td *matCellDef="let element" class="detail-row editable-row" mat-cell>
                @if (element.key.key === "info") {
                  <mat-list>
                    @for (info of parseObjectToList(element.value); track info; let idx = $index) {
                      @if (element.isEditing) {
                        <div class="edit-info-row">
                          <mat-list-item class="object-row">
                            <input matInput [(ngModel)]="infos()[idx]"/>
                          </mat-list-item>
                          <mat-icon class="clickable" (click)="deleteInfo(infos()[idx])">delete</mat-icon>
                        </div>
                      } @else {
                        <mat-list-item class="object-row">
                          <span class="object-item">{{ info }}</span>
                        </mat-list-item>
                      }
                    }
                    @if (element.isEditing) {
                      <mat-list-item class="object-row">
                        <input matInput [(ngModel)]="newInfo" placeholder="Add new info"/>
                      </mat-list-item>
                    }
                  </mat-list>
                } @else if (isObject(element.value) || Array.isArray(element.value)) {
                  @for (info of parseObjectToList(element.value); track info; let idx = $index) {
                    <mat-list-item class="object-row">
                      <span class="object-item">{{ info }}</span>
                    </mat-list-item>
                  }
                } @else if (element.isEditing) {
                  <input matInput [(ngModel)]="element.value"/>
                } @else {
                  <span
                    [ngClass]="{
            'highlight-true': (element.key.key === 'active' && element.value === true) ||
                            (element.key.key === 'failcount' && element.value == 0),
            'highlight-warning': (element.key.key === 'failcount' && element.value >= 1 && element.value <= 9),
            'highlight-false': (element.key.key === 'active' && element.value !== true) ||
                              (element.key.key === 'failcount' && (element.value < 0 || element.value > 9))
          }">
          {{ element.key.key === 'active' ? (revoked ? 'revoked' : (element.value ? 'active' : 'deactivated')) : element.value }}
        </span>
                }
              </td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th *matHeaderCellDef class="detail-row" mat-header-cell></th>
              <td *matCellDef="let element" class="detail-row edit-column-cell" mat-cell>
                @if (element.key.key === "failcount" && !isAnyEditing()) {
                  <mat-icon class="clickable" (click)="resetFailCount()">lock_reset</mat-icon>
                }
                @if (element.key.key === "maxfail" || element.key.key === "count_window" || element.key.key === "sync_window"
                || element.key.key === "description" || element.key.key === "info" || element.key.key === "realms"
                || element.key.key === "tokengroup") {
                  <div class="edit-button-container">
                    @if (!isAnyEditing()) {
                      <mat-icon class="edit-button"
                                (click)="toggleEditMode(element)">edit
                      </mat-icon>
                    } @else if (element.isEditing) {
                      <mat-icon class="edit-button"
                                (click)="toggleEditMode(element)">save_as
                      </mat-icon>
                      <mat-icon class="edit-button"
                                (click)="toggleEditMode(element, 'cancel')" style="color: var(--red-base)">cancel
                      </mat-icon>
                    }
                  </div>
                }
              </td>
            </ng-container>
            <tr *matRowDef="let row; columns: ['key', 'value', 'edit'];" class="detail-row" mat-row></tr>
          </table>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="12">
      <div class="user-details-section">
        <div class="user-container">
          <h3>Assigned User:</h3>
          <table [dataSource]="userDetailData()" aria-label="User Detail Data Table" class="detail-table" mat-table>
            <ng-container matColumnDef="key">
              <th *matHeaderCellDef class="user-detail-row" mat-header-cell></th>
              <td *matCellDef="let element" class="user-detail-row" mat-cell>{{ element.key.label }}</td>
            </ng-container>
            <ng-container matColumnDef="value">
              <th *matHeaderCellDef class="user-detail-row" mat-header-cell></th>
              <td *matCellDef="let element" class="user-detail-row user-editable-row" mat-cell>
                @if (isEditingUser && element.key.key === "username") {
                  <input matInput [(ngModel)]="username"/>
                } @else if (isEditingUser && element.key.key === "user_realm") {
                  <select [(ngModel)]="userRealm">
                    @for (option of realmOptions(); track option; ) {
                      <option value="{{ option }}">{{ option }}</option>
                    }
                  </select>
                } @else {
                  {{ element.value }}
                }
              </td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th *matHeaderCellDef class="user-detail-row" mat-header-cell></th>
              <td *matCellDef="let element" class="user-detail-row edit-column-cell" mat-cell>
                @if (element.key.key === "username") {
                  @if (element.value) {
                    <div class="edit-button-container">
                      <mat-icon class="edit-button yellow-icon"
                                (click)="unassignUser()">
                        person_remove
                      </mat-icon>
                    </div>
                  } @else {
                    <div class="edit-button-container">
                      <mat-icon class="edit-button"
                                (click)="toggleEditUserMode('cancel')"
                                [ngClass]="{'red-icon': this.isEditingUser,
                                        'green-icon': !this.isEditingUser}">
                        {{ this.isEditingUser ? 'cancel' : 'person_add' }}
                      </mat-icon>
                    </div>
                  }
                }
              </td>
            </ng-container>
            <tr *matRowDef="let row; columns: ['key', 'value', 'edit'];" class="detail-row" mat-row></tr>
          </table>
          <br/>
          <mat-divider/>
          <br/>
          <div class="user-pin-input">
            <input style="display:none" type="text"/>
            <input style="display:none" type="password"/>
            <input [(ngModel)]="setPinValue" [type]="'password'" class="input" placeholder="Token Pin">
            <input [(ngModel)]="repeatPinValue" [type]="'password'" class="input" placeholder="Repeat Pin">

          </div>
          <div class="user-pin-button">
            @if (!isEditingUser) {
              <button class="detail-button" extended mat-fab (click)="setPin()">
                <mat-icon class="detail-button-icon">password</mat-icon>
                Set Pin
              </button>
              <button class="detail-button" extended mat-fab (click)="setRandomPin()">
                <mat-icon class="detail-button-icon">casino</mat-icon>
                Random Pin
              </button>
            } @else {
              <button class="card-button-activate" extended mat-fab (click)="toggleEditUserMode()">
                <mat-icon class="detail-button-icon">save</mat-icon>
                Assign User
              </button>
            }
          </div>
          <br/>
          <mat-divider/>
          <br/>
          <div class="assign-container">
            <mat-form-field class="mat-form-field">
              <mat-label>Container Serial</mat-label>
              <select matNativeControl>
                <option value="option1"></option>
                <option value="option2">CONT1234567890</option>
                <option value="option3">CONT0987654321</option>
              </select>
            </mat-form-field>
            <button class="detail-button" extended mat-fab>
              <mat-icon class="detail-button-icon">drive_folder_upload</mat-icon>
              Assign container
            </button>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="12">
      <div class="otp-container">
        <div class="delete-buttons">
          <button (click)="toggleActive()" [disabled]="revoked" [ngClass]="{'card-button-delete': active,
                                         'card-button-activate': !active}" color="alert" mat-flat-button>
            <mat-icon>{{ active ? 'auto_delete' : 'play_circle' }}</mat-icon>
            {{ active ? 'Deactivate' : 'Activate' }}
          </button>
          <button (click)="deleteToken()" class="card-button-delete" color="alert" mat-flat-button>
            <mat-icon>delete_outlined</mat-icon>
            Delete
          </button>
          <button (click)="revokeToken()" [disabled]="revoked" class="card-button-delete" color="alert"
                  mat-flat-button>
            <mat-icon>delete_forever</mat-icon>
            Revoke
          </button>
        </div>
        <br/>
        <mat-divider/>
        <br/>
        <div class="pin-input">
          <input class="input" placeholder="First OTP value" value="">
          <input class="input" placeholder="Second OTP value" value="">
        </div>
        <button class="detail-button" extended mat-fab>
          <mat-icon class="detail-button-icon">sync</mat-icon>
          Resync Token
        </button>
        <br/>
        <mat-divider/>
        <br/>
        <div class="pin-input">
          <input style="display:none" type="text"/>
          <input style="display:none" type="password"/>
          <input [type]="hide ? 'password' : 'text'" class="input-full" placeholder="OTP or PIN" value="">
          <mat-icon (click)="hide = !hide" class="visible-icon" matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </div>
        <button class="detail-button" extended mat-fab>
          <mat-icon class="detail-button-icon">help_outline</mat-icon>
          Test Token
        </button>
        <button class="detail-button" extended mat-fab>
          <mat-icon class="detail-button-icon">help_outline</mat-icon>
          Verify OTP value
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
