@use "styles";
@use "table";

.challenges-table-container {
  @include table.table-container-styles;
  @include table.base-table-structure(".challenges-table", ".challenges-table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  overflow: auto;
  display: grid;
}
