<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  appScrollToTop
  class="challenges-table-container">
  @if (tableState.showTable()) {
    <div class="filter-paginator-container">
      <mat-form-field
        subscriptSizing="dynamic"
        appearance="fill"
        class="challenges-table-filter">
        <mat-label i18n="@@token.filterChallenges">Filter Challenges...</mat-label>
        <app-clearable-input
          (clearButtonClick)="challengesService.clearFilter()"
          [showClearButton]="challengesService.filterDraft().isNotEmpty">
          <input
            #filterHTMLInputElement
            (input)="challengesService.handleFilterInput($event)"
            [value]="challengesService.filterDraft().filterString"
            i18n-placeholder="@@token.exampleQueryTransaction"
            matInput
            placeholder="Example query: 'transaction_id: 00000000000000000001'" />
        </app-clearable-input>
        <mat-hint>{{ filterHint }}</mat-hint>
      </mat-form-field>
      <mat-paginator
        (page)="onPageEvent($event)"
        [length]="length()"
        [pageIndex]="pageIndex()"
        [pageSizeOptions]="pageSizeOptions()"
        [pageSize]="pageSize()"
        showFirstLastButtons></mat-paginator>
    </div>
    <div class="margin-bottom-16">
      <app-challenges-table-actions />
    </div>
    <div
      class="table-scroll-region"
      appScrollEdges>
      <table
        [dataSource]="challengesDataSource()"
        aria-label="Token Challenges Table"
        class="challenges-table"
        i18n-aria-label="@@token.tokenChallenges"
        mat-table>
        @for (column of columnsKeyMap; track column) {
          <ng-container [matColumnDef]="column.key">
            <th
              *matHeaderCellDef
              mat-header-cell>
              <div class="flex ali-center">
                {{ column.label }}
                <div class="margin-left-16 flex">
                  @if (apiFilterKeys.includes(column.key)) {
                    <button
                      (click)="onKeywordClick(column.key)"
                      aria-label="Filter by {{ column.label }}"
                      i18n-aria-label="@@common.filterBy"
                      class="filter-button"
                      mat-icon-button
                      type="button">
                      <mat-icon class="keyword-button-icon margin-left-0">
                        {{ getFilterIconName(column.key) }}
                      </mat-icon>
                    </button>
                  }
                  <button
                    (click)="tableUtilsService.onSortButtonClick(column.key, sort)"
                    aria-label="Sort by {{ column.label }}"
                    i18n-aria-label="@@common.sortBy"
                    class="sort-button"
                    mat-icon-button
                    type="button">
                    <mat-icon>{{ tableUtilsService.getSortIcon(column.key, sort()) }}</mat-icon>
                  </button>
                </div>
              </div>
            </th>
            <td
              *matCellDef="let element"
              mat-cell>
              <div [ngClass]="tableUtilsService.getClassForColumnKey(column.key)">
                @switch (column.key) {
                  @case ("serial") {
                    <app-copyable [copyText]="element.serial">
                      <a
                        role="button"
                        tabindex="0"
                        (click)="serialClicked(element)"
                        (keydown.enter)="serialClicked(element)"
                        (keydown.space)="$event.preventDefault(); serialClicked(element)"
                        class="flex ali-center">
                        {{ element.serial }}
                      </a>
                    </app-copyable>
                  }
                  @case ("otp_received") {
                    <div class="flex just-center width-100">
                      <span [ngClass]="[element[column.key] ? 'highlight-true' : 'highlight-false']">
                        {{ element[column.key] }}
                      </span>
                    </div>
                  }
                  @default {
                    <span>{{ element[column.key] }}</span>
                  }
                }
              </div>
            </td>
          </ng-container>
        }
        <tr
          *matHeaderRowDef="displayedColumns; sticky: true"
          mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: displayedColumns"
          mat-row></tr>
        <tr *matNoDataRow>
          <td [attr.colspan]="displayedColumns.length">
            <app-table-state
              [status]="tableState.rowStatus()"
              [table]="tableState" />
          </td>
        </tr>
      </table>
    </div>
  } @else {
    <app-table-state
      [table]="tableState"
      heading="No challenges yet"
      hint="Challenges appear here while a user is answering a challenge-response request."
      i18n-heading="@@token.noChallengesYet"
      i18n-hint="@@token.challengesAppearHere"
      icon="pending_actions" />
  }
</div>
