<div
  appScrollToTop
  class="challenges-table-container">
  <h3
    class="margin-left-1"
    i18n>
    Challenges
  </h3>
  <div class="filter-paginator-container">
    <mat-form-field
      appearance="fill"
      class="challenges-table-filter"
      subscriptSizing="dynamic">
      <mat-label i18n>Enter Filter</mat-label>
      <app-clearable-input
        (onClick)="challengesService.clearFilter()"
        [showClearButton]="challengesService.challengesFilter().isNotEmpty">
        <input
          #filterHTMLInputElement
          (input)="challengesService.handleFilterInput($event)"
          [value]="challengesService.challengesFilter().filterString"
          i18n-placeholder
          matInput
          placeholder="Example query: 'transaction_id: 00000000000000000001'" />
      </app-clearable-input>
    </mat-form-field>
    <mat-paginator
      (page)="onPageEvent($event)"
      [length]="length()"
      [pageIndex]="pageIndex()"
      [pageSizeOptions]="pageSizeOptions()"
      [pageSize]="pageSize()"
      showFirstLastButtons></mat-paginator>
  </div>
  <app-keyword-filter
    [advancedApiFilter]="advancedApiFilter"
    [apiFilter]="apiFilter"
    [filterHTMLInputElement]="filterHTMLInputElement"
    [filterValue]="challengesService.challengesFilter"></app-keyword-filter>
  <table
    (matSortChange)="onSortEvent($event)"
    [dataSource]="challengesDataSource()"
    [matSortDisableClear]="false"
    aria-label="Token Challenges Table"
    class="challenges-table"
    i18n-aria-label
    mat-table
    matSort>
    @for (column of columnsKeyMap; track column) {
      <ng-container [matColumnDef]="column.key">
        <th
          *matHeaderCellDef
          attr.aria-label="{{ column.label }} Header"
          mat-header-cell
          mat-sort-header>
          {{ column.label }}
        </th>
        <td
          *matCellDef="let element"
          attr.aria-label="{{ column.label }} Cell"
          mat-cell>
          <div [ngClass]="tableUtilsService.getClassForColumnKey(column.key)">
            @switch (column.key) {
              @case ("serial") {
                <div class="flex-row">
                  <a
                    class="flex ali-center"
                    (click)="serialClicked(element)">
                    {{ element.serial }}
                  </a>
                  @if (element.serial) {
                    <app-copy-button [copyText]="element.serial"></app-copy-button>
                  }
                </div>
              }
              @case ("otp_received") {
                <span [ngClass]="[element[column.key] ? 'highlight-true' : 'highlight-false']">
                  {{ element[column.key] }}
                </span>
              }
              @default {
                <span>{{ element[column.key] }}</span>
              }
            }
          </div>
        </td>
      </ng-container>
    }
    <tr
      *matHeaderRowDef="displayedColumns"
      aria-label="Header Row"
      i18n-aria-label
      mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: displayedColumns"
      aria-label="Data Row"
      i18n-aria-label
      mat-row></tr>
    <tr
      *matNoDataRow
      aria-label="No Data Row"
      i18n-aria-label>
      <td
        [attr.colspan]="displayedColumns.length"
        aria-label="No Data Cell"
        i18n
        i18n-aria-label>
        No data matching the filter.
      </td>
    </tr>
  </table>
</div>
