@import "../../../../styles/styles.scss";

$gap-2rem: 2rem;
$margin-bottom-main: 6rem;

.token-layout {
  display: flex;
  min-height: 88vh;
}

.token-drawer {
  height: fit-content;
  box-shadow: var(--box-shadow-hover);
  border-radius: var(--border-radius);
  position: fixed;
  margin-top: 5.8rem;
}

main {
  overflow: auto;
}

.main-margin {
  margin: $gap-2rem $gap-2rem $margin-bottom-main 4.75rem;
}

.main-margin-overflow {
  margin: $gap-2rem $gap-2rem $margin-bottom-main 0;
}

.mat-drawer {
  width: fit-content;
}

.mat-drawer-container {
  width: 100%;
}

.mat-drawer-content {
  background: var(--background);
}

.drawer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 48px;
  width: 48px;
  box-shadow: var(--box-shadow);
}

.drawer-button-div {
  display: flex;
  margin-top: 17.8rem;
  margin-left: var(--global-padding);
  height: 100%;
  position: fixed;
}

.drawer-content-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.margin-right-1 {
  margin-right: 1rem;
}

::ng-deep {
  .mat-drawer-backdrop {
    opacity: 0.5;
  }
}
