@import '../../../../styles/table.css';

td:nth-child(5) {
  text-align: center;
}

td {
  max-width: 286px;
}

th.mat-sort-header {
  padding-right: 0;
}

.table-filter {
  width: 59%;
}

.advanced-filter-button {
  background-color: #f3f3f3;
  border-radius: var(--border-radius);
  padding: 0 0 0 8px;
  height: 28px;
  margin: 3px;
  box-shadow: none;
}

.scrollable-container {
  overflow-y: auto;
  overflow-wrap: anywhere;
  height: 60px;
  margin-right: -1rem;
  padding-right: 16px;
}

.not-realm-list {
  display: flex;
  align-items: center;
}

.max-content {
  width: max-content;
}

.realm-list {
  margin-top: 7px;
}

.realm {
  margin-top: 17px;
}

.description {
  align-items: flex-start;
}

.failcount {
  justify-content: center;
}
