table {
  width: 100%;
  background-color: var(--table-color);
}

.mat-mdc-form-field {
  font-size: var(--font-size);
  width: 100%;
}

.mat-mdc-paginator {
  background-color: var(--table-color);
}

.token-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-table {
  padding: 33px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--table-color);
}
