@import '../../../../styles/styles.scss';

.token-table-container {
  @include table-container-styles;
  @include base-table-structure(".token-table", ".token-table-filter", ".table-scrollable-container");
}
