<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  @if (data.action === "remove" || data.action === "delete" || data.action === "revoke" || data.action === "unassign") {
    <p i18n>
      Are you sure you want to {{ data.action }}
      @if ((data.serialList?.length ?? 0) > 1 && data.type === "token") {
        all selected ({{ data.serialList?.length }}) {{ data.type }}s?
      } @else {
        this {{ data.type }}?
      }
    </p>
    <ul>
      @for (serial of data.serialList; track serial) {
        <li>{{ serial }}</li>
      }
    </ul>
  } @else if (data.action === "search") {
    <p i18n>
      This search request will check {{ data.numberOfTokens }} tokens in the system for the given OTP value.
      <br />
      This could take a lot of time and could even time out.
    </p>
  }
  @if (data.action === "discard") {
    <p i18n>You have unsaved changes. Are you sure you want to discard these changes?</p>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    [mat-dialog-close]="'cancel'"
    i18n
    mat-button>Cancel
  </button>

  <button
    [class.dialog-button-delete]="data.action === 'remove' || data.action === 'delete'"
    [class.dialog-button-warn]="data.action === 'revoke' || data.action === 'discard'"
    [mat-dialog-close]="'discard'"
    mat-button>
    {{ data.action.charAt(0).toUpperCase() + data.action.slice(1) }}
  </button>

  @if (data.action === "discard" && data.allowSaveExit) {
    <button
      [disabled]="!!data.saveExitDisabled"
      [mat-dialog-close]="'save-exit'"
      class="action-button-1 width-238"
      i18n
      mat-stroked-button>
      <mat-icon>save</mat-icon>
      Save &amp; Exit
    </button>
  }
</mat-dialog-actions>
