@use "styles";
@use "@angular/material" as mat;

$font-size-default: 14px;
$breakpoint-compact: 1701px;

@mixin text-label {
  font-size: $font-size-default;
  white-space: nowrap;
}

:host {
  font-size: $font-size-default;
}

.utils-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 12px;
  background-color: var(--table-color);
  border-left: 1px solid var(--nav-item-border);
  border-right: 1px solid var(--nav-item-border);
}

.utils-group-self-service {
  width: 12rem;
  min-height: 48px;
  background-color: var(--mat-sys-surface-container-low);
  border-radius: var(--border-radius);
  @include mat.elevation(3);
}

.profile-text-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 300px;
}

.profile-text {
  @include text-label;
  font-weight: bold;
  margin-right: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node-text {
  @include text-label;
  overflow: hidden;
  text-overflow: ellipsis;
}

.session-timer {
  @include text-label;
  padding: 2px 6px;
  border-radius: var(--border-radius);
}

@media (max-width: $breakpoint-compact) {
  .profile-text,
  .node-text {
    display: none;
  }
}
