@use "../../../styles";
@use "@angular/material" as mat;

.audit-table-container {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  max-height: calc(var(--main-height) - var(--global-padding) * 5);
  max-width: calc(100vw - var(--global-padding) * 4);
  display: grid;
  overflow: auto;
}

.selfservice-margin {
  margin: calc(var(--global-padding) * 2) calc(var(--global-padding) * 2) 100vh 6rem;
}

.drawer-button-div {
  display: flex;
  margin-top: 284px;
  margin-left: var(--global-padding);
  height: 100%;
  position: fixed;
}

.drawer-content-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.selfservice-drawer {
  width: unset;
  border: solid 2px var(--mat-sys-surface-container-highest);
}

.audit-filter-paginator-container {
  width: 94vw;
}

.selfservice-audit-filter-paginator-container {
  width: 90vw;
}