@use "../../../styles";
@use "@angular/material" as mat;

.audit-table-container {
  @include styles.table-container-styles;
  @include styles.base-table-structure(
      ".token-table",
      ".token-table-filter",
      ".table-scroll-container"
  );
  overflow: auto;
  max-height: calc(var(--main-height) - var(--global-padding) * 5);
}
