@use "../../../styles";
@use "@angular/material" as mat;

.audit-table-container {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  max-height: calc(var(--main-height) - var(--global-padding) * 5);
  max-width: calc(100vw - var(--global-padding) * 4);
  display: grid;
  overflow: auto;
}

.audit-filter-paginator-container {
  width: 94vw;
}