<div class="tile-size-scope">
  <a
    mat-fab
    class="tile-button"
    [ngClass]="isSelected() ? 'selected' : ''"
    (click)="onClick()">
    <div class="tile-button-content">
      <div class="top-content">
        <mat-icon
          [ngClass]="
            (buttonData.matIconSize ?? 'tile-icon-medium' + ' ') +
            (buttonData.matIconClass ?? '') +
            ' '
          "
          >{{ buttonData.matIconName }}</mat-icon
        >
      </div>
      <div class="bottom-content">
        {{ buttonData.title }}
      </div>
    </div>
  </a>
</div>
