<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="tile-size-scope">
  <a
    [ngClass]="isSelected() ? 'selected' : ''"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="routePath()"
    class="tile-button"
    mat-fab
    routerLinkActive="selected">
    <div class="tile-button-content">
      <div class="top-content">
        <mat-icon
          [ngClass]="[
            (matIconSize ?? 'tile-icon-large'),
            (matIconSize === 'tile-icon-x-large' ? 'wh-3em' : null),
            matIconClass ?? null
          ].filter(Boolean)">
          {{ matIconName }}
        </mat-icon>
      </div>
      <div
        class="bottom-content"
        i18n>
        {{ title }}
      </div>
    </div>
  </a>
</div>
