@use "sass:meta";
@use "../../../../../styles/styles";
@use "@angular/material" as mat;

.tile-size-scope {
  --tile-width: 12rem;
  --tile-height: calc(var(--tile-width) / 1.618); // Golden ratio
}
.tile-size-scope .tile-button {
  width: var(--tile-width);
  height: var(--tile-height);
  margin: calc(var(--global-padding) / 2);
  border-radius: var(--border-radius);
  @include mat.elevation(3);

  &:hover {
    @include mat.elevation(6);
    transform: translateY(-2px);
  }
}

.tile-size-scope .tile-button-content {
  width: var(--tile-width);
  height: var(--tile-height);
  padding: calc(var(--global-padding) / 2);
  display: flex;
  flex-direction: column;
}

.tile-size-scope .tile-icon-small {
  font-size: calc(var(--tile-height) / 4);
  height: calc(var(--tile-height) / 4);
  width: calc(var(--tile-height) / 4);
}

.tile-size-scope .tile-icon-medium {
  font-size: calc(var(--tile-height) / 3.333);
  height: calc(var(--tile-height) / 3.333);
  width: calc(var(--tile-height) / 3.333);
}
.tile-size-scope .tile-icon-large {
  font-size: calc(var(--tile-height) / 2.7);
  height: calc(var(--tile-height) / 2.7);
  width: calc(var(--tile-height) / 2.7);
}
.top-content {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile-size-scope .bottom-content {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-weight: bold;
  font-size: calc(var(--tile-height) / 7.5);
  text-align: center;
}

.tile-button.selected {
  background-color: var(--blue-base);
  color: white;
  box-shadow:
    var(--shadow-distance) var(--shadow-distance) var(--blur) var(--shadow),
    var(--light-distance) var(--light-distance) var(--blur) var(--light);

  .mat-icon {
    color: white;
  }

  .bottom-content {
    color: white;
    font-weight: bold;
  }

  &:hover {
    background-color: var(--blue-light);
    @include mat.elevation(10);
    transform: translateY(-5px);
  }
}
