<div class="tile-size-scope">
  <a
    [ngClass]="isSelected() ? 'selected' : ''"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="routePath()"
    class="tile-button"
    mat-fab
    routerLinkActive="selected">
    <div class="tile-button-content">
      <div class="top-content">
        <mat-icon [ngClass]="(matIconSize ?? 'tile-icon-medium') + ' ' + (matIconClass ?? '')">
          {{ matIconName }}
        </mat-icon>
      </div>
      <div
        class="bottom-content"
        i18n>
        {{ title }}
      </div>
    </div>
  </a>
</div>
