@use "styles";
@use "table";
@use "@angular/material" as mat;

.machine-resolver-layout {
  @include table.table-container-styles;
  @include table.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  display: flex;
  flex-direction: column;
  max-height: var(--max-height);
  width: 1000px;
}

.machine-resolver-list-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 4);
  overflow: auto;
}
