@use "../../../../styles" as styles;

.event-name {
  white-space: nowrap;
  overflow: inherit;
  text-overflow: ellipsis;
}

.event-details {
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
  padding: 0;
  border: 0;
  margin-bottom: auto;
  justify-content: center;
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-block: auto;
  font-weight: bold;
  justify-self: end;
}

.value {
  grid-column: 2;
  overflow: scroll;
  display: block;
  margin-block: auto;
}