@use "../../../../styles";

.token-import-container {
  @include styles.table-container-styles;
  width: 56rem;
  max-height: calc(var(--main-height) - var(--global-padding) * 5);
  overflow: auto;
  display: grid;
}

.file-input-container {
  display: flex;
  align-items: center;
}

.file-input-container button {
  color: var(--grey-light-active);
  height: 24px;
  width: 24px;
  padding: 0;
}

.file-input-container button mat-icon {
  font-size: 24px;
  rotate: 45deg;
}

.file-input-container button :hover {
  color: var(--red-light);
  cursor: pointer;
}

.file-name {
  font-family: inherit;
  font-size: inherit;
  padding: 0.8rem;
}

.not-selected {
  color: gray;
}

.file-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.show {
  opacity: 100%;
  visibility: visible;
  display: flex;
}

.select-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 2;
}

.sub-headings {
  margin: 0 0 8px 0;
}

.pskc-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.drag-and-drop-zone {
  display: flex;
  flex-direction: column;
  border: 1px dashed var(--grey-light);
  border-radius: var(--border-radius);
  padding: 2rem;
  text-align: center;
  position: relative;
}
