@use "../../../../styles";

.token-import-container {
  @include styles.table-container-styles;
  width: 56rem;
  max-height: calc(var(--main-height) - var(--global-padding) * 5);
  overflow: auto;
  display: grid;
}

.file-input {
  opacity: 0;
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.select-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 2;
}

.file-input-display {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--background);
  border: none;
  padding: 0 1rem;
  height: 40px;
  pointer-events: none;
  user-select: none;
}

.sub-headings {
  margin: 0 0 8px 0;
}

.pskc-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.drag-and-drop-zone {
  display: flex;
  flex-direction: column;
  border: 1px dashed var(--grey-light);
  border-radius: var(--border-radius);
  padding: 2rem;
  text-align: center;
  position: relative;
}
