.project
.pydevproject
.settings/
*.sqlite
*.pyc
dist/
venv/
.coverage
cover/
*~
DEBUILD/
doc/_build/
.idea/
*.log
*.old
*.orig
*.log.?
tests/testdata/ca/*.pem
tests/testdata/ca/*.txt
tests/testdata/ca/*.der
node_modules
po/*.mo
