.project
.pydevproject
.settings/
*.sqlite
*.pyc
dist/
venv/
.coverage
cover/
*~
DEBUILD/
doc/_build/
.idea/
*.log
*.old
*.orig
*.log.?
tests/testdata/ca/*.pem
tests/testdata/ca/*.txt
tests/testdata/ca/*.der
node_modules
po/*.mo
contrib/python-pyjwt/
contrib/python-pymysql/
contrib/PyKCS/
contrib/PyOpenSSL/
contrib/python-ldap3/
contrib/python-pymysql_sa/
htmlcov/
tests/testdata/ca/*.req
privacyidea/static/customize/views/
_build
_static
_templates
