[submodule "adminclient"]
	path = adminclient
	url = https://github.com/privacyidea/privacyideaadm.git
[submodule "authmodules/simpleSAMLphp"]
	path = authmodules/simpleSAMLphp
	url = https://github.com/privacyidea/simplesamlphp-module-privacyidea.git
[submodule "authmodules/pam_python"]
	path = authmodules/pam_python
	url = https://github.com/privacyidea/pam_python.git
[submodule "authmodules/FreeRADIUS"]
	path = authmodules/FreeRADIUS
	url = https://github.com/privacyidea/FreeRADIUS.git
[submodule "authmodules/owncloud"]
	path = authmodules/owncloud
	url = https://github.com/privacyidea/owncloud
