.project
.pydevproject
.settings/
*.sqlite
!tests/testdata/testuser.sqlite
!tests/testdata/audit.sqlite
!tests/testdata/testuser-api.sqlite
!tests/testdata/testusercache.sqlite
*.pyc
venv*/
.coverage
cover/
build/
DEBUILD/
doc/_build/
.idea/
*.log
*.old
*.orig
tests/testdata/ca2
tests/testdata/gpg/.gpg-v*-migrated
tests/testdata/gpg/private-keys-v*.d
tests/testdata/tmp_directory
node_modules
po/*.mo
htmlcov/
privacyidea/static/customize/views/
privacyidea/static/customize/css/
.eggs/
privacyIDEA.egg-info/
__pycache__/
/enckey
/public.pem
/private.pem
dist/
*.swp
/ca/
