[submodule "adminclient"]
	path = adminclient
	url = https://github.com/privacyidea/privacyideaadm.git
[submodule "authmodules/simpleSAMLphp"]
	path = authmodules/simpleSAMLphp
	url = https://github.com/privacyidea/simplesamlphp-module-privacyidea.git

