# SPDX-FileCopyrightText: (C) 2014 NetKnights GmbH <https://netknights.it>
# SPDX-License-Identifier: CC0-1.0
#
graft privacyidea
graft tests
graft tools
graft deploy
graft authmodules

include requirements.txt pyproject.toml

# We need to exclude files at the end otherwise they get included again
exclude .codespell* .readthedocs.yaml .dockerignore .pep8speaks.yml \
  Gruntfile.js pi-manage Procfile

global-exclude *.pyc .git*

prune venv*

# When the new WebUI is built, some .py files remain in the node_modules directory
# which can not be excluded: https://github.com/pypa/setuptools/issues/511#issuecomment-570177072
# We should move the WebUI sources out of the privacyidea module directory
prune **/node_modules
prune **/.angular

prune doc
prune .circleci
prune .github
