include LICENSE
include README.rst

recursive-include privacyidea *
recursive-include tools *
recursive-include authmodules *
recursive-include deploy *
recursive-include migrations *
recursive-include tests *

# We need to exclude files at the end
# otherwise they get included again
recursive-exclude venv *
global-exclude *.pyc
global-exclude .git

