@use "styles";
@use "table";
@use "@angular/material" as mat;

.user-resolvers-layout {
  display: flex;
  justify-content: center;
}

.user-sources-table-container {
  @include table.table-container-styles;
  @include table.base-table-structure(".user-sources-table", ".table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  display: grid;
  overflow: auto;

  .table-filter {
    width: 29rem;
  }
}

.new-resolver-footer-row {
  background-color: rgba(0, 0, 0, 0.02);
}

.name-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.resolver-link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--mdc-theme-primary);

  &:hover {
    color: var(--mdc-theme-secondary);
  }
}

.actions-buttons {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
