@use "../../../../styles";
@use "@angular/material" as mat;

.user-sources-layout {
  display: flex;
  justify-content: center;
}

.user-sources-table-container {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".user-sources-table", ".table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  width: 1370px;
  display: grid;
  overflow: auto;
}

.new-resolver-footer-row {
  background-color: rgba(0, 0, 0, 0.02);
}

.new-resolver-name-field,
.new-resolver-type-field {
  width: 100%;
}

.actions-cell {
  max-width: unset !important;
}

.actions-buttons {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.user-sources-table {
  ::ng-deep th.mat-mdc-header-cell.mat-column-actions .mat-sort-header-container {
    justify-content: center;
  }
}