<div class="tab-list">
  <mat-list>
    <mat-list-item>
      <button (click)="containerIsSelected.set(false)" [ngClass]="{'card-button-activ': !containerIsSelected(),
    'card-button': containerIsSelected()}" mat-flat-button>
        <mat-icon class="mdi--folder-search"/>
        Overview
      </button>
    </mat-list-item>
    <div [@toggleState]="containerIsSelected()">
      @if (!containerIsSelected()) {
        <mat-list-item>
          <button class="card-button" mat-flat-button>
            <mat-icon>create_new_folder</mat-icon>
            Create
          </button>
        </mat-list-item>
      } @else {
        <mat-list-item>
          <button [ngClass]="{'card-button-activ': containerIsSelected(),
          'card-button': !containerIsSelected()}" mat-flat-button>
            <mat-icon>health_and_safety</mat-icon>
            Container Details
          </button>
        </mat-list-item>
        <br/>
        <mat-divider/>
        <br/>
        <mat-list-item>
          <button (click)="toggleActive()" [ngClass]="{'card-button-delete':
          states().includes('active'),
          'card-button-activate': !states().includes('active')}" color="alert" mat-flat-button>
            <mat-icon>{{ states().includes('active') ? 'auto_delete' : 'play_circle' }}</mat-icon>
            {{ states().includes('active') ? 'Deactivate' : 'Activate' }}
          </button>
        </mat-list-item>
      }
    </div>
  </mat-list>
</div>
