<div class="well" ng-controller="dashboardController">

    <div class="row">  <!-- upper row -->
       <div class="col-lg-4">
           <div class="panel">
             <h3 translate>Title A</h3>
              ... content ...
           </div>
       </div>
       <div class="col-lg-4">
             <div class="panel">
             <h3 translate>Title A</h3>
              ... content ...
           </div>
       </div>
       <div class="col-lg-4">
             <div class="panel">
             <h3 translate>Title A</h3>
              ... content ...
           </div>
       </div>
   </div>
   <div class="row">
       <div class="col-lg-4">
           <div class="panel">
             <h3 translate>Title A</h3>
              ... content ...
           </div>
       </div>
       <div class="col-lg-4">
             <div class="panel">
             <h3 translate>Title A</h3>
              ... content ...
           </div>
       </div>
       <div class="col-lg-4">
             <div class="panel">
             <h3 translate>Title A</h3>
              ... content ...
           </div>
       </div>
   </div>
</div>

