@use "styles";
@use "table";
@use "@angular/material" as mat;

.privacyidea-servers-container {
  @include styles.main-component-style;
  @include table.base-table-structure(".privacyidea-servers-table", ".table-filter", ".table-scroll-container");
  max-height: var(--table-max-height);
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}
