.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: var(--box-shadow);
  margin-bottom: 16px;
}

.brand {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.brand img {
  margin-left: 40px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-shadow: var(--box-shadow-white);
}

.nav-menu {
  display: flex;
}

.nav-menu a {
  text-decoration: none;
  border-radius: 0;
  color: #767676;
  height: 60px;
  min-width: 120px;
  padding: 20px;
  background: white;
  box-shadow: none;
  transition: 0ms;
}

.nav-menu a:hover {
  box-shadow: var(--box-shadow-header);
  z-index: 1;
  background: var(--background-blue);
  color: white;
  transform: translateX(-2px);
  transition: transform 200ms, box-shadow 200ms ease;
}

.nav-menu a.active {
  box-shadow: var(--box-shadow-header);
  z-index: 1;
  background: var(--blue-base);
  color: white;
  transform: translateX(-2px);
  transition: transform 200ms, box-shadow 200ms ease;
}

.refresh-btn {
  margin-left: auto;
  width: 100px;
  height: 60px;
  cursor: pointer;
  border-radius: 0;
  background: white;
  box-shadow: none;
}

.profile-btn {
  margin-left: 20px;
  margin-right: 40px;
  height: 40px;
  width: 166px;
  border: none;
  border-radius: var(--border-radius);
  background: var(--background-yellow);
  box-shadow: var(--box-shadow-white);
  cursor: pointer;
  color: white;
}

.profile-btn:hover {
  box-shadow: none;
  background: var(--background-yellow-inset);
  color: white;
  transform: translateX(2px);
}

h4 {
  margin-left: 4px;
}
