.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
}

.brand {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.brand img {
  margin-left: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.nav-menu {
  display: flex;
}

.nav-menu a {
  text-decoration: none;
  background: var(--background-secondary-inset);
  color: #767676;
  height: 60px;
  min-width: 120px;
  padding: 20px;
  border-radius: 0;
  box-shadow: var(--box-shadow-inset);
}

.nav-menu a.active,
.nav-menu a:hover {
  box-shadow: 8px 8px var(--blur) #b5b5b5;
  background: var(--background-primary);
  color: white;
  transition: 0ms;
}

.refresh-btn {
  margin-left: auto;
  padding-top: 10px;
  cursor: pointer;
}

.profile-btn {
  margin-left: 20px;
  margin-right: 40px;
  height: 40px;
  width: 166px;
  border: none;
  border-radius: var(--border-radius);
  background: var(--background-primary);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: white;
}

.profile-btn:hover {
  box-shadow: none;
  background: var(--background-primary-inset);
  color: white;
  transform: translateY(-2px);
}

h4 {
  margin-left: 4px;
}
