.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
}

.brand {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.brand img {
  margin-left: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.nav-menu {
  display: flex;
  gap: 10px;
}

.nav-menu a {
  text-decoration: none;
  background: var(--background-secondary-inset);
  color: #767676;
  height: 60px;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-inset);
}

.nav-menu a.active,
.nav-menu a:hover {
  box-shadow: var(--box-shadow);
  background: var(--background-primary);
  color: white;
  transform: translateY(-2px);
}

.refresh-btn {
  margin-left: auto;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 24px;
}

.profile-btn {
  margin-left: 20px;
  margin-right: 40px;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius);
  background: var(--background-primary);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: var(--font-size);
  color: white;
}

.profile-btn:hover {
  box-shadow: none;
  background: var(--background-primary-inset);
  color: white;
  transform: translateY(2px);
}
