@use "../../../../../styles";

.info-container {
  padding: 0 var(--global-padding);
}

.new-key-input {
  width: 42%;
  margin-right: 5px;
}

.new-value-input {
  width: 47%;
}

.new-value-textarea {
  width: 105%;
}
