<div
  [ngClass]="{
    'pad-0': overflowService.isWidthOverflowing('body', 1310)
  }"
  class="info-container">
  <span
    class="info-title details-key-row"
    i18n>
    Information
  </span>
  <table
    [dataSource]="infoData()"
    aria-label="Token Details Data Table"
    class="info-table"
    i18n-aria-label
    mat-table>
    <ng-container matColumnDef="value">
      <td
        *matCellDef="let element"
        class="height-52 fix-width-20-padr-0"
        mat-cell>
        <div class="info-value-container">
          <mat-list>
            @for (key of Object.keys(element.value); track key) {
              @if (isEditingInfo()) {
                <div class="flex-row">
                  <mat-list-item class="height-auto">
                    <div class="flex-row">
                      <mat-form-field>
                        <mat-label>{{ key }}</mat-label>
                        <textarea
                          matInput
                          class="info-input"
                          rows="1"
                          [(ngModel)]="element.value[key]"></textarea>
                      </mat-form-field>
                      <button
                        mat-icon-button
                        class="delete-info-button"
                        (click)="deleteInfo(key)"
                        i18n-aria-label="Delete Information">
                        <mat-icon>delete_outlined</mat-icon>
                      </button>
                    </div>
                  </mat-list-item>
                </div>
              } @else {
                <mat-list-item class="height-auto info-row">
                  <div class="info-span">
                    <span class="info-span-title"> {{ key }}: </span>
                    <span class="info-span-value">{{ element.value[key] }}</span>
                    <mat-divider class="info-divider" />
                  </div>
                </mat-list-item>
              }
            }
            @if (isEditingInfo()) {
              <mat-list-item class="height-auto">
                <mat-form-field style="width: 42%; margin-right: 5px">
                  <input
                    matInput
                    [(ngModel)]="newInfo().key"
                    i18n-placeholder
                    placeholder="Add new key" />
                </mat-form-field>
                :
                <mat-form-field style="width: 47%">
                  <textarea
                    matInput
                    rows="1"
                    [(ngModel)]="newInfo().value"
                    style="width: 105%"
                    i18n-placeholder
                    placeholder="Add new info"></textarea>
                </mat-form-field>
              </mat-list-item>
            }
          </mat-list>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <td
        *matCellDef="let element"
        class="height-52 edit-column-cell"
        mat-cell>
        @if (authService.actionAllowed("settokeninfo")) {
          <app-edit-buttons
            [cancelEdit]="toggleInfoEdit.bind(this)"
            [element]="element"
            [isEditingInfo]="isEditingInfo"
            [isEditingUser]="isEditingUser"
            [saveEdit]="saveInfo.bind(this)"
            [shouldHideEdit]="isAnyEditingOrRevoked"
            [toggleEdit]="toggleInfoEdit.bind(this)"></app-edit-buttons>
        }
      </td>
    </ng-container>
    <tr
      *matRowDef="let row; columns: ['value', 'edit']"
      class="height-52"
      mat-row></tr>
  </table>
</div>
