@use '@angular/material' as mat;

.theme-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.theme-toggle-button {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border: none;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  color: var(--mat-sys-on-surface-variant);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms ease-in-out;

  .mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: var(--mat-sys-surface-container);
  }

  &:focus-visible {
    outline: none;
    background-color: var(--mat-sys-surface-container-highest);
    color: var(--mat-sys-on-surface);
  }
}
