@use "../../../../../../styles/index" as styles;

.options-flex-row {
  display: flex;
  gap: calc(var(--global-gap) / 4 * 3);
  flex-direction: row;
  margin-bottom: var(--global-gap);
  min-width: 0;
  width: 100%;
}

.height-48 {
  height: 48px;
}

.example-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  padding: 0;
  border: 0;
  margin-bottom: auto;
}
