@use "../../../../../styles";

.qr-code-text {
  width: 36rem;
}

.otpkey-expension {
  margin-bottom: 1rem;
  max-width: 576px;
}

.otpkey-p {
  word-wrap: anywhere;
}

.otp-values {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.otp-value {
  min-width: 6rem;
  border: 1px solid #e2e2e2;
  padding: 6px;
  border-radius: var(--border-radius);
  background: #f3f3f3;
}

.webauthn-p {
  width: 600px;
}
