<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title i18n>SMS Token Settings</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="panel-content">
    <p i18n>The SMS Token is an event based token. After the user has tried to authenticate with the OTP PIN, an SMS
            with an OTP value is sent to the users mobile phone. Then user can authenticate with this OTP value in a
            second step.
    </p>
    <p i18n>Here you can define how the SMS will be sent - via which kind of gateway.</p>

    <mat-form-field
      appearance="fill">
      <mat-label i18n>SMS Gateway configuration</mat-label>
      <mat-select [(ngModel)]="formData()['sms.identifier']">
        @for (gateway of smsGateways(); track gateway) {
          <mat-option [value]="gateway">{{ gateway }}</mat-option>
        }
      </mat-select>
      <mat-hint i18n>Select a predefined
        <a
          [routerLink]=[ROUTE_PATHS.EXTERNAL_SERVICES_SMS]><strong>SMS Gateway configuration</strong>
        </a>
                     .
      </mat-hint>
    </mat-form-field>

    <mat-form-field
      appearance="fill">
      <mat-label i18n>OTP validity time</mat-label>
      <input
        [(ngModel)]="formData()['sms.providerTimeout']"
        matInput
        placeholder="300"
        type="number">
      <mat-hint i18n>The time in seconds for which the sent OTP value is valid for authentication.</mat-hint>
    </mat-form-field>

    <h4 i18n>Obsolete settings</h4>
    <mat-form-field
      appearance="fill">
      <mat-label i18n>SMS Provider</mat-label>
      <input
        [value]="providerName()"
        disabled
        matInput>
    </mat-form-field>

    <mat-form-field
      appearance="fill">
      <mat-label i18n>Provider Config</mat-label>
      <textarea
        [(ngModel)]="formData()['sms.providerConfig']"
        disabled
        matInput
        placeholder="{'USERNAME': 'Your User',\n 'PASSWORD': 'Your Password'}"
        rows="6"></textarea>
    </mat-form-field>
  </div>
</mat-expansion-panel>
