Source: python-privacyidea
Maintainer: Cornelius Kölbel <cornelius@privacyidea.org>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.7), debhelper (>= 7.4.3), python-setuptools
Standards-Version: 3.9.6

Package: python-privacyidea
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-flask-migrate, python-qrcode, python-netaddr,
 python-pyrad, python-yaml, python-configobj, python-bs4, python-pandas, python-matplotlib, python-ecdsa, python-pyjwt
Replaces: privacyidea (<< 2.0)
Breaks: privacyidea (<< 2.0)
X-Python-Version: >= 2.7
Description: two-factor authentication system e.g. for OTP devices
 privacyIDEA: identity, multifactor authentication, authorization.
 This package contains the python module for privacyIDEA. If you want
 to run it in a productive webserver you might want to install
 privacyidea-nginx or privacyidea-apache2.
 privacyIDEA is an open solution for strong two-factor authentication.
 privacyIDEA aims to not bind you to any decision of the authentication protocol 
 or it does not dictate you where your user information should be stored. 
 This is achieved by its totally modular architecture.
 privacyIDEA is not only open as far as its modular architecture is concerned. 
 But privacyIDEA is completely licensed under the AGPLv3.

Package: privacyidea-radius
Architecture: all
Depends: ${misc:Depends}, libwww-perl, libconfig-inifiles-perl, libdata-dump-perl, libtry-tiny-perl, freeradius, libjson-perl, liblwp-protocol-https-perl
Description: FreeRADIUS module for privacyIDEA, OTP authentication
 This is a perl script, that is used in FreeRADIUS rlm_perl
 to forward the authentication request from the RADIUS server
 to privacyIDEA.

Package: privacyidea-simplesamlphp
Architecture: all
Depends: ${misc:Depends}, simplesamlphp
Description: SimpleSAMLphp module for privacyIDEA to do two factor authentication 
 This package add two factor authentication to simpleSAMLphp.
 privacyIDEA: identity, multifactor authentication, authorization.
 privacyIDEA is an open solution for strong two-factor authentication.
 privacyIDEA aims to not bind you to any decision of the authentication protocol
 or it does not dictate you where your user information should be stored.
 This is achieved by its totally modular architecture.
 privacyIDEA is not only open as far as its modular architecture is concerned.
 But privacyIDEA is completely licensed under the AGPLv3.


Package: privacyidea-otrs
Architecture: all
Depends: ${misc:Depends}, libwww-perl, libconfig-inifiles-perl, libdata-dump-perl, libtry-tiny-perl
Description: OTRS module for privacyIDEA, OTP authentication
 This is a perl authentication module for the ticket system
 OTRS. The credentials (username, password) entered at the normal
 OTRS login page a checked against privacyIDEA.

Package: privacyidea-pam
Architecture: all
Depends: ${misc:Depends}, libpam-python, python-requests, python-passlib, python
Description: PAM module for privacyIDEA, OTP authentication
 This package is used to add two factor authenticatio to the PAM stack.
 The credentials are checked against privacyIDEA. In addition this
 PAM module can also handle offline authentication, by fetching hashes
 from the privacyIDEA server and saving them locally.

Package: privacyidea-apache-client
Architecture: all
Depends: ${misc:Depends}, python-requests, redis-server, libapache2-mod-wsgi, python-redis, python-passlib
Description: Auth Module for Apache Server to authenticate with OTP
 This Apache2 auth module performs the authentication against
 a privacyIDEA server.
  Basic Authentication based on Apache2 Locations and Directories.

Package: privacyidea-all
Architecture: all
Depends: ${misc:Depends}, python-privacyidea, privacyidea-radius, privacyidea-otrs, privacyideaadm
Description: two-factor authenticaion system. This is a metapackage to install everything
 privacyIDEA: identity, multifactor authentication, authorization.
 privacyIDEA is an open solution for strong two-factor authentication.
 privacyIDEA aims to not bind you to any decision of the authentication protocol
 or it does not dictate you where your user information should be stored.
 This is achieved by its totally modular architecture.
 privacyIDEA is not only open as far as its modular architecture is concerned.
 But privacyIDEA is completely licensed under the AGPLv3.

Package: privacyidea-nginx
Architecture: all
Depends: ${misc:Depends}, python-privacyidea, python-mysqldb, nginx-full, uwsgi, 
 uwsgi-plugin-python, mysql-server, mysql-client
Conflicts: apache2, privacyidea-apache2
Description: 2FA system. This is a meta package to install privacyidea with nginx
 privacyIDEA: identity, multifactor authentication, authorization.
 This is the package that install all requirements to run privacyIDEA in the
 nginx webserver.


Package: privacyidea-apache2
Architecture: all
Depends: ${misc:Depends}, python-privacyidea, python-mysqldb, apache2,
 mysql-server, mysql-client, libapache2-mod-wsgi
Conflicts: nginx, nginx-full, privacyidea-nginx
Description: 2FA system. This is a meta package to install privacyidea with apache2
 privacyIDEA: identity, multifactor authentication, authorization.
 This is the package that installs all requirements to run privacyIDEA in the
 Apache2 Webserver.


Package: privacyidea-mysql
Architecture: all
Depends: ${misc:Depends}, python-privacyidea, python-mysqldb, mysql-server, mysql-client
Conflicts: nginx, nginx-full, privacyidea-nginx, privacyidea-apache2
Description: 2FA system. privacyIDEA application and MySQL configuration
 privacyIDEA: identity, multifactor authentication, authorization.
 This package installs privacyIDEA application and the MySQL database
 to run privacyIDEA. You still need a webserver.

