@use "styles";
@use "table";

.periodic-task-layout {
  @include table.table-container-styles;
  @include table.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  overflow: auto;
  display: grid;
}
