<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<div class="policy-template-picker">
  <mat-expansion-panel
    [expanded]="isExpanded()"
    (opened)="isExpanded.set(true)"
    (closed)="isExpanded.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span i18n>Policy Templates</span>
      </mat-panel-title>
      <mat-panel-description i18n> Apply a predefined template to pre-fill the policy. </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="template-list">
      @for (template of templates(); track template.name) {
        <button
          type="button"
          class="template-list-item"
          (click)="selectTemplate(template.name)">
          <span class="template-name">{{ template.name }}</span>
          <span class="template-description">{{ template.description }}</span>
        </button>
      }
    </div>
  </mat-expansion-panel>
</div>
