@use "styles";
@use "table";

:host {
  display: block;
}

.type-sections-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.type-section {
  padding: 0 16px 0 16px;
  border: 1px solid var(--pi-border-color, #dcdcdc);
  border-radius: var(--border-radius);
  background: var(--mat-sys-surface-container-low);
}

.hint {
  font-size: var(--mat-sys-body-small-size);
  color: var(--mat-sys-primary);
  max-width: 208px;
  margin-left: 16px;
}

.preset-buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: fit-content;

  .preset-buttons {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(5, auto);
  }
}

.checkbox-inline {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
