<div class="type-section">
  <h3 i18n>SQL settings</h3>
  <div class="form-grid">

    <mat-form-field>
      <mat-label>Driver</mat-label>
      <input
        [(ngModel)]="data['Driver']"
        matInput
        placeholder="mysql+pymysql" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Server</mat-label>
      <input
        [(ngModel)]="data['Server']"
        matInput
        placeholder="127.0.0.1" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Port</mat-label>
      <input
        [(ngModel)]="data['Port']"
        matInput
        placeholder="3306" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Database</mat-label>
      <input
        [(ngModel)]="data['Database']"
        matInput
        placeholder="YourDatabase" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>User</mat-label>
      <input
        [(ngModel)]="data['User']"
        matInput
        placeholder="user" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        [(ngModel)]="data['Password']"
        matInput
        placeholder="topsecret" />
    </mat-form-field>

    <mat-label>Edit User Store</mat-label>
    <mat-checkbox [(ngModel)]="data['Editable']"></mat-checkbox>
    The user data in this database can be modified from within privacyIDEA.

    @if (data['Editable']) {
      <mat-form-field>
        <mat-label>Password Hash for editable users</mat-label>
        <input
          [(ngModel)]="data['Password_Hash_Type']"
          matInput
          placeholder="">
        <mat-hint>
          The hashing algorithm for the passwords of newly created users. Can be PHPASS, SHA, SSHA, SSHA256, SHA512,
          OTRS.
        </mat-hint>
      </mat-form-field>
    }
  </div>
  <mat-divider />

  <mat-form-field>
    <mat-label>Table</mat-label>
    <input
      [(ngModel)]="data['Table']"
      matInput
      placeholder="Users" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Limit</mat-label>
    <input
      [(ngModel)]="data['Limit']"
      matInput
      placeholder="500" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mapping</mat-label>
    <input
      [(ngModel)]="data['Map']"
      matInput
      placeholder='{"userid":"id","username":"user","phone":"telephoneNumber","mobile":"mobile","email":"mail","surname":"sn","givenname":"givenName","password":"password"}' />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Where statement</mat-label>
    <input
      [(ngModel)]="data['Where']"
      matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Database Encoding</mat-label>
    <input
      [(ngModel)]="data['Encoding']"
      matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Connection Parameters</mat-label>
    <input
      [(ngModel)]="data['conParams']"
      matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Pool size</mat-label>
    <input
      [(ngModel)]="data['poolSize']"
      matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Pool timeout</mat-label>
    <input
      [(ngModel)]="data['poolTimeout']"
      matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Pool recycle timeout</mat-label>
    <input
      [(ngModel)]="data['poolRecycle']"
      matInput />
  </mat-form-field>
</div>