@use "styles";
@use "table";

:host {
  display: block;
}

.hint {
  font-size: var(--mat-sys-body-small-size);
  color: var(--mat-sys-primary);
  margin-left: 16px;
}

.preset-buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: fit-content;

  .preset-buttons {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(5, auto);
  }
}

.checkbox-inline {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
