<div class="type-section">
  <h3 i18n>SCIM settings</h3>
  <div class="form-grid">

    <mat-form-field>
      <mat-label>
        Authentication Server URI</mat-label>
      <input
        [(ngModel)]="data['SCIMURL']"
        matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Resource Server Uri</mat-label>
      <input
        [(ngModel)]="data['RESOURCEURL']"
        matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Client</mat-label>
      <input
        [(ngModel)]="data['user']"
        matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Secret</mat-label>
      <input
        [(ngModel)]="data['secret']"
        matInput />
    </mat-form-field>

  </div>
</div>