<div class="type-section">
  <h3 i18n>SCIM settings</h3>
  <div class="form-grid">

    <mat-form-field class="field-lg">
      <mat-label i18n>Authentication Server URI</mat-label>
      <input
        [(ngModel)]="data()['Authserver']"
        placeholder="http://localhost:8080/osiam-auth-server"
        matInput />
    </mat-form-field>

    <mat-form-field class="field-lg">
      <mat-label i18n>Resource Server Uri</mat-label>
      <input
        [(ngModel)]="data()['Resourceserver']"
        placeholder="http://localhost:8080/osiam-resource-server"
        matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Client</mat-label>
      <input
        [(ngModel)]="data()['Client']"
        placeholder="hostname"
        matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Secret</mat-label>
      <input
        [(ngModel)]="data()['Secret']"
        placeholder="d81c31e4-9f65-4805-b5ba-6edf0761f954"
        matInput
        type="password" />
    </mat-form-field>

    <mat-form-field class="field-lg">
      <mat-label i18n>Mapping</mat-label>
      <textarea
        [(ngModel)]="data()['Mapping']"
        placeholder='{"userName": "username", "id": "userid", "emails.0.value": "email"}'
        matInput></textarea>
    </mat-form-field>

  </div>
</div>