@use "../../../../styles";
@use "@angular/material" as mat;

.tokengroups-container {
  @include styles.main-component-style;
  @include styles.base-table-structure(".tokengroups-table", ".table-filter", ".table-scroll-container");
  width: 664px;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}
