@use "../../../../styles";
@use "@angular/material" as mat;

.tokengroups-container {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".tokengroups-table", ".table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  display: grid;
  overflow: auto;

  .table-filter {
    width: 29rem;
  }
}

.tokengroups-layout {
  padding: 24px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
