-r ../requirements.txt
attrs==21.4.0
coverage==6.2; python_version == '3.6'
coverage==6.3.2; python_version > '3.6'
iniconfig==1.1.1
mock==4.0.3
pluggy==1.0.0
py==1.11.0
pytest==7.0.1; python_version == '3.6'
pytest==7.1.2; python_version > '3.6'
pytest-cov==3.0.0
responses==0.17.0; python_version == '3.6'
responses==0.20.0; python_version > '3.6'
testfixtures==6.18.5
tomli==1.2.3; python_version == '3.6'
tomli==2.0.1; python_version > '3.6'
