-r ../requirements.txt
atomicwrites==1.3.0
attrs==19.1.0
cookies==2.2.1
coverage==4.5.3
mock==2.0.0
more-itertools==5.0.0
pbr==5.1.3
pluggy==0.7.1
py==1.8.0
pyparsing==2.2.2
pytest==3.6.4
pytest-cov==2.6.1
responses==0.9.0
