<div class="pi-dialog">
  <div class="pi-dialog-header">
    <h3 class="margin-8">
      @if (icon()) {
        <mat-icon [style.margin-right.px]="8">{{ icon() }}</mat-icon>
      }
      {{ title() }}
    </h3>
  </div>
  <mat-dialog-content>
    <div class="pi-dialog-body">
      <ng-content></ng-content>
    </div>
  </mat-dialog-content>
  @if (showCancelButton() || actions().length > 0) {
    <div class="pi-dialog-footer">
      @if (showCancelButton()) {
        <button
          [attr.cdkFocusInitial]="cancelButtonPrimary() || null"
          class="action-button-secondary button-width-s"
          (click)="onCancelClick()"
          mat-stroked-button>
          @if (cancelButtonLabel()) {
            {{ cancelButtonLabel() }}
          } @else {
            <div i18n>Cancel</div>
          }
        </button>
      }
      @for (action of actions(); track $index) {
        @if (!action.hidden) {
          <button
            (click)="onActionClick(action)"
            [attr.cdkFocusInitial]="action.primary || null"
            [class.action-button-delete-primary]="action.type === 'destruct' && action.primary"
            [class.action-button-delete-secondary]="action.type === 'destruct' && !action.primary"
            [class.action-button-primary]="action.primary && action.type !== 'destruct'"
            [class.action-button-secondary]="!action.primary"
            [disabled]="action.disabled"
            class="button-width-s"
            mat-stroked-button>
            @if (action.icon) {
              <mat-icon>{{ action.icon }}</mat-icon>
            }
            {{ action.label }}
          </button>
        }
      }
    </div>
  }
</div>
