@use "styles";
@use "table";

.pi-dialog {
  background-color: var(--mat-sys-surface-container-low);
  border-radius: var(--border-radius);
  overflow: auto;

  .pi-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--half-global-padding) var(--global-padding);
  }

  .pi-dialog-header h2 {
    margin: 0;
  }

  .pi-close-button {
    background: none;
    border: none;
    font-size: 1.7em;
    cursor: pointer;
    color: var(--mat-sys-on-surface);
  }

  .pi-dialog-footer {
    display: flex;
    justify-content: flex-end;
    padding: var(--half-global-padding) var(--global-padding);

    gap: var(--half-global-gap);
  }

  .dialog-action-button-default {
    @extend .action-button-1 !optional;
    border-width: thin;
    padding: var(--third-global-padding);
    font-size: 1rem;
    transition:
      background-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out,
      opacity 0.2s ease-in-out;

    &:not(:disabled):hover {
      background-color: var(--mat-sys-primary-base-hover);
      box-shadow: 0 4px 8px var(--mat-sys-shadow-color-high);
      cursor: pointer;
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--mat-sys-on-surface-variant);
      background-color: rgba(0, 0, 0, 0.05);
      border-color: rgba(0, 0, 0, 0.2);
      opacity: 0.7;
      box-shadow: none;
    }
  }

  .dialog-action-button-destruct {
    @extend styles, .button, .action-button-delete !optional;
    border-width: thin;
    padding: var(--third-global-padding);
    font-size: 1rem;
    transition: background-color 0.1s ease;

    &:not(:disabled):hover {
      background-color: var(--red-base-hover);
      box-shadow: 0 4px 8px var(--mat-sys-shadow-color-high);
      cursor: pointer;
    }
  }

  .dialog-action-button-cancel {
    @extend styles, .button, .action-button-cancel !optional;
    border-width: thin;
    padding: var(--third-global-padding);
    font-size: 1rem;
    transition: background-color 0.1s ease;

    &:not(:disabled):hover {
      background-color: var(--grey-base-hover);
      box-shadow: 0 4px 8px var(--mat-sys-shadow-color-high);
      cursor: pointer;
    }
  }
}
