<div class="pi-dialog">
  <div class="pi-dialog-header">
    <h3>
      @if (icon()) {
        <mat-icon [style.margin-right.px]="8">{{ icon() }}</mat-icon>
      }
      {{ title() }}
    </h3>
  </div>
  <mat-dialog-content>
    <div class="pi-dialog-body">
      <ng-content></ng-content>
    </div>
  </mat-dialog-content>
  @if (showCancelButton() || actions().length > 0) {
    <div class="pi-dialog-footer">
      @if (showCancelButton()) {
        <button
          class="action-button-secondary width-s"
          mat-stroked-button
          mat-dialog-close>
          @if (cancelButtonLabel()) {
            {{ cancelButtonLabel() }}
          } @else {
            <div i18n>Cancel</div>
          }
        </button>
      }
      @for (action of actions(); track $index) {
        @if (!action.hidden) {
          <button
            class="width-s"
            mat-stroked-button
            (click)="onActionClick(action)"
            [class.action-button-primary]="action.type === 'confirm' || action.type === 'auxiliary' || !action.type"
            [class.action-button-secondary]="action.type === 'cancel'"
            [class.action-button-delete-primary]="action.type === 'destruct'"
            [disabled]="action.disabled">
            @if (action.icon) {
              <mat-icon>{{ action.icon }}</mat-icon>
            }
            {{ action.label }}
          </button>
        }
      }
    </div>
  }
</div>
