<div class="pi-dialog">
  <div
    class="pi-dialog-header"
    mat-dialog-title>
    @if (title()) {
      <h2>
        @if (icon()) {
          <mat-icon [style.margin-right.px]="8">{{ icon() }}</mat-icon>
        }
        {{ title() }}
      </h2>
    } @else {
      <h2 i18n>Dialog</h2>
    }
    @if (showCloseButton()) {
      <button
        mat-icon-button
        class="pi-close-button"
        (click)="onCloseClick()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>
  <mat-dialog-content>
    <div class="pi-dialog-body">
      <ng-content></ng-content>
    </div>
  </mat-dialog-content>
  @if (actions().length > 0) {
    <div class="pi-dialog-footer">
      @for (action of actions(); track $index) {
        <button
          [class.dialog-action-button-default]="
            action.type === 'confirm' || action.type === 'auxiliary' || !action.type
          "
          [class.dialog-action-button-destruct]="action.type === 'destruct'"
          [class.dialog-action-button-cancel]="action.type === 'cancel'"
          (click)="onActionClick(action)"
          [disabled]="action.disabled">
          @if (action.icon) {
            <mat-icon>{{ action.icon }}</mat-icon>
          }
          {{ action.label }}
        </button>
      }
    </div>
  }
</div>
