@use "../../../../../../../styles" as styles;

// override hover style for read only view to not change on hover
.selected-actions-container .action-card:hover {
  background-color: var(--mat-sys-surface-container) !important;
  color: var(--mat-sys-on-surface) !important;
  cursor: default !important;
  max-height: 100%;
}

.condition-name-container {
  display: flex;
  align-items: center;
  gap: 0;
}

.condition-value-container {
  // grid item
  justify-self: end;
  align-self: flex-start;
  // flex container
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
}

.action-card-row-grid {
  // appearance
  padding: var(--half-global-padding) var(--global-padding);
  border: 1px solid var(--mat-sys-surface-container);
  border-radius: var(--border-radius);
  // layout
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  width: 550px;
}

.description {
  font-size: 0.75rem;
  white-space: normal;
  line-break: normal;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.font-size-16 {
  font-size: 16px;
}
