@use "../../../../styles";
@use "@angular/material" as mat;

.radius-servers-container {
  @include styles.main-component-style;
  @include styles.base-table-structure(".radius-servers-table", ".table-filter", ".table-scroll-container");
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}

.clickable {
  cursor: pointer;
  color: var(--mat-sys-primary);
  text-decoration: underline;
}

::ng-deep app-new-radius-server.mat-mdc-dialog-component-host mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content.radius-dialog-content {
  max-height: 82vh;
}
