<!--
 (c) NetKnights GmbH 2026, https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program. If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<app-dialog-wrapper
  (close)="close()"
  (onAction)="onAction($event)"
  [actions]="actions()"
  i18n-title="@@tokenEnrolledTitle"
  title="Token Successfully Enrolled">
  <mat-dialog-content>
    @let postTopHtml = postTopHtml$ | async;
    @if (postTopHtml?.hasContent) {
      <div
        [innerHTML]="postTopHtml?.sanitized"
        class="margin-top-16"></div>
    } @else {
      <app-token-enrolled-text
        (switchRoute)="onSwitchRoute()"
        [rollover]="data.rollover ?? false"
        [serial]="serial"></app-token-enrolled-text>

    }
    <div class="flex-row gap-16">
      @if (showQRCode() && qrCode) {
        <img
          alt="QR Code"
          class="qr-code"
          height="300px"
          i18n-alt="@@qrCodeAlt"
          src="{{ qrCode }}"
          width="300px" />
      }

      @if (data.showEnrollData !== false) {
        <div class="flex-column gap-16">
          @if (data.response?.detail?.["password"]) {
            <p i18n>
              Your Password: <strong>{{ data.response?.detail?.["password"] }}</strong>.
            </p>
          }

          @if (data.response?.detail?.otpkey?.value && !data.response?.detail?.["otps"] && showQRCode()) {
            <app-otp-key
              [otpKeyBase32]="data.response?.detail?.otpkey?.value_b32 ?? ''"
              [otpKeyHex]="data.response?.detail?.otpkey?.value ?? ''" />
          }

          @if (data.tokenType === "tiqr") {
            <app-tiqr-enroll-url [url]="data.response?.detail?.['tiqrenroll']?.value ?? ''" />
          }

          @if (data.tokenType === "registration") {
            <app-registration-code [registrationCode]="data.response?.detail?.['registrationcode'] ?? ''" />
          }

          @if (data.response?.detail?.["otps"]) {
            <app-otp-values [otpValues]="data.response?.detail?.['otps'] ?? []" />
          }
        </div>
      }

      <div
        [innerHTML]="postBottomHtml$ | async"
        class="margin-bottom-16"></div>
    </div>
  </mat-dialog-content>
</app-dialog-wrapper>
