<h2 mat-dialog-title>Token successfully enrolled</h2>
<mat-dialog-content>
  <span>The token was successfully enrolled with serial number
    <a (click)="tokenSelected(data.response.detail.serial)"> {{ data.response.detail.serial }} </a>.</span>
  @if (data.response.detail["container_serial"]) {
    <br />
    <span>It has been enrolled in the container
      <a (click)="containerSelected(data.response.detail['container_serial'])">
        {{ data.response.detail["container_serial"] }} </a>.</span>
  }
  @if (data.user?.username && data.userRealm != "" && !data.onlyAddToRealm) {
    <br />
    <span>The user <span>{{ data.user!.username }}</span> in the realm <span>{{ data.userRealm }}</span> was assigned
      to the token.
    </span>
  }
  <div class="flex-row gap-1">
    @if (showQRCode()) {
      @if (data.response.detail.googleurl?.img) {
        <img
          alt="QR Code"
          class="qr-code"
          height="300px"
          src="{{ data.response.detail.googleurl?.img }}"
          width="300px" />
      } @else if (data.response.detail.motpurl?.img) {
        <img
          alt="QR Code"
          class="qr-code"
          height="300px"
          src="{{ data.response.detail.motpurl?.img }}"
          width="300px" />
      } @else if (data.response.detail.otpkey?.img) {
        <img
          alt="QR Code"
          class="qr-code"
          height="300px"
          src="{{ data.response.detail.otpkey?.img }}"
          width="300px" />
      } @else if (data.response.detail.tiqrenroll?.img) {
        <img
          alt="QR Code"
          class="qr-code"
          height="300px"
          src="{{ data.response.detail.tiqrenroll?.img }}"
          width="300px" />
      }
    }
    <div class="flex-column gap-1">
      @let url =
        data.response.detail.googleurl?.value ??
        data.response.detail.motpurl?.value ??
        data.response.detail.otpkey?.value ??
        data.response.detail.tiqrenroll?.value;
      @if (url && showQRCode()) {
        <p class="width-36">
          Click
          <a href="{{ url }}">here</a>
          or scan the QR Code, if you want to add the Token to your smartphone authenticator app. The QR Code contains
          the secret key of your token. You need to protect it.

          <strong> If you are in doubt, that someone else saw it, please regenerate the QR Code, when no one else is
                   watching. </strong>
        </p>
      }
      @if (showRegenerateButton()) {
        <button
          (click)="regenerateQRCode()"
          class="card-button"
          mat-flat-button>
          <mat-icon>autorenew</mat-icon>
          Regenerate {{ regenerateButtonText() }}
        </button>
      }

      @if (data.response.detail["password"]) {
        <p>
          Your Password: <strong>{{ data.response.detail["password"] }}</strong>.
        </p>
      }

      @if (data.response.detail.otpkey?.value && !data.response.detail["otps"] && showQRCode()) {
        <mat-accordion class="otpkey-expension">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> The OTP key</mat-panel-title>
            </mat-expansion-panel-header>
            <p class="otpkey-p">Hex: {{ data.response.detail.otpkey?.value }}</p>
            @if (data.response.detail.otpkey?.value_b32) {
              <p class="otpkey-p">Base32: {{ data.response.detail.otpkey?.value_b32 }}</p>
            }
          </mat-expansion-panel>
        </mat-accordion>
      }

      @if (data.tokentype.key === "tiqr") {
        <p class="width-36">
          Click
          <a href="{{ url }}">here</a>
          or scan the QR Code, if you want to add the Token to your TiQR app.
        </p>

        <mat-accordion class="otpkey-expension">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Enrollment URL</mat-panel-title>
            </mat-expansion-panel-header>
            <p class="otpkey-p">{{ data.response.detail["tiqrenroll"]?.value }}</p>
          </mat-expansion-panel>
        </mat-accordion>
      }

      @if (data.tokentype.key === "registration") {
        <mat-accordion class="otpkey-expension">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Registration Code</mat-panel-title>
            </mat-expansion-panel-header>
            <p class="otpkey-p">{{ data.response.detail["registrationcode"] }}</p>
          </mat-expansion-panel>
        </mat-accordion>
      }

      @if (data.response.detail["otps"]) {
        <mat-accordion class="otpkey-expension">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                The OTP values
                @if (data.response.detail["otps"]) {
                  <button
                    (click)="printOtps()"
                    mat-icon-button
                    class="margin-left-1">
                    <mat-icon>print</mat-icon>
                  </button>
                }
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div id="otp-values">
              <div class="otp-values">
                @for (otp of Object.entries(data.response.detail["otps"]); track otp[0]) {
                  <span class="otp-value"> #{{ otp[0] }}: {{ otp[1] }}</span>
                }
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      }
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>
