<!--
 (c) NetKnights GmbH 2026, https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program. If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<app-dialog-wrapper
  (close)="close()"
  [showCancelButton]="true"
  cancelButtonLabel="Close"
  i18n-cancelButtonLabel="@@closeButtonLabel"
  title="{{title()}}">

  <app-token-enrolled-text
    (switchRoute)="onSwitchRoute()"
    [containerSerial]="containerSerial"
    [onlyAddToRealm]="data.enrollParameters.data.onlyAddToRealm"
    [rollover]="data.rollover ?? false"
    [serial]="serial"
    [userRealm]="data.enrollParameters.data.realm"
    [username]="data.enrollParameters.data.user"></app-token-enrolled-text>

  @if (data.showEnrollData !== false) {
    <app-token-enrollment-data
      [enrolledInputData]="data.response?.detail"
      [enrollmentParameters]="data.enrollParameters"
      [tokenType]="data.tokenType"></app-token-enrollment-data>
  }

</app-dialog-wrapper>
