@use "../../../../../styles";
@use "@angular/material" as mat;

.smtp-page-layout {
  display: flex;
  justify-content: center;
}

.smtp-page-container {
  @include styles.main-component-style;
  display: grid;
  position: relative;
}

.smtp-dialog-content {
  min-width: 664px;
  margin-left: 16px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
