@use "../../../../styles";
@use "@angular/material" as mat;

.machines-container {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".machines-table", ".table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  display: grid;
  overflow: auto;

  .table-filter {
    width: 29rem;
  }
}

.machines-layout {
  padding: 24px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

::ng-deep app-machine-details-dialog.mat-mdc-dialog-component-host mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content.machine-dialog-content {
  max-height: 82vh;
}
