@use "styles";
@use "table";
@use "@angular/material" as mat;

.machines-container {
  @include styles.main-component-style;
  @include table.base-table-structure(".machines-table", ".table-filter", ".table-scroll-container");
}

.machines-layout {
  padding: 24px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
