@use "../../../../styles";
@use "@angular/material" as mat;

.machines-container {
  @include styles.main-component-style;
  @include styles.base-table-structure(".machines-table", ".table-filter", ".table-scroll-container");
}

.machines-layout {
  padding: 24px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep app-machine-details-dialog.mat-mdc-dialog-component-host mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content.machine-dialog-content {
  max-height: 82vh;
}
