@use "styles";
@use "table";
@use "@angular/material" as mat;

.machines-container {
  @include styles.main-component-style;
  @include table.base-table-structure(".machines-table", ".table-filter", ".table-scroll-container");
  max-height: var(--table-max-height) !important;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
