<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (data.rollover) {
  <h2 mat-dialog-title>Container Rollover</h2>
} @else {
  <h2 mat-dialog-title>Register Container</h2>
}
<app-dialog-wrapper
  [title]="data.rollover ? 'Container Rollover' : 'Register Container'"
  [actions]="[getAction()]"
  (close)="close()">
  <mat-dialog-content>
    <app-container-registration-config
      [containerHasOwner]="data.containerHasOwner"
      (validInputChange)="onValidInputChange($event)"></app-container-registration-config>
  </mat-dialog-content>
</app-dialog-wrapper>
