<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<!-- PRIMARY TOP BAR -->
<mat-toolbar class="primary-toolbar">
  <div class="toolbar-brand">
    <a
      [routerLink]="[landingPage()]"
      aria-label="Home"
      class="brand-link"
      i18n-aria-label="@@nav.homeLink">
      @if (customLogo()) {
        <img
          alt=""
          class="toolbar-logo toolbar-logo-custom"
          height="48"
          ngSrc="{{ customLogo() }}"
          ngSrcset="1x"
          width="48" />
      } @else {
        <img
          alt=""
          class="toolbar-logo"
          height="48"
          ngSrc="assets/privacyIDEA1.png"
          ngSrcset="1x"
          width="48" />

        <img
          alt=""
          class="toolbar-logo-text margin-left-16"
          height="109"
          ngSrc="assets/logo-text.png"
          ngSrcset="1x"
          width="575" />
      }
    </a>
  </div>

  <nav
    class="main-nav"
    #mainNavRef>
    @for (item of visibleNavItems; track item.section) {
      <div
        class="nav-item"
        [attr.data-section]="item.section"
        [class.active]="activeSection() === item.section">
        <a
          [ngClass]="{ 'nav-active': activeSection() === item.section }"
          [routerLink]="[item.route]"
          class="nav-button">
          <mat-icon [ngClass]="item.iconClass || ''">{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      </div>
    }
    @if (overflowNavItems.length > 0) {
      <div
        class="nav-item"
        [class.active]="isOverflowSectionActive()">
        <button
          class="nav-button more-button"
          [matMenuTriggerFor]="overflowMenu"
          [ngClass]="{ 'nav-active': isOverflowSectionActive() }">
          <mat-icon>more_horiz</mat-icon>
          <span i18n="@@common.more">More</span>
        </button>
      </div>
      <mat-menu #overflowMenu="matMenu">
        @for (item of overflowNavItems; track item.section) {
          <button
            mat-menu-item
            [routerLink]="[item.route]"
            [ngClass]="{ 'overflow-item-active': activeSection() === item.section }">
            <mat-icon [ngClass]="item.iconClass || ''">{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </button>
        }
      </mat-menu>
    }
  </nav>

  <div class="toolbar-actions">
    <app-user-utils-panel></app-user-utils-panel>
  </div>
</mat-toolbar>

<!-- SECONDARY TOP BAR -->
<ng-template #footerText>
  @if (!customLogo()) {
    <div class="flex-column footer-text">
      <div
        class="footer-text-height"
        i18n="@@nav.openSourceProject"
        >An open-source project
        <a
          href="https://netknights.it/"
          target="_blank"
          >maintained by NetKnights
        </a></div
      >
      <div i18n="@@nav.collaborationCommunity"
        >in collaboration with
        <a
          href="https://github.com/privacyidea/privacyidea"
          target="_blank"
          >community contributors
        </a></div
      >
    </div>
    <div class="footer-icons">
      <button
        mat-icon-button
        (click)="openExternalLink('https://netknights.it/')"
        aria-label="NetKnights"
        i18n-aria-label="@@nav.netknights"
        i18n-matTooltip="@@nav.maintainedByNetknights"
        matTooltip="Maintained by NetKnights">
        <mat-icon class="mdi--netknights"></mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="openExternalLink('https://github.com/privacyidea/privacyidea')"
        aria-label="GitHub"
        i18n-aria-label="@@nav.github"
        i18n-matTooltip="@@nav.communityContributors"
        matTooltip="Community contributors on GitHub">
        <mat-icon class="mdi--github"></mat-icon>
      </button>
    </div>
  }
</ng-template>

<ng-template #supportDocs>
  <span class="spacer"></span>
  <button
    type="button"
    (click)="openSupport()"
    aria-label="Get enterprise support"
    i18n-aria-label="@@nav.getEnterprise"
    matTooltip="Get enterprise support"
    i18n-matTooltip="@@nav.getEnterprise"
    class="nav-button support-color docs-button-full">
    <mat-icon>support_agent</mat-icon>
    <span i18n="@@nav.support">Support</span>
  </button>
  <button
    mat-icon-button
    (click)="openSupport()"
    aria-label="Get enterprise support"
    i18n-aria-label="@@nav.getEnterprise"
    matTooltip="Get enterprise support"
    i18n-matTooltip="@@nav.getEnterprise"
    class="support-color docs-button-icon">
    <mat-icon>support_agent</mat-icon>
  </button>
  <button
    type="button"
    (click)="documentationService.openDocumentation(contentService.routePath())"
    aria-label="Documentation"
    i18n-aria-label="@@nav.documentation"
    class="nav-button docs-button-full">
    <mat-icon>info_outline</mat-icon>
    <span i18n="@@nav.documentation">Documentation</span>
  </button>
  <button
    mat-icon-button
    (click)="documentationService.openDocumentation(contentService.routePath())"
    aria-label="Documentation"
    i18n-aria-label="@@nav.documentation"
    matTooltip="Documentation"
    i18n-matTooltip="@@nav.documentation"
    class="docs-button-icon">
    <mat-icon>info_outline</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="openExternalLink('https://hosted.weblate.org/projects/privacyidea/privacyidea-webui-next/')"
    aria-label="Help translate"
    i18n-aria-label="@@nav.helpTranslate"
    matTooltip="Help translate this interface on Weblate"
    i18n-matTooltip="@@nav.helpTranslateInterface"
    class="translate-button">
    <mat-icon>translate</mat-icon>
  </button>
  <span class="version-text">
    <span class="version-prefix">
      {{ versionPrefix() }}
    </span>
    {{ this.versioningService.version() }}
  </span>
  <span
    class="beta-badge margin-right-16"
    i18n="@@nav.beta"
    >Beta</span
  >
</ng-template>

@if (activeSection() === "dashboard") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    @if (authService.adminDashboard()) {
      <a
        [ngClass]="contentService.onDashboard() ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.DASHBOARD]">
        <mat-icon>dashboard</mat-icon>
        <span i18n="@@nav.dashboard">Dashboard</span>
      </a>
    }
    @if (authService.rssAge() > 0) {
      <a
        [ngClass]="contentService.onNews() ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.NEWS]">
        <mat-icon>campaign</mat-icon>
        <span i18n="@@nav.news">News</span>
      </a>
    }
    @if (contentService.onDashboard()) {
      <div class="flex gap-8 margin-left-4">
        @if (dashboardLayoutService.editMode()) {
          <button
            mat-stroked-button
            type="button"
            class="action-button-secondary button-width-s"
            (click)="saveDashboard()">
            <mat-icon>save</mat-icon>
            <span i18n="@@common.save">Save</span>
          </button>
          <button
            mat-stroked-button
            type="button"
            class="action-button-delete-secondary button-width-s"
            (click)="cancelDashboard()">
            <mat-icon>cancel</mat-icon>
            <span i18n="@@common.cancel">Cancel</span>
          </button>
          <app-widget-palette />
        } @else {
          <button
            mat-stroked-button
            type="button"
            class="action-button-secondary button-width-m"
            (click)="enterDashboardEdit()">
            <mat-icon>edit</mat-icon>
            <span i18n="@@nav.editDashboard">Edit Dashboard</span>
          </button>
        }
      </div>
    }
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "token") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    <a
      [ngClass]="contentService.onTokens() ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.TOKENS]">
      <mat-icon class="ms--shield-list"></mat-icon>
      <span i18n="@@nav.overview">Overview</span>
    </a>
    @if (contentService.onTokenDetails()) {
      <a class="sub-nav-active">
        <span class="icon-badge">
          <mat-icon class="padding-right-4">shield</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@common.details">Details</span>
      </a>
    }
    @if (contentService.onTokensEnrollment()) {
      <a class="sub-nav-active">
        <span class="icon-badge">
          <mat-icon class="padding-right-6">shield</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@nav.enrollment">Enrollment</span>
      </a>
    }
    @if (authService.actionAllowed("importtokens")) {
      <a
        [ngClass]="contentService.onTokensImport() ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.TOKENS_IMPORT]">
        <mat-icon>input</mat-icon>
        <span i18n="@@nav.import">Import</span>
      </a>
    }
    @if (authService.actionAllowed("getchallenges")) {
      <a
        [ngClass]="contentService.onTokensChallenges() ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.TOKENS_CHALLENGES]">
        <mat-icon>cached</mat-icon>
        <span i18n="@@nav.challenges">Challenges</span>
      </a>
    }
    @if (authService.actionsAllowed(["machinelist", "manage_machine_tokens"])) {
      <a
        [ngClass]="contentService.onTokensApplications() ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.TOKENS_APPLICATIONS]">
        <mat-icon>now_widgets</mat-icon>
        <span i18n="@@nav.applications">Applications</span>
      </a>
    }
    <a
      [ngClass]="contentService.onTokensGetSerial() ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.TOKENS_GET_SERIAL]">
      <mat-icon>policy</mat-icon>
      <span i18n="@@nav.findToken">Find Token</span>
    </a>
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "container") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    <a
      [ngClass]="contentService.onContainers() ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.CONTAINERS]">
      <mat-icon class="mdi--folder-list"></mat-icon>
      <span i18n="@@nav.overview">Overview</span>
    </a>
    @if (contentService.onContainersDetails()) {
      <a class="sub-nav-active">
        <span class="icon-badge">
          <mat-icon class="padding-right-4">folder</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@common.details">Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.CONTAINERS_CREATE) {
      <a class="sub-nav-active">
        <span class="icon-badge">
          <mat-icon class="padding-right-6">folder</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.create">Create</span>
      </a>
    }
    @if (authService.oneActionAllowed(["container_template_list", "container_template_create"])) {
      <a
        [ngClass]="contentService.onContainersTemplates() ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.CONTAINERS_TEMPLATES]">
        <mat-icon>plagiarism</mat-icon>
        <span i18n="@@nav.templates">Templates</span>
      </a>
    }
    @if (contentService.onContainersTemplatesDetails()) {
      <a class="sub-nav-active">
        <mat-icon>plagiarism</mat-icon>
        <span i18n="@@nav.templateDetails">Template Details</span>
      </a>
    }
    @if (contentService.onContainersTemplatesCreate()) {
      <a class="sub-nav-active">
        <mat-icon>note_add</mat-icon>
        <span i18n="@@common.createTemplate">Create Template</span>
      </a>
    }
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "users") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    <a
      [ngClass]="contentService.onUsers() ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.USERS]">
      <mat-icon class="ms--person-list"></mat-icon>
      <span i18n="@@nav.overview">Overview</span>
    </a>
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.USERS_DETAILS)) {
      <a
        href="javascript:void(0)"
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">person</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@common.userDetails">User Details</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.USERS_NEW)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-6">person</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.createUser">Create User</span>
      </a>
    }
    <a
      [ngClass]="contentService.onUsersResolvers() ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.USERS_RESOLVERS]">
      <mat-icon class="ms--database"></mat-icon>
      <span i18n="@@common.resolvers">Resolvers</span>
    </a>
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.USERS_RESOLVERS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="ms--database padding-right-4"></mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.resolverDetails">Resolver Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.USERS_RESOLVERS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="ms--database padding-right-6"></mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@nav.createResolver">Create Resolver</span>
      </a>
    }
    <a
      [ngClass]="contentService.onUserRealms() ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.USERS_REALMS]">
      <mat-icon>public</mat-icon>
      <span i18n="@@common.realms">Realms</span>
    </a>
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "policies") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    <a
      [ngClass]="contentService.routePath() === ROUTE_PATHS.POLICIES ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.POLICIES]">
      <mat-icon>gavel</mat-icon>
      <span i18n="@@nav.overview">Overview</span>
    </a>
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.POLICIES_DETAILS)) {
      <a class="sub-nav-active">
        <span class="icon-badge">
          <mat-icon class="padding-right-4">gavel</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@common.details">Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.POLICIES_NEW) {
      <a class="sub-nav-active">
        <span class="icon-badge">
          <mat-icon class="padding-right-6">gavel</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.create">Create</span>
      </a>
    }
    <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.POLICIES_CONDITIONAL_ACCESS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.POLICIES_CONDITIONAL_ACCESS]">
        <mat-icon>security</mat-icon>
        <span i18n>Conditional Access</span>
      </a>
      @if (contentService.routeUrl().startsWith(ROUTE_PATHS.POLICIES_CONDITIONAL_ACCESS_DETAILS)) {
        <a class="sub-nav-active">
        <span class="icon-badge">
          <mat-icon class="margin-right-5">security</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-gear">settings</mat-icon>
        </span>
          <span i18n>Conditional Access Details</span>
        </a>
      }
      @if (contentService.routeUrl() === ROUTE_PATHS.POLICIES_CONDITIONAL_ACCESS_NEW) {
        <a class="sub-nav-active">
          <span class="icon-badge">
            <mat-icon class="margin-right-2">security</mat-icon>
            <mat-icon class="icon-badge-overlay icon-badge-add">add</mat-icon>
          </span>
          <span i18n>New Conditional Access</span>
        </a>
      }
    @if (authService.actionAllowed("api_client_list")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.POLICIES_API_CLIENTS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.POLICIES_API_CLIENTS]">
        <mat-icon>vpn_key</mat-icon>
        <span i18n="@@nav.apiClients">API Clients</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.POLICIES_API_CLIENTS_DETAILS)) {
      <a class="sub-nav-active">
        <span class="icon-badge">
          <mat-icon class="padding-right-4">vpn_key</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.apiClientDetails">API Client Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.POLICIES_API_CLIENTS_NEW) {
      <a class="sub-nav-active">
        <span class="icon-badge">
          <mat-icon class="padding-right-6">vpn_key</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@apiClient.createApiClient">Create API Client</span>
      </a>
    }
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "subscription") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    <a
      [ngClass]="contentService.onSubscription() ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.SUBSCRIPTION]">
      <mat-icon>event_repeat</mat-icon>
      <span i18n="@@nav.overview">Overview</span>
    </a>
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "logs") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    @if (authService.actionAllowed("auditlog")) {
      <a
        [ngClass]="contentService.onAudit() ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.AUDIT]">
        <mat-icon>list_alt</mat-icon>
        <span i18n="@@nav.log">Log</span>
      </a>
    }
    @if (authService.actionAllowed("authentication_log_read")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.AUTHENTICATION_LOG ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.AUTHENTICATION_LOG]">
        <mat-icon class="mdi--list-lock"></mat-icon>
        <span i18n>Authentication Log</span>
      </a>
    }
    @if (authService.actionAllowed("clienttype")) {
      <a
        [ngClass]="contentService.onClients() ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.CLIENTS]">
        <mat-icon>recent_actors</mat-icon>
        <span i18n="@@common.knownClients">Known Clients</span>
      </a>
    }
    @if (authService.actionAllowed("user_lock_read")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.LOCKED_USERS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.LOCKED_USERS]">
        <mat-icon>lock_person</mat-icon>
        <span i18n>Locked Users</span>
      </a>
    }
    @if (authService.actionAllowed("blocklist_read")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.BLOCKLIST ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.BLOCKLIST]">
        <span class="icon-block-ip">
          <span
            class="icon-block-ip-text"
            aria-hidden="true">IP</span>
          <mat-icon>block</mat-icon>
        </span>
        <span i18n>IP Blocklist</span>
      </a>
    }
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "config") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    @if (authService.actionAllowed("configread")) {
      <a
        [ngClass]="contentService.onConfigurationSystem() ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.CONFIGURATION_SYSTEM]">
        <mat-icon>build</mat-icon>
        <span i18n="@@nav.system">System</span>
      </a>
    }
    <a
      [ngClass]="contentService.onConfigurationTokenTypes() ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.CONFIGURATION_TOKENTYPES]">
      <mat-icon>safety_check</mat-icon>
      <span i18n="@@nav.tokentypes">Tokentypes</span>
    </a>
    @if (authService.actionAllowed("machinelist")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.CONFIGURATION_MACHINES ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.CONFIGURATION_MACHINES]">
        <mat-icon>point_of_sale</mat-icon>
        <span i18n="@@nav.machines">Machines</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.CONFIGURATION_MACHINES_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">point_of_sale</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.machineDetails">Machine Details</span>
      </a>
    }
    @if (authService.actionAllowed("mresolverread")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.MACHINE_RESOLVER ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.MACHINE_RESOLVER]">
        <mat-icon>lan</mat-icon>
        <span i18n="@@common.machineResolver">Machine Resolver</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.MACHINE_RESOLVER_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">lan</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.machineResolver">Machine Resolver Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.MACHINE_RESOLVER_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-6">lan</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.createMachine">Create Machine Resolver</span>
      </a>
    }
    @if (authService.actionAllowed("eventhandling_read")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.EVENTS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EVENTS]">
        <mat-icon>flag</mat-icon>
        <span i18n="@@common.events">Events</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EVENTS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">flag</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.eventDetails">Event Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.EVENTS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-6">flag</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@nav.createEvent">Create Event</span>
      </a>
    }
    @if (authService.actionAllowed("periodictask_read")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.CONFIGURATION_PERIODIC_TASKS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.CONFIGURATION_PERIODIC_TASKS]">
        <mat-icon>event_repeat</mat-icon>
        <span i18n="@@common.periodicTasks">Periodic Tasks</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.CONFIGURATION_PERIODIC_TASKS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-3">event_repeat</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.periodicTaskDetails">Periodic Task Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.CONFIGURATION_PERIODIC_TASKS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-2">event_repeat</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.createPeriodic">Create Periodic Task</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.SETTINGS) {
      <a
        class="sub-nav-active"
        [routerLink]="[ROUTE_PATHS.SETTINGS]">
        <mat-icon>settings</mat-icon>
        <span i18n="@@common.uiSettings">UI Settings</span>
      </a>
    }
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "external_services") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    @if (authService.actionAllowed("smtpserver_read")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_SMTP ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_SMTP]">
        <mat-icon>email</mat-icon>
        <span i18n="@@nav.smtpServers">SMTP Servers</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_SMTP_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">email</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.smtpDetails">SMTP Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_SMTP_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-6">email</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.createSmtpServer">Create SMTP Server</span>
      </a>
    }
    @if (authService.actionAllowed("radiusserver_read")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_RADIUS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_RADIUS]">
        <mat-icon>vpn_lock</mat-icon>
        <span i18n="@@nav.radiusServers">RADIUS Servers</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_RADIUS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">vpn_lock</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.radiusDetails">RADIUS Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_RADIUS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-6">vpn_lock</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.createRadiusServer">Create RADIUS Server</span>
      </a>
    }
    @if (authService.actionAllowed("smtpserver_read")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_SMS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_SMS]">
        <mat-icon>sms</mat-icon>
        <span i18n="@@nav.smsGateways">SMS Gateways</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_SMS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">sms</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.smsGatewayDetails">SMS Gateway Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_SMS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-6">sms</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.createSmsGateway">Create SMS Gateway</span>
      </a>
    }
    @if (authService.actionAllowed("caconnectorread")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_CA_CONNECTORS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_CA_CONNECTORS]">
        <mat-icon>assured_workload</mat-icon>
        <span i18n="@@nav.caConnectors">CA Connectors</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_CA_CONNECTORS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">assured_workload</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.caConnectorDetails">CA Connector Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_CA_CONNECTORS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-6">assured_workload</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.createCaConnector">Create CA Connector</span>
      </a>
    }
    @if (authService.actionAllowed("privacyideaserver_read")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_PRIVACYIDEA ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_PRIVACYIDEA]">
        <mat-icon class="mdi--pi-logo"></mat-icon>
        <span i18n="@@nav.privacyideaServers">PrivacyIDEA Servers</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_PRIVACYIDEA_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="mdi--pi-logo padding-right-4"></mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.privacyideaServer">PrivacyIDEA Server Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_PRIVACYIDEA_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="mdi--pi-logo padding-right-6"></mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.createPrivacyidea">Create PrivacyIDEA Server</span>
      </a>
    }
    @if (authService.actionAllowed("tokengroup_list")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_TOKENGROUPS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_TOKENGROUPS]">
        <mat-icon>local_police</mat-icon>
        <span i18n="@@nav.tokengroups">Tokengroups</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_TOKENGROUPS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">local_police</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.tokengroupDetails">Tokengroup Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_TOKENGROUPS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-6">local_police</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.createTokengroup">Create Tokengroup</span>
      </a>
    }
    @if (authService.actionAllowed("serviceid_list")) {
      <a
        [ngClass]="contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_SERVICE_IDS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_SERVICE_IDS]">
        <mat-icon>storage</mat-icon>
        <span i18n="@@nav.serviceIds">Service IDs</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_SERVICE_IDS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">storage</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n="@@nav.serviceIdDetails">Service ID Details</span>
      </a>
    }
    @if (contentService.routePath() === ROUTE_PATHS.EXTERNAL_SERVICES_SERVICE_IDS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-6">storage</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n="@@common.createService">Create Service ID</span>
      </a>
    }
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}
