<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<!-- PRIMARY TOP BAR -->
<mat-toolbar class="primary-toolbar">
  <div class="toolbar-brand">
    <a
      [routerLink]="[landingPage()]"
      class="brand-link">
      @if (customLogo()) {
        <img
          alt="logo"
          class="toolbar-logo toolbar-logo-custom"
          height="48"
          ngSrc="{{ customLogo() }}"
          ngSrcset="1x"
          width="48" />
      } @else {
        <img
          alt="logo"
          class="toolbar-logo"
          height="48"
          ngSrc="assets/privacyIDEA1.png"
          ngSrcset="1x"
          width="48" />

        <img
          alt="logo-text"
          class="toolbar-logo-text margin-left-16"
          height="109"
          ngSrc="assets/logo-text.png"
          ngSrcset="1x"
          width="575" />
      }
    </a>
  </div>

  <nav
    class="main-nav"
    #mainNavRef>
    @for (item of visibleNavItems; track item.section) {
      <div
        class="nav-item"
        [attr.data-section]="item.section"
        [class.active]="activeSection() === item.section">
        <a
          [ngClass]="{ 'nav-active': activeSection() === item.section }"
          [routerLink]="[item.route]"
          class="nav-button">
          <mat-icon [ngClass]="item.iconClass || ''">{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      </div>
    }
    @if (overflowNavItems.length > 0) {
      <div
        class="nav-item"
        [class.active]="isOverflowSectionActive()">
        <button
          class="nav-button more-button"
          [matMenuTriggerFor]="overflowMenu"
          [ngClass]="{ 'nav-active': isOverflowSectionActive() }">
          <mat-icon>more_horiz</mat-icon>
          <span i18n>More</span>
        </button>
      </div>
      <mat-menu #overflowMenu="matMenu">
        @for (item of overflowNavItems; track item.section) {
          <button
            mat-menu-item
            [routerLink]="[item.route]"
            [ngClass]="{ 'overflow-item-active': activeSection() === item.section }">
            <mat-icon [ngClass]="item.iconClass || ''">{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </button>
        }
      </mat-menu>
    }
  </nav>

  <div class="toolbar-actions">
    <app-user-utils-panel></app-user-utils-panel>
  </div>
</mat-toolbar>

<!-- SECONDARY TOP BAR -->
<ng-template #footerText>
  @if (!customLogo()) {
    <div class="flex-column footer-text">
      <div
        class="footer-text-height"
        i18n>
        An open-source project
        <a
          href="https://netknights.it/"
          target="_blank"
          >maintained by NetKnights
        </a>
      </div>
      <div i18n>
        in collaboration with
        <a
          href="https://github.com/privacyidea/privacyidea"
          target="_blank"
          >community contributors
        </a>
      </div>
    </div>
    <div class="footer-icons">
      <button
        mat-icon-button
        (click)="openExternalLink('https://netknights.it/')"
        aria-label="NetKnights"
        i18n-aria-label
        i18n-matTooltip
        matTooltip="Maintained by NetKnights">
        <mat-icon class="mdi--netknights"></mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="openExternalLink('https://github.com/privacyidea/privacyidea')"
        aria-label="GitHub"
        i18n-aria-label
        i18n-matTooltip
        matTooltip="Community contributors on GitHub">
        <mat-icon class="mdi--github"></mat-icon>
      </button>
    </div>
  }
</ng-template>

<ng-template #supportDocs>
  <span class="spacer"></span>
  <button
    type="button"
    (click)="openSupport()"
    aria-label="Get enterprise support"
    i18n-aria-label
    matTooltip="Get enterprise support"
    i18n-matTooltip
    class="nav-button support-color docs-button-full">
    <mat-icon>support_agent</mat-icon>
    <span i18n>Support</span>
  </button>
  <button
    mat-icon-button
    (click)="openSupport()"
    aria-label="Get enterprise support"
    i18n-aria-label
    matTooltip="Get enterprise support"
    i18n-matTooltip
    class="support-color docs-button-icon">
    <mat-icon>support_agent</mat-icon>
  </button>
  <button
    type="button"
    (click)="documentationService.openDocumentation(contentService.routeUrl())"
    aria-label="Documentation"
    i18n-aria-label
    class="nav-button docs-button-full">
    <mat-icon>info_outline</mat-icon>
    <span i18n>Documentation</span>
  </button>
  <button
    mat-icon-button
    (click)="documentationService.openDocumentation(contentService.routeUrl())"
    aria-label="Documentation"
    i18n-aria-label
    matTooltip="Documentation"
    i18n-matTooltip
    class="docs-button-icon">
    <mat-icon>info_outline</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="openExternalLink('https://hosted.weblate.org/projects/privacyidea/privacyidea-webui-next/')"
    aria-label="Help translate"
    i18n-aria-label
    matTooltip="Help translate this interface on Weblate"
    i18n-matTooltip>
    <mat-icon>translate</mat-icon>
  </button>
  <span class="version-text">
    <span class="version-prefix">
      {{ versionPrefix() }}
    </span>
    {{ this.versioningService.version() }}
  </span>
  <span
    class="beta-badge margin-right-16"
    i18n
    >Beta
  </span>
</ng-template>

@if (activeSection() === "dashboard") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    <div class="flex gap-8 margin-left-4">
      @if (dashboardLayoutService.editMode()) {
        <button
          mat-stroked-button
          type="button"
          class="action-button-primary button-width-s"
          (click)="saveDashboard()">
          <mat-icon>save</mat-icon>
          <span i18n>Save</span>
        </button>
        <button
          mat-stroked-button
          type="button"
          class="action-button-delete-secondary button-width-s"
          (click)="cancelDashboard()">
          <mat-icon>cancel</mat-icon>
          <span i18n>Cancel</span>
        </button>
        <app-widget-palette />
      } @else {
        <button
          mat-stroked-button
          type="button"
          class="action-button-primary button-width-m"
          (click)="enterDashboardEdit()">
          <mat-icon>edit</mat-icon>
          <span i18n>Edit Dashboard</span>
        </button>
      }
    </div>
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "token") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    <a
      [ngClass]="contentService.routeUrl() === ROUTE_PATHS.TOKENS ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.TOKENS]">
      <mat-icon class="ms--shield-list"></mat-icon>
      <span i18n>Overview</span>
    </a>
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.TOKENS_DETAILS)) {
      <a class="sub-nav-active">
        <mat-icon>privacy_tip</mat-icon>
        <span i18n>Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.TOKENS_ENROLLMENT) {
      <a class="sub-nav-active">
        <mat-icon>add_moderator</mat-icon>
        <span i18n>Enrollment</span>
      </a>
    }
    @if (authService.actionAllowed("importtokens")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.TOKENS_IMPORT ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.TOKENS_IMPORT]">
        <mat-icon>input</mat-icon>
        <span i18n>Import</span>
      </a>
    }
    @if (authService.actionAllowed("getchallenges")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.TOKENS_CHALLENGES ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.TOKENS_CHALLENGES]">
        <mat-icon>cached</mat-icon>
        <span i18n>Challenges</span>
      </a>
    }
    @if (authService.actionsAllowed(["machinelist", "manage_machine_tokens"])) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.TOKENS_APPLICATIONS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.TOKENS_APPLICATIONS]">
        <mat-icon>now_widgets</mat-icon>
        <span i18n>Applications</span>
      </a>
    }
    <a
      [ngClass]="contentService.routeUrl() === ROUTE_PATHS.TOKENS_GET_SERIAL ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.TOKENS_GET_SERIAL]">
      <mat-icon>policy</mat-icon>
      <span i18n>Find Token</span>
    </a>
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "container") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    <a
      [ngClass]="contentService.routeUrl() === ROUTE_PATHS.CONTAINERS ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.CONTAINERS]">
      <mat-icon class="mdi--folder-list"></mat-icon>
      <span i18n>Overview</span>
    </a>
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.CONTAINERS_DETAILS)) {
      <a class="sub-nav-active">
        <mat-icon>source</mat-icon>
        <span i18n>Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.CONTAINERS_CREATE) {
      <a class="sub-nav-active">
        <mat-icon>create_new_folder</mat-icon>
        <span i18n>Create</span>
      </a>
    }
    @if (authService.oneActionAllowed(["container_template_list", "container_template_create"])) {
      <a
        [ngClass]="contentService.onContainersTemplates() ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.CONTAINERS_TEMPLATES]">
        <mat-icon>plagiarism</mat-icon>
        <span i18n>Templates</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.CONTAINERS_TEMPLATES_DETAILS)) {
      <a class="sub-nav-active">
        <mat-icon>plagiarism</mat-icon>
        <span i18n>Template Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.CONTAINERS_TEMPLATES_CREATE) {
      <a class="sub-nav-active">
        <mat-icon>note_add</mat-icon>
        <span i18n>Create Template</span>
      </a>
    }
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "users") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    <a
      [ngClass]="contentService.routeUrl() === ROUTE_PATHS.USERS ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.USERS]">
      <mat-icon class="ms--person-list"></mat-icon>
      <span i18n>Overview</span>
    </a>
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.USERS_DETAILS)) {
      <a
        href="javascript:void(0)"
        class="sub-nav-active"
        data-overflow-child>
        <mat-icon>manage_accounts</mat-icon>
        <span i18n>User Details</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.USERS_NEW)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <mat-icon>person_add</mat-icon>
        <span i18n>Create User</span>
      </a>
    }
    <a
      [ngClass]="contentService.routeUrl() === ROUTE_PATHS.USERS_RESOLVERS ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.USERS_RESOLVERS]">
      <mat-icon class="ms--database"></mat-icon>
      <span i18n>Resolvers</span>
    </a>
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.USERS_RESOLVERS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <mat-icon class="ms--database"></mat-icon>
        <span i18n>Resolver Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.USERS_RESOLVERS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <mat-icon>add</mat-icon>
        <span i18n>Create Resolver</span>
      </a>
    }
    <a
      [ngClass]="contentService.routeUrl() === ROUTE_PATHS.USERS_REALMS ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.USERS_REALMS]">
      <mat-icon>public</mat-icon>
      <span i18n>Realms</span>
    </a>
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "policies") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    <a
      [ngClass]="contentService.routeUrl() === ROUTE_PATHS.POLICIES ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.POLICIES]">
      <mat-icon>gavel</mat-icon>
      <span i18n>Overview</span>
    </a>
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.POLICIES_DETAILS)) {
      <a class="sub-nav-active">
        <span class="icon-badge">
          <mat-icon class="padding-right-4">gavel</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n>Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.POLICIES_NEW) {
      <a class="sub-nav-active">
        <span class="icon-badge icon-badge-right-3">
          <mat-icon class="padding-right-4">gavel</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n>Create</span>
      </a>
    }
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "subscription") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    <a
      [ngClass]="contentService.routeUrl() === ROUTE_PATHS.SUBSCRIPTION ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.SUBSCRIPTION]">
      <mat-icon>event_repeat</mat-icon>
      <span i18n>Overview</span>
    </a>
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "audit") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    @if (authService.actionAllowed("auditlog")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.AUDIT ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.AUDIT]">
        <mat-icon>list_alt</mat-icon>
        <span i18n>Log</span>
      </a>
    }
    @if (authService.actionAllowed("clienttype")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.CLIENTS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.CLIENTS]">
        <mat-icon>recent_actors</mat-icon>
        <span i18n>Known Clients</span>
      </a>
    }
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "config") {
  <mat-toolbar
    class="secondary-toolbar"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    @if (authService.actionAllowed("configread")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.CONFIGURATION_SYSTEM ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.CONFIGURATION_SYSTEM]">
        <mat-icon>build</mat-icon>
        <span i18n>System</span>
      </a>
    }
    <a
      [ngClass]="contentService.routeUrl() === ROUTE_PATHS.CONFIGURATION_TOKENTYPES ? 'sub-nav-active' : ''"
      [routerLink]="[ROUTE_PATHS.CONFIGURATION_TOKENTYPES]">
      <mat-icon>safety_check</mat-icon>
      <span i18n>Tokentypes</span>
    </a>
    @if (authService.actionAllowed("machinelist")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.CONFIGURATION_MACHINES ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.CONFIGURATION_MACHINES]">
        <mat-icon>point_of_sale</mat-icon>
        <span i18n>Machines</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.CONFIGURATION_MACHINES_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <mat-icon>point_of_sale</mat-icon>
        <span i18n>Machine Details</span>
      </a>
    }
    @if (authService.actionAllowed("mresolverread")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.MACHINE_RESOLVER ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.MACHINE_RESOLVER]">
        <mat-icon>lan</mat-icon>
        <span i18n>Machine Resolver</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.MACHINE_RESOLVER_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon>lan</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n>Machine Resolver Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.MACHINE_RESOLVER_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon>lan</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n>Create Machine Resolver</span>
      </a>
    }
    @if (authService.actionAllowed("eventhandling_read")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.EVENTS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EVENTS]">
        <mat-icon>flag</mat-icon>
        <span i18n>Events</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EVENTS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">flag</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n>Event Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.EVENTS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-2">flag</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n>Create Event</span>
      </a>
    }
    @if (authService.actionAllowed("periodictask_read")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.CONFIGURATION_PERIODIC_TASKS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.CONFIGURATION_PERIODIC_TASKS]">
        <mat-icon>event_repeat</mat-icon>
        <span i18n>Periodic Tasks</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.CONFIGURATION_PERIODIC_TASKS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon>event_repeat</mat-icon>
          <mat-icon class="icon-badge-overlay">settings</mat-icon>
        </span>
        <span i18n>Periodic Task Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.CONFIGURATION_PERIODIC_TASKS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon>event_repeat</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n>Create Periodic Task</span>
      </a>
    }
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}

@if (activeSection() === "external_services") {
  <mat-toolbar
    class="secondary-toolbar icon-badge-right-2"
    appOverflowNav>
    <ng-container *ngTemplateOutlet="footerText"></ng-container>
    @if (authService.actionAllowed("smtpserver_read")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_SMTP ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_SMTP]">
        <mat-icon>email</mat-icon>
        <span i18n>SMTP Servers</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_SMTP_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">email</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-right-1">settings</mat-icon>
        </span>
        <span i18n>SMTP Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_SMTP_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-2">email</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n>Create SMTP Server</span>
      </a>
    }
    @if (authService.actionAllowed("radiusserver_read")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_RADIUS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_RADIUS]">
        <mat-icon>vpn_lock</mat-icon>
        <span i18n>RADIUS Servers</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_RADIUS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">vpn_lock</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-right-1">settings</mat-icon>
        </span>
        <span i18n>RADIUS Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_RADIUS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-2">vpn_lock</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n>Create RADIUS Server</span>
      </a>
    }
    @if (authService.actionAllowed("smtpserver_read")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_SMS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_SMS]">
        <mat-icon>sms</mat-icon>
        <span i18n>SMS Gateways</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_SMS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">sms</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-right-1">settings</mat-icon>
        </span>
        <span i18n>SMS Gateway Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_SMS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-2">sms</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n>Create SMS Gateway</span>
      </a>
    }
    @if (authService.actionAllowed("caconnectorread")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_CA_CONNECTORS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_CA_CONNECTORS]">
        <mat-icon>assured_workload</mat-icon>
        <span i18n>CA Connectors</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_CA_CONNECTORS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-2">assured_workload</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-right-1">settings</mat-icon>
        </span>
        <span i18n>CA Connector Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_CA_CONNECTORS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-2">assured_workload</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n>Create CA Connector</span>
      </a>
    }
    @if (authService.actionAllowed("privacyideaserver_read")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_PRIVACYIDEA ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_PRIVACYIDEA]">
        <mat-icon class="mdi--pi-logo"></mat-icon>
        <span i18n>PrivacyIDEA Servers</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_PRIVACYIDEA_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="mdi--pi-logo padding-right-4"></mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-right-1">settings</mat-icon>
        </span>
        <span i18n>PrivacyIDEA Server Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_PRIVACYIDEA_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="mdi--pi-logo padding-right-2"></mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n>Create PrivacyIDEA Server</span>
      </a>
    }
    @if (authService.actionAllowed("tokengroup_list")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_TOKENGROUPS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_TOKENGROUPS]">
        <mat-icon>local_police</mat-icon>
        <span i18n>Tokengroups</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_TOKENGROUPS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">local_police</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-right-1">settings</mat-icon>
        </span>
        <span i18n>Tokengroup Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_TOKENGROUPS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-2">local_police</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n>Create Tokengroup</span>
      </a>
    }
    @if (authService.actionAllowed("serviceid_list")) {
      <a
        [ngClass]="contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_SERVICE_IDS ? 'sub-nav-active' : ''"
        [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_SERVICE_IDS]">
        <mat-icon>storage</mat-icon>
        <span i18n>Service IDs</span>
      </a>
    }
    @if (contentService.routeUrl().startsWith(ROUTE_PATHS.EXTERNAL_SERVICES_SERVICE_IDS_DETAILS)) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-4">storage</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-right-1">settings</mat-icon>
        </span>
        <span i18n>Service ID Details</span>
      </a>
    }
    @if (contentService.routeUrl() === ROUTE_PATHS.EXTERNAL_SERVICES_SERVICE_IDS_NEW) {
      <a
        class="sub-nav-active"
        data-overflow-child>
        <span class="icon-badge">
          <mat-icon class="padding-right-2">storage</mat-icon>
          <mat-icon class="icon-badge-overlay icon-badge-bold">add</mat-icon>
        </span>
        <span i18n>Create Service ID</span>
      </a>
    }
    <ng-container *ngTemplateOutlet="supportDocs"></ng-container>
  </mat-toolbar>
}
