<div class="user-container">
  <table [dataSource]="userData()" aria-label="User Detail Data Table"
         class="user-details-table"
         mat-table>
    <ng-container matColumnDef="key">
      <td *matCellDef="let element" class="details-key-row"
          mat-cell>{{ element.keyMap.label }}
      </td>
    </ng-container>
    <ng-container matColumnDef="value">
      <td *matCellDef="let element" class="user-editable-row fix-width-18-padr-0" mat-cell>
        @if (isEditingUser() && element.keyMap.key === "username" && selectedUserRealm() !== '') {
          <mat-form-field>
            <mat-label>Select User</mat-label>
            <input matInput
                   [(ngModel)]="selectedUsername"
                   [matAutocomplete]="userAuto">
            <mat-autocomplete autoActiveFirstOption
                              #userAuto="matAutocomplete">
              @for (option of filteredUserOptions(); track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        } @else if (isEditingUser() && element.keyMap.key === "user_realm") {
          <mat-form-field>
            <mat-label>Select Realm of User</mat-label>
            <mat-select [(ngModel)]="selectedUserRealm">
              @for (option of realmOptions(); track option; ) {
                <mat-option value="{{ option }}">{{ option }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        } @else {
          {{ element.value }}
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <td *matCellDef="let element" class="edit-column-cell" mat-cell>
        @if (element.keyMap.key === "username" && !(isAnyEditing() && !isEditingUser())) {
          @if (element.value) {
            <div class="edit-button-container">
              <button mat-icon-button class="yellow"
                      (click)="unassignUser()">
                <mat-icon class="mat-icon-button">person_remove</mat-icon>
              </button>
            </div>
          } @else {
            <app-edit-buttons [toggleEditMode]="toggleUserEditMode.bind(this)"
                              [isAnyEditing]="isAnyEditing"
                              [isEditingUser]="isEditingUser"
                              [isEditingInfo]="isEditingInfo"
                              [element]="element">
            </app-edit-buttons>
          }
        }
      </td>
    </ng-container>
    <tr *matRowDef="let row; columns: ['key', 'value', 'edit'];" mat-row></tr>
  </table>
  <div class="user-pin-container">
    <div class="user-pin-input">
      <input style="display:none" type="text"/>
      <input style="display:none" type="password"/>
      <input [(ngModel)]="setPinValue"
             [type]="'password'" class="input"
             placeholder="Token Pin">
      <input [(ngModel)]="repeatPinValue"
             [type]="'password'" class="input"
             placeholder="Repeat Pin">
    </div>
    <div class="user-pin-button">
      @if (!isEditingUser()) {
        <button class="detail-button" extended mat-fab (click)="setPin()">
          <mat-icon class="detail-button-icon">password</mat-icon>
          Set Pin
        </button>
        <button class="detail-button" extended mat-fab (click)="setRandomPin()">
          <mat-icon class="detail-button-icon">casino</mat-icon>
          Random Pin
        </button>
      } @else {
        <button class="card-button-activate" extended mat-fab
                (click)="toggleUserEditMode(null, '', 'save')">
          <mat-icon class="detail-button-icon">save</mat-icon>
          Assign User
        </button>
        <br style="margin-bottom: 40px">
      }
    </div>
    <br/>
    <mat-divider/>
  </div>
</div>
