:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
}

.actions-otp-pin-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.actions-visibility-button {
  display: flex;
}

.actions-pin-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
