@use "theme";

$button-height: 40px;
$button-width: 240px;
$keyword-height: 28px;
$keyword-padding: 2px 8px;
$button-gap-small: 10px;
$padding-horizontal: 16px;
$margin-bottom-small: 0;
$button-border-radius: var(--border-radius);
$profile-bg: var(--background-yellow);
$profile-hover-bg: var(--background-yellow-inset);
$button-focus-outline: theme.$focus-outline;

$grad-surface: linear-gradient(145deg, var(--mat-sys-surface-container), var(--mat-sys-surface-container-low));
$grad-surface-hover: linear-gradient(
  145deg,
  var(--mat-sys-surface-container-lowest),
  var(--mat-sys-surface-container-low)
);

$background-low-contrast: linear-gradient(
  145deg,
  var(--mat-sys-surface-container-highest),
  var(--mat-sys-surface-container-low)
);

$button-low-contrast-variant: linear-gradient(
  145deg,
  var(--mat-sys-surface-container-low),
  var(--mat-sys-surface-container-highest)
);

@mixin button-base($height, $width, $background-color, $border-color, $color) {
  height: $height;
  width: $width;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: $background-color !important;
  border-color: $border-color !important;
  color: $color !important;
  justify-content: start;
  display: flex;

  &:disabled {
    color: #909090 !important;
  }
}

@mixin hover-or-active($bg, $shadow, $translate: false) {
  &:hover,
  &.active {
    background: $bg;
    box-shadow: $shadow;

    @if $translate == true {
      transform: translateY(2px);
    }
  }
}

@mixin card-button-variant($background-color, $border-color, $color) {
  @include button-base(
    $height: $button-height,
    $width: $button-width,
    $background-color: $background-color,
    $border-color: $border-color,
    $color: $color
  );
}
