$input-height: 40px;
$input-width: 107px;
$focus-outline: 3px solid var(--blue-light);

.input {
  height: $input-height;
  width: $input-width;
  border-radius: var(--border-radius);
  outline: none;

  &:focus {
    outline: $focus-outline;
  }
}
