html, body {
  height: 100%;
  background: #e6e6e6;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --blue1: #16536F;
  --blue2: #1a6081;
  --blue2-light: #1f7299;
  --blue3-light: #0b83af;
  --blue3: #0b7aa2;
  --blur: 10px;
  --border-radius: 3px;
  --light-distance: -4px;
  --shadow-distance: 4px;
  --font-size: 12px;
  --background-primary: linear-gradient(145deg, var(--blue2-light), var(--blue2));
  --background-primary-inset: linear-gradient(145deg, var(--blue2), var(--blue2-light));
  --background-green: linear-gradient(145deg, #a4cc00, #8aac00);
  --background-yellow: linear-gradient(145deg, #E38D13, #F2B968);
  --background-secondary: linear-gradient(145deg, white, #e6e6e6);
  --background-secondary-inset: linear-gradient(145deg, #c8c8c8, white);
  --background-blue: linear-gradient(145deg, var(--blue2), var(--blue2-light));
  --background-blue-inset: linear-gradient(145deg, var(--blue3-light), var(--blue3));
  --box-shadow: var(--shadow-distance) var(--shadow-distance) var(--blur) #b5b5b5, var(--light-distance) var(--light-distance) var(--blur) white;
  --box-shadow-inset: inset var(--shadow-distance) var(--shadow-distance) var(--blur) #b5b5b5, inset var(--light-distance) var(--light-distance) var(--blur) white;
  --box-shadow-blue: inset 4px 4px 8px var(--blue2-light), inset -8px -8px 16px var(--blue2);
  --box-shadow-blue-inset: inset 4px 4px var(--blur) var(--blue2), inset -1px -1px 6px white;
  --table-color: white;
  --mdc-filled-text-field-container-color: #f3f3f3;
  --mdc-tab-indicator-active-indicator-color: var(--blue1);
  --mdc-filled-text-field-focus-active-indicator-color: var(--blue1);
  --mat-tab-header-active-focus-indicator-color: var(--blue1);
  --mat-tab-header-active-ripple-color: white;
  --mat-tab-header-inactive-ripple-color: white;
}
