table {
  width: 100%;
  background-color: var(--table-color);
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: var(--blue1);
}

td:nth-child(even) {
  background: #f3f3f3;
}

th:nth-child(even) {
  background: #f3f3f3;
}

.item-table {
  justify-content: center;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--table-color);
}

.ng-tns-c508571215-2 {
  color: dimgray;
}

.mat-mdc-form-field {
  font-size: var(--font-size);
  color: var(--blue1);
  width: 60%;
}

.mat-mdc-paginator {
  background-color: var(--table-color);
}

.filter-paginator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.highlight-true {
  background-color: #9ABF00;
  border-radius: 4px;
  padding: 2px 6px;
  color: white;
  display: inline-block;
}

.highlight-false {
  background-color: #bf003a;
  border-radius: 4px;
  padding: 2px 6px;
  color: white;
  display: inline-block;
}

span {
  font-size: 12px;
  margin-right: 20px;
  margin-left: auto;
}

.filter-text {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.keyword-span {
  background-color: #e2e2e2;
  border-radius: var(--border-radius);
  padding: 2px 8px;
  height: 28px;
  margin: 3px;
  box-shadow: none;
}

.filter-button-icon {
  font-size: 18px;
  vertical-align: bottom;
  margin-bottom: -6px;
  margin-right: -1px;
}

.add-icon {
  color: #999999;
}

.keyword-span:hover .add-icon {
  color: #9ABF00;
}

.remove-icon {
  color: #bf003a;
}

.filter-icon {
  display: inline-flex;
  vertical-align: bottom;
  margin-right: -3px;
  font-size: 22px !important;
}
