table {
  background-color: var(--table-color);
}

a {
  font-size: 14px;
  text-decoration: none;
  color: var(--blue-base);
  cursor: pointer;
}

td:nth-child(even) {
  background: #f3f3f3;
}

th:nth-child(even) {
  background: #f3f3f3;
}

.item-table {
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--table-color);
}

.item-table th,
.item-table td {
  border: 1px solid #E0E2EC;
}

.ng-tns-c508571215-2 {
  color: dimgray;
}

.mat-mdc-form-field {
  font-size: var(--font-size);
  color: var(--blue-base);
  width: 100%;
}

.mat-mdc-paginator {
  background-color: var(--table-color);
}

.filter-paginator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.highlight-true {
  background-color: var(--green-light);
  border-radius: 4px;
  padding: 2px 6px;
  color: white;
  display: inline-block;
}

.highlight-warning {
  background-color: var(--yellow-light-active);
  border-radius: 4px;
  padding: 2px 6px;
  color: white;
  display: inline-block;
}

.highlight-false {
  background-color: var(--red-light);
  border-radius: 4px;
  padding: 2px 6px;
  color: white;
  display: inline-block;
}

.highlight-true-clickable {
  background-color: var(--green-light);
  border-radius: 4px;
  padding: 2px 6px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.highlight-warning-clickable {
  background-color: var(--yellow-light-active);
  border-radius: 4px;
  padding: 2px 6px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.highlight-false-clickable {
  background-color: var(--red-light);
  border-radius: 4px;
  padding: 2px 6px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

span {
  font-size: 12px;
}

.filter-text {
  padding: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.keyword-button {
  background-color: #f3f3f3;
  border-radius: var(--border-radius);
  padding: 2px 8px;
  height: 28px;
  margin: 3px;
  box-shadow: none;
}

.keyword-button:hover .add-icon {
  color: var(--green-light);
}

.filter-button-icon {
  font-size: 18px;
  vertical-align: bottom;
  margin-bottom: -6px;
  margin-right: -1px;
}

.add-icon {
  color: #999999;
}

.remove-icon {
  color: var(--red-light);
}

.filter-icon {
  display: inline-flex;
  vertical-align: bottom;
  margin-right: -3px;
  font-size: 22px !important;
}

.object-row {
  display: flex;
  height: auto;
}

.object-item {
  font-size: 12px;
  max-width: 200px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.edit-button {
  display: flex;
  color: black;
  background-color: white;
  cursor: pointer;
}

.cancel-button {
  color: var(--red-base);
  background-color: white;
  cursor: pointer;
}

.mat-divider {
  border-top-color: #E0E2EC;
}

::ng-deep .cdk-overlay-pane {
  position: absolute !important;
  z-index: 9999;
}
