@import '../../../../../styles/styles.scss';

.container-details-token-table-container {
  @include base-table-structure(".container-details-token-table", ".container-details-token-table-filter", ".table-scrollable-container");

  .container-details-token-table-filter {
    width: 36rem;
  }

  .container-details-token-table {
    width: 36rem;
  }

  .container-details-action-row {
    padding: 0 1rem 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .container-details-action-column {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
}
