.tabs-row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--global-gap);
  margin-top: var(--half-global-padding);
  align-items: flex-start;
}

.flex-ratio-3 {
  flex: 3 1 0;
  min-width: 0;
}

.flex-ratio-5 {
  flex: 5 1 0;
  min-width: 0;
}
