<!--
  (c) NetKnights GmbH 2026,  https://netknights.it

  This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
 -->

<!-- <div class="priority-description">
        <app-policy-priority
        [editMode]="isEditMode()"
        [priority]="currentPolicy().priority"
          (priorityChange)="updatePolicyPriority($event)" />
          <app-policy-description
          [isEditMode]="isEditMode()"
          [policy]="currentPolicy()"
          (policyEdit)="addPolicyEdit($event)" />
        </div> -->
<!-- @if (isEditMode() || currentPolicyHasConditions()) {
        <div class="tab-buttons">
          <button
            mat-stroked-button
            class="action-button-1"
            [class.action-button-active]="activeTab() === 'actions'"
            (click)="setActiveTab('actions')">
            ACTIONS
          </button>
          <button
            mat-stroked-button
            class="action-button-1"
            [class.action-button-active]="activeTab() === 'conditions'"
            (click)="setActiveTab('conditions')">
            CONDITIONS
          </button>
        </div>
      } -->
<div class="tabs-row-container">
  <app-action-tab
    class="flex-ratio-2"
    [isEditMode]="false"
    [policy]="policy()" />

  <app-conditions-tab
    class="flex-ratio-1"
    [isEditMode]="false"
    [policy]="policy()" />
</div>
