.action-selector-container {
  background-color: var(--mat-sys-surface);
  border-radius: var(--quarter-global-padding);
  box-shadow: var(--mat-sys-level2);
  color: var(--mat-sys-on-surface);
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
  min-width: 0;
  padding: var(--three-quarters-global-padding);
}

.search-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  padding: var(--half-global-padding) 0;
  width: 100%;
}

.search-input:focus {
  border-bottom-color: var(--mat-sys-primary);
  outline: none;
}

.selected-button {
  background-color: var(--mat-sys-primary-base);
  color: var(--mat-sys-on-primary);
  font-weight: 600;
}

.button-item:not(.last-button) {
  border-right: 1px solid var(--mat-sys-outline);
}

.add-action-details {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 2);
  max-height: 32rem;
  overflow-y: none;
  padding-right: var(--half-global-padding);
}

.policy-action-items {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.policy-action-item {
  align-items: center;
  border-radius: var(--quarter-global-padding);
  box-shadow: var(--mat-sys-level1);
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  margin: var(--half-global-padding);
  padding: var(--half-global-padding) var(--three-quarters-global-padding);
  background-color: var(--mat-sys-surface-container-low);
}

.policy-action-item:hover {
  background-color: var(--mat-sys-primary-light);
  color: var(--mat-sys-on-primary);
  cursor: pointer;
  font-size: 600;
}

.policy-action-item-selected {
  background-color: var(--mat-sys-primary-base);
  color: var(--mat-sys-on-primary);
  font-weight: 600;
}
