<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="action-selector-container">
  <input
    type="text"
    placeholder="Search action ..."
    [ngModel]="policyService.actionFilter()"
    (ngModelChange)="testngModelChange($event)"
    class="search-input" />
  @if (policyService.policyActionGroupNames().length > 1) {
    <app-selector-buttons
      [values]="policyService.policyActionGroupNames()"
      [initialValue]="policyService.selectedActionGroup()"
      (onSelect)="policyService.selectedActionGroup.set($event)" />
  }
  <div class="add-action-details">
    <div class="policy-action-items">
      @for (actionName of policyService.actionNamesOfSelectedGroup(); track actionName) {
        <div
          class="policy-action-item"
          [class.policy-action-item-selected]="policyService.selectedAction()?.name === actionName"
          (click)="policyService.selectActionByName(actionName)">
          <span class="detail-label">{{ actionName }}</span>
        </div>
      }
    </div>
  </div>
</div>
