<div class="action-selector-container">
  <input
    type="text"
    placeholder="Search action..."
    [ngModel]="policyService.actionFilter()"
    (ngModelChange)="policyService.actionFilter.set($event)"
    class="search-input" />
  @if (policyService.policyActionGroupNames().length > 1) {
    <app-selector-buttons
      [values]="policyService.policyActionGroupNames()"
      [initialValue]="policyService.selectedActionGroup()"
      (onSelect)="policyService.selectedActionGroup.set($event)" />
  }
  <div class="add-action-details">
    <div class="policy-action-items">
      @for (actionName of policyService.getActionNamesOfSelectedGroup(); track actionName) {
        <div
          class="policy-action-item"
          [class.policy-action-item-selected]="policyService.selectedAction()?.name === actionName"
          (click)="policyService.selectActionByName(actionName)">
          <span class="detail-label">{{ actionName }}</span>
        </div>
      }
    </div>
  </div>
</div>
