@use "@angular/material" as mat;

$button-height: 40px;
$button-width: 240px;
$keyword-height: 28px;
$keyword-padding: 2px 8px;
$button-gap-small: 10px;
$padding-horizontal: 16px;
$margin-bottom-small: 0;
$keyword-font-size: 18px;
$button-border-radius: var(--border-radius);
$profile-bg: var(--background-yellow);
$profile-hover-bg: var(--background-yellow-inset);

$grad-surface: linear-gradient(145deg, var(--mat-sys-surface-container), var(--mat-sys-surface-container-low));
$grad-surface-hover: linear-gradient(
                145deg,
                var(--mat-sys-surface-container-lowest),
                var(--mat-sys-surface-container-low)
);

$background-low-contrast: linear-gradient(
                145deg,
                var(--mat-sys-surface-container-highest),
                var(--mat-sys-surface-container-low)
);

$button-low-contrast-variant: linear-gradient(
                145deg,
                var(--mat-sys-surface-container-low),
                var(--mat-sys-surface-container-highest)
);

@mixin button-base($height, $width, $background-color, $border-color, $color) {
  height: $height;
  width: $width;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: $background-color !important;
  border-color: $border-color !important;
  color: $color !important;
  justify-content: start;
  display: flex;

  &:disabled {
    color: #909090 !important;
  }
}

@mixin hover-or-active($bg, $shadow, $translate: false) {
  &:hover,
  &.active {
    background: $bg;
    box-shadow: $shadow;

    @if $translate == true {
      transform: translateY(2px);
    }
  }
}

@mixin card-button-variant($background-color, $border-color, $color) {
  @include button-base(
          $height: $button-height,
          $width: $button-width,
          $background-color: $background-color,
          $border-color: $border-color,
          $color: $color
  );
}

%linkish-btn {
  text-decoration: none;
  padding: 10px;
  border-radius: $button-border-radius;
}

%keyword-chip {
  background-color: var(--mat-sys-surface-container-low);
  border-radius: $button-border-radius;
  height: $keyword-height;
  margin: 3px;
  box-shadow: none;
  color: var(--mat-sys-on-surface-variant);
}

.login-btn {
  @extend %linkish-btn;
  color: var(--mat-sys-on-primary);
  background: var(--mat-sys-primary);

  @include hover-or-active(var(--background-blue-inset), var(--box-shadow-blue-inset), true);
}

.passkey-btn,
.reset-btn {
  @extend %linkish-btn;
  color: var(--mat-sys-on-surface-variant);
  background: $grad-surface;

  @include hover-or-active($grad-surface-hover, var(--box-shadow-inset), true);
}

.login-actions {
  display: flex;
  gap: 16px;
  width: 100%;

  > .login-btn {
    flex: 7;
    min-width: 0;
  }

  > .reset-btn {
    flex: 3;
    min-width: 0;
  }
}

.mat-mdc-outlined-button.card-button-1,
.mat-mdc-outlined-button[class*="card-button-1"] {
  --mat-outlined-button-state-layer-color: var(--mat-sys-surface-container-highest);
  --mat-outlined-button-ripple-color: var(--mat-sys-surface-container-high);
  --mdc-ripple-color: var(--mat-sys-surface-container-high);
}

.mat-mdc-outlined-button[class*="card-button-active"] {
  --mdc-ripple-color: var(--mat-sys-surface-container-lowest);
}

.mat-mdc-outlined-button[class*="card-button-support"] {
  --mat-outlined-button-state-layer-color: var(--mint-bg);
  --mat-outlined-button-ripple-color: var(--mint-bg);
  --mdc-ripple-color: var(--mat-sys-surface-container-lowest);

  &:hover {
    background-color: var(--mint-bg) !important;
  }
}

.card-button-1 {
  @include card-button-variant(
                  var(--mat-sys-surface-container),
                  var(--mat-sys-surface-container-highest),
                  var(--mat-sys-on-surface-variant)
  );
}

.card-button-active {
  @include card-button-variant(var(--sky-bg), var(--mat-sys-primary), var(--mat-sys-primary));
}

.card-button-support {
  @include card-button-variant(
                  var(--mat-sys-surface-container-lowest),
                  var(--green-brand-light),
                  var(--green-brand-light)
  );
}

.card-button-docs {
  @include card-button-variant(var(--mat-sys-surface-container-lowest), var(--mat-sys-primary), var(--mat-sys-primary));
}

.mat-unthemed.mat-mdc-button-base[class^="card-button-1"],
.mat-unthemed.mat-mdc-button-base[class*=" card-button"] {
  min-width: $button-width;

  mat-icon.mat-icon.notranslate.material-icons {
    font-size: 20px;
  }
}

.keyword-button {
  @extend %keyword-chip;
  padding: $keyword-padding;

  &:hover .add-keyword {
    color: var(--green-light);
  }
}

.more-keyword-button {
  @extend %keyword-chip;
  padding: 0 0 0 8px;
}

.keyword-button-icon {
  font-size: $keyword-font-size;
  vertical-align: bottom;
  margin-right: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.add-keyword {
  color: var(--grey-light-active);
}

.remove-keyword {
  color: var(--red-light);
}

.change-keyword {
  color: var(--yellow-light);
}

.delete-buttons-container {
  display: flex;
  flex-direction: column;
  gap: $button-gap-small;
  padding: 0 $padding-horizontal;
}

.delete-info-button {
  margin: 10px 4px 0 4px;
}

.refresh-btn {
  height: $button-height;
  width: $button-height;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  color: var(--mat-sys-on-surface-variant);
  box-shadow: none !important;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--mat-sys-surface-container);
  }
}

.logout-btn {
  color: var(--mat-sys-on-surface-variant);
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  margin-left: 16px;

  &:hover {
    background-color: var(--mat-sys-surface-container);
  }
}

.enroll-button-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: var(--global-gap);
  flex: 1;
}

.enroll-button-spacer {
  width: $button-height;
  height: $button-height;
}

.drawer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mat-sys-surface-container-lowest);
  height: 48px;
  width: 48px;
  color: var(--mat-sys-on-surface);
  border-radius: var(--border-radius);
  @include mat.elevation(5);
}

.back-button {
  @extend .drawer-button;
  margin: 32px 16px 0 16px;

  &:hover {
    @include mat.elevation(8);
  }
}

.mdi--folder-list {
  display: inline-block;
  width: 1.7em !important;
  height: 1.7em !important;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 28'%3E%3Cpath fill='%23000' d='M 8 4 l 2 2 h 6 a 2 2 0 0 1 2 2 v 8 c -0.033 1.502 -0.545 1.996 -2 2 H 3 a 2 2 0 0 1 -2 -2 V 6 c 0 -1.11 0.89 -2 2 -2 z M 20 6 h 14 v 2 H 20 V 6 M 20 10 h 9 v 2 H 20 V 10 M 20 14 h 7 v 2 H 20 v -2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ms--person-list {
  display: inline-block;
  width: 1.7em !important;
  height: 1.7em !important;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 28'%3E%3Cpath fill='%23000' d='M 10 7 a 3 3 0 1 1 0 7 a 3 3 0 1 1 0 -7 M 3 22 v -2 c 0 -3.3 4.7 -5 7 -5 s 7 1.7 7 5 v 2 Z M 18 9 h 14 v 2 H 18 V 9 M 18 13 h 9 v 2 H 18 V 13 M 18 17 h 7 v 2 H 18 v -2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ms--database {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath fill='currentColor' d='M480-120q-151 0-255.5-46.5T120-280v-400q0-66 105.5-113T480-840q149 0 254.5 47T840-680v400q0 67-104.5 113.5T480-120Zm0-479q89 0 179-25.5T760-679q-11-29-100.5-55T480-760q-91 0-178.5 25.5T200-679q14 30 101.5 55T480-599Zm0 199q42 0 81-4t74.5-11.5q35.5-7.5 67-18.5t57.5-25v-120q-26 14-57.5 25t-67 18.5Q600-528 561-524t-81 4q-42 0-82-4t-75.5-11.5Q287-543 256-554t-56-25v120q25 14 56 25t66.5 18.5Q358-408 398-404t82 4Zm0 200q46 0 93.5-7t87.5-18.5q40-11.5 67-26t32-29.5v-98q-26 14-57.5 25t-67 18.5Q600-328 561-324t-81 4q-42 0-82-4t-75.5-11.5Q287-343 256-354t-56-25v99q5 15 31.5 29t66.5 25.5q40 11.5 88 18.5t94 7Z'/%3E%3Cpath fill='currentColor' d='M740-700h40v40h40v40h-40v40h-40v-40h-40v-40h40v-40Z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ms--add-database {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath fill='currentColor' d='M 467 -120 q -73 -1 -136 -14 t -110 -34.5 q -47 -21.5 -74 -50 T 120 -280 q 0 33 27 61.5 t 74 50 Q 268 -147 331 -134 t 136 14 Z m -15 -200 q -38 -2 -73.5 -6.5 t -67.5 -12 q -32 -7.5 -60 -17.5 t -51 -23 q 23 13 51 23 t 60 17.5 q 32 7.5 67.5 12 T 452 -320 Z m 28 -279 q 89 0 179 -26.5 T 760 -679 q -11 -29 -100.5 -55 T 480 -760 q -91 0 -178.5 25.5 T 200 -679 q 14 27 101.5 53.5 T 480 -599 Z M 639 -413 h 80 v 80 h 80 v 80 h -80 v 80 h -80 v -80 h -80 v -80 h 80 Z Z M 443 -201 q 3 22 9 42 t 15 39 q -73 -1 -136 -14 t -110 -34.5 q -47 -21.5 -74 -50 T 120 -280 v -400 q 0 -66 105.5 -113 T 480 -840 q 149 0 254.5 47 T 840 -680 v 187 q -19 -9 -39 -15 t -41 -9 v -62 q -52 29 -124 44 t -156 15 q -85 0 -157 -15 t -123 -44 v 101 q 51 47 130.5 62.5 T 480 -400 h 11 q -13 18 -22.5 38 T 452 -320 q -76 -4 -141 -18.5 T 200 -379 v 99 q 7 13 30 26.5 t 56 24 q 33 10.5 73.5 18 T 443 -201 Z'/%3E%3Cpath fill='currentColor' d='M740-700h40v40h40v40h-40v40h-40v-40h-40v-40h40v-40Z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ms--shield-list {
  display: inline-block;
  width: 2em !important;
  height: 2em !important;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 28'%3E%3Cpath fill='%23000' d='M 19 9 h 14 v 2 H 19 V 9 M 19 13 h 9 v 2 H 19 V 13 M 19 17 h 7 v 2 H 19 v -2 M 9.8 5 L 2.6 8.2 L 2.6 13 C 2.6 17.44 5.672 21.592 9.8 22.6 C 13.928 21.592 17 17.44 17 13 L 17 8.2 L 9.8 5 Z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mdi--list-lock {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M 3 4 h 14 v 2 H 3 V 4 M 3 8 h 9 v 2 H 3 V 8 M 3 12 h 7 v 2 H 3 v -2'/%3E%3Cg transform='translate(13 4)'%3E%3Cpath fill='%23000' d='M 6 8 h 0 V 7 a 3 3 0 0 0 -6 0 v 3 H 0 a 2 2 0 0 0 -2 2 v 5 a 2 2 0 0 0 2 2 h 6 a 2 2 0 0 0 2 -2 v -5 a 2 2 0 0 0 -2 -2 Z m -4 2 V 7 a 1 1 0 0 1 2 0 v 3 Z'/%3E%3C/g%3E%3C/svg%3E");

  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mdi--pi-logo {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -25 85 50'%3E%3Cpath fill='%23000' d='M 0 0 A 2 2 0 0 0 80 0 A 2 2 0 0 0 0 0 M 40 -20 L 40 -13 L 18 -16 L 18 -23 Z M 61 -23 L 61 -16 L 40 -13 L 40 -20 Z M 58 -9 C 60 -9 61 -8 61 -5 L 61 9 C 60 23 45 23 40 23 C 36 23 19 23 18 9 L 18 -5 C 18 -8 19 -9 21 -9 Z M 55 -2 L 55 1 C 55 11 57 17 40 17 C 24 17 25 11 25 1 L 25 -2 Z'/%3E%3C/svg%3E");

  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.theme-mode-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mat-sys-surface-container-lowest);
  margin: var(--the-mode-button-margin-px);
  height: calc(var(--header-height) / 3);
  width: calc(var(--header-height) / 3);
  color: var(--mat-sys-on-surface);
  border-radius: var(--border-radius);
  @include mat.elevation(5);

  &:hover {
    @include mat.elevation(8);
    background: var(--mat-sys-surface-container-low);
    color: var(--mat-sys-on-surface-variant);
  }

  &:active {
    transform: scale(0.98);
    background: var(--mat-sys-surface-container-lowest);
    color: var(--mat-sys-on-surface);
  }
}

.theme-mode-button-icon {
  font-size: calc(var(--header-height) / 3 - 2px);
  color: var(--mat-sys-on-surface);
  width: calc(var(--header-height) / 3 - 2px);
  height: calc(var(--header-height) / 3 - 2px);
}

.mat-mdc-outlined-button {
  border-radius: var(--border-radius);
  padding: var(--half-global-padding) var(--global-padding);
  border: 1px solid var(--mat-sys-outline);
  background-color: var(--mat-sys-surface);
  transition: background-color 0.2s ease-in-out,
  color 0.2s ease-in-out;
}

.mat-mdc-outlined-button .mat-icon {
  height: 24px;
  width: 24px;
}

.mat-mdc-outlined-button[class*="action-button-delete"] {
  --mat-outlined-button-state-layer-color: var(--rose-bg);
  --mat-outlined-button-ripple-color: var(--rose-bg);
  --mdc-ripple-color: var(--rose-bg);
}

.mat-mdc-outlined-button[class*="action-button-1"] {
  --mdc-ripple-color: var(--sky-bg);
}

%action-button-base {
  background-color: var(--mat-sys-surface-container-lowest);
  border-radius: var(--border-radius);
  justify-content: start;

  mat-icon.mat-icon.notranslate.material-icons {
    font-size: 20px;
  }
}

@mixin action-button-variant($color, $background-color) {
  color: $color;
  border-color: $color;
  &:hover {
    background-color: $background-color;
  }
}

.action-button-1 {
  @extend %action-button-base;

  &:not([disabled]) {
    @include action-button-variant(var(--mat-sys-primary), var(--sky-blue));
  }
}

.action-button-delete {
  @extend %action-button-base;

  &:not([disabled]) {
    @include action-button-variant(var(--red-base), var(--rose-bg));
  }
}

.action-button-active {
  @extend %action-button-base;
  background-color: var(--mat-sys-primary-base-active);
  color: var(--mat-sys-on-primary);

  &:not([disabled]) {
    @include action-button-variant(var(--mat-sys-on-primary), var(--mat-sys-primary));
  }
}

.filter-button {
  top: 0;
  right: 2px;
  height: 24px;
  width: 24px;
  padding: 0;

  span.mat-mdc-button-touch-target {
    width: 24px !important;
    height: 24px !important;
  }
}

.sort-button {
  top: 0;
  right: 2px;
  height: 24px;
  width: 24px;
  padding: 0;

  span.mat-mdc-button-touch-target {
    width: 24px !important;
    height: 24px !important;
  }
}

.input-attached-button-active {
  background-color: var(--mat-sys-primary-base-active);
  color: var(--mat-sys-on-primary);
}

.input-attached-button-hover:hover:not(:disabled):not(.input-attached-button-active) {
  background-color: var(--mat-sys-primary-base-hover);
  color: var(--mat-sys-on-primary);
  font-weight: 600;
  cursor: pointer;
}

.input-attached-button {
  height: 58px;
  width: 35px;
  margin-bottom: 18px;
  padding: 0;
  border: none;
  background-color: var(--mat-sys-surface-container-high);
  border-radius: 0 var(--three-quarters-global-padding) var(--three-quarters-global-padding) 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: background-color 0.2s ease-in-out;
  flex-shrink: 0;

  .small-icon-button {
    width: 36px !important;
    height: 36px !important;
    padding: 0px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;

    & > *[role="img"] {
      width: 18px;
      height: 18px;
      font-size: 18px;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .mat-mdc-button-touch-target {
      width: 36px !important;
      height: 36px !important;
    }
  }
}

.scroll-to-top-fab {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mat-sys-surface-container-lowest);
  height: 48px;
  width: 48px;
  color: var(--mat-sys-on-surface-variant);
  border-radius: var(--border-radius);
  border: unset;
  @include mat.elevation(5);

  &:hover {
    @include mat.elevation(8);
  }
}

.scroll-to-top-fab-icon {
  width: 24px;
}

::ng-deep mat-icon {
  display: flex !important;
  align-items: center !important;
}