@use "@angular/material" as mat;

$button-height: 40px;
$button-width: 240px;
$keyword-height: 28px;
$keyword-padding: 2px 8px;
$button-gap-small: 10px;
$padding-horizontal: 16px;
$detail-icon-font-size: 18px;
$margin-bottom-small: 0;
$keyword-font-size: 18px;
$button-border-radius: var(--border-radius);
$profile-bg: var(--background-yellow);
$profile-hover-bg: var(--background-yellow-inset);

$grad-surface: linear-gradient(
                145deg,
                var(--mat-sys-surface-container),
                var(--mat-sys-surface-container-low)
);
$grad-surface-hover: linear-gradient(
                145deg,
                var(--mat-sys-surface-container-lowest),
                var(--mat-sys-surface-container-low)
);

$background-low-contrast: linear-gradient(
                145deg,
                var(--mat-sys-surface-container-highest),
                var(--mat-sys-surface-container-low)
);

$button-low-contrast-variant: linear-gradient(
                145deg,
                var(--mat-sys-surface-container-low),
                var(--mat-sys-surface-container-highest)
);

@mixin button-base(
  $height,
  $width,
  $background-color,
  $border-color,
  $color
) {
  height: $height;
  width: $width;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: $background-color !important;
  border-color: $border-color !important;
  color: $color !important;
  justify-content: start;
  display: flex;

  &:disabled {
    color: #909090 !important;
  }
}

@mixin hover-or-active($bg, $shadow, $translate: false) {
  &:hover,
  &.active {
    background: $bg;
    box-shadow: $shadow;

    @if $translate == true {
      transform: translateY(2px);
    }
  }
}

@mixin card-button-variant($background-color, $border-color, $color) {
  @include button-base(
          $height: $button-height,
          $width: $button-width,
          $background-color: $background-color,
          $border-color: $border-color,
          $color: $color,
  );
}

%linkish-btn {
  text-decoration: none;
  padding: 10px;
  border-radius: $button-border-radius;
}

%keyword-chip {
  background-color: var(--mat-sys-surface-container-low);
  border-radius: $button-border-radius;
  height: $keyword-height;
  margin: 3px;
  box-shadow: none;
  color: var(--mat-sys-on-surface-variant);
}

.login-btn {
  @extend %linkish-btn;
  color: var(--mat-sys-on-primary);
  background: var(--mat-sys-primary);

  @include hover-or-active(var(--background-blue-inset), var(--box-shadow-blue-inset), true);
}

.passkey-btn,
.reset-btn {
  @extend %linkish-btn;
  color: var(--mat-sys-on-surface-variant);
  background: $grad-surface;

  @include hover-or-active($grad-surface-hover, var(--box-shadow-inset), true);
}

.login-actions {
  display: flex;
  gap: 16px;
  width: 100%;

  > .login-btn {
    flex: 7;
    min-width: 0;
  }

  > .reset-btn {
    flex: 3;
    min-width: 0;
  }
}

.mat-mdc-outlined-button.card-button,
.mat-mdc-outlined-button[class*="card-button"] {
  --mat-outlined-button-state-layer-color: var(--mat-sys-surface-container-highest);
  --mat-outlined-button-ripple-color: var(--mat-sys-surface-container-high);
  --mdc-ripple-color: var(--mat-sys-surface-container-high);
}

.card-button {
  @include card-button-variant(var(--mat-sys-surface-container), var(--mat-sys-surface-container-highest), var(--mat-sys-on-surface-variant));
}

.card-button-active {
  @include card-button-variant(var(--mat-sys-surface-container-lowest), var(--mat-sys-primary), var(--mat-sys-primary));
}

.card-button-support {
  @include card-button-variant(var(--mat-sys-surface-container-lowest), var(--green-brand-light), var(--green-brand-light));
}

.mat-unthemed.mat-mdc-button-base[class^="card-button"],
.mat-unthemed.mat-mdc-button-base[class*=" card-button"] {
  min-width: $button-width;

  mat-icon.mat-icon.notranslate.material-icons {
    font-size: $detail-icon-font-size;
  }
}

.keyword-button {
  @extend %keyword-chip;
  padding: $keyword-padding;

  &:hover .add-keyword {
    color: var(--green-light);
  }
}

.more-keyword-button {
  @extend %keyword-chip;
  padding: 0 0 0 8px;
}

.keyword-button-icon {
  font-size: $keyword-font-size;
  vertical-align: bottom;
  margin-right: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.add-keyword {
  color: var(--grey-light-active);
}

.remove-keyword {
  color: var(--red-light);
}

.change-keyword {
  color: var(--yellow-light);
}

.delete-buttons-container {
  display: flex;
  flex-direction: column;
  gap: $button-gap-small;
  padding: 0 $padding-horizontal;
}

.delete-info-button {
  margin-top: 16px;
}

.refresh-btn {
  height: $button-height;
  width: $button-height;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  color: var(--mat-sys-on-surface-variant);
  box-shadow: none !important;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--mat-sys-surface-container);
  }
}

.logout-btn {
  color: var(--mat-sys-on-surface-variant);
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  margin-left: 16px;

  &:hover {
    background-color: var(--mat-sys-surface-container);
  }
}

.enroll-button-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: var(--global-gap);
  flex: 1;
}

.enroll-button-spacer {
  width: $button-height;
  height: $button-height;
}

.drawer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mat-sys-surface-container-lowest);
  height: 48px;
  width: 48px;
  color: var(--mat-sys-on-surface);
  border-radius: calc(var(--border-radius) * 4);
  @include mat.elevation(5);
}

.back-button {
  @extend .drawer-button;
  margin: 32px 16px 0 16px;

  &:hover {
    @include mat.elevation(8);
  }
}

.mdi--folder-list {
  display: inline-block;
  width: 2em !important;
  height: 2em !important;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 28'%3E%3Cpath fill='%23000' d='M 9 4 l 2 2 h 8 a 2 2 0 0 1 2 2 v 8 c -0.033 1.502 -0.545 1.996 -2 2 H 3 a 2 2 0 0 1 -2 -2 V 6 c 0 -1.11 0.89 -2 2 -2 z M 23 6 h 14 v 2 H 23 V 6 M 23 10 h 9 v 2 H 23 V 10 M 23 14 h 7 v 2 H 23 v -2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ms--database {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%20-960%20960%20960%27%3E%3Cpath%20fill%3D%27%2523000%27%20d%3D%27M480-120q-151%200-255.5-46.5T120-280v-400q0-66%20105.5-113T480-840q149%200%20254.5%2047T840-680v400q0%2067-104.5%20113.5T480-120Zm0-479q89%200%20179-25.5T760-679q-11-29-100.5-55T480-760q-91%200-178.5%2025.5T200-679q14%2030%20101.5%2055T480-599Zm0%20199q42%200%2081-4t74.5-11.5q35.5-7.5%2067-18.5t57.5-25v-120q-26%2014-57.5%2025t-67%2018.5Q600-528%20561-524t-81%204q-42%200-82-4t-75.5-11.5Q287-543%20256-554t-56-25v120q25%2014%2056%2025t66.5%2018.5Q358-408%20398-404t82%204Zm0%20200q46%200%2093.5-7t87.5-18.5q40-11.5%2067-26t32-29.5v-98q-26%2014-57.5%2025t-67%2018.5Q600-328%20561-324t-81%204q-42%200-82-4t-75.5-11.5Q287-343%20256-354t-56-25v99q5%2015%2031.5%2029t66.5%2025.5q40%2011.5%2088%2018.5t94%207Z%27%2F%3E%3C%2Fsvg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ms--shield-list {
  display: inline-block;
  width: 2em !important;
  height: 2em !important;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 28'%3E%3Cpath fill='%23000' d='M 19 9 h 14 v 2 H 19 V 9 M 19 13 h 9 v 2 H 19 V 13 M 19 17 h 7 v 2 H 19 v -2 M 9.8 5 L 2.6 8.2 L 2.6 13 C 2.6 17.44 5.672 21.592 9.8 22.6 C 13.928 21.592 17 17.44 17 13 L 17 8.2 L 9.8 5 Z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mdi--list-lock {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M 3 4 h 14 v 2 H 3 V 4 M 3 8 h 9 v 2 H 3 V 8 M 3 12 h 7 v 2 H 3 v -2'/%3E%3Cg transform='translate(13 4)'%3E%3Cpath fill='%23000' d='M 6 8 h 0 V 7 a 3 3 0 0 0 -6 0 v 3 H 0 a 2 2 0 0 0 -2 2 v 5 a 2 2 0 0 0 2 2 h 6 a 2 2 0 0 0 2 -2 v -5 a 2 2 0 0 0 -2 -2 Z m -4 2 V 7 a 1 1 0 0 1 2 0 v 3 Z'/%3E%3C/g%3E%3C/svg%3E");

  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mdi--pi-logo {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;

  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -25 85 50'%3E%3Cpath fill='%23000' d='M 0 0 A 2 2 0 0 0 80 0 A 2 2 0 0 0 0 0 M 40 -20 L 40 -13 L 18 -16 L 18 -23 Z M 61 -23 L 61 -16 L 40 -13 L 40 -20 Z M 58 -9 C 60 -9 61 -8 61 -5 L 61 9 C 60 23 45 23 40 23 C 36 23 19 23 18 9 L 18 -5 C 18 -8 19 -9 21 -9 Z M 55 -2 L 55 1 C 55 11 57 17 40 17 C 24 17 25 11 25 1 L 25 -2 Z'/%3E%3C/svg%3E");

  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.theme-mode-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mat-sys-surface-container-lowest);
  margin: var(--the-mode-button-margin-px);
  height: calc(var(--header-height) / 3);
  width: calc(var(--header-height) / 3);
  color: var(--mat-sys-on-surface);
  border-radius: calc(var(--border-radius) / 4);
  @include mat.elevation(5);

  &:hover {
    @include mat.elevation(8);
    background: var(--mat-sys-surface-container-low);
    color: var(--mat-sys-on-surface-variant);
  }

  &:active {
    transform: scale(0.98);
    background: var(--mat-sys-surface-container-lowest);
    color: var(--mat-sys-on-surface);
  }
}

.theme-mode-button-icon {
  font-size: calc(var(--header-height) / 3 - 2px);
  color: var(--mat-sys-on-surface);
  width: calc(var(--header-height) / 3 - 2px);
  height: calc(var(--header-height) / 3 - 2px);
}

%action-button-base {
  background-color: var(--mat-sys-surface-container-lowest);
  border-radius: var(--border-radius);

  mat-icon.mat-icon.notranslate.material-icons {
    font-size: $detail-icon-font-size;
  }
}

@mixin action-button-variant($color) {
  color: $color;
  border-color: $color;
}

.action-button {
  @extend %action-button-base;

  &:not([disabled]) {
    @include action-button-variant(var(--mat-sys-primary));
  }
}

.action-button-delete {
  @extend %action-button-base;

  &:not([disabled]) {
    @include action-button-variant(var(--red-base));
  }
}