::ng-deep .mat-mdc-dialog-surface {
  border-radius: var(--border-radius);
  box-shadow: var(--box-dialog-shadow);
  background-color: var(--mat-sys-surface-container-lowest);
}

.width-36 {
  width: 36rem;
}
