.dot {
  margin-left: -4px;
}

.otp-inputs-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.otp-input-form {
  width: 33%;
  height: 76.5px;
}

.server-checkbox {
  margin-bottom: 1rem;
}

.enroll-h4 {
  margin: 0 0 1rem 8px;
}
