.description-form {
  width: 66%;
  margin-top: 2rem;
}

.dot {
  margin-left: -4px;
}

.otp-inputs-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.otp-input-form {
  width: 33%;
  height: 76.5px;
}

.server-checkbox {
  margin-bottom: 1rem;
}
