
$border-color: #E0E2EC;
$odd-row-bg: #f3f3f3;
$even-row-bg: #ffffff;
$table-cell-font-size: 14px;

.info-container {
  display: flex;
  flex-direction: row;
  width: auto;
  border-top: 0;

  .info-title {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    box-sizing: border-box;
    font-size: $table-cell-font-size;
  }

  .info-table {
    border-collapse: collapse;

    th,
    td {
      border: 1px solid $border-color;
      border-top: none;
      box-sizing: border-box;

      &:nth-child(odd) {
        background: $odd-row-bg;
      }

      &:nth-child(even) {
        background: $even-row-bg;
      }
    }
  }

  .info-value-container {
    width: 19rem;
  }

  .info-input {
    margin-left: 5px;
    margin-top: 0.25rem;
  }

  .info-row {
    margin-top: 0.063rem;
  }

  .info-span {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    font-size: $table-cell-font-size;
    line-height: 1.6;
  }

  .info-span-title {
    margin-left: -4px;
    overflow-y: auto;
  }

  .info-span-value {
    margin-left: 2px;
    margin-top: 3px;
    white-space: normal;
    max-height: 72px;
    overflow-y: auto;
    max-width: 277px;
    margin-right: -1rem;
    padding-right: 1rem;
    overflow-wrap: anywhere;
  }

  .info-divider {
    width: 16rem;
    margin: 0.188rem 0 0.25rem -0.5rem;
  }

  .border-top {
    border-top: 1px solid $border-color;
  }

  ::ng-deep {
    .mat-mdc-list-item {
      padding: 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
      height: 4px;
    }

    .mat-mdc-text-field-wrapper {
      padding-left: 5px;
    }

    .mat-mdc-form-field {
      font-size: 14px;
      width: 16rem;
    }

    .mat-mdc-form-field-infix {
      padding-top: 24px;
      padding-bottom: 4px;
    }
  }
}

.margin-top-20 {
  margin-top: 20px;
}
