$focus-outline: 3px solid var(--mat-sys-primary-light);

.input {
  height: 40px;
  width: 107px;
  border-radius: 3px;
  outline: none;

  &:focus {
    outline: $focus-outline;
  }
}

.input-height {
  height: 76.5px;
}

.hint-spacer {
  margin-bottom: 1.2em;
}

.user-pin-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-pin-input {
  display: flex;
  gap: 8px;
}

.user-pin-button {
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  gap: 8px;
}

.checkbox-hint {
  display: block;
  font-family: var(--mat-form-field-subscript-text-font, var(--mat-sys-body-small-font));
  font-size: var(--mat-form-field-subscript-text-size, var(--mat-sys-body-small-size));
  font-weight: var(--mat-form-field-subscript-text-weight, var(--mat-sys-body-small-weight));
  color: var(--mat-sys-primary);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  line-height: var(--mat-form-field-subscript-text-line-height, var(--mat-sys-body-small-line-height));
  letter-spacing: var(--mat-form-field-subscript-text-tracking, var(--mat-sys-body-small-tracking));
}
