@use "theme";

$input-focus-outline: theme.$focus-outline;

.input {
  height: 40px;
  width: 107px;
  border-radius: 3px;
  outline: none;

  &:focus {
    outline: $input-focus-outline;
  }
}

.hint-spacer {
  margin-bottom: 1.2em;
}

.checkbox-hint {
  display: block;
  font-size: var(--mat-form-field-subscript-text-size, var(--mat-sys-body-small-size));
  font-weight: var(--mat-form-field-subscript-text-weight, var(--mat-sys-body-small-weight));
  color: var(--mat-sys-primary);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  line-height: var(--mat-form-field-subscript-text-line-height, var(--mat-sys-body-small-line-height));
  letter-spacing: var(--mat-form-field-subscript-text-tracking, var(--mat-sys-body-small-tracking));
}

.user-pin-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-pin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

@mixin action-tab-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  resize: vertical;
  width: 100%;

  &:focus {
    border-bottom-color: var(--mat-sys-primary);
    outline: none;
  }
}

.input-width-s {
  width: 180px;
  min-width: 180px;
}

.input-width-m {
  width: 240px;
  min-width: 240px;
}

.input-width-l {
  width: 300px;
  min-width: 300px;
}

.input-width-xl {
  width: 616px;
  min-width: 616px;
}

.input-width-xxl {
  width: 932px;
  min-width: 932px;
}

::ng-deep mat-form-field:has(input):not(.sticky-header *):not(.filter-paginator-container *):not(td *):not(.condition-value-container *):not(.login-form *) {
  height: 76.5px;
}

::ng-deep .mat-mdc-form-field-required .mdc-floating-label {
  font-weight: bold;
}

::ng-deep .mat-mdc-form-field-required-marker {
  font-weight: bold;
}