.list-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 4);
  overflow: auto;
}

.list-item-card {
  border-radius: var(--border-radius);

  mat-expansion-panel {
    border-radius: var(--border-radius);
  }

  mat-expansion-panel-header {
    padding: 0 var(--global-padding);
  }

  .header-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .description-label {
    color: var(--sys-material-on-surface-variant);
    font-size: 0.85rem;
    font-weight: 400;
    text-align: center;
    width: 300px;
  }

  .mat-expansion-panel-body {
    gap: var(--global-gap);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: var(--three-quarters-global-padding);
    padding-top: 0;
  }

  .actions {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
