.expansion-panel {
  box-shadow: var(--box-shadow) !important;
}

.type-option {
}

::ng-deep {
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover {
    background: var(--mat-sys-surface-container-high) !important;
  }

  .mat-expansion-panel {
    background: var(--mat-sys-surface-container-low) !important;
  }

  .mat-accordion .mat-expansion-panel {
    border-radius: var(--border-radius) !important;
  }

  .type-option .mat-pseudo-checkbox.mat-pseudo-checkbox-checked::after {
    color: white !important;
  }

  .type-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: var(--mat-sys-primary-light) !important;
  }

  .type-option.mat-mdc-option.mdc-list-item {
    background: var(--mat-sys-surface-container-low) !important;
  }

  .type-option.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: white !important;
  }

  .type-option.mat-mdc-option:hover:not(.mdc-list-item--selected, .mdc-list-item--disabled) {
    background-color: #f2f9fd;
  }
}
