/**
 * (c) NetKnights GmbH 2026,  https://netknights.it
 *
 * This code is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 **/
.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mat-snack-bar-container-color: var(--green-base);
    --mat-snack-bar-supporting-text-color: var(--mat-sys-on-primary);

    .mat-mdc-button {
      color: var(--mat-sys-on-primary);
    }
  }

  &.error-snackbar {
    --mat-snack-bar-container-color: var(--mat-sys-error);
    --mat-snack-bar-supporting-text-color: var(--mat-sys-on-error);

    .mat-mdc-button {
      color: var(--mat-sys-on-error);
    }
  }

  &.warning-snackbar {
    --mat-snack-bar-container-color: var(--mat-sys-tertiary);
    --mat-snack-bar-supporting-text-color: var(--mat-sys-on-tertiary);

    .mat-mdc-button {
      color: var(--mat-sys-on-tertiary);
    }
  }
}
