@use "@angular/material" as mat;

// html {

//   --mat-sys-error: #ba1a1a;
//   --mat-sys-error-container: #ffdad6;
//   --mat-sys-inverse-on-surface: #f2f0f4;
//   --mat-sys-inverse-primary: #abc7ff;
//   --mat-sys-inverse-surface: #2f3033;

//   --mat-sys-on-tertiary: #ffffff;
//   --mat-sys-on-tertiary-container: #0000ef;
//   --mat-sys-on-tertiary-fixed: #00006e;
//   --mat-sys-on-tertiary-fixed-variant: #0000ef;

//   --mat-sys-outline: #74777f;
//   --mat-sys-outline-variant: #c4c6d0;

//   --mat-sys-primary: #005cbb;
//   --mat-sys-primary-container: #d7e3ff;
//   --mat-sys-primary-fixed: #d7e3ff;
//   --mat-sys-primary-fixed-dim: #abc7ff;
//   --mat-sys-on-primary: #ffffff;
//   --mat-sys-on-primary-container: #00458f;
//   --mat-sys-on-primary-fixed: #001b3f;
//   --mat-sys-on-primary-fixed-variant: #00458f;

//   --mat-sys-scrim: #000000;

//   --mat-sys-secondary: #565e71;
//   --mat-sys-secondary-container: #dae2f9;
//   --mat-sys-secondary-fixed: #dae2 f9;
//   --mat-sys-secondary-fixed-dim: #bec6dc;
//   --mat-sys-on-secondary: #ffffff;
//   --mat-sys-on-secondary-container: #3e4759;
//   --mat-sys-on-secondary-fixed: #131c2b;
//   --mat-sys-on-secondary-fixed-variant: #3e4759;

//   --mat-sys-shadow: #000000;

//   --mat-sys-background: #faf9fd;
//   --mat-sys-on-background: #1a1b1f;
//   --mat-sys-on-error: #ffffff;
//   --mat-sys-on-error-container: #93000a;

//   --mat-sys-surface: #faf9fd;
//   --mat-sys-surface-bright: #faf9fd;
//   --mat-sys-surface-container: #efedf0;
//   --mat-sys-surface-container-high: #e9e7eb;
//   --mat-sys-surface-container-highest: #e3e2e6;
//   --mat-sys-surface-container-low: #f4f3f6;
//   --mat-sys-surface-container-lowest: #ffffff;
//   --mat-sys-surface-dim: #dbd9dd;
//   --mat-sys-surface-tint: #005cbb;
//   --mat-sys-surface-variant: #e0e2ec;
//   --mat-sys-on-surface: #1a1b1f;
//   --mat-sys-on-surface-variant: #44474e;

//   --mat-sys-tertiary: #343dff;
//   --mat-sys-tertiary-container: #e0e0ff;
//   --mat-sys-tertiary-fixed: #e0e0ff;
//   --mat-sys-tertiary-fixed-dim: #bec2ff;

//   --mat-sys-neutral-variant20: #2d3038;
//   --mat-sys-neutral10: #1a1b1f;
// }

html {
  --mat-sys-primary-dark: light-dark(hsl(198, 66%, 25%), hsl(198, 66%, 60%));
  --mat-sys-primary-base: var(--mat-sys-primary);
  --mat-sys-primary-light: light-dark(hsl(198, 66%, 35%), hsl(198, 66%, 50%));
  --mat-sys-primary-light-active: light-dark(
    hsl(198, 66%, 40%),
    hsl(198, 66%, 45%)
  );

  --green-dark: light-dark(hsl(120, 39%, 39%), hsl(120, 39%, 69%));
  --green-base: light-dark(hsl(120, 39%, 44%), hsl(120, 39%, 64%));
  --green-light: light-dark(hsl(120, 39%, 49%), hsl(120, 39%, 59%));
  --green-light-active: light-dark(hsl(120, 39%, 54%), hsl(120, 39%, 54%));

  --red-dark: light-dark(hsl(342, 100%, 32%), hsl(342, 100%, 62%));
  --red-base: light-dark(hsl(342, 100%, 37%), hsl(342, 100%, 57%));
  --red-light: light-dark(hsl(342, 100%, 42%), hsl(342, 100%, 52%));
  --red-light-active: light-dark(hsl(342, 100%, 57%), hsl(342, 100%, 47%));

  --yellow-dark: light-dark(hsl(28, 85%, 45%), hsl(28, 85%, 75%));
  --yellow-base: light-dark(hsl(28, 85%, 50%), hsl(28, 85%, 70%));
  --yellow-light: light-dark(hsl(28, 85%, 55%), hsl(28, 85%, 65%));
  --yellow-light-active: light-dark(hsl(28, 85%, 60%), hsl(28, 85%, 60%));

  --grey-dark: light-dark(hsl(0, 0%, 42%), hsl(0, 0%, 72%));
  --grey-base: light-dark(hsl(0, 0%, 50%), hsl(0, 0%, 65%));
  --grey-light: light-dark(hsl(0, 0%, 55%), hsl(0, 0%, 60%));
  --grey-light-active: light-dark(hsl(0, 0%, 60%), hsl(0, 0%, 55%));

  --shadow-color-heigher: light-dark(#656668, #333333);

  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
    ),
    $overrides: (
      "background": light-dark(#faf9fd, #1a1b1f),
      "primary": light-dark(hsl(198, 66%, 30%), hsl(198, 66%, 55%)),
      "on-primary": light-dark(hsl(198, 66%, 95%), hsl(198, 66%, 10%)),
      // "surface": light-dark(#faf9fd, #1a1b1f),
      "surface-container-low": light-dark(hsl(0, 0%, 95%), hsl(0, 0%, 20%)),
      "primary-container": light-dark(hsl(198, 66%, 90%), hsl(198, 66%, 40%)),
      "surface-container-highest": light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 30%)),
      "on-surface": light-dark(hsl(0, 0%, 10%), hsl(0, 0%, 90%)),
      "on-surface-variant": light-dark(hsl(0, 0%, 30%), hsl(0, 0%, 80%)),
      "on-primary-container": light-dark(hsl(198, 66%, 10%), hsl(198, 66%, 80%)),
      "shadow": light-dark(#cccccc, #000000)
    )
  );
}
