<div class="navigation-self-service-column">
  <mat-accordion>
    <mat-expansion-panel
      class="user-details-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="tile-icon">
            supervised_user_circle
          </mat-icon>
          <span class="username">
          {{ userData().username || "-" }}
        </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="user-details-column">
        <div
          class="label"
          i18n>Given name:
        </div>
        <div class="value">{{ userData().givenname || "-" }}</div>

        <div
          class="label"
          i18n>Surname:
        </div>
        <div class="value">{{ userData().surname || "-" }}</div>

        <div
          class="label"
          i18n>Description:
        </div>
        <div class="value">{{ userData().description || "-" }}</div>

        <div
          class="label"
          i18n>Email:
        </div>
        <div class="value">{{ userData().email || "-" }}</div>

        <div
          class="label"
          i18n>Phone:
        </div>
        <div class="value">{{ userData().phone || "-" }}</div>

        <div
          class="label"
          i18n>Mobile:
        </div>
        <div class="value">{{ userData().mobile || "-" }}</div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  @if (!authService.tokenWizard() && !authService.containerWizard().enabled) {
    <app-navigation-self-service-button
      i18n-title
      key="{{ this.ROUTE_PATHS.TOKENS }}"
      matIconClass="ms--shield-list"
      matIconSize="tile-icon-x-large"
      title="Token Overview" />
    @if (authService.tokenEnrollmentAllowed()) {
      <app-navigation-self-service-button
        i18n-title
        key="{{ this.ROUTE_PATHS.TOKENS_ENROLLMENT }}"
        matIconName="add_moderator"
        title="Token Enrollment" />
    }
    @if (authService.tokenWizard2nd()) {
      <app-navigation-self-service-button
        i18n-title
        key="{{ this.ROUTE_PATHS.TOKENS_WIZARD }}"
        matIconName="auto_awesome"
        title="Token Enrollment Wizard" />
    }
    @if (authService.rights().includes("assign")) {
      <app-navigation-self-service-button
        i18n-title
        key="{{this.ROUTE_PATHS.TOKENS_ASSIGN_TOKEN}}"
        matIconName="admin_panel_settings"
        matIconSize="tile-icon-large"
        title="Assign Token" />
    }
    @if (authService.rights().includes("container_list")) {
      <app-navigation-self-service-button
        i18n-title
        key="{{this.ROUTE_PATHS.TOKENS_CONTAINERS}}"
        matIconClass="mdi--folder-list"
        matIconSize="tile-icon-x-large"
        title="Container Overview" />
    }
    @if (authService.rights().includes("container_create")) {
      <app-navigation-self-service-button
        i18n-title
        key="{{this.ROUTE_PATHS.TOKENS_CONTAINERS_CREATE}}"
        matIconName="create_new_folder"
        title="Create Container" />
    }
    @if (authService.rights().includes("auditlog")) {
      <app-navigation-self-service-button
        i18n-title
        key="{{this.ROUTE_PATHS.AUDIT}}"
        matIconName="receipt_long"
        title="Audit Log" />
    }
  }
</div>
