<div aria-label="Token Layout" class="token-layout">
  @if (!overflowService.isOverflowing('.token-layout', 1880)) {
    <app-token-card class="margin-right-1"
      [active]="active"
      [containerIsSelected]="containerIsSelected"
      [refreshTokenDetails]="refreshTokenDetails"
      [revoked]="revoked"
      [selectedTabIndex]="selectedTabIndex"
      [serial]="serial"
      [tokenIsSelected]="tokenIsSelected">
    </app-token-card>
  }
  <mat-drawer-container>
    @if (overflowService.isOverflowing('.token-layout', 1880)) {
      <mat-drawer #drawer [mode]="'over'" class="token-drawer">
        <app-token-card
          [active]="active"
          [containerIsSelected]="containerIsSelected"
          [refreshTokenDetails]="refreshTokenDetails"
          [revoked]="revoked"
          [selectedTabIndex]="selectedTabIndex"
          [serial]="serial"
          [tokenIsSelected]="tokenIsSelected">
        </app-token-card>
      </mat-drawer>
    }
    <mat-drawer-content>
      <div class="drawer-content-div">
        @if (overflowService.isOverflowing('.token-layout', 1880)) {
          <button mat-icon-button (click)="drawer.toggle()" class="drawer-button">
            <mat-icon>keyboard_arrow_right
            </mat-icon>
          </button>
        }
        <main>
          <div class="main-margin">
            @let tabIndex = selectedTabIndex();
            @if (tabIndex === 0) {
              @let tokenSelected = tokenIsSelected();
              @if (tokenSelected) {
                <app-token-details
                  #tokenDetailsComponent
                  [serial]="serial"
                  [tokenIsSelected]="tokenIsSelected"
                  [active]="active"
                  [revoked]="revoked"
                  [refreshTokenDetails]="refreshTokenDetails">
                </app-token-details>
              } @else {
                <app-token-table
                  [serial]="serial"
                  [tokenIsSelected]="tokenIsSelected">
                </app-token-table>
              }
            } @else if (tabIndex === 1) {
              @let containerSelected = containerIsSelected();
              @if (containerSelected) {
                <app-container-details
                  [serial]="serial">
                </app-container-details>
              } @else {
                <app-container-table
                  [serial]="serial"
                  [containerIsSelected]="containerIsSelected">
                </app-container-table>
              }
            }
          </div>
        </main>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
