$gap-large: 2rem;
$margin-top-main: 2rem;
$margin-bottom-main: 6rem;

.token-layout {
  display: flex;
  justify-content: center;
  gap: $gap-large;
  overflow: auto;
}

.main-margin {
  margin: $margin-top-main 0 $margin-bottom-main 0;
}
