@use "../../../../../../styles" as styles;
@use "../../../policies.component.scss";
@use "@angular/material" as mat;

.action-selector-container {
  background-color: var(--mat-sys-surface);
  border-radius: 4px;
  box-shadow: var(--mat-sys-level2);
  color: var(--mat-sys-on-surface);
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 0;
  padding: 12px;
}

.full-width {
  width: 100%;
}

.toggle-all-button {
  width: 100%;
  border-radius: 0;
  justify-content: flex-start;
}

.user-agent-selection-container {
  margin-top: 16px;
}

.user-agent-input-container {
  display: flex;
  align-items: center;
}

.user-agent-list-wrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.user-agent-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  flex-grow: 1;
  padding-bottom: 12px;
  scrollbar-width: thin;
}

.user-agent-chip {
  display: flex;
  align-items: center;
  background-color: var(--mat-sys-surface-container-high);
  border-radius: 8px;
  padding: 4px 8px;
  margin-right: 8px;
  flex-shrink: 0;
}

.remove-user-agent-btn {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-user-agent-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.clear-user-agents-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}

.clear-button {
  margin-left: 16px;
  flex-shrink: 0;
}

.add-user-agent-input {
  width: 100%;
  border-radius: 12px 0 0 12px;

  .mdc-text-field--filled {
    border-top-right-radius: 0 !important;
  }
  .mdc-text-field {
    border-top-right-radius: 0 !important;
  }
}

.add-user-agent-button {
  height: 56px;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  background-color: var(--mat-sys-surface-container-high);
  border-radius: 0 12px 12px 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: background-color 0.2s ease-in-out;

  &:hover:not(:disabled) {
    background-color: var(--mat-sys-surface-container-highest);
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--mat-sys-surface-container-low);
    cursor: not-allowed;
  }
}
