@use "../../../../styles";

.container-create-container {
  @include styles.table-container-styles;
  margin: 2rem 1rem 1rem;
  overflow: auto;
  width: 785px;
}

.container-type-hint {
  margin-top: 8px;
  font-size: 1rem;
}
