@use "styles";
@use "table";

.container-create-container {
  @include table.table-container-styles;
  max-height: var(--max-height);
  display: grid;
  overflow: auto;
}

.container-type-hint {
  margin-top: 8px;
  font-size: 1rem;
}
