<div
  appScrollToTop
  aria-label="Create Container"
  class="container-create-container"
  i18n-aria-label>
  @let preTopHtml = preTopHtml$ | async;
  @if (preTopHtml?.hasContent) {
  <div
    [innerHTML]="preTopHtml?.sanitized"
    class="margin-top-1"></div>
  } @else {
    <h3 class="margin-left-1" i18n>
      Create {{ this.containerService.selectedContainerType().containerType | titlecase }} Container
    </h3>
  }

  <div class="enroll-button-container">
        <button
          (click)="createContainer()"
          class="action-button-1 width-238"
          mat-stroked-button>
          <mat-icon>add</mat-icon>
          Create
        </button>
        <button
          (click)="reopenEnrollmentDialog()"
          [matTooltip]="'Reopen enrollment dialog'"
          [ngClass]="{ hidden: !registerResponse() }"
          mat-icon-button
          type="button">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>

  <div
    [innerHTML]="preBottomHtml$ | async"
    class="margin-bottom-1"></div>
</div>
