<div
  #scrollContainer
  appScrollToTop
  aria-label="Create Container"
  class="container-create-container"
  i18n-aria-label>
  <h3 class="margin-left-1" i18n>Create Container</h3>

  <div #stickySentinel></div>
  <div
    #stickyHeader
    class="sticky-header">
    <div class="sticky-controls ali-center">
      <div class="select-container-type">
        <mat-form-field
          class="width-100"
          subscriptSizing="dynamic">
          <mat-select
            [(ngModel)]="containerService.selectedContainerType"
            [ngModelOptions]="{ standalone: true }"
            [panelClass]="'single-column-panel'"
            [value]="containerService.selectedContainerType()">
            @for (type of containerService.containerTypeOptions(); track type) {
              <mat-option
                class="select-option type-option"
                [value]="type">
                {{ type.description }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="enroll-button-container">
        <button
          (click)="createContainer()"
          class="card-button"
          mat-flat-button>
          <mat-icon>add</mat-icon>
          Create
        </button>
        <button
          (click)="reopenEnrollmentDialog()"
          [matTooltip]="'Reopen enrollment dialog'"
          [ngClass]="{ hidden: !registerResponse() }"
          mat-icon-button
          type="button">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div
    class="container-type-hint"
    i18n>
    Supported Token Types:
    @if (containerService.selectedContainerType().token_types.length >= tokenService.tokenTypeOptions().length) {
      All
    } @else if (containerService.selectedContainerType().token_types.length > 1) {
      {{ containerService.selectedContainerType().token_types.join(", ") }}
    } @else {
      {{ containerService.selectedContainerType().token_types[0] }}
    }
  </div>

  <mat-form-field class="width-66 margin-top-1">
    <mat-label i18n>Description</mat-label>
    <textarea
      [(ngModel)]="description"
      [maxlength]="80"
      i18n
      i18n-placeholder
      matInput
      placeholder="Enter description"
      rows="3"></textarea>
  </mat-form-field>

  @if (authService.actionAllowed("container_template_list")) {
    <div class="flex-column width-66">
      <h4 class="enroll-h4" i18n>Use a Template</h4>
      <mat-form-field class="width-100 input-height">
        <mat-label i18n>Template</mat-label>
        <mat-select
          [(ngModel)]="selectedTemplate"
          [value]="selectedTemplate()"
          disabled>
          @for (option of templateOptions(); track option) {
            <mat-option [value]="option">{{ option.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  }

  @if (containerService.selectedContainerType().containerType === "smartphone") {
    <h4
      i18n
      class="enroll-h4">
      Registration
    </h4>
    <mat-checkbox
      i18n
      [(ngModel)]="generateQRCode">
      Generate a QR code to register the container on a smartphone.
    </mat-checkbox>
    <mat-accordion>
      <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title i18n> Optional Settings</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="width-100">
          <mat-label i18n>Passphrase Prompt</mat-label>
          <textarea
            [(ngModel)]="passphrasePrompt"
            matInput
            i18n-placeholder
            placeholder="This prompt will be displayed to the user."
            rows="2"></textarea>
          <mat-hint
            i18n
            class="font-14">
            Enter a passphrase prompt that will be displayed to the user. This should indicate which passphrase the user
            should enter.
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="width-100 margin-top-2 margin-bottom-1">
          <mat-label i18n> Passphrase Response</mat-label>
          <textarea
            [(ngModel)]="passphraseResponse"
            matInput
            i18n-placeholder
            placeholder="Passphrase the use has to enter to successfully register the container."
            rows="2"></textarea>
          <mat-hint
            i18n
            class="font-14">
            This is the correct answer to the passphrase prompt the user has to enter to successfully register the
            container.
          </mat-hint>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  }
</div>
