<div
  appScrollToTop
  aria-label="Create Container"
  class="container-create-container"
  i18n-aria-label>
  <div
    [innerHTML]="preTopHtml$ | async"
    class="margin-top-1"></div>

  <div class="enroll-button-container">
        <button
          (click)="createContainer()"
          class="card-button"
          mat-flat-button>
          <mat-icon>add</mat-icon>
          Create {{ this.containerService.selectedContainerType().containerType | titlecase }} Container
        </button>
        <button
          (click)="reopenEnrollmentDialog()"
          [matTooltip]="'Reopen enrollment dialog'"
          [ngClass]="{ hidden: !registerResponse() }"
          mat-icon-button
          type="button">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>

  <div
    [innerHTML]="preBottomHtml$ | async"
    class="margin-bottom-1"></div>
</div>
