@use "../../../../styles";

.container-create-container {
  @include styles.table-container-styles;
  width: 920px;
  max-height: calc(var(--main-height) - var(--global-padding) * 5);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  display: grid;
  overflow: auto;
}

.container-type-hint {
  margin-top: 8px;
  font-size: 16px;
}

.select-container-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 2;
}
