<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  appScrollToTop
  aria-label="Subscriptions"
  class="subscription-layout"
  i18n-aria-label>
  <div class="flex-row ali-center gap-32 just-space-between">
    <h3 i18n>Subscriptions</h3>

    <button
      (click)="fileInput.click()"
      class="action-button-1"
      i18n
      mat-stroked-button>
      <mat-icon>add</mat-icon>
      Select and Upload File
    </button>
    <input
      #fileInput
      (change)="upload($event); fileInput.value=''"
      style="display:none"
      type="file" />
  </div>

  <div class="subscriptions-grid">
    @for (subscription of subscriptions(); track subscription.application) {
      <div class="subscription-details">

        <div class="margin-left-1 flex-row ali-center gap-16">
          <h4>Application:</h4>
          <h4 class="application-color">{{ subscription.application }}</h4>

          @if (authService.actionAllowed('delete')) {
            <button
              (click)="deleteSubscription(subscription.application)"
              class="action-button-delete"
              i18n-matTooltip
              mat-stroked-button
              matTooltip="Delete Subscription">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          }
        </div>

        @if (subscription.timedelta < -14) {
          <div
            class="alert alert-success"
            i18n>
            Valid subscription
          </div>
        }
        @if (subscription.timedelta < 0 && subscription.timedelta >= -14) {
          <div
            class="alert alert-warning"
            i18n>
            Subscription about to expire
          </div>
        }
        @if (subscription.timedelta >= 0) {
          <div
            class="alert alert-danger"
            i18n>
            Subscription expired
          </div>
        }

        <div class="subscription-info-grid">
          <strong i18n>Level:</strong>
          <span> {{ subscription.level }} </span>

          <strong i18n>Users:</strong>
          <span> {{ subscription.num_users }} ({{ subscription.active_users }}
            <span i18n>distinct users with active tokens</span>, {{ subscription.num_users - subscription.active_users }}
            <span i18n>remaining</span>) </span>

          <strong i18n>Tokens:</strong>
          <span> {{ subscription.num_tokens }} ({{ subscription.active_tokens }}
            <span i18n>active, assigned tokens</span>, {{ subscription.num_tokens - subscription.active_tokens }}
            <span i18n>remaining</span>)
        </span>

          <strong i18n>Clients:</strong>
          <span> {{ subscription.num_clients }} </span>

          <strong i18n>From:</strong>
          <span> {{ subscription.date_from }} </span>

          <strong i18n>To:</strong>
          <span> {{ subscription.date_till }} </span>
        </div>

        <div class="info-panels">
          <mat-card>
            <mat-card-header>
              <mat-card-title i18n>Subscription Issued To:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{ subscription.for_name }}
              <br>
              <a [href]="'mailto:' + subscription.for_email">
                {{ subscription.for_email }}
              </a>
              <br>
              {{ subscription.for_address }}
              <br>
              {{ subscription.for_phone }}
              <br>
              <a
                [href]="subscription.for_url"
                target="_blank">{{ subscription.for_url }}
              </a>
              <br>
              {{ subscription.for_comment }}
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <mat-card-title i18n>Issuer:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{ subscription.by_name }}
              <br>
              <a
                [href]="subscription.by_url"
                target="_blank">{{ subscription.by_url }}
              </a>
              <br>
              {{ subscription.by_address }}
              <br>
              <a [href]="'mailto:' + subscription.by_email">
                {{ subscription.by_email }}
              </a>
              <br>
              {{ subscription.by_phone }}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    }
  </div>
</div>