@use "../../../../../../styles" as styles;
@use "../../../policies.component.scss";
@use "@angular/material" as mat;

.policy-panel-edit-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 2);

  .tab-buttons {
    display: flex;
    gap: calc(var(--global-gap) / 2);
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: var(--half-global-padding) 0;
  }

  .action-button-1 {
    padding: var(--global-padding);
  }
  .name-priority-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: var(--global-gap);

    app-policy-name {
      flex: 1;
    }
    div {
      flex: 1;
    }
  }
}
