@use "../../../../../../styles" as styles;
@use "../../../policies.component.scss";
@use "@angular/material" as mat;

.dialog-content {
  width: 80vw;
  ::ng-deep .mat-mdc-dialog-content {
    max-height: 75vh !important;
    padding-bottom: 0 !important;
  }
}

.tab-buttons {
  display: flex;
  gap: calc(var(--global-gap) / 2);
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: var(--half-global-padding) 0;
}

.action-button-1 {
  padding: var(--global-padding);
}
.priority-description {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: var(--global-gap);
  app-policy-priority {
    flex: 1 1 0;
    height: 100%;
  }
  app-policy-description {
    flex: 5 1 0;
    height: 100%;
  }
}
