@use "../../../../../../styles" as styles;

@mixin action-tab-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  resize: vertical;
  width: 100%;

  &:focus {
    border-bottom-color: var(--mat-sys-primary);
    outline: none;
  }
}

.policy-flex-row {
  min-width: 0;
  overflow-y: auto;
  width: 100%;

  &.view-mode {
    display: block;
  }
}

.flex-body {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
}
