<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<mat-expansion-panel
  id="questionnaire"
  [expanded]="expanded()">
  <mat-expansion-panel-header>
    <mat-panel-title i18n>Questionnaire</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="panel-content expansion-well">
    <p i18n>The questionnaire lets you define a set of questions.</p>
    <p i18n>
      The questionnaire token needs to define answers to these questions and the user will be presented with random
      questions and needs to provide his previously defined answer.
    </p>

    <div class="flex-row gap-16 ali-center">
      <mat-form-field
        appearance="fill"
        class="input-width-m">
        <mat-label i18n>Number of Answers</mat-label>
        <input
          #numAnswersInput
          [value]="formData()[QUESTION_NUMBER_OF_ANSWERS]"
          (input)="updateFormData(QUESTION_NUMBER_OF_ANSWERS, $event.target.value)"
          (keydown)="blockNonNumeric($event)"
          matInput
          required
          type="number" />
        @if (numAnswersInput.validity.valueMissing) {
          <mat-error i18n>Number of Answers is <strong>required</strong></mat-error>
        }
        <mat-hint i18n>Answers required to enroll a token.</mat-hint>
      </mat-form-field>
    </div>

    <div class="flex-row gap-16 ali-center just-space-between">
      <div class="flex-column gap-8">
        <h4 i18n>Questionnaire</h4>
        <p i18n>These are the possible questions, a user may define answers to.</p>
      </div>
      <button
        (click)="addQuestion()"
        class="action-button-secondary button-width-l"
        mat-stroked-button>
        <mat-icon>add</mat-icon>
        <span i18n>Add new question</span>
      </button>
    </div>

    <div class="questionnaire-grid">
      @for (key of questionKeys(); track key) {
        <div class="flex-row flex-nowrap gap-16 ali-center">
          <mat-form-field
            appearance="fill"
            class="input-width-l"
            subscriptSizing="dynamic">
            <mat-label i18n>Question</mat-label>
            <input
              #questionInput
              [value]="formData()[key]"
              (input)="updateFormData(key, $event.target.value)"
              matInput
              required />
            @if (questionInput.validity.valueMissing) {
              <mat-error i18n>Question must not be empty.</mat-error>
            }
          </mat-form-field>
          <button
            (click)="deleteEntry(key)"
            color="warn"
            mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </div>
  </div>
</mat-expansion-panel>
