@use "styles";
@use "@angular/material";

.policy-panel-edit-container {
  display: flex;
  flex-direction: column;
  gap: var(--half-global-gap);

  .policy-metadata-group {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
  }

  .tab-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--half-global-gap);
    justify-content: center;
    padding: var(--half-global-padding) var(--double-global-padding);
  }

  .name-priority-row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--global-gap);

    app-policy-name-edit,
    app-policy-priority-edit {
      flex: 0 1 auto;
    }
  }
}
