@use "styles";
@use "@angular/material";

.policy-panel-edit-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .policy-metadata-group {
    @include styles.card-recessed(3);
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
  }

  .tab-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    justify-content: center;
    padding: 8px 32px;
  }

  .name-priority-row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;

    app-policy-name-edit,
    app-policy-priority-edit {
      flex: 0 1 auto;
    }
  }
}
