.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

.logo {
  width: 10%;
  height: auto;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
}

.logo-text {
  width: 20%;
  height: auto;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 300px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.login-btn {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--background-primary);
}

.login-btn:hover {
  box-shadow: none;
  background: var(--background-primary-inset);
  color: #fff;
  transform: translateY(2px);
}

