<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div>
  <mat-form-field
    class="full-width"
    subscriptSizing="dynamic">
    <mat-label i18n>Enter Filter</mat-label>
    <app-clearable-input
      (onClick)="clearFilter()"
      [showClearButton]="!isEmpty()">
      <input
        #filterHTMLInputElement
        (input)="onFilterChange($event)"
        [value]="filter().rawValue"
        aria-label="Filter Input"
        i18n-aria-label
        i18n-placeholder
        matInput
        placeholder="Example query: 'scope: enrollment, active: true'" />
    </app-clearable-input>
  </mat-form-field>
</div>
