@use "../../../../../styles";

.user-details-container-table-layout {
  @include styles.base-table-structure(
                  ".user-details-container-table",
                  ".user-details-container-table-filter",
                  ".table-scroll-container"
  );

  .user-details-action-row {
    padding: 0 16px 0 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .user-details-action-column {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  .filter-pageinator-container{
    margin-bottom: 16px;
    justify-content: space-between;
  }
}
