@use "../../../../../../styles" as styles;
@use "../../../policies.component.scss";
@use "@angular/material" as mat;

.tab-buttons {
  display: flex;
  gap: calc(var(--global-gap) / 2);
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: var(--half-global-padding) 0;
}
