<mat-expansion-panel
  #panel
  [disabled]="panel.expanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (panel.expanded) {
        <input
          type="text"
          class="policy-name-input"
          placeholder="Policy Name"
          [(ngModel)]="policyName"
          (click)="$event.stopPropagation(); panel.expanded = true"
          (keydown)="$event.stopPropagation()" />
      } @else {
        @if (!policyName()) {
          <p i18n>New Policy</p>
        } @else {
          {{ policyName() }}
        }
      }
    </mat-panel-title>
    <mat-panel-description class="header-description">
      <div class="policy-scope-label">
        @if (policyService.currentActions().length === 0 && panel.expanded) {
          <app-horizontal-wheel
            [initialValue]="policyService.selectedScope()"
            [values]="policyService.allPolicyScopes"
            (onSelect)="onScopeSelect($event)" />
        } @else {
          <span>
            {{ policyService.selectedScope().toLocaleUpperCase() }}
          </span>
        }
      </div>
      <div class="policy-actions">
        @if (panel.expanded) {
          <button
            mat-icon-button
            (click)="$event.stopPropagation(); savePolicy(panel)">
            <mat-icon>save</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="$event.stopPropagation(); resetPolicy(panel)">
            <mat-icon>close</mat-icon>
          </button>
        }
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="policy-grid-container">
    <div class="tab-buttons grid-area-buttons">
      <button
        mat-flat-button
        [ngClass]="activeTab() === 'actions' ? 'tab-button-active' : 'tab-button'"
        (click)="setActiveTab('actions')">
        ACTIONS
      </button>
      <button
        mat-flat-button
        [ngClass]="activeTab() === 'conditions' ? 'tab-button-active' : 'tab-button'"
        (click)="setActiveTab('conditions')">
        CONDITIONS
      </button>
    </div>

    <app-selected-actions-list
      class="grid-area-content-header"
      [actions]="policyService.currentActions()"
      (editAction)="editAction($event)"
      (deleteAction)="deleteAction($event)" />

    @if (activeTab() === "actions") {
      <app-action-selector
        class="grid-area-content-body"
        [policyActionGroupNames]="policyActionGroupNames()"
        [selectedActionGroup]="selectedActionGroup()"
        [actionFilter]="policyService.actionFilter()"
        [getActionNamesOfGroup]="getActionNamesOfGroup.bind(this)"
        [selectedActionName]="selectedActionName()"
        (actionFilterChange)="policyService.actionFilter.set($event)"
        (selectedActionGroupChange)="selectedActionGroup.set($event)"
        (selectedActionNameChange)="selectedActionName.set($event)" />
    }
    <div class="grid-area-detail-header"></div>

    <app-action-detail
      class="grid-area-detail-body"
      [selectedAction]="selectedAction()"
      [selectedActionName]="selectedActionName()"
      (addAction)="onAddAction($event)" />
  </div>
</mat-expansion-panel>
