<mat-expansion-panel
  #panel
  [disabled]="panel.expanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (panel.expanded) {
        <input
          type="text"
          placeholder="Policy Name"
          [(ngModel)]="policyName"
          (click)="$event.stopPropagation(); panel.expanded = true"
          (keydown)="$event.stopPropagation()"
          class="policy-name-input" />
      } @else {
        @if (!policyName()) {
          <p i18n>New Policy</p>
        } @else {
          {{ policyName() }}
        }
      }
    </mat-panel-title>
    <mat-panel-description class="header-description">
      <div class="policy-scope-label">
        @if (policyService.currentActions().length === 0 && panel.expanded) {
          <app-horizontal-wheel
            [initialValue]="selectedScope()"
            [values]="policyService.allPolicyScopes"
            (onSelect)="onScopeSelect($event)" />
        } @else {
          <span>
            {{ selectedScope().toLocaleUpperCase() }}
          </span>
        }
      </div>
      <div class="policy-actions">
        @if (panel.expanded) {
          <button
            mat-icon-button
            (click)="$event.stopPropagation(); savePolicy(panel)">
            <mat-icon>save</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="$event.stopPropagation(); resetPolicy(panel)">
            <mat-icon>close</mat-icon>
          </button>
        }
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="policy-details">
    <div class="tab-buttons">
      <button
        mat-flat-button
        [ngClass]="activeTab() === 'actions' ? 'tab-button-active' : 'tab-button'"
        (click)="setActiveTab('actions')">
        ACTIONS
      </button>
      <button
        mat-flat-button
        [ngClass]="activeTab() === 'conditions' ? 'tab-button-active' : 'tab-button'"
        (click)="setActiveTab('conditions')">
        CONDITIONS
      </button>
    </div>

    <div class="selected-content-header">
      @if (activeTab() === "actions") {
        @for (entry of policyService.currentActions(); track entry.actionName) {
          <div class="action-card">
            <div class="detail-row">
              <span class="detail-label">{{ entry.actionName }}</span>
              <span class="detail-value">{{ entry.value }}</span>
              <button
                mat-icon-button
                class="edit-action-button"
                (click)="editAction(entry.actionName)">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                class="delete-action-button"
                (click)="deleteAction(entry.actionName)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        }
      }
    </div>
    <div class="select-action-column">
      @if (activeTab() === "actions") {
        <input
          type="text"
          placeholder="Search action..."
          [(ngModel)]="policyService.actionFilter"
          class="search-input" />
        @if (policyActionGroupNames().length > 1) {
          <div class="button-row">
            @for (group of policyActionGroupNames(); track $index) {
              <button
                class="button-item"
                [class.first-button]="$index === 0"
                [class.last-button]="$index === policyActionGroupNames().length - 1"
                [class.selected-button]="selectedActionGroup() === group"
                (click)="selectedActionGroup.set(group)">
                {{ group }}
              </button>
            }
          </div>
        }
        <div class="add-action-details">
          <div class="policy-action-items">
            @for (actionName of getActionNamesOfGroup(selectedActionGroup()); track actionName) {
              <div
                class="policy-action-item"
                [class.policy-action-item-selected]="selectedActionName() === actionName"
                (click)="selectedActionName.set(actionName)">
                <span class="detail-label">{{ actionName }}</span>
                <mat-icon>add_circle_outline</mat-icon>
              </div>
            }
          </div>
        </div>
      }
    </div>

    <div class="action-detail-column-header">
      @if (activeTab() === "actions" && selectedActionName() !== "") {
        <!-- <h4>Details-header for action: {{ selectedAction() }}</h4> -->
      }
    </div>
    <div class="action-detail-column">
      @if (activeTab() === "actions" && selectedActionName() !== "") {
        <h3>{{ selectedActionName() }}</h3>
        <div class="action-detail-card">
          <span class="detail-row">
            {{ selectedAction()?.desc }}
          </span>
        </div>
        <input
          type="text"
          [placeholder]="inputPlaceholder()"
          [(ngModel)]="actionValue"
          class="action-value-input" />
        <button
          mat-raised-button
          color="primary"
          (click)="addAction()"
          [disabled]="!inputIsValid()">
          Add Action
        </button>
      }
    </div>
  </div>
</mat-expansion-panel>
