<!--
(c) NetKnights GmbH 2024,  https://netknights.it
This code is free software; you can redistribute it and/or
modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
as published by the Free Software Foundation; either
version 3 of the License, or any later version.
This code is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU AFFERO GENERAL PUBLIC LICENSE for more details.
You should have received a copy of the GNU Affero General Public
License along with this program.  If not, see <http://www.gnu.org/licenses/>.

SPDX-FileCopyrightText: 2024 Jelina Unger <jelina.unger@netknights.it>
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div ng-show="keyLength(containerClassOptions[selection.containerType]) > 0">
    <h4 translate>Container Options</h4>
    <table class="table table-bordered table-responsive table-capitalize-header">
        <tbody>
        <tr ng-repeat="(optionKey, optionValues) in containerClassOptions[selection.containerType]">
            <td>{{ optionKey }}</td>
            <td>
                <select class="form-control"
                        id="optionKey"
                        ng-model="selection.options[optionKey]"
                        ng-options="value for value in optionValues">
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</div>
