
<div ng-show="showDefaultSelection">
    <input type="checkbox"
       ng-model="selection.default"
       id="defaultTemplate">
    <label for="defaultTemplate" translate>Set as default template</label>
</div>

<h4 translate>Tokens</h4>

<table class="table table-bordered table-responsive table-capitalize-header"
       ng-show="selection.tokens.length > 0">
    <tr ng-repeat="token in selection.tokens track by $index"
        ng-class="colorMap[token.state]">
        <td>
            {{ token.type }}
        </td>
        <td>
            <div class="form-group">
                <button class="btn btn-capitalize btn-primary btn-transparent"
                        ng-hide="token.edit"
                        ng-click="editTokenProperties($index)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span translate>Edit</span>
                </button>
                <button class="btn btn-capitalize btn-primary btn-transparent"
                        ng-show="token.edit"
                        ng-click="saveTokenProperties($index)">
                    <span class="glyphicon glyphicon-eye-close"></span>
                    <span translate>Hide Details</span>
                </button>
                <button class="btn btn-capitalize btn-warning btn-transparent"
                        ng-click="removeToken($index)"
                        translate>
                    <span class="glyphicon glyphicon-remove"></span>
                    <translate>Remove Token</translate>
                </button>
            </div>
            <div class="well" ng-show="token.edit">
                <ng-include src="instanceUrl + '/static/components/token/views/token.enroll.'
                                         + token.type + '.html' + fileVersionSuffix">
                </ng-include>
                <input type="checkbox" ng-model="token.user" id="checkboxAssignUserFromContainer">
                <label for="checkboxAssignUserFromContainer" translate>
                    Assign the token to the container owner.</label>
            </div>
        </td>
    </tr>
</table>

<div>
    <span translate>
        Select a token type to add:
    </span>
    <select class="form-control"
            ng-model="formInit.selectedTokenType"
            ng-options="type as desc for (type, desc) in allowedTokenTypes.displaySelection">
    </select>
    <button class="btn btn-default btn-capitalize"
            ng-click="addToken(formInit.selectedTokenType)"
            translate>
        Add Token
    </button>
</div>
