@use "styles";
@use "table";

.actions-otp-pin-input {
  display: flex;
}

.actions-visibility-button {
  display: flex;
}

.actions-pin-button {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}
