<div class="actions-otp-pin-input">
  <input
    style="display: none"
    type="text" />
  <input
    style="display: none"
    type="password" />
  <mat-form-field class="width-100">
    <mat-label i18n>OTP or Pin</mat-label>
    <input
      [(ngModel)]="otpOrPinToTest"
      [type]="hide ? 'password' : 'text'"
      autocomplete="one-time-code"
      matInput />
    <button
      (click)="hide = !hide"
      [attr.aria-label]="hide ? 'Show value' : 'Hide value'"
      i18n-attr.aria-label
      mat-icon-button
      matSuffix
      type="button">
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="actions-pin-button">
  <button
    (click)="testToken()"
    class="detail-button"
    extended
    i18n
    mat-fab>
    <mat-icon class="detail-button-icon">help_outline</mat-icon>
    Test Token
  </button>
  <button
    (click)="verifyOTPValue()"
    class="detail-button"
    extended
    i18n
    mat-fab>
    <mat-icon class="detail-button-icon">help_outline</mat-icon>
    Verify OTP Value
  </button>
</div>
