@use "../../../../styles";
@use "@angular/material" as mat;

.ca-connectors-container {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".ca-connectors-table", ".table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  display: grid;
  overflow: auto;
}

.ca-connectors-layout {
  padding: 24px;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}
