@use "../../../../styles";
@use "@angular/material" as mat;

.ca-connectors-container {
  @include styles.main-component-style;
  @include styles.base-table-structure(".ca-connectors-table", ".table-filter", ".table-scroll-container");
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}
