<!--
(c) NetKnights GmbH 2024,  https://netknights.it
This code is free software; you can redistribute it and/or
modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
as published by the Free Software Foundation; either
version 3 of the License, or any later version.
This code is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU AFFERO GENERAL PUBLIC LICENSE for more details.
You should have received a copy of the GNU Affero General Public
License along with this program.  If not, see <http://www.gnu.org/licenses/>.

SPDX-FileCopyrightText: 2024 Jelina Unger <jelina.unger@netknights.it>
SPDX-License-Identifier: AGPL-3.0-or-later
-->

<div class="form-group">
    <h3 translate>Edit Template {{ templateData.name }}</h3>

    <div class="form-group">
        Container Type: {{ templateData.container_type }}
    </div>
    <div class="form-group">
        <span translate>Supported Token Types</span>: {{ allowedTokenTypes.displayPhrase }}
    </div>

    <div class="form-group">
        <h4 translate>Tokens</h4>

        <table class="table table-bordered table-responsive table-capitalize-header">
            <thead>
            <tr>
                <th translate>
                    Type
                </th>
                <th>
                    Properties
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tr ng-repeat="token in selectedTokens track by $index">
                <td>
                    {{ token.type }}
                </td>
                <td>
                    placeholder for some properties
                </td>
                <td>
                    <button class="btn btn-capitalize btn-primary btn-transparent"
                            ng-click="removeToken($index)"
                            translate>
                        Remove
                    </button>
                </td>
            </tr>
        </table>

        <select class="form-control"
                ng-model="tokenType"
                ng-options="type as desc for (type, desc) in allowedTokenTypes.displaySelection">
        </select>
        <button class="btn btn-default btn-capitalize"
                ng-click="addToken(tokenType)"
                translate>
            Add Token
        </button>
    </div>

    <div class="form-group">
        <button class="btn btn-capitalize btn-primary"
                ng-click="saveTemplate()"
                translate>
            Save Template
        </button>
    </div>
</div>
