<div class="row">
    <div class="col-sm-6">
        <img width="250" ng-src="{{ enrolledToken.tiqrenroll.img }}"/>
    </div>
    <div class="col-sm-6">
        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group
                 class="panel-default"
                 is-open="isOpen">
                <uib-accordion-heading ng-click="isOpen=!isOpen">
                    <div >{{ 'The Enrollment URL'|translate }}
                        <span class="pull-right glyphicon" aria-hidden="true"
                           ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}">
                        </span>
                    </div>
                </uib-accordion-heading>
                {{ enrolledToken.tiqrenroll.value }}
            </div>
        </uib-accordion>
        <p translate>
            Click <a href="{{ enrolledToken.tiqrenroll.value }}">here</a> or
            scan
            the QR Code, if you
            want to add the Token to your TiQR App.
        </p>
    </div>
</div>
