<h3 name="Container Details">
    <translate>Container details for {{ containerSerial }} </translate>
</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <td translate>Type</td>
            <td class="capitalize">{{ container.type }}</td>
            <td>
                <div ng-hide="deleteContainerButton">
                    <button class="btn btn-danger" ng-click="deleteContainerButton=true"
                            id="deleteButton"
                            ng-disabled="!checkRight('delete')"
                            ng-hide="!checkRight('delete') && hide_buttons">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span translate>Delete</span>
                    </button>
                </div>
                <div ng-show="deleteContainerButton">
                    <button class="btn btn-danger" ng-click="deleteContainerMode(deleteAllTokens=false)"
                            id="deleteButton"
                            ng-disabled="!checkRight('delete')"
                            ng-hide="!checkRight('delete') && hide_buttons">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span translate>Delete Container</span>
                    </button>
                    <button class="btn btn-danger" ng-click="deleteContainerMode(deleteAllTokens=true)"
                            id="deleteButton"
                            ng-disabled="!checkRight('delete')"
                            ng-hide="!checkRight('delete') && hide_buttons">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span translate>Delete Container and Tokens</span>
                    </button>
                    <button class="btn btn-danger" ng-click="deleteContainerButton=false"
                            id="deleteButton"
                            ng-disabled="!checkRight('delete')"
                            ng-hide="!checkRight('delete') && hide_buttons">
                        <span translate>Cancel</span>
                    </button>
                </div>

            </td>
        </tr>
        <tr>
            <td translate> State</td>
            <td>
                <table class="table-transparent">
                    <tr ng-repeat="(stateType, val) in stateTypes" ng-show="displayState[stateType]">
                        <td>
                            <input type="checkbox" ng-model="containerStates[stateType]"
                                   ng-disabled="!checkRight('set')">
                            <translate>{{ stateType }} </translate>
                        </td>
                        <td ng-repeat="exclusiveState in stateTypes[stateType]">
                            <input type="checkbox" ng-model="containerStates[exclusiveState]"
                                   ng-disabled="!checkRight('set')">
                            <translate>{{ exclusiveState }} </translate>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <button class="btn btn-primary"
                        id="saveStates" ng-click="saveStates()" ng-disabled="!changed"
                        ng-show="checkRight('set')"
                        translate> Save States
                </button>
            </td>
        </tr>
        <tr ng-show="loggedInUser.role==='admin' &&
                     checkRight('setdescription')"
            token-data-edit text="{{ 'Description'|translate }}"
            button-text="{{ 'Set description'|translate }}"
            token-data="{{ container.description }}"
            hide-buttons="{{ hide_buttons }}"
            set-right="{{ checkRight('setdescription') }}"
            editable-as-user=true
            token-key="description"
            callback-cancel="get()"
            callback="setDescription(value)"
            logged-in-user="loggedInUser"></tr>
        <tr ng-show="loggedInUser.role==='user'"
            token-data-edit text="{{ 'Description'|translate }}"
            button-text="{{ 'Set description'|translate }}"
            token-data="{{ container.description }}"
            hide-buttons="{{ hide_buttons }}"
            set-right="{{ checkRight('setdescription') }}"
            editable-as-user=true
            token-key="description"
            callback-cancel="get()"
            callback="setDescription(value)"
            logged-in-user="loggedInUser"></tr>
        <tr>
            <td translate> Info</td>
            <td>
                <ul>
                    <li ng-repeat="(k,v) in container.info">
                        {{ k + ": " + v }}<br>
                    </li>
                </ul>
            </td>
            <td>
                <div ng-show="loggedInUser.role == 'admin'">
                    <button class="btn btn-primary"
                            id="ciEditButton"
                            ng-hide="editContainernfo || (!checkRight('set') && hide_buttons)"
                            ng-disabled="!checkRight('set')"
                            ng-click="startEditContainerInfo()"
                            translate>Edit
                    </button>
                    <button class="btn btn-primary"
                            id="ciSaveButton"
                            ng-show="editContainernfo"
                            ng-click="saveContainerInfo()"
                            translate>Save Container Info
                    </button>
                    <button class="btn btn-danger"
                            id="ciCancelButton"
                            ng-show="editContainernfo"
                            ng-click="editContainernfo=0"
                            translate>Cancel
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td translate> Last Seen</td>
            <td>{{ container.last_seen | date:'yyyy-MM-dd H:mm:ss'}}</td>
            <td></td>
        </tr>
        <tr>
            <td translate> Last Updated</td>
            <td>{{ container.last_updated | date:'yyyy-MM-dd H:mm:ss'}}</td>
            <td></td>
        </tr>
    </table>
</div>

<!-- =================== USER ASSIGN ================= -->

<div ng-show="loggedInUser.role == 'admin'">
    <h4 ng-show="containerOwner" translate>Assigned User</h4>
    <table ng-show="containerOwner"
           class="table table-striped table-bordered">
        <tr>
            <td translate>Username</td>
            <td><a ui-sref="user.details({username: containerOwner.user_name,
            realmname: containerOwner.user_realm,
            resolvername: containerOwner.user_resolver})">
                {{ containerOwner.user_name }}
            </a></td>
            <td>
                <button id="unassignAdminButton"
                        ng-click="unassignUser()"
                        class="btn btn-warning">
                    <span class="glyphicon glyphicon-resize-full"></span>
                    <span translate>Unassign User</span>
                </button>
            </td>
        </tr>
        <tr>
            <td translate>Realm</td>
            <td><a ui-sref="config.realms.list">{{ containerOwner.user_realm }}</a>
            </td>
        </tr>
        <tr>
            <td translate>Resolver</td>
            <td><a ui-sref="config.resolvers.list">{{ containerOwner.user_resolver }}</a>
            </td>
        </tr>
        <tr>
            <td translate>User Id</td>
            <td>{{ containerOwner.user_id }}</td>
        </tr>
    </table>
</div>

<div ng-show="checkRight('assign')">
    <h4 ng-hide="containerOwner.user_id" translate>
        Assign User</h4>
    <form ng-hide="containerOwner.user_id"
          name="formAssignContainer"
          role="form" validate>
        <div assign-user new-user-object="newUser" realms="realms"></div>

        <div class="text-center">
            <button type="button" ng-click="assignUser()"
                    id="assignButton"
                    ng-disabled="formAssignToken.$invalid"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-resize-small"></span>
                <span translate>Assign User</span>
            </button>
        </div>
    </form>
</div>

<!-- =================== Tokens ================= -->

<h4 translate>Tokens in container</h4>

<div class="table-responsive" ng-show="container.tokens.length > 0">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td ng-show="tokenAction != ''">
                <input type="checkbox" ng-model="allTokensSelected">
                <translate>Select All</translate>
            </td>
            <th translate>serial</th>
            <th translate>type</th>
            <th translate>Active</th>
            <th translate>window</th>
            <th translate>description</th>
            <th translate>failcounter</th>
            <th translate>maxfail</th>
            <th translate>otplen</th>
            <th>Container</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="token in container.tokens">
            <td ng-show="tokenAction != ''">
                <input type="checkbox" ng-model="tokenSelection[token.serial]">
            </td>
            <td><a ui-sref="token.details({tokenSerial:token.serial,
            currentToken:token})"
                   ng-click="$rootScope.returnTo=user.list;">
                {{ token.serial }}</a></td>
            <td>{{ token.tokentype }}</td>
            <td>
                <span class="label label-success" ng-show="token.active" ng-click="disableToken(token.serial)"
                      translate>
                    active
                </span>
                <span class="label label-danger" ng-hide="token.active" ng-click="enableToken(token.serial)" translate>
                    disabled
                </span>
            </td>
            <td>{{ token.count_window }}</td>
            <td>{{ token.description }}</td>
            <td>
                <span class="label"
                      ng-click="resetFailcount(token.serial)"
                      ng-class="{'label-success': token.failcount<=0,
                                    'label-warning': token.failcount>0,
                                    'label-danger': token.failcount>=token.maxfail}">
                    {{ token.failcount }}
                </span>
            </td>
            <td>{{ token.maxfail }}</td>
            <td>{{ token.otplen }}</td>
            <td>
                <a ui-sref="token.containerdetails({containerSerial: token.container_serial})">{{ token.container_serial }}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center" ng-hide="tokenAction != ''">
    <button ng-click="enrollToken()" class="btn btn-primary"
            ng-disabled="!checkEnroll()"
            id="enrollButton"
            translate>Enroll New Token
    </button>
</div>
<div class="text-center" ng-show="loggedInUser.role == 'admin' && tokenAction == '' &&  container.tokens.length > 0">
    <button class="btn btn-danger"
            id="disableButton"
            ng-disabled="!checkRight('disable')"
            ng-hide="(!checkRight('disable') && hide_buttons)"
            ng-click="disableAllTokens()"
            translate>Disable All Tokens
    </button>
    <button class="btn btn-success"
            id="enableButton"
            ng-disabled="!checkRight('enable')"
            ng-hide="(!checkRight('enable') && hide_buttons)"
            ng-click="enableAllTokens()"
            translate>Enable All Tokens
    </button>
    <button ng-click="tokenAction='remove'" class="btn btn-primary"
            id="removeButton"
            translate>Remove Tokens From Container
    </button>
    <button class="btn btn-danger" ng-click="tokenAction='delete'"
            id="deleteButton"
            ng-disabled="!checkRight('delete')"
            ng-hide="(!checkRight('delete') && hide_buttons)">
        <span class="glyphicon glyphicon-trash"></span>
        <span translate>Delete Tokens</span>
    </button>
</div>
<div class="text-center" ng-show="loggedInUser.role == 'admin' && tokenAction != '' && container.tokens.length > 0">
    <button ng-click="performTokenAction()" class="btn btn-primary btn-capitalize"
            ng-disabled="!checkEnroll()"
            id="performTokenAction"
            translate>{{ tokenAction }} selected tokens
    </button>
    <button ng-click="cancelTokenAction()" class="btn btn-danger"
            id="cancelTokenAction"
            translate>Cancel
    </button>
</div>