<p class="help-block"
   ng-hide="$state.includes('token.wizard')"
   translate>The DayPassword token is a time based password token. You can paste a secret key or
    have the server generate the secret and scan the QR code with an authenticator app that supports the token.
</p>

<ng-include src="instanceUrl + '/static/components/token/views/token.display.apps.html'">
</ng-include>

<h4 ng-hide="$state.includes('token.wizard')" translate>Token data</h4>

<div class="form-group">
    <div ng-hide="checkRight('daypassword_force_server_generate')">
        <input type="checkbox" ng-model="form.genkey"
               name="generate" id="generate">
        <label for="generate" translate>Generate secret on the Server</label>
    </div>

    <div ng-show="form.genkey">
        <p class="help-block" translate>
            The server will create the secret and a QR Code
            will be displayed for you to be scanned.
        </p>
    </div>
</div>
<div class="form-group" ng-hide="form.genkey">
    <label for="otpkey" translate>OTP Key</label>
    <input type="text" ng-pattern="/^[0-9a-fA-F]*$/" id="otpkey"
           autofocus
           class="form-control"
           placeholder="{{ 'Enter the secret...'|translate }}"
           ng-model="form.otpkey" name="otpkey">
</div>
<div class="form-group"
    ng-hide="checkRight('daypassword_otplen')">
    <label for="otplen" translate>password length</label>
    <select class="form-control"
            id="otplen"
            ng-model="form.otplen"
            ng-options="otplen for otplen in formInit.otplens">
    </select>
    <p class="help-block" ng-show="form.genkey" translate>
        Some Authenticator Apps only support an OTP length of 6.
    </p>
</div>
<div class="form-group"
     ng-hide="checkRight('daypassword_timestep')">
    <label for="timestep" translate>Timestep</label>
    <input type="text" id="timestep"
           required
           class="form-control"
           placeholder="12h or 1d"
           ng-model="form.timeStep">
    <p class="help-block" ng-show="form.genkey" translate>
        The time in which the password can be used. For example '1d' or '12h'.
    </p>
</div>

<div class="form-group"
    ng-hide="checkRight('daypassword_hashlib')">
    <label for="hashlib" translate>Hash algorithm</label>
    <select class="form-control"
            id="hashlib"
            ng-model="form.hashlib"
            ng-options="hashlib for hashlib in formInit.hashlibs">
    </select>
    <p class="help-block" ng-show="form.genkey" translate>
        Some Authenticator Apps only support the SHA1 algorithm.
    </p>
</div>
