<div class="well" ng-hide="containerRegister">
    <form name="formCreateContainer" role="form"
          ng-hide="loggedInUser.role == 'user' && !checkRight('container_create')">
        <!-- Container Type -->
        <div class="form-group">
            <label for="containertype" translate>Container Type</label>
            <select class="form-control"
                    id="containertype"
                    ng-model="form.containerType"
                    ng-options="type as attr.description for (type, attr) in formData.containerTypes">
            </select>
        </div>
        <div class="form-group">
            <span translate>Supported Token Types</span>: {{ form.token_types }}
        </div>
        <br>

        <!-- Description -->
        <div class="form-group" ng-hide="loggedInUser.role == 'user' && !checkRight('container_description')">
            <label for="description" translate>Description</label>
            <input type="text" class="form-control" id="description"
                   autocomplete="new-password"
                   placeholder="{{ 'Some nice words...'|translate }}"
                   ng-model="form.description"/>
        </div>

        <!-- User: will be $scope.newUser.user to use with fixUser() -->
        <h4 ng-hide="loggedInUser.role == 'user' && !checkRight('container_assign_user')" translate>Assign container to
            user</h4>
        <div ng-hide="loggedInUser.role == 'user' && !checkRight('container_assign_user')">
            <div assign-user new-user-object="newUser" realms="realms" enable-set-pin=false>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="text-center" ng-hide="loggedInUser.role == 'user' && !checkRight('container_create')">
            <button type="button" ng-click="createContainer()"
                    class="btn btn-primary">
                <span>Create</span>
            </button>
        </div>
    </form>
</div>

<!--- Container Registration --->
<div ng-show="containerRegister">
    <h3 translate>Container Registration</h3>
    <span translate>
            Your container was successfully created with the serial:
        </span>
    <a ui-sref="token.containerdetails({containerSerial:containerSerial})">{{ containerSerial }}</a>

    <div class="row">
        <div class="col-sm-6">
            <img width="250" ng-src="{{ containerRegistrationQR }}"/>
        </div>

        <div class="col-sm-6">
            <p class="help-block" translate>
                Please scan the QR code with the privacyIDEA Authenticator App
                or click <a href="{{ containerRegistrationURL }}">this link</a> on your
                smartphone to register your container. It will send the missing registration data to the configured
                endpoint.
            </p>
        </div>
    </div>
</div>
