<h3 name="Token Details">Token {{ tokenSerial }} is Lost!
    <a class="btn btn-default" ui-sref="audit({serial: tokenSerial})">
        View token in Audit log</a>
</h3>
<p class="help-block">
    If the token is lost, you can enroll a temporary password based token and
    give the password to the user. The OTP PIN of the old token is still the
    same.
</p>

<p class="help-block">
    The user will have to authenticate with the old OTP PIN he knows and this
    newly generated password.
</p>

<p class="help-block">
    The old token is disabled and can be deleted or enabled later.
</p>


<p class="alert alert-warning">
    Not yet implemented.
</p>
