<div class="row">
    <div class="col-sm-6" ng-show="enrolledToken.rollout_state === 'enrolled'">
        <p translate>
            Please note, that your smartphone needs internet access during the authentication process.
        </p>
    </div>
    <div class="col-sm-6" ng-show="enrolledToken.rollout_state === 'clientwait'">
        <p class="help-block" translate>
            Please scan the QR code with the privacyIDEA Authenticator App
        </p>
        <img width="{{ qrCodeWidth }}"
             ng-src="{{ enrolledToken.pushurl.img }}"/>
    </div>

    <div class="col-sm-4 pull-right" ng-show="enrolledToken.rollout_state === 'clientwait'">
        <p translate>
            Your token {{ enrolledToken.serial }} is not completely enrolled, yet.
        </p>
        <p translate>
            It will send the missing registration data to the configured endpoint.
        </p>
    </div>
</div>