<div class="row">
    <div class="col-sm-6">
        <img width="{{ qrCodeWidth }}" src="{{ enrolledToken.googleurl.img }}"/>
    </div>
    <div class="col-sm-6" ng-hide="$state.includes('token.wizard')">
        <accordion close-others="oneAtATime">
            <accordion-group heading="{{ 'The OTP key'|translate }}">
                {{ enrolledToken.otpkey.value }}
            </accordion-group>
        </accordion>

        <p translate>
            Click <a href="{{ enrolledToken.googleurl.value }}">here</a> or scan
            the QR Code, if you
            want to add the Token to your Google Authenticator.
        </p>
    </div>
</div>
