<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
@switch (tokenTypeKey()) {
  @case ("hotp") {
    <app-enroll-hotp
      [enrollmentData]="$any(enrollmentData())"
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      [wizard]="wizard()" />
  }
  @case ("totp") {
    <app-enroll-totp
      [enrollmentData]="$any(enrollmentData())"
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      [wizard]="wizard()" />
  }
  @case ("spass") {
    <app-enroll-spass
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      [wizard]="wizard()" />
  }
  @case ("motp") {
    <app-enroll-motp
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      [wizard]="wizard()" />
  }
  @case ("sshkey") {
    <app-enroll-sshkey (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("yubikey") {
    <app-enroll-yubikey
      [enrollmentData]="$any(enrollmentData())"
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("remote") {
    <app-enroll-remote
      [enrollmentData]="$any(enrollmentData())"
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("yubico") {
    <app-enroll-yubico (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("radius") {
    <app-enroll-radius
      [enrollmentData]="$any(enrollmentData())"
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      [wizard]="wizard()" />
  }
  @case ("sms") {
    <app-enroll-sms
      [enrollmentData]="$any(enrollmentData())"
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      [wizard]="wizard()" />
  }
  @case ("4eyes") {
    <app-enroll-foureyes
      [enrollmentData]="$any(enrollmentData())"
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("applspec") {
    <app-enroll-applspec
      [enrollmentData]="$any(enrollmentData())"
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      [wizard]="wizard()" />
  }
  @case ("daypassword") {
    <app-enroll-daypassword
      [enrollmentData]="$any(enrollmentData())"
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      [wizard]="wizard()" />
  }
  @case ("certificate") {
    <app-enroll-certificate
      [enrollmentData]="$any(enrollmentData())"
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("email") {
    <app-enroll-email
      [enrollmentData]="$any(enrollmentData())"
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("indexedsecret") {
    <app-enroll-indexedsecret (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("paper") {
    <app-enroll-paper
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      [wizard]="wizard()" />
  }
  @case ("push") {
    <app-enroll-push
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      (onEnrollmentResponseChange)="enrollmentResponseChange.emit($event)"
      (reopenDialogChange)="reopenDialogChange.emit($event)" />
  }
  @case ("question") {
    <app-enroll-question (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("registration") {
    <app-enroll-registration (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("tan") {
    <app-enroll-tan
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      [wizard]="wizard()" />
  }
  @case ("tiqr") {
    <app-enroll-tiqr
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      [wizard]="wizard()" />
  }
  @case ("u2f") {
    <app-enroll-u2f (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("vasco") {
    <app-enroll-vasco (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)" />
  }
  @case ("webauthn") {
    <app-enroll-webauthn
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      (onEnrollmentResponseChange)="enrollmentResponseChange.emit($event)" />
  }
  @case ("passkey") {
    <app-enroll-passkey
      (enrollmentArgsGetterChange)="enrollmentArgsGetterChange.emit($event)"
      (onEnrollmentResponseChange)="enrollmentResponseChange.emit($event)"
      (reopenDialogChange)="reopenDialogChange.emit($event)" />
  }
}
