<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
@switch (tokenTypeKey()) {
  @case ("hotp") {
    <app-enroll-hotp
      [enrollmentData]="$any(enrollmentData())"
      [wizard]="wizard()" />
  }
  @case ("totp") {
    <app-enroll-totp
      [enrollmentData]="$any(enrollmentData())"
      [wizard]="wizard()" />
  }
  @case ("spass") {
    <app-enroll-spass />
  }
  @case ("motp") {
    <app-enroll-motp [wizard]="wizard()" />
  }
  @case ("sshkey") {
    <app-enroll-sshkey />
  }
  @case ("yubikey") {
    <app-enroll-yubikey [enrollmentData]="$any(enrollmentData())" />
  }
  @case ("remote") {
    <app-enroll-remote [enrollmentData]="$any(enrollmentData())" />
  }
  @case ("yubico") {
    <app-enroll-yubico />
  }
  @case ("radius") {
    <app-enroll-radius
      [enrollmentData]="$any(enrollmentData())"
      [wizard]="wizard()" />
  }
  @case ("sms") {
    <app-enroll-sms
      [enrollmentData]="$any(enrollmentData())"
      [wizard]="wizard()" />
  }
  @case ("4eyes") {
    <app-enroll-foureyes [enrollmentData]="$any(enrollmentData())" />
  }
  @case ("applspec") {
    <app-enroll-applspec
      [enrollmentData]="$any(enrollmentData())"
      [wizard]="wizard()" />
  }
  @case ("daypassword") {
    <app-enroll-daypassword
      [enrollmentData]="$any(enrollmentData())"
      [wizard]="wizard()" />
  }
  @case ("certificate") {
    <app-enroll-certificate [enrollmentData]="$any(enrollmentData())" />
  }
  @case ("email") {
    <app-enroll-email [enrollmentData]="$any(enrollmentData())" />
  }
  @case ("indexedsecret") {
    <app-enroll-indexedsecret [enrollmentData]="$any(enrollmentData())" />
  }
  @case ("paper") {
    <app-enroll-paper />
  }
  @case ("push") {
    <app-enroll-push />
  }
  @case ("question") {
    <app-enroll-question />
  }
  @case ("registration") {
    <app-enroll-registration />
  }
  @case ("tan") {
    <app-enroll-tan />
  }
  @case ("tiqr") {
    <app-enroll-tiqr [wizard]="wizard()" />
  }
  @case ("u2f") {
    <app-enroll-u2f />
  }
  @case ("vasco") {
    <app-enroll-vasco />
  }
  @case ("webauthn") {
    <app-enroll-webauthn />
  }
  @case ("passkey") {
    <app-enroll-passkey />
  }
}
