<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<app-detail-field-row
  label="States"
  i18n-label
  [isEditing]="field.isEditing()">
  <ng-container fieldValue>
    @if (field.isEditing()) {
      <app-details-multi-select-cell
        selectLabel="Select States"
        i18n-selectLabel
        [options]="containerStateOptions"
        [selected]="selectedStates()"
        (selectionChange)="onStatesChange($event)" />
    } @else {
      <div class="flex-row gap-8 flex-wrap">
        @for (state of states(); track state) {
          <span
            [ngClass]="[tableUtilsService.getSpanClassForState(state, false)]"
            class="font-14">
            {{ tableUtilsService.getDisplayTextForState(state) }}
          </span>
        }
      </div>
    }
  </ng-container>
  <ng-container fieldEdit>
    @if (editable()) {
      <app-edit-buttons
        [element]="field.editButtonsElement"
        [toggleEdit]="field.toggle"
        [saveEdit]="field.commit"
        [cancelEdit]="field.cancel"
        [shouldHideEdit]="blockEditing()"
        [isEditingUser]="false"
        [isEditingInfo]="false"></app-edit-buttons>
    }
  </ng-container>
</app-detail-field-row>
