@use "../../action-tab/action-tab.component.scss";

.action-name-container {
  background-color: var(--mat-sys-primary-container);
  border-radius: var(--border-radius);
  box-shadow: var(--mat-sys-level2);
  color: var(--mat-sys-on-surface);
  display: flex;
  flex-direction: row;
  gap: var(--global-gap);
  min-width: 0;
  padding: var(--three-quarters-global-padding);
  .name-header {
    font-size: 1.17em;
    font-weight: bold;
    margin: 0;
  }

  .name-input {
    @include action-tab.action-tab-input;
  }
  :focus-within {
    outline: 2px solid var(--mat-sys-primary-base);
    outline-offset: -2px;
  }
}
