.token-card {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  box-shadow:
    0 2px 4px -1px #00000033,
    0 4px 5px 0 #00000024,
    0 1px 10px 0 #0000001f;
}

.token-type {
  font-weight: 400;
}

.token-actions {
  display: flex;
  align-items: center;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.token-details-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem 0;
  mat-slide-toggle {
    align-content: center;
    grid-column: span 1;
    margin-bottom: 16px;
  }

  mat-form-field {
    grid-column: span 2;
  }
}
