<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="margin-bottom-16">
  <div class="margin-left-16 margin-bottom-16">
    <h4
      class="margin-bottom-16"
      i18n>
      Connection Details
    </h4>
    <div class="flex-column">
      <mat-form-field class="input-width-s">
        <mat-label i18n>Scope</mat-label>
        <mat-select
          [value]="model().SCOPE"
          (selectionChange)="model.update(m => ({ ...m, SCOPE: $event.value }))">
          <mat-option
            i18n
            value="SUBTREE">
            SUBTREE
          </mat-option>
          <mat-option
            i18n
            value="BASE">
            BASE
          </mat-option>
          <mat-option
            i18n
            value="LEVEL">
            LEVEL
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-width-xl margin-bottom-16">
        <mat-label i18n>Base DN</mat-label>
        <app-clearable-input
          (clearButtonClick)="model.update(m => ({ ...m, LDAPBASE: '' }))"
          [showClearButton]="!!model().LDAPBASE">
          <input
            [formField]="ldapForm.LDAPBASE"
            matInput />
        </app-clearable-input>
        @if (ldapForm.LDAPBASE().errors().some(e => e.kind === 'required') && ldapForm.LDAPBASE().touched()) {
          <mat-error i18n>
            Base DN is
            <strong>required</strong>
            .
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="input-width-xl">
        <mat-label i18n>Server URI</mat-label>
        <app-clearable-input
          (clearButtonClick)="model.update(m => ({ ...m, LDAPURI: '' }))"
          [showClearButton]="!!model().LDAPURI">
          <input
            [formField]="ldapForm.LDAPURI"
            matInput
            placeholder="ldap://privacyidea.server1, ldap://privacyidea.server2" />
        </app-clearable-input>
        @if (ldapForm.LDAPURI().errors().some(e => e.kind === 'required') && ldapForm.LDAPURI().touched()) {
          <mat-error i18n>
            Server URI is
            <strong>required</strong>
            .
          </mat-error>
        }
      </mat-form-field>

      @if (showTls) {
        <div class="flex-row gap-16">
          <mat-checkbox
            [checked]="model().START_TLS"
            [disabled]="startTlsDisabled()"
            (change)="model.update(m => ({ ...m, START_TLS: $event.checked }))"
            class="checkbox-inline input-width-l"
            i18n>
            STARTTLS
          </mat-checkbox>

          <mat-form-field class="input-width-s">
            <mat-label i18n>TLS Version</mat-label>
            <mat-select
              [value]="model().TLS_VERSION"
              [disabled]="tlsVersionDisabled()"
              (selectionChange)="model.update(m => ({ ...m, TLS_VERSION: $event.value }))">
              <mat-option
                i18n
                value="TLSv1">
                TLS v1.0
              </mat-option>
              <mat-option
                i18n
                value="TLSv1_1">
                TLS v1.1
              </mat-option>
              <mat-option
                i18n
                value="TLSv1_2">
                TLS v1.2
              </mat-option>
              <mat-option
                i18n
                value="TLSv1_3">
                TLS v1.3
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flex-row gap-16">
          <mat-checkbox
            [checked]="model().TLS_VERIFY"
            [disabled]="tlsVerifyDisabled()"
            (change)="model.update(m => ({ ...m, TLS_VERIFY: $event.checked }))"
            class="checkbox-inline input-width-l"
            i18n>
            Verify TLS certificate of the server.
          </mat-checkbox>

          <mat-form-field class="margin-bottom-16 input-width-l">
            <mat-label i18n>CA Certificate</mat-label>
            <mat-hint i18n>The file containing the CA certificate which signed the LDAP TLS certificate.</mat-hint>
            <app-clearable-input
              (clearButtonClick)="model.update(m => ({ ...m, TLS_CA_FILE: '' }))"
              [disabled]="tlsCaFileDisabled()"
              [showClearButton]="!!model().TLS_CA_FILE">
              <input
                [formField]="ldapForm.TLS_CA_FILE"
                matInput
                placeholder="/etc/privacyidea/ldap-ca.crt" />
            </app-clearable-input>
          </mat-form-field>
        </div>
      }
    </div>
  </div>

  <div class="margin-left-16">
    <h4
      class="margin-bottom-16"
      i18n>
      Credentials
    </h4>

    <div class="flex-column">
      <div class="flex-row gap-16">
        <mat-form-field class="input-width-l">
          <mat-label i18n>Bind Type</mat-label>
          <mat-select
            [value]="model().AUTHTYPE"
            (selectionChange)="model.update(m => ({ ...m, AUTHTYPE: $event.value }))">
            <mat-option
              i18n
              value="Simple">
              Simple
            </mat-option>
            <mat-option
              i18n
              value="Anonymous">
              Anonymous
            </mat-option>
            <mat-option
              i18n
              value="SASL Digest-MD5">
              SASL Digest-MD5
            </mat-option>
            <mat-option
              i18n
              value="NTLM">
              NTLM
            </mat-option>
            <mat-option
              i18n
              value="SASL Kerberos">
              SASL Kerberos
            </mat-option>
          </mat-select>
        </mat-form-field>

        @if (model().AUTHTYPE !== "Anonymous") {
          <mat-form-field class="input-width-l">
            <mat-label i18n>
              {{ model().AUTHTYPE === "SASL Kerberos" ? "Keyfile Path" : "Bind password" }}
            </mat-label>
            <app-clearable-input
              (clearButtonClick)="model.update(m => ({ ...m, BINDPW: '' }))"
              [showClearButton]="!!model().BINDPW">
              <input
                [formField]="ldapForm.BINDPW"
                matInput
                placeholder="topsecret"
                type="password" />
            </app-clearable-input>
          </mat-form-field>
        }
      </div>

      @if (model().AUTHTYPE !== "Anonymous") {
        <mat-form-field class="input-width-xl">
          <mat-label i18n>Bind DN</mat-label>
          <app-clearable-input
            (clearButtonClick)="model.update(m => ({ ...m, BINDDN: '' }))"
            [showClearButton]="!!model().BINDDN">
            <input
              [formField]="ldapForm.BINDDN"
              matInput
              placeholder="cn=admin,ou=user,dc=domain,dc=tld" />
          </app-clearable-input>
        </mat-form-field>
      }
    </div>
  </div>
</div>

<div class="margin-bottom-16">
  <div class="margin-left-16">
    <h4 i18n>Settings</h4>

    <div class="flex-column gap-16">
      <div class="flex-row gap-16">
        <mat-form-field class="input-width-s">
          <mat-label i18n>Timeout</mat-label>
          <input
            [formField]="ldapForm.TIMEOUT"
            matInput
            type="number" />
          <mat-hint i18n>In seconds.</mat-hint>
        </mat-form-field>
        <mat-form-field class="input-width-s">
          <mat-label i18n>Cache Timeout</mat-label>
          <input
            [formField]="ldapForm.CACHE_TIMEOUT"
            matInput
            type="number" />
          <mat-hint i18n>In seconds.</mat-hint>
        </mat-form-field>

        <mat-form-field class="input-width-s">
          <mat-label i18n>Size Limit</mat-label>
          <input
            [formField]="ldapForm.SIZELIMIT"
            matInput
            type="number" />
        </mat-form-field>
      </div>

      <div class="flex-row gap-16">
        <mat-form-field class="input-width-s">
          <mat-label i18n>Server Pool Retry Rounds</mat-label>
          <input
            [formField]="ldapForm.SERVERPOOL_ROUNDS"
            matInput
            type="number" />
        </mat-form-field>

        <mat-form-field class="input-width-s">
          <mat-label i18n>Server Pool Skip Timeout</mat-label>
          <input
            [formField]="ldapForm.SERVERPOOL_SKIP"
            matInput
            type="number" />
          <mat-hint i18n>In seconds.</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="flex-column">
      <mat-checkbox
        [checked]="model().SERVERPOOL_PERSISTENT"
        (change)="model.update(m => ({ ...m, SERVERPOOL_PERSISTENT: $event.checked }))"
        i18n>
        Per-Process Server Pool
      </mat-checkbox>
      <span class="hint">This setting activates an LDAP server pool which persists between requests.</span>
    </div>

    <div class="flex-column">
      <mat-checkbox
        [checked]="model().EDITABLE"
        (change)="model.update(m => ({ ...m, EDITABLE: $event.checked }))"
        i18n>
        Edit User Store
      </mat-checkbox>
      <span class="hint">The user data in this database can be modified from within privacyIDEA.</span>
    </div>

    @if (model().EDITABLE) {
      <div class="flex-column">
        <mat-form-field class="input-width-xl">
          <mat-label i18n>Object Classes of a New Created User Object</mat-label>
          <app-clearable-input
            (clearButtonClick)="model.update(m => ({ ...m, OBJECT_CLASSES: '' }))"
            [showClearButton]="!!model().OBJECT_CLASSES">
            <input
              [formField]="ldapForm.OBJECT_CLASSES"
              matInput />
          </app-clearable-input>
        </mat-form-field>

        <mat-form-field class="input-width-xl">
          <mat-label i18n>DN of a New Created User Object</mat-label>
          <app-clearable-input
            (clearButtonClick)="model.update(m => ({ ...m, DN_TEMPLATE: '' }))"
            [showClearButton]="!!model().DN_TEMPLATE">
            <input
              [formField]="ldapForm.DN_TEMPLATE"
              matInput
              placeholder="CN=<username>,<basendn>" />
          </app-clearable-input>
        </mat-form-field>
      </div>
    }
  </div>

  <div class="margin-left-16">
    <h4 i18n>Attributes & Mapping</h4>
    @if (!isEditMode()) {
      <h4
        class="margin-bottom-8"
        i18n>
        Presets:
      </h4>
      <div class="preset-buttons-container margin-bottom-16">
        <div class="preset-buttons">
          @for (preset of ldapPresets; track preset.name) {
            <button
              (click)="applyLdapPreset(preset)"
              class="action-button-secondary button-width-m"
              mat-stroked-button
              type="button">
              {{ preset.name }}
            </button>
          }
        </div>
      </div>
    }

    <div class="flex-column">
      <div class="flex-row gap-16 margin-bottom-16">
        <mat-form-field class="input-width-l">
          <mat-label i18n>Loginname Attribute</mat-label>
          <app-clearable-input
            (clearButtonClick)="model.update(m => ({ ...m, LOGINNAMEATTRIBUTE: '' }))"
            [showClearButton]="!!model().LOGINNAMEATTRIBUTE">
            <input
              [formField]="ldapForm.LOGINNAMEATTRIBUTE"
              matInput
              placeholder="sAMAccountName" />
          </app-clearable-input>
          @if (
            ldapForm.LOGINNAMEATTRIBUTE().errors().some(e => e.kind === 'required') && ldapForm.LOGINNAMEATTRIBUTE().touched()
          ) {
            <mat-error i18n>
              Loginname attribute is
              <strong>required</strong>
              .
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="input-width-s">
          <mat-label i18n>UID Type</mat-label>
          <app-clearable-input
            (clearButtonClick)="model.update(m => ({ ...m, UIDTYPE: '' }))"
            [showClearButton]="!!model().UIDTYPE">
            <input
              [formField]="ldapForm.UIDTYPE"
              matInput
              placeholder="DN" />
          </app-clearable-input>
        </mat-form-field>
      </div>

      <mat-form-field class="input-width-xl margin-bottom-16">
        <mat-label i18n>Search Filter</mat-label>
        <app-clearable-input
          (clearButtonClick)="model.update(m => ({ ...m, LDAPSEARCHFILTER: '' }))"
          [showClearButton]="!!model().LDAPSEARCHFILTER">
          <input
            [formField]="ldapForm.LDAPSEARCHFILTER"
            matInput
            placeholder="(sAMAccountName=*)(objectClass=person)" />
        </app-clearable-input>
        @if (
          ldapForm.LDAPSEARCHFILTER().errors().some(e => e.kind === 'required') && ldapForm.LDAPSEARCHFILTER().touched()
        ) {
          <mat-error i18n>
            Search filter is
            <strong>required</strong>
            .
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="input-width-xl margin-bottom-16">
        <mat-label i18n>Attribute Mapping</mat-label>
        <textarea
          [formField]="ldapForm.USERINFO"
          matInput
          placeholder='{"phone:" : "telephoneNumber", "mobile": "mobile", "email" : "mail", "surname" : "sn",
             "givenname" : "givenName"}'></textarea>
        @if (ldapForm.USERINFO().errors().some(e => e.kind === 'required') && ldapForm.USERINFO().touched()) {
          <mat-error i18n>
            Attribute mapping is
            <strong>required</strong>
            .
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="input-width-xl">
        <mat-label i18n>Multivalue Attributes</mat-label>
        <app-clearable-input
          (clearButtonClick)="model.update(m => ({ ...m, MULTIVALUEATTRIBUTES: '' }))"
          [showClearButton]="!!model().MULTIVALUEATTRIBUTES">
          <input
            [formField]="ldapForm.MULTIVALUEATTRIBUTES"
            matInput
            placeholder='["mobile"]' />
        </app-clearable-input>
      </mat-form-field>

      <mat-checkbox
        [checked]="model().recursive_group_search"
        (change)="model.update(m => ({ ...m, recursive_group_search: $event.checked }))"
        i18n>
        Recursive Search of User Groups
      </mat-checkbox>

      @if (model().recursive_group_search) {
        <mat-form-field class="input-width-xl margin-bottom-32">
          <mat-label i18n>Base DN of User Groups</mat-label>
          <mat-hint i18n>
            Enter the base DN for the user groups. Leave this field empty if the groups are located in the same base DN
            as defined for the users above.
          </mat-hint>
          <app-clearable-input
            (clearButtonClick)="model.update(m => ({ ...m, group_base_dn: '' }))"
            [showClearButton]="!!model().group_base_dn">
            <input
              [formField]="ldapForm.group_base_dn"
              matInput
              placeholder="ou=groups,dc=domain,dc=tld" />
          </app-clearable-input>
        </mat-form-field>

        <mat-form-field class="input-width-xl margin-bottom-16">
          <mat-label i18n>Search Filter for User Groups</mat-label>
          <mat-hint>Possible tags: {{ "{" }}base_dn{{ "}" }}, {{ "{" }}username{{ "}" }}</mat-hint>
          <app-clearable-input
            (clearButtonClick)="model.update(m => ({ ...m, group_search_filter: '' }))"
            [showClearButton]="!!model().group_search_filter">
            <input
              [formField]="ldapForm.group_search_filter"
              matInput
              placeholder="(&(sAMAccountName=*)(objectCategory=group)
              (member:1.2.840.113556.1.4.1941:=cn={distinguishedName},{base_dn}))" />
          </app-clearable-input>
        </mat-form-field>

        <div class="flex-row gap-16 margin-bottom-32">
          <mat-form-field class="input-width-l">
            <mat-label i18n>Group Name Attribute</mat-label>
            <mat-hint>Group attribute defining the group's name, which should be stored in the user info.</mat-hint>
            <app-clearable-input
              (clearButtonClick)="model.update(m => ({ ...m, group_name_attribute: '' }))"
              [showClearButton]="!!model().group_name_attribute">
              <input
                [formField]="ldapForm.group_name_attribute"
                matInput
                placeholder="distinguishedName" />
            </app-clearable-input>
          </mat-form-field>

          <mat-form-field class="input-width-l">
            <mat-label i18n>User Info Key</mat-label>
            <mat-hint>The key to store the groups in the user info (attribute mapping key).</mat-hint>
            <app-clearable-input
              (clearButtonClick)="model.update(m => ({ ...m, group_attribute_mapping_key: '' }))"
              [showClearButton]="!!model().group_attribute_mapping_key">
              <input
                [formField]="ldapForm.group_attribute_mapping_key"
                matInput
                placeholder="groups" />
            </app-clearable-input>
          </mat-form-field>
        </div>
      }

      <div class="flex-column margin-bottom-16">
        <mat-checkbox
          [checked]="model().NOREFERRALS"
          (change)="model.update(m => ({ ...m, NOREFERRALS: $event.checked }))"
          i18n>
          No Anonymous Referral Chasing
        </mat-checkbox>

        <mat-checkbox
          [checked]="model().NOSCHEMAS"
          (change)="model.update(m => ({ ...m, NOSCHEMAS: $event.checked }))"
          i18n>
          No Retrieval of Schema Information
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>
