<div class="type-sections-container">
  <div class="type-section">
    <div class="form-grid">
      <mat-form-field class="field-lg">
        <mat-label i18n>Server URI</mat-label>
        <input
          [formControl]="ldapUriControl"
          matInput
          placeholder="ldap://privacyidea.server1, ldap://privacyidea.server2"
          required />
        @if (ldapUriControl.hasError('required') && ldapUriControl.touched) {
          <mat-error i18n>Server URI is <strong>required</strong>.</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>TLS version</mat-label>
        <mat-select [formControl]="tlsVersionControl">
          <mat-option
            i18n
            value="TLSv1">TLS v1.0
          </mat-option>
          <mat-option
            i18n
            value="TLSv1_1">TLS v1.1
          </mat-option>
          <mat-option
            i18n
            value="TLSv1_2">TLS v1.2
          </mat-option>
          <mat-option
            i18n
            value="TLSv1_3">TLS v1.3
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox
        [formControl]="tlsVerifyControl"
        class="checkbox-inline"
        i18n>
        Verify TLS certificate of the server.
      </mat-checkbox>

      @if (tlsVerifyControl.value) {
        <mat-form-field class="margin-bottom-1">
          <mat-label i18n>CA certificate</mat-label>
          <mat-hint i18n>
            The file containing the CA certificate which signed the LDAP TLS certificate.
          </mat-hint>
          <input
            [formControl]="tlsCaFileControl"
            matInput
            placeholder="/etc/privacyidea/ldap-ca.crt" />
        </mat-form-field>
      }

      <mat-form-field class="field-lg">
        <mat-label i18n>Base DN</mat-label>
        <input
          [formControl]="ldapBaseControl"
          matInput
          required />
        @if (ldapBaseControl.hasError('required') && ldapBaseControl.touched) {
          <mat-error i18n>Base DN is <strong>required</strong>.</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Scope</mat-label>
        <mat-select [formControl]="scopeControl">
          <mat-option
            i18n
            value="SUBTREE">SUBTREE
          </mat-option>
          <mat-option
            i18n
            value="BASE">BASE
          </mat-option>
          <mat-option
            i18n
            value="LEVEL">LEVEL
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>

  <div class="type-section">
    <div class="form-grid">
      <mat-form-field>
        <mat-label i18n>Bind type</mat-label>
        <mat-select [formControl]="authTypeControl">
          <mat-option
            i18n
            value="simple">Simple
          </mat-option>
          <mat-option
            i18n
            value="anonymous">Anonymous
          </mat-option>
          <mat-option
            i18n
            value="SASL Digest-MD5">SASL Digest-MD5
          </mat-option>
          <mat-option
            i18n
            value="NTML">NTML
          </mat-option>
          <mat-option
            i18n
            value="SASL Kerberos">SASL Kerberos
          </mat-option>
        </mat-select>
      </mat-form-field>

      @if (authTypeControl.value !== "anonymous") {
        <mat-form-field class="field-lg">
          <mat-label i18n>Bind DN</mat-label>
          <input
            [formControl]="bindDnControl"
            matInput
            placeholder="cn=admin,ou=user,dc=domain,dc=tld" />
        </mat-form-field>

        <mat-form-field class="field-md">
          <mat-label i18n>{{ authTypeControl.value === "SASL Kerberos" ? "Keyfile Path" : "Bind password" }}</mat-label>
          <input
            [formControl]="bindPwControl"
            matInput
            placeholder="topsecret"
            type="password" />
        </mat-form-field>
      }
    </div>
  </div>
</div>

<div class="type-sections-container">
  <div class="type-section">
    <div class="form-grid">
      <mat-form-field>
        <mat-label i18n>Timeout (seconds)</mat-label>
        <input
          [formControl]="timeoutControl"
          matInput
          type="number" />
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Cache timeout (seconds)</mat-label>
        <input
          [formControl]="cacheTimeoutControl"
          matInput
          type="number" />
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Size limit</mat-label>
        <input
          [formControl]="sizeLimitControl"
          matInput
          type="number" />
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Server pool retry rounds</mat-label>
        <input
          [formControl]="serverPoolRoundsControl"
          matInput
          type="number" />
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Server pool skip timeout (seconds)</mat-label>
        <input
          [formControl]="serverPoolSkipControl"
          matInput
          type="number" />
      </mat-form-field>

      <div class="flex-column">
        <mat-checkbox
          [formControl]="serverPoolPersistentControl"
          i18n>
          Per-process server pool
        </mat-checkbox>
        <span class="hint">This setting activates a LDAP server pool that is persisted between requests.</span>
      </div>

      <div class="flex-column">
        <mat-checkbox
          [formControl]="editableControl"
          i18n>
          Edit user store
        </mat-checkbox>
        <span class="hint">The user data in this database can be modified from within privacyIDEA.</span>
      </div>

      @if (editableControl.value) {
        <mat-form-field>
          <mat-label i18n> Object classes of a new created user object</mat-label>
          <input
            [formControl]="objectClassesControl"
            matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n> DN of a new created user object</mat-label>
          <input
            [formControl]="dnTemplateControl"
            matInput
            placeholder="CN=<username>,<basendn>" />
        </mat-form-field>
      }
    </div>
  </div>

  <div class="type-section">
    <div class="form-grid">
      <mat-form-field>
        <mat-label i18n>Loginname attribute</mat-label>
        <input
          [formControl]="loginNameAttributeControl"
          matInput
          placeholder="sAMAccountName"
          required />
        @if (loginNameAttributeControl.hasError('required') && loginNameAttributeControl.touched) {
          <mat-error i18n>Loginname attribute is <strong>required</strong>.</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="field-lg">
        <mat-label i18n>Search filter</mat-label>
        <input
          [formControl]="ldapSearchFilterControl"
          matInput
          placeholder="(sAMAccountName=*)(objectClass=person)"
          required />
        @if (ldapSearchFilterControl.hasError('required') && ldapSearchFilterControl.touched) {
          <mat-error i18n>Search filter is <strong>required</strong>.</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="field-lg">
        <mat-label i18n>Attribute mapping</mat-label>
        <input
          [formControl]="userInfoControl"
          matInput
          placeholder='{"phone:" : "telephoneNumber", "mobile": "mobile", "email" : "mail", "surname" : "sn",
           "givenname" : "givenName"}'
          required />
        @if (userInfoControl.hasError('required') && userInfoControl.touched) {
          <mat-error i18n>Attribute mapping is <strong>required</strong>.</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Multivalue attributes</mat-label>
        <input
          [formControl]="multivalueAttributesControl"
          matInput
          placeholder='["mobile"]' />
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>UID type</mat-label>
        <input
          [formControl]="uidTypeControl"
          matInput
          placeholder="DN" />
      </mat-form-field>

      <mat-checkbox
        [formControl]="recursiveGroupSearchControl"
        i18n>
        Recursive Search of User Groups
      </mat-checkbox>

      @if (recursiveGroupSearchControl.value) {
        <mat-form-field>
          <mat-label i18n>
            Search Filter for User Groups
          </mat-label>
          <mat-hint>
            Possible tags: {{ '{' }}base_dn{{ '}' }}, {{ '{' }}username{{ '}' }}
          </mat-hint>
          <input
            [formControl]="groupSearchFilterControl"
            matInput
            placeholder="(&(sAMAccountName=*)(objectCategory=group)
            (member:1.2.840.113556.1.4.1941:=cn={distinguishedName},{base_dn}))" />
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n>Group Name Attribute</mat-label>
          <mat-hint>
            The group attribute defining the group's name, which should be stored in the user info.
          </mat-hint>
          <input
            [formControl]="groupNameAttributeControl"
            matInput
            placeholder="distinguishedName" />
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n>User Info Key</mat-label>
          <mat-hint>
            The key to store the groups in the user info (attribute mapping key).
          </mat-hint>
          <input
            [formControl]="groupAttributeMappingKeyControl"
            matInput
            placeholder="groups" />
        </mat-form-field>
      }

      <mat-checkbox
        [formControl]="noReferralsControl"
        i18n>
        No anonymous referral chasing
      </mat-checkbox>

      <mat-checkbox
        [formControl]="noSchemasControl"
        i18n>
        No retrieval of schema information
      </mat-checkbox>
    </div>
  </div>
</div>

