<div class="well" ng-controller="userController">

    <div class="row">
        <div class="col-lg-3 sticky">
            <div class="pa-sidebar panel">
                <ul class="nav nav-pills nav-stacked"
                    ng-show="loggedInUser.role === 'user' &&
                        checkRight('userlist')">
                   <li role="presentation" ng-class=
                           "{active: $state.includes('user.password')}">
                       <a ui-sref="user.password">
                        <translate>Your details</translate>
                       </a>
                   </li>
                </ul>
                <ul class="nav nav-pills nav-stacked"
                    ng-show="loggedInUser.role == 'admin'">
                    <li role="presentation"
                        ng-class="{active: $state.includes('user.list')}"><a
                            ui-sref="user.list"
                            translate>All users</a> </li>
                    <li role="presentation"
                            ng-show="$state.includes('user.list')">
                            <translate>Select Realm</translate>
                        <select class="form-control"

                                ng-change="changeRealm()"
                                ng-model="selectedRealm">
                            <option ng-repeat="(realmname, realm) in realms"
                                    ng-selected="realm.default">{{ realmname }}</option>
                        </select>
                    </li>
                    <li role="presentation"
                        ng-class="{active: $state.includes('user.details')}"
                        ng-show="$state.includes('user.details')"><a>User
                    {{ $stateParams.username }}</a></li>
                    <li role="presentation"
                        ng-class="{active:$state.includes('user.add')}"
                            ng-show="checkRight('adduser')">
                        <a ui-sref="user.add"
                                translate>Add user
                        </a>
                    </li>
                    <li>
                        <span translate>Quick links</span>
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-show="checkRight('resolverwrite')">
                                <a ui-sref="config.realms.list"
                                   translate>Edit realms</a>
                            </li>
                        </ul>
                    </li>
                    <li><span translate>total users:</span>&nbsp;{{ usercount }}</li>
                    <li><hr></li>
                    <li role="presentation"
                        ng-show="($state.includes('user.list'))">
                        <a target="_external" ng-href="{{ 'https://privacyidea.readthedocs.io/en/v'+
                           privacyideaVersionNumber+'/webui/index.html#users'}}">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            <span translate>Help about Users</span></a></li>
                    <li role="presentation"
                        ng-show="($state.includes('user.add'))">
                        <a target="_external" ng-href="{{ 'https://privacyidea.readthedocs.io/en/v'+
                           privacyideaVersionNumber+'/webui/manage_users.html'}}">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            <span translate>Help about manage Users</span></a></li>
                    <li role="presentation"
                        ng-show="($state.includes('user.details'))">
                        <a target="_external" ng-href="{{ 'https://privacyidea.readthedocs.io/en/v'+
                           privacyideaVersionNumber+'/webui/user_details.html'}}">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            <span translate>Help about User Details</span></a></li>
                </ul>
            </div>

        </div>

        <div ui-view class="col-lg-9 slide panel">
        </div>
    </div>

</div>
