<!-- TEXT FIELDS -->
<div ng-if="field.type=='text'" class="form-group">
    <label for="{{ field.label }}" translate>{{ field.label }}</label>
    <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.name }}" ng-model="User[field.name]" class="form-control" ng-required="{{ field.required }}"/>
</div>
<!-- PASSWORD FIELDS -->
<div ng-if="field.type=='password'" class="form-group">
    <label class="control-label" for="{{ field.label }}" translate>{{ field.label }}</label>
    <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.name }}" ng-model="User[field.name]" class="form-control" ng-required="{{ field.required }}"/>
</div>
<!-- EMAIL FIELDS -->
<div ng-if="field.type=='email'" class="form-group">
    <label for="{{ field.label }}" translate>{{ field.label }}</label>
    <input type="{{ field.type }}" name="{{ field.name }}" id="{{ ield.name }}" ng-model="User[field.name]" class="form-control" ng-required="{{ field.required }}"/>
</div>
