<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="details-header">
  <h3 i18n>Details for {{ entityLabel }}:</h3>
  <div class="flex-row flex-nowrap ali-center">
    <h3 class="token-serial">{{ serial }}</h3>
    <app-copy-button [copyText]="serial"></app-copy-button>
  </div>
  <ng-content select="[headerExtra]"></ng-content>
  @if (showAuditButton) {
    <button
      (click)="auditClick.emit()"
      [routerLink]="[auditRoute]"
      mat-icon-button
      [matTooltip]="auditTooltip">
      <mat-icon>receipt_long</mat-icon>
    </button>
  }
</div>

