<div
  appScrollToTop
  aria-label="Container Table"
  class="container-table-container"
  i18n-aria-label>
  @if (authService.actionAllowed("container_list")) {
    <div class="filter-paginator-container">
      <mat-form-field
        class="container-table-filter"
        subscriptSizing="dynamic">
        <mat-label i18n>Enter Filter</mat-label>
        <app-clearable-input
          (onClick)="containerService.clearFilter()"
          [showClearButton]="containerService.containerFilter().isNotEmpty">
          <input
            #filterHTMLInputElement
            (input)="containerService.handleFilterInput($event)"
            [value]="containerService.containerFilter().filterString"
            aria-label="Filter Input"
            i18n-aria-label
            i18n-placeholder
            matInput
            placeholder="Example query: 'type: generic user: admin'" />
        </app-clearable-input>
      </mat-form-field>
      <mat-paginator
        (page)="onPageEvent($event)"
        [length]="total()"
        [pageIndex]="pageIndex()"
        [pageSizeOptions]="pageSizeOptions()"
        [pageSize]="pageSize()"
        showFirstLastButtons></mat-paginator>
    </div>
    <app-keyword-filter
      [advancedApiFilter]="advancedApiFilter"
      [apiFilter]="apiFilter"
      [filterHTMLInputElement]="filterHTMLInputElement"
      [filterValue]="containerService.containerFilter"></app-keyword-filter>
    <div class="table-container">
      <table
        (matSortChange)="onSortEvent($event)"
        [dataSource]="containerDataSource()"
        [matSortDisableClear]="false"
        aria-label="Container Data Table"
        class="container-table"
        i18n-aria-label
        mat-table
        matSort
        multiTemplateDataRows>
        @for (column of columnsKeyMap; track column) {
          <ng-container [matColumnDef]="column.key">
            @if (column.key === "select") {
              <th
                *matHeaderCellDef
                mat-header-cell
                class="table-checkbox">
                <mat-checkbox
                  (change)="$event ? toggleAllRows() : null"
                  [checked]="isAllSelected()"
                  [indeterminate]="containerSelection().length > 0 && !isAllSelected()"
                  [disabled]="total() === 0"></mat-checkbox>
              </th>
            } @else {
              <th
                *matHeaderCellDef
                attr.aria-label="{{ column.label }} Header"
                mat-header-cell
                mat-sort-header>
                {{ column.label }}
              </th>
            }
            <td
              *matCellDef="let element; let row"
              attr.aria-label="{{ column.label }} Cell"
              mat-cell
              [ngClass]="{
                'width-18rem': column.key === 'description',
                'table-checkbox': column.key === 'select'
              }">
              <div [ngClass]="tableUtilsService.getClassForColumnKey(column.key)">
                @switch (column.key) {
                  @case ("select") {
                    <mat-checkbox
                      (change)="$event ? toggleRow(row) : null"
                      (click)="$event.stopPropagation()"
                      [checked]="containerSelection().includes(row)"
                      [disabled]="total() === 0"></mat-checkbox>
                  }
                  @case ("serial") {
                    <a
                      attr.aria-label="{{ column.label }} Link"
                      (click)="contentService.containerSelected(element.serial)">
                      {{ element[column.key] }}
                    </a>
                    @if (element.serial !== "") {
                      <app-copy-button [copyText]="element.serial"></app-copy-button>
                    }
                  }
                  @case ("realms") {
                    <div [ngClass]="{ 'realm-list': (element[column.key]?.length || 0) > 1 }">
                      @for (realm of element[column.key]; track realm; let idx = $index) {
                        <div>
                          <span attr.aria-label="{{ column.label }} Link">
                            {{ realm }}
                          </span>
                          <br style="margin-top: 3px" />
                        </div>
                      }
                    </div>
                  }
                  @case ("states") {
                    <span
                      (click)="handleStateClick(element)"
                      [ngClass]="tableUtilsService.getSpanClassForState(element[column.key][0], true)">
                      {{ tableUtilsService.getDisplayTextForState(element[column.key][0]) }}
                    </span>
                  }
                  @default {
                    @if (tableUtilsService.isLink(column.key)) {
                      <a
                        attr.aria-label="{{ column.label }} Link"
                        href="#">
                        {{ element[column.key] }}
                      </a>
                    } @else {
                      {{ element[column.key] }}
                    }
                  }
                }
              </div>
            </td>
          </ng-container>
        }
        <ng-container matColumnDef="expandedDetail">
          <td
            *matCellDef="let element"
            [attr.colspan]="columnKeys.length"
            mat-cell>
            <div
              [@detailExpand]="expandedElement === element ? 'expanded' : 'collapsed'"
              class="expanded-detail">
              <div class="expanded-token-list">
                @for (token of element.tokens; track token) {
                  <div class="token-item">
                    <a (click)="contentService.tokenSelected(token.serial)"> {{ token.serial }}</a>
                    [{{ token.tokentype }}]
                  </div>
                }
                @if (element.tokens?.length === 0) {
                  <div
                    i18n
                    class="flex ali-center">
                    Container has no tokens.
                  </div>
                }
              </div>
            </div>
          </td>
        </ng-container>

        <tr
          *matHeaderRowDef="columnKeys"
          mat-header-row></tr>

        <tr
          (click)="expandedElement = expandedElement === row ? null : row"
          *matRowDef="let row; columns: columnKeys"
          [class.example-expanded-row]="expandedElement === row"
          class="example-element-row"
          mat-row></tr>

        <tr
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
          mat-row></tr>

        <tr *matNoDataRow>
          <td
            [attr.colspan]="columnKeys.length"
            i18n>
            No data matching the filter.
          </td>
        </tr>
      </table>
    </div>
  } @else {
    <div i18n>You do not have the permission to view the container list.</div>
  }
</div>
