<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>number</th>
                <th>action</th>
                <th>action detail</th>
                <th>serial</th>
                <th>administrator</th>
                <th>clearance</th>
                <th>client</th>
                <th>date</th>
                <th>info</th>
                <th>missing_line</th>
                <th>log level</th>
                <th>privacyidea server</th>
                <th>realm</th>
                <th>sig_check</th>
                <th>token type</th>
                <th>user</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="audit in auditlist">
            <td>{{ audit.number }}</td>
            <td>{{ audit.action }}</td>
            <td>{{ audit.action_detail }}</td>
            <td>{{ audit.serial }}</td>
            <td>{{ audit.administrator }}</td>
            <td>{{ audit.clearance_level }}</td>
            <td>{{ audit.client }}</td>
            <td>{{ audit.date | date:'medium' }}</td>
            <td>{{ audit.info }}</td>
            <td>{{ audit.missing_line }}</td>
            <td>{{ audit.log_level }}</td>
            <td>{{ audit.privacyidea_server }}</td>
            <td>{{ audit.realm }}</td>
            <td>{{ audit.sig_check }}</td>
            <td>{{ audit.token_type }}</td>
            <td>{{ audit.user }}</td>
        </tr>
        </tbody>
    </table>
</div>

