
    <form name="formResolverAddPassword" role="form" validate>
        <h2 class="form-signin-heading">Create a new Passwd Resolver</h2>

        <div class="form-group">
            <label for="resolvername">Resolver name</label>
            <input name="resolvername" id="resolvername" class="form-control"
                   ng-model="resolver.name" required placeholder="resolver1"
                   autofocus/>
        </div>
        <div class="form-group">
            <label for="resolverfile">File name</label>
            <input name="resolverfile" id="resolverfile" class="form-control"
                   ng-model="resolver.file" required placeholder="/etc/passwd"
                   autofocus/>
        </div>
        <div class="text-center">
            <button ng-click="setResolver(resolver.name, resolver.file)"
                    ng-disabled="formResolverAddPassword.$invalid"
                    class="btn btn-primary">Create resolver
            </button>
        </div>

    </form>


