<!--
This is the directive for assigning users.
-->
<div class="form-group">
    <label for="realm">Realm</label>
    <select class="form-control"
            name="realm" ng-model="newUserObject.realm"
            ng-options="realmname as realmname for (realmname, realm) in
            realms">
    </select>
</div>

<div class="form-group">
    <label for="username">Username</label>
    <input name="username" type="text" ng-model="newUserObject.user"
           placeholder="start typing a username"
           typeahead="newuser for newuser in loadUsers($viewValue)"
           typeahead-loading="loadingUsers" class="form-control" >
    <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh">Loading
        users...
    </i>
</div>
<div class="form-group">
    <label for="otppin">PIN</label>
    <input name="otppin" ng-model="newUserObject.pin"
            type=password class="form-control"
            euqals="{{pin2}}"
            placeholder="Type a password">
    <input name="otppin2" ng-model="pin2"
            type=password class="form-control"
            equals="{{newUserObject.pin}}"
            placeholder="Repeat password">
</div>
