<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

@switch (state()) {
  @case ("ready") {
    <ng-content />
    @if (loading()) {
      <div class="widget-state-busy">
        <mat-progress-spinner
          mode="indeterminate"
          [diameter]="20"
          aria-label="Loading more widget data"
          i18n-aria-label />
      </div>
    }
  }
  @case ("loading") {
    <div class="widget-state-status">
      <mat-progress-spinner
        mode="indeterminate"
        [diameter]="40"
        aria-label="Loading widget data"
        i18n-aria-label />
    </div>
  }
  @case ("denied") {
    <div class="widget-state-status">
      <p i18n>You are not allowed to view this widget.</p>
    </div>
  }
  @case ("error") {
    <div class="widget-state-status">
      <p i18n>Could not load data.</p>
    </div>
  }
}
