<div aria-label="Token Table" class="token-table-container">
  <div class="filter-paginator-container">
    <mat-form-field class="token-table-filter" subscriptSizing="dynamic">
      <mat-label>Filter</mat-label>
      <input #input (keyup)="handleFilterInput($event)" aria-label="Filter Input"
             matInput placeholder="Example query: 'type: hotp userid: 1000'">
    </mat-form-field>
    <mat-paginator (page)="handlePageEvent($event)" [length]="length"
                   [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize" aria-label="Select page of tokens"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
  <div class="filter-keyword-container">
    <div class="filter-keyword-title">
      <mat-icon class="filter-icon">filter_alt</mat-icon>
      Filter by:&nbsp;
    </div>
    @for (filterKeyword of apiFilter; track filterKeyword) {
      <button mat-fab extended (click)="toggleKeywordInFilter(filterKeyword , input)"
              class="keyword-button">
        <mat-icon class="keyword-button-icon"
                  [ngClass]="this.tableUtilsService.isFilterSelected(filterKeyword, input.value)
                  ? 'remove-keyword' : 'add-keyword'">
          {{
            this.tableUtilsService.isFilterSelected(filterKeyword, input.value)
              ? 'remove_circle' : 'add_circle'
          }}
        </mat-icon>
        {{ filterKeyword }}
      </button>
    }
    <button (click)="showAdvancedFilter.set(!showAdvancedFilter())" class="more-keyword-button"
            extended
            mat-fab>
      <mat-icon class="keyword-button-icon">
        {{ showAdvancedFilter() ? 'remove' : 'add' }}
      </mat-icon>
    </button>
    @if (showAdvancedFilter()) {
      @for (filterKeyword of advancedApiFilter; track filterKeyword) {
        <button mat-fab extended (click)="toggleKeywordInFilter(filterKeyword , input)"
                class="keyword-button">
          <mat-icon class="keyword-button-icon"
                    [ngClass]="this.tableUtilsService.isFilterSelected(filterKeyword,
                    input.value) ? 'remove-keyword' : 'add-keyword'">
            {{ this.tableUtilsService.isFilterSelected(filterKeyword, input.value) ? 'remove_circle' : 'add_circle' }}
          </mat-icon>
          {{ filterKeyword }}
        </button>
      }
    }
  </div>
  <table (matSortChange)="handleSortEvent()" [dataSource]="dataSource()"
         aria-label="Token Data Table" class="token-table" mat-table matSort>
    @for (column of columnsKeyMap; track column) {
      <ng-container [matColumnDef]="column.key">
        <th *matHeaderCellDef attr.aria-label="{{ column.label }} Header" mat-header-cell
            mat-sort-header>
          {{ column.label }}
        </th>
        <td *matCellDef="let element" attr.aria-label="{{ column.label }} Cell" mat-cell
            [ngClass]="{'width-18': column.key === 'description'}">
          <ng-container>
            <div [ngClass]="tableUtilsService.getClassForColumnKey(column.key)">
              @if (column.key === 'realms') {
                <div [ngClass]="element[column.key].length > 1 ? 'realm-list' : 'realm'">
                  @for (realm of element[column.key]; track realm; let idx = $index) {
                    <a attr.aria-label="{{ column.label }} Link" href="#">
                      {{ realm }}
                    </a>
                    <br style="margin-top: 3px"/>
                  }
                </div>
              } @else if (column.key === 'serial') {
                <a attr.aria-label="{{ column.label }} Link"
                   (click)="tokenSelected(element.serial)">
                  {{ element[column.key] }}
                </a>
              } @else if (column.key === 'container_serial') {
                <a attr.aria-label="{{ column.label }} Link"
                   (click)="containerSelected(element.container_serial)">
                  {{ element[column.key] }}
                </a>
              }
              @else if (tableUtilsService.isLink(column.key)) {
                <a attr.aria-label="{{ column.label }} Link" href="#">
                  {{ element[column.key] }}
                </a>
              } @else {
                <span
                  [ngClass]="tableUtilsService.getClassForColumn(column.key, element)"
                  (click)="handleColumnClick(column.key, element)">
                {{ tableUtilsService.getDisplayText(column.key, element) }}
              </span>
              }
            </div>
          </ng-container>
        </td>
      </ng-container>
    }
    <tr *matHeaderRowDef="displayedColumns" aria-label="Header Row" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" aria-label="Data Row" mat-row></tr>
    <tr *matNoDataRow aria-label="No Data Row">
      <td [attr.colspan]="displayedColumns.length" aria-label="No Data Cell">
        No data matching the filter.
      </td>
    </tr>
  </table>
</div>
