@use "../../../../styles";

.token-table-container {
  @include styles.table-container-styles;
  @include styles.base-table-structure(
    ".token-table",
    ".token-table-filter",
    ".table-scroll-container"
  );
  overflow: auto;
}

.selfservice-paginator-container {
  min-width: 1128px;
  justify-content: end;
  display: flex;
}

.selfservice-paginator-label {
  flex: 1;
  margin-right: 16px;
}
