<div
  aria-label="Content Layout"
  class="content-layout"
  i18n-aria-label>
  <div
    aria-label="Token Table"
    class="token-table-layout"
    i18n-aria-label>
    <div class="selfservice-paginator-container">
      <h3
        class="selfservice-paginator-label"
        i18n>
        Your Tokens
      </h3>
      <mat-paginator
        (page)="onPageEvent($event)"
        [length]="totalLength()"
        [pageIndex]="pageIndex()"
        [pageSize]="pageSize()"
        hidePageSize
        showFirstLastButtons />
    </div>
    <div class="self-service-table-container">
      <table
        (matSortChange)="onSortEvent($event)"
        [dataSource]="tokenDataSource()"
        [matSortDisableClear]="false"
        aria-label="Token Data Table"
        class="token-table"
        i18n-aria-label
        mat-table
        matSort>
        @for (column of columnKeysMapSelfService(); track column) {
          <ng-container [matColumnDef]="column.key">
            <th
              *matHeaderCellDef
              attr.aria-label="{{ column.label }} Header"
              mat-header-cell
              mat-sort-header>
              {{ column.label }}
            </th>
            <td
              *matCellDef="let element; let row"
              attr.aria-label="{{ column.label }} Cell"
              mat-cell
              [ngClass]="{ 'width-18rem': column.key === 'description' }">
              <div
                [ngClass]="tableUtilsService.getClassForColumnKey(column.key)"
                appScrollAdjuster>
                <div [ngClass]="tableUtilsService.getChildClassForColumnKey(column.key)">
                  @switch (column.key) {
                    @case ("serial") {
                      <div class="flex-row ali-center">
                        <a
                          attr.aria-label="{{ column.label }} Link"
                          (click)="contentService.tokenSelected(element.serial)">
                          {{ element[column.key] }}
                        </a>
                        <app-copy-button [copyText]="element.serial" />
                      </div>
                    }
                    @case ("container_serial") {
                      <div class="flex-row ali-center">
                        @if (containerService.containerBelongsToUser(element.container_serial)) {
                          <a
                            attr.aria-label="{{ column.label }} Link"
                            (click)="contentService.containerSelected(element.container_serial)">
                            {{ element[column.key] }}
                          </a>
                        } @else {
                          {{ element[column.key] }}
                        }
                        @if (element.container_serial !== "") {
                          <app-copy-button [copyText]="element.container_serial" />
                        }
                      </div>
                    }
                    @case ("active") {
                      <span
                        [ngClass]="tableUtilsService.getClassForColumn(column.key, element)"
                        (click)="toggleActive(element)">
                        {{ tableUtilsService.getDisplayText(column.key, element) }}
                      </span>
                    }
                    @case ("failcount") {
                      <span
                        [ngClass]="tableUtilsService.getClassForColumn(column.key, element)"
                        (click)="resetFailCount(element)">
                        {{ tableUtilsService.getDisplayText(column.key, element) }}
                      </span>
                    }
                    @case ("revoke") {
                      @if (!element.revoked) {
                        <button
                          (click)="revokeToken(element.serial)"
                          mat-icon-button
                          i18n-matTooltip
                          matTooltip="Revoke Token">
                          <mat-icon> undo</mat-icon>
                        </button>
                      }
                    }
                    @case ("delete") {
                      <button
                        (click)="deleteToken(element.serial)"
                        mat-icon-button
                        i18n-matTooltip
                        matTooltip="Delete Token">
                        <mat-icon> delete</mat-icon>
                      </button>
                    }
                    @default {
                      @if (tableUtilsService.isLink(column.key)) {
                        <a
                          attr.aria-label="{{ column.label }} Link"
                          href="#">
                          {{ element[column.key] }}
                        </a>
                      } @else {
                        <span>
                          {{ element[column.key] }}
                        </span>
                      }
                    }
                  }
                </div>
              </div>
            </td>
          </ng-container>
        }
        <tr
          *matHeaderRowDef="columnKeysSelfService"
          aria-label="Header Row"
          i18n-aria-label
          mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: columnKeysSelfService"
          aria-label="Data Row"
          i18n-aria-label
          mat-row></tr>
        <tr
          *matNoDataRow
          aria-label="No Data Row"
          i18n-aria-label>
          <td
            [attr.colspan]="columnKeysSelfService.length"
            aria-label="No Data Cell"
            i18n
            i18n-aria-label>
            No data matching the filter.
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
