@use "../../../../styles";

.token-table-layout {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  overflow: auto;
  display: grid;
}

.selfservice-paginator-container {
  justify-content: end;
  display: flex;
}

.self-service-table-container {
  overflow-y: auto;
  max-width: 70.5rem;
}
