@use "../../../../styles";

.token-table-layout {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  overflow: auto;
  display: grid;
}

.selfservice-paginator-container {
  justify-content: end;
  display: flex;
}

.table-container {
  width: 1450px;
}

.self-service-table-container {
  overflow-y: auto;
  max-width: 70.5rem;
}

.filter-button {
  top: 0;
  right: 2px;
  height: 24px;
  width: 24px;
  padding: 0;
}

.sort-button {
  top: 0;
  right: 2px;
  height: 24px;
  width: 24px;
  padding: 0;
}