<div aria-label="Token Table"
     class="token-table-container">
  <div class="filter-paginator-container">
    <mat-form-field class="token-table-filter"
                    subscriptSizing="dynamic">
      <mat-label>Enter Filter</mat-label>
      <input #filterInput
             (keyup)="tableUtilsService.handleFilterInput(
                      $event, pageIndex, filterValue, fetchTokenData)"
             aria-label="Filter Input"
             matInput
             placeholder="Example query: 'type: hotp userid: 1000'" />
    </mat-form-field>
    <mat-paginator (page)="tableUtilsService.handlePageEvent(
                           $event, pageIndex, pageSize)"
                   [length]="length()"
                   [pageIndex]="pageIndex()"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize()"
                   showFirstLastButtons></mat-paginator>
  </div>
  <app-keyword-filter [advancedApiFilter]="advancedApiFilter"
                      [apiFilter]="apiFilter"
                      [clickedKeyword]="clickedKeyword"
                      [filterInput]="filterInput"
                      [filterValue]="filterValue"></app-keyword-filter>
  <table (matSortChange)="tableUtilsService.handleSortEvent($event, pageIndex, sortby_sortdir,
  fetchTokenData)"
         [dataSource]="dataSource()"
         [matSortDisableClear]="false"
         aria-label="Token Data Table"
         class="token-table"
         mat-table
         matSort>
    @for (column of columnsKeyMap; track column) {
      <ng-container [matColumnDef]="column.key">
        <th *matHeaderCellDef
            attr.aria-label="{{ column.label }} Header"
            mat-header-cell
            mat-sort-header>
          {{ column.label }}
        </th>
        <td *matCellDef="let element"
            attr.aria-label="{{ column.label }} Cell"
            mat-cell
            [ngClass]="{ 'width-18rem': column.key === 'description' }">
          <div [ngClass]="tableUtilsService.getClassForColumnKey(column.key)">
            @switch (column.key) {
              @case ("serial") {
                <a attr.aria-label="{{ column.label }} Link"
                   (click)="tokenSelected(element.serial)"> {{ element[column.key] }} </a>
                <button class="copy-button"
                        [cdkCopyToClipboard]="element.serial">
                  <mat-icon class="copy-icon">content_copy</mat-icon>
                </button>
              }
              @case ("realms") {
                <div [ngClass]="(element[column.key]?.length || 0)  > 1 ? 'realm-list' : 'realm'">
                  @for (realm of element[column.key]; track realm; let idx = $index) {
                    <a attr.aria-label="{{ column.label }} Link"
                       href="#"> {{ realm }} </a><br style="margin-top: 3px" />
                  }
                </div>
              }
              @case ("container_serial") {
                <a attr.aria-label="{{ column.label }} Link"
                   (click)="containerSelected(element.container_serial)"> {{ element[column.key] }} </a>
                @if (element.container_serial !== "") {
                  <button class="copy-button"
                          [cdkCopyToClipboard]="element.container_serial">
                    <mat-icon class="copy-icon">content_copy</mat-icon>
                  </button>
                }
              }
              @default {
                @if (tableUtilsService.isLink(column.key)) {
                  <a attr.aria-label="{{ column.label }} Link"
                     href="#"> {{ element[column.key] }} </a>
                } @else {
                  <span [ngClass]="tableUtilsService.getClassForColumn(column.key, element)"
                        (click)="handleColumnClick(column.key, element)">
                  {{ tableUtilsService.getDisplayText(column.key, element) }}
                </span>
                }
              }
            }
          </div>
        </td>
      </ng-container>
    }
    <tr *matHeaderRowDef="displayedColumns"
        aria-label="Header Row"
        mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns"
        aria-label="Data Row"
        mat-row></tr>
    <tr *matNoDataRow
        aria-label="No Data Row">
      <td [attr.colspan]="displayedColumns.length"
          aria-label="No Data Cell">
        No data matching the filter.
      </td>
    </tr>
  </table>
</div>
