-r ../requirements.txt
alabaster==0.7.12
docutils==0.17.1
imagesize==1.2.0
Pallets-Sphinx-Themes==1.2.3
pyenchant==3.2.1
Pygments==2.9.0
snowballstemmer==2.1.0
Sphinx==4.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.21
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-spelling==7.2.1
