-r ../requirements.txt
alabaster==0.7.13
docutils==0.17.1
imagesize==1.4.1
Pallets-Sphinx-Themes==1.2.3
pyenchant==3.2.2
Pygments==2.15.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.25
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-spelling==8.0.0
