-r ../requirements.txt
alabaster==0.7.12
docutils==0.16
imagesize==1.2.0
packaging==20.3
pyenchant==3.0.1
Pygments==2.6.1
pyparsing==2.4.7
snowballstemmer==2.0.0
Sphinx==3.0.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.18
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-spelling==5.0.0
