.action-selector-container {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
  background-color: transparent;
  box-shadow: none;
  padding: 0;

  ::ng-deep mat-expansion-panel.mat-expansion-panel {
    background-color: transparent !important;
    border: 1px solid var(--mat-sys-outline-variant);
    box-shadow: none !important;
  }
  ::ng-deep mat-expansion-panel.mat-expansion-panel-header {
    padding: var(--half-global-padding) var(--three-quarters-global-padding) !important;
    height: 1rem;
    background-color: transparent !important;
  }
}

.search-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  padding: var(--half-global-padding) 0;
  width: 100%;
}

.search-input:focus {
  border-bottom-color: var(--mat-sys-primary);
  outline: none;
}

.add-action-details {
  display: flex;
  flex-direction: column;
  gap: var(--half-global-gap);
}

.policy-action-items {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
}

.policy-action-item-selected {
  background-color: var(--mat-sys-primary-base);
  color: var(--mat-sys-on-primary);
  font-weight: 600;
}

.flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 4);
  justify-content: center;
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
}

.selectors-container {
  display: flex;
  flex-direction: column;
  gap: var(--half-global-gap);
}

.selector-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--global-gap);

  .selector-label {
    min-width: 60px;
    font-weight: 500;
    margin: 0;
  }

  .flex-1 {
    flex: 1;
  }
}
