<div class="action-selector-container">
  <app-clearable-input
    (onClick)="actionFilter.set('')"
    [showClearButton]="actionFilter() !== ''">
    <input
      clearableInput
      type="text"
      placeholder="Search action ..."
      [ngModel]="actionFilter()"
      (ngModelChange)="actionFilter.set($event)"
      class="search-input" />
  </app-clearable-input>

  <div>
    <h3 i18n>Select Scope</h3>
    <app-selector-buttons
      [values]="allPolicyScopes"
      [initialValue]="policy().scope"
      [allowDeselect]="true"
      (onSelect)="selectActionScope($event)"
      [disabled]="!policyHasNoActions()" />

    @if (actionGroupNamesFiltered().length > 1) {
      <h3 i18n>Select Group</h3>
      <app-selector-buttons
        [values]="actionGroupNamesFiltered()"
        [initialValue]="selectedActionGroup()"
        (onSelect)="selectActionGroup($event)"
        [disabled]="!policy().scope" />
    }
  </div>

  @if ((actionsFiltered() | keyvalue).length > 0) {
    <div class="add-action-details">
      <div class="policy-action-items">
        @for (action of actionsFiltered() | keyvalue; track action.key) {
          <app-policy-action-item-new
            [actionName]="action.key"
            [actionDetail]="action.value"
            (actionAdd)="addPolicyAction($event)"
            [actionValue]="null" />
        }
      </div>
    </div>
  } @else {
    <div class="flex-column">
      @if (actionFilter() !== "") {
        <p i18n>No actions match the search filter.</p>
        <button
          mat-stroked-button
          (click)="actionFilter.set('')"
          i18n>
          Clear Filter
        </button>
      } @else {
        <p i18n>No actions available for the selected scope and group.</p>
      }
    </div>
  }
</div>
