<div class="add-token-container">
  <mat-form-field
    appearance="fill"
    class="add-token-select">
    <mat-label i18n>Add new Token</mat-label>
    <mat-select
      [ngModel]="selectedTokenType()"
      (ngModelChange)="onTokenTypeChange($event)">
      @for (tokenType of tokenTypes; track tokenType) {
        <mat-option [value]="tokenType">{{ tokenType }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button
    class="input-attached-button input-attached-button-hover"
    [disabled]="!selectedTokenType()"
    (click)="addToken()">
    <mat-icon>add</mat-icon>
  </button>
</div>
