<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <p>
    Are you sure you want to {{ data.action }}
    @if (data.serial_list && data.serial_list.length > 1 && data.type === 'token') {
      all ({{ data.serial_list.length }}) tokens {{ data.action === 'remove' ? 'from' : 'in' }}
      this container?
    } @else {
      this {{ data.type }}?
    }
  </p>
  <ul>
    @for (serial of data.serial_list; track serial) {
      <li>{{ serial }}</li>
    }
  </ul>
</mat-dialog-content>

<mat-dialog-actions>
  <button [mat-dialog-close]="false"
          mat-button
          mat-dialog-close>Abort
  </button>
  <button [mat-dialog-close]="true"
          class="dialog-button-delete"
          mat-button>{{ data.action.charAt(0).toUpperCase() + data.action.slice(1) }}
  </button>
</mat-dialog-actions>
