<div class="footer-container" aria-label="Footer Container">
  <span> privacyIDEA 3.10 </span>
  <div class="footer-right">
    <a aria-label="Online Documentation" href="https://privacyidea.readthedocs.io" style="color: white"
       target="_blank">Online Documentation</a>
    <a aria-label="privacyIDEA Forum" href="https://community.privacyidea.org/" style="color: white"
       target="_blank">privacyIDEA Forum</a>
    <a aria-label="Support" class="support-btn" extended href="https://netknights.it/support_link_admin" mat-fab
       target="_blank">
      <mat-icon>support_agent</mat-icon>
      Support
    </a>
  </div>
</div>
