<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1 class="modal-title" id="modal-title">{{ $ctrl.heading }}</h1>
</div>
<div class="modal-body">
    <p id="modal-content">{{ $ctrl.question }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()" translate>No</button>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.ok()">{{ $ctrl.action }}</button>
</div>
