@if (tokenType === "tiqr") {
  <p class="width-36">
    Click
    <a href="{{ url }}">here</a>
    or scan the QR Code, if you want to add the Token to your TiQR app.
  </p>
} @else {
  <p class="width-36">
    Click
    <a href="{{ url }}">here</a>
    or scan the QR Code, if you want to add the Token to your smartphone authenticator app. The QR Code contains the
    secret key of your token. You need to protect it. <strong> If you are in doubt, that someone else saw it, please
                                                               regenerate the QR Code, when no one else is
                                                               watching. </strong>
  </p>
}