<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="conditions-container">
  <h2
    class="conditions-title"
    i18n>
    Users Conditions
  </h2>

  <app-multi-select-only
    label="Select Realms"
    [items]="availableRealms()"
    [selectedItems]="selectedRealms()"
    [tooltipText]="selectRealmTooltip()"
    (selectionChange)="selectRealm($event)">
  </app-multi-select-only>

  @if (this.realmService.selectedRealms()) {
    <app-multi-select-only
      label="Select Resolvers"
      [items]="availableResolvers()"
      [selectedItems]="selectedResolvers()"
      [tooltipText]="selectResolverTooltip()"
      (selectionChange)="selectResolver($event)">
    </app-multi-select-only>
  }

  <div class="user-list-wrapper">
    <div class="user-list">
      @for (user of selectedUsers(); track user) {
        <div class="user-chip-edit">
          <span>{{ user }}</span>
          <button
            mat-icon-button
            (click)="removeUser(user)"
            class="remove-user-btn">
            <mat-icon class="remove-user-icon">close</mat-icon>
          </button>
        </div>
      }
    </div>

    @if (selectedUsers().length > 0) {
      <div class="user-buttons-container">
        <button
          mat-stroked-button
          class="action-button-1"
          [class.action-button-active]="userCaseInsensitive()"
          (click)="toggleUserCaseInsensitive()">
          Case insensitive
        </button>
        <button
          mat-stroked-button
          class="action-button-1"
          (click)="clearUsers()"
          i18n>
          Clear users
        </button>
      </div>
    }
  </div>

  <div class="user-input-container">
    <mat-form-field
      class="add-user-input"
      appearance="outline">
      <mat-label i18n>Add User</mat-label>
      <input
        matInput
        [formControl]="userFormControl"
        #userInput
        (keyup.enter)="
          userFormControl.markAsTouched(); addUser(userInput.value); !userFormControl.invalid && (userInput.value = '')
        " />
      @if (userFormControl.hasError("includesComma")) {
        <mat-error i18n>User must not contain commas.</mat-error>
      }
    </mat-form-field>
    <button
      class="input-attached-button"
      [disabled]="!userInput.value.trim() || userFormControl.invalid"
      (click)="addUser(userInput.value); userInput.value = ''">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
