@use "mixins";
@use "styles";
@use "@angular/material";
@use "../edit-conditions-tab.component.scss";

.user-chip-edit {
  @include mixins.compact-badge-base;
  align-items: center;
  background-color: var(--mat-sys-surface-container-high);
  display: flex;
}

.user-list-wrapper {
  align-items: flex-end;
  display: flex;
  gap: 12px;
  width: 100%;
}

.user-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 6px;
  padding-bottom: var(--half-global-padding);
}

.user-buttons-container {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 8px;
  margin-left: auto;
  padding-bottom: var(--half-global-padding);
}

.user-input-container {
  align-items: center;
  display: flex;
}

.add-user-input {
  flex-grow: 1;
}

.remove-user-btn {
  align-items: center;
  display: flex;
  height: 18px;
  justify-content: center;
  margin-left: 4px;
  padding: 0;
  width: 18px;
}

.remove-user-icon {
  font-size: 14px;
  height: 14px;
  width: 14px;
}
