.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 12%;
  height: auto;
  margin-bottom: 20px;
}

.login-title {
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 300px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
}
