<ng-template
  #userCard
  let-hasMargin="hasMargin">
  <app-user-card [ngClass]="hasMargin ? 'margin-right-1' : ''" />
</ng-template>

<div
  aria-label="User Layout"
  class="user-layout"
  i18n-aria-label>
  @if (!overflowService.isWidthOverflowing("body", overflowService.getOverflowThreshold())) {
    <ng-container
      [ngTemplateOutlet]="userCard"
      [ngTemplateOutletContext]="{ hasMargin: true }" />
  }

  <mat-drawer-container>
    @if (overflowService.isWidthOverflowing("body", overflowService.getOverflowThreshold())) {
      <mat-drawer
        #drawer
        mode="over"
        (opened)="updateOverflowState()"
        [ngClass]="isUserDrawerOverflowing() ? 'user-drawer-overflow' : 'user-drawer'">
        <div class="drawer">
          <ng-container [ngTemplateOutlet]="userCard" />
        </div>
      </mat-drawer>
    }

    <mat-drawer-content>
      <div class="drawer-content-div">
        @if (overflowService.isWidthOverflowing("body", overflowService.getOverflowThreshold())) {
          <div class="drawer-button-div">
            <button
              mat-fab
              (click)="drawer.toggle()"
              class="drawer-button"
              i18n-aria-label
              aria-label="Toggle Drawer">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        }

        <div
          [ngClass]="{
            'margin-left-64': overflowService.isWidthOverflowing('body', overflowService.getOverflowThreshold())
          }"
          class="main-margin overflow padding-32">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
