@use "../../../styles/styles";
@use '@angular/material' as mat;

.user-layout {
  display: flex;
  justify-content: center;
}

.user-self-service-card {
  border-radius: var(--border-radius);
  padding: var(--global-padding);
  background: #EFEDF0;
}

.user-details-grid {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.user-details-column {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.user-details-column .label {
  font-weight: 600;
}

.user-details-column .value {
  word-break: break-word;
}
