@use "../../../styles";
@use "@angular/material" as mat;

.user-layout {
  display: flex;
}

$margin-bottom-main: 136px;

.main-margin-overflow {
  margin: 0 32px $margin-bottom-main 0;
}

.mat-drawer {
  width: fit-content;
}

.mat-drawer-container {
  width: 100%;
}

.mat-drawer-content {
  background: var(--mat-sys-background);
}

.drawer-button-div {
  display: flex;
  margin-top: 284px;
  margin-left: var(--global-padding);
  height: 100%;
  position: fixed;
}

.drawer-content-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.margin-right-1 {
  margin-right: 16px;
}

::ng-deep {
  .mat-drawer-backdrop {
    opacity: 0.5;
  }
}

.token-selfservice-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.tile-header {
  padding: 0;
}

.user-details-grid {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}

.user-details-column {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 16px;
  column-gap: 16px;
}


.user-self-service-card {
  border-radius: var(--border-radius);
  border: solid 3px var(--mat-sys-outline-variant);
  padding: var(--global-padding);
  background: var(--mat-sys-surface-container-lowest);
}

.user-details-column .label {
  font-weight: 600;
}

.user-details-column .value {
  word-break: break-word;
}
