<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  aria-label="User Layout"
  class="user-layout"
  i18n-aria-label>
  <mat-card
    appearance="outlined"
    class="user-self-service-card">
    <mat-card-header>
      <mat-card-title i18n>Your Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="user-details-grid">
        <div class="user-details-column">
          <div
            class="label"
            i18n>
            Username
          </div>
          <div class="value">{{ userData().username || "-" }}</div>

          <div
            class="label"
            i18n>
            Given name
          </div>
          <div class="value">{{ userData().givenname || "-" }}</div>

          <div
            class="label"
            i18n>
            Surname
          </div>
          <div class="value">{{ userData().surname || "-" }}</div>

          <div
            class="label"
            i18n>
            Description
          </div>
          <div class="value">{{ userData().description || "-" }}</div>
        </div>

        <div class="user-details-column">
          <div
            class="label"
            i18n>
            Email
          </div>
          <div class="value">{{ userData().email || "-" }}</div>

          <div
            class="label"
            i18n>
            Phone
          </div>
          <div class="value">{{ userData().phone || "-" }}</div>

          <div
            class="label"
            i18n>
            Mobile
          </div>
          <div class="value">{{ userData().mobile || "-" }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
