<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="flex-row margin-bottom-1 margin-top-1 gap-8">
  <button
    (click)="createNewPoilicy()"
    class="action-button-1"
    mat-stroked-button>
    <mat-icon> add_moderator</mat-icon>
    Create Policy
  </button>
  @if (authService.oneActionAllowed(["policydelete", "policywrite"])) {
    @if (authService.actionAllowed("policydelete")) {
      <button
        (click)="deleteSelectedPolicies()"
        [disabled]="policySelection().values.length"
        class="action-button-delete"
        i18n
        mat-stroked-button>
        <mat-icon> delete_sweep</mat-icon>
        Delete Selected
      </button>
    }
    @if (authService.actionAllowed("policywrite")) {
      <button
        (click)="copySelectedPolicies()"
        [disabled]="policySelection().values.length"
        class="action-button-1"
        i18n
        mat-stroked-button>
        <mat-icon> content_copy</mat-icon>
        Copy Selected
      </button>
    }

    <!-- <button
      [matMenuTriggerFor]="advancedFilterMenu"
      class="action-button-1"
      mat-stroked-button>
      <mat-icon> filter_list</mat-icon>
      More Filter
    </button>
    <mat-menu #advancedFilterMenu="matMenu">
      @for (keyword of advancedApiFilter; track keyword) {
        <button
          (click)="onAdvancedFilterClick(keyword)"
          mat-menu-item>
          <mat-icon class="margin-right-1">{{ getFilterIconName(keyword) }}</mat-icon>
          {{ keyword }}
        </button>
      }
    </mat-menu> -->
  }
</div>
