<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div>
  <div>
    @if (editEvents().length > 0) {
      <div class="selected-actions-container">
        @for (event of editEvents(); track event) {
          <div
            class="action-card">
            <div class="action-row">
              <span class="action-label">{{ event }}</span>
              @if (isEditMode()) {
                <div class="gap-div-8px"></div>
                <button
                  mat-icon-button
                  matTooltip="Remove Event"
                  class="action-icon-button"
                  (click)="removeEvent(event); $event.stopPropagation()">
                  <mat-icon>delete</mat-icon>
                </button>
              }
            </div>
          </div>
        }
      </div>
    } @else {
      <span
        class="italic"
        i18n>No events have been set for this event handler.</span>
    }

    @if (isEditMode()) {
      <mat-divider class="margin-top-16 margin-bottom-16"></mat-divider>
      <div class="action-selector-container">
        <h4 class="margin-top-8 margin-bottom-8">Add new events</h4>
        <mat-form-field
          subscriptSizing="dynamic">
          <mat-label i18n>Search event ...</mat-label>
          <app-clearable-input
            (onClick)="searchTerm.set('')"
            [showClearButton]="searchTerm().length > 0">
            <input
              matInput
              type="text"
              placeholder="Search event ..."
              [ngModel]="searchTerm()"
              (ngModelChange)="searchTerm.set($event)" />
          </app-clearable-input>
        </mat-form-field>
          <div class="selected-actions-container">
            @for (eventName of remainingEvents(); track eventName) {
              <div
                class="action-card action-row">
                <span class="action-label">{{ eventName }}</span>
                <div class="gap-div-8px"></div>
                <button
                  mat-icon-button
                  matTooltip="Add Event"
                  class="action-icon-button"
                  (click)="addEvent(eventName); $event.stopPropagation()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            }
          </div>
      </div>
    }
  </div>
</div>
