@use "../../../../../../styles" as styles;

// event cards are not clickable
.selected-actions-container .action-card:hover {
  background-color: var(--mat-sys-surface-container) !important;
  color: var(--mat-sys-on-surface) !important;
  cursor: default !important;
}

.action-icon-button {
  width: 36px;
  height: 36px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .mat-mdc-button-touch-target {
    width: 36px;
    height: 36px;
  }
}
