<app-dialog-wrapper
  title="Copy Policy" i18n-title
  (wrapperClose)="close()"
  [actions]="actions()"
  (actionTriggered)="onAction($event)">
  <div class="dialog-content">
    <p i18n>Please enter a unique name for the copied policy.</p>

    <mat-form-field
      appearance="outline"
      class="full-width">
      <mat-label i18n>New Policy Name</mat-label>
      <input
        matInput
        [formField]="nameField"
        cdkFocusInitial
        i18n-placeholder
        placeholder="e.g. New_Policy_Name"
        (keyup.enter)="!isInvalid() && onAction('submit')" />

      @if (nameField().errors().some(e => e.kind === 'required')) {
        <mat-error i18n>Policy name is <strong>required</strong></mat-error>
      }
      @if (nameField().errors().some(e => e.kind === 'notChanged')) {
        <mat-error i18n>Policy name must be <strong>different</strong> from the original</mat-error>
      }

      <mat-hint i18n>Must be a unique identifier</mat-hint>
    </mat-form-field>
  </div>
</app-dialog-wrapper>
