<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="flex-column">
  <h4 class="enroll-h4">Token Configuration</h4>
  <mat-form-field class="width-100">
    <mat-label i18n>VASCO Token blob</mat-label>
    <textarea
      [errorStateMatcher]="vascoErrorStatematcher"
      [formControl]="otpKeyControl"
      i18n-placeholder
      matInput
      placeholder="Enter blob"
      required
      rows="6">
    </textarea>
    @if (otpKeyControl.hasError("minlength") || otpKeyControl.hasError("maxlength")) {
      <mat-error i18n>Expected VASCO Token blob as <strong>496-character hex string</strong></mat-error>
    }
    @if (otpKeyControl.hasError("required")) {
      <mat-error i18n>VASCO Token blob is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <div class="flex-row gap-1">
    <mat-checkbox
      [formControl]="useVascoSerialControl"
      class="server-checkbox"
      i18n>
      Use VASCO Serial
    </mat-checkbox>
    <mat-form-field class="width-33">
      <mat-label i18n>Vasco Serial</mat-label>
      <input
        [disabled]="!useVascoSerialControl.value || disabled()"
        [formControl]="vascoSerialControl"
        matInput />
    </mat-form-field>
  </div>
  <span
    class="margin-bottom-1"
    i18n
    >The VASCO serial is read from the VASCO blob. If you want to use this VASCO serial number within privacyIDEA,
    activate the checkbox. Otherwise, privacyIDEA will create a new unique serial number.</span
  >
</div>
