@use "../../../../../../styles";
@use "../../../policies.component.scss";
@use "@angular/material" as mat;
.small-toggle {
  transform: scale(0.7);
  transform-origin: left center;
}
.policy-title-container {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
}

.policy-priority-input {
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 600;
  color: #29b6f6;
  width: 33px;
  height: 28px;
  padding: 5px;
  margin: 1px;
  text-align: center;

  background-color: var(--mat-sys-surface-container-highest);
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 0;
  box-sizing: border-box;

  appearance: textfield;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    box-shadow: 0 0 0 1px var(--mat-sys-primary);
  }
}

.policy-name-input {
  @include policies.policy-name-input-base;
  margin-left: 2px;
  padding: var(--half-global-padding) 0;
}
