<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<app-widget-state [state]="state()">
  <table class="tokens-table">
    <tbody>
      <tr>
        <td i18n>Total</td>
        <td>
          @if (counts().total > 0) {
            <a [routerLink]="routePaths.TOKENS" (click)="showAllTokens()">{{ counts().total }}</a>
          } @else {
            {{ counts().total }}
          }
        </td>
      </tr>
      @if (showHardware()) {
        <tr>
          <td i18n>Hardware</td>
          <td>
            <a [routerLink]="routePaths.TOKENS" (click)="showKind('hardware')">{{ counts().hardware }}</a>
          </td>
        </tr>
      }
      @if (showSoftware()) {
        <tr>
          <td i18n>Software</td>
          <td>
            <a [routerLink]="routePaths.TOKENS" (click)="showKind('software')">{{ counts().software }}</a>
          </td>
        </tr>
      }
      @if (distinguishKinds()) {
        <tr>
          <td i18n>Unassigned Hardware</td>
          <td>
            @if (counts().unassigned_hardware > 0) {
              <a [routerLink]="routePaths.TOKENS" (click)="showKind('hardware', true)">
                {{ counts().unassigned_hardware }}
              </a>
            } @else {
              {{ counts().unassigned_hardware }}
            }
          </td>
        </tr>
        <tr>
          <td i18n>Unassigned Software</td>
          <td>
            @if (counts().unassigned_software > 0) {
              <a [routerLink]="routePaths.TOKENS" (click)="showKind('software', true)">
                {{ counts().unassigned_software }}
              </a>
            } @else {
              {{ counts().unassigned_software }}
            }
          </td>
        </tr>
      } @else if (counts().total > 0) {
        <tr>
          <td i18n>Unassigned</td>
          <td>
            @if (unassignedTotal() > 0) {
              <a [routerLink]="routePaths.TOKENS" (click)="showUnassigned()">{{ unassignedTotal() }}</a>
            } @else {
              {{ unassignedTotal() }}
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</app-widget-state>
