<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<app-widget-state [state]="state()">
  <table class="tokens-table">
    <tbody>
      <tr>
        <td i18n>Total</td>
        <td>
          <a [routerLink]="['/tokens']">{{ counts().total }}</a>
        </td>
      </tr>
      <tr>
        <td i18n>Hardware</td>
        <td>{{ counts().hardware }}</td>
      </tr>
      <tr>
        <td i18n>Software</td>
        <td>{{ counts().software }}</td>
      </tr>
      <tr>
        <td i18n>Unassigned Hardware</td>
        <td>{{ counts().unassigned_hardware }}</td>
      </tr>
      <tr>
        <td i18n>Unassigned Software</td>
        <td>{{ counts().unassigned_software }}</td>
      </tr>
    </tbody>
  </table>
</app-widget-state>
