<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  #scrollContainer
  appScrollToTop
  aria-label="System Configuration"
  class="system-config-container"
  i18n-aria-label>

  <div class="system-config-scroll-container">
    <div class="system-config-form">
      <h3
        class="margin-8"
        i18n>
        System Configuration
      </h3>
      <div class="flex-row gap-16">
        <div class="save-buttons">
          <button
            (click)="openDocumentationDialog()"
            class="action-button-secondary button-width-l"
            mat-stroked-button>
            <mat-icon>document_scanner</mat-icon>
            <span i18n>Get Documentation</span>
          </button>
          @if (hasConfigWritePermission()) {
            <button
              [disabled]="!authService.actionAllowed('configwrite')"
              class="action-button-primary button-width-l"
              mat-stroked-button
              (click)="saveSystemConfig()">
              <mat-icon>save</mat-icon>
              <span i18n>Save System Config</span>
            </button>
          }
        </div>
      </div>

      <div class="form-group margin-bottom-16">
        <mat-checkbox
          [checked]="params().splitAtSign"
          (change)="updateParam('splitAtSign', $event.checked)">
          Use &#64; sign to split the username and the realm
        </mat-checkbox>
      </div>

      <div class="flex-row full-width-grid-column gap-16 ali-center">
        <div class="form-group">
          <mat-checkbox
            [checked]="params().IncFailCountOnFalsePin"
            (change)="updateParam('IncFailCountOnFalsePin', $event.checked)">
            Increase the failcounter
            <br />
            if the wrong PIN was entered
          </mat-checkbox>
        </div>

        <mat-form-field
          class="margin-left-auto input-width-s">
          <mat-label i18n>Clear Failcounter</mat-label>
          <input
            [value]="params().failcounter_clear_timeout ?? ''"
            (input)="updateParam('failcounter_clear_timeout', $any($event.target).value)"
            matInput
            placeholder="0" />
          <mat-hint i18n>Time in minutes.</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-group margin-bottom-16">
        <mat-checkbox
          [checked]="params().no_auth_counter"
          (change)="updateParam('no_auth_counter', $event.checked)">
          Do not use an authentication counter per token
        </mat-checkbox>
      </div>

      <div class="form-group margin-bottom-16">
        <mat-checkbox
          [checked]="params().PrependPin"
          (change)="updateParam('PrependPin', $event.checked)">
          Prepend the PIN in front of the OTP value. Otherwise it will be post pended
        </mat-checkbox>
      </div>

      <div class="form-group margin-bottom-16">
        <mat-checkbox
          [checked]="params().ReturnSamlAttributes"
          (change)="updateParam('ReturnSamlAttributes', $event.checked)">
          Include SAML attributes in the authentication response
        </mat-checkbox>
      </div>

      <div class="form-group margin-bottom-16">
        <mat-checkbox
          [checked]="params().ReturnSamlAttributesOnFail"
          [disabled]="!params().ReturnSamlAttributes"
          (change)="updateParam('ReturnSamlAttributesOnFail', $event.checked)">
          Include SAML attributes even if the user failed to authenticate
        </mat-checkbox>
      </div>

      <div class="flex-row full-width-grid-column gap-16 ali-center margin-bottom-16">
        <div class="form-group">
          <mat-checkbox
            [checked]="params().AutoResync"
            (change)="updateParam('AutoResync', $event.checked)">
            Automatic resync during authentication
          </mat-checkbox>
        </div>

        <mat-form-field
          class="margin-left-auto input-width-s">
          <mat-label i18n>Auto Resync</mat-label>
          <input
            [value]="params().AutoResyncTimeout ?? ''"
            [disabled]="!params().AutoResync"
            (input)="updateParam('AutoResyncTimeout', $any($event.target).value)"
            matInput
            placeholder="300" />
          <mat-hint i18n>Timeout in seconds.</mat-hint>
        </mat-form-field>
      </div>

      <div class="flex-column gap-16">
        <div class="flex-row just-space-between ali-center">
          <mat-form-field
            class="input-width-l">
            <mat-label i18n>User Cache Expiration</mat-label>
            <input
              [value]="params().UserCacheExpiration ?? ''"
              (input)="updateParam('UserCacheExpiration', $any($event.target).value)"
              matInput
              placeholder="0" />
            <mat-hint i18n>
              Time in seconds.
            </mat-hint>
          </mat-form-field>

          <button
            (click)="deleteUserCache()"
            class="action-button-delete-secondary button-width-m margin-bottom-16 margin-left-auto"
            i18n
            mat-stroked-button>
            <mat-icon>delete</mat-icon>
            Delete User Cache
          </button>
        </div>

        <div class="flex-row gap-16">
          <mat-form-field
            class="input-width-l">
            <mat-label i18n>Override Authorization Clients</mat-label>
            <app-clearable-input
              (clearButtonClick)="updateParam('OverrideAuthorizationClient', '')"
              [showClearButton]="!!params().OverrideAuthorizationClient">
              <input
                [value]="params().OverrideAuthorizationClient ?? ''"
                (input)="updateParam('OverrideAuthorizationClient', $any($event.target).value)"
                matInput
                name="OverrideAuthorizationClient"
                placeholder="127.0.0.1, 10.0.0.8" />
            </app-clearable-input>
            <mat-hint i18n>
              These client IP addresses or subnets are allowed to masquerade as another client
            </mat-hint>
          </mat-form-field>

          <mat-form-field
            class="input-width-l">
            <mat-label i18n>SMTP Server for Password Recovery</mat-label>
            <mat-select
              [value]="params()['recovery.identifier']"
              (selectionChange)="updateParam('recovery.identifier', $event.value)">
              <mat-option
                [value]="''"
                i18n>None
              </mat-option>
              @for (identifier of smtpIdentifiers; track identifier) {
                <mat-option [value]="identifier">{{ identifier }}</mat-option>
              }
            </mat-select>
            <mat-hint i18n>
              Select a predefined
              <a [routerLink]="[ROUTE_PATHS.EXTERNAL_SERVICES_SMTP]"><strong>SMTP server configuration</strong></a>
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="well margin-top-32 padding-16 border-radius-1">
        <div class="flex-column">
          <h4
            class="margin-bottom-16"
            i18n>Default Settings for New Enrolled Tokens
          </h4>

          <div class="flex-row gap-16">
            <mat-form-field class="input-width-s">
              <mat-label i18n>OTP Length</mat-label>
              <input
                [value]="params()['DefaultOtpLen']"
                (input)="updateParam('DefaultOtpLen', $any($event.target).value)"
                matInput
                placeholder="6" />
            </mat-form-field>

            <mat-form-field class="input-width-s">
              <mat-label i18n>Count Window</mat-label>
              <input
                [value]="params()['DefaultCountWindow']"
                (input)="updateParam('DefaultCountWindow', $any($event.target).value)"
                matInput
                placeholder="10" />
            </mat-form-field>

            <mat-form-field class="input-width-s">
              <mat-label i18n>Max Failcount</mat-label>
              <input
                [value]="params()['DefaultMaxFailCount']"
                (input)="updateParam('DefaultMaxFailCount', $any($event.target).value)"
                matInput
                placeholder="10" />
            </mat-form-field>
          </div>

          <div class="flex-row gap-16">
            <mat-form-field class="input-width-s">
              <mat-label i18n>Sync Window</mat-label>
              <input
                [value]="params()['DefaultSyncWindow']"
                (input)="updateParam('DefaultSyncWindow', $any($event.target).value)"
                matInput
                placeholder="1000" />
            </mat-form-field>

            <mat-form-field class="input-width-s">
              <mat-label i18n>Challenge Validity</mat-label>
              <input
                [value]="params()['DefaultChallengeValidityTime']"
                (input)="updateParam('DefaultChallengeValidityTime', $any($event.target).value)"
                matInput
                placeholder="120" />
              <mat-hint i18n>Time in seconds.</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>