<div class="flex-column">
  <div class="token-type-paragraph">
    <p>{{ text }}</p>
  </div>
  <h4 class="enroll-h4">Token Configuration</h4>
  <div class="otp-inputs-container">
    <mat-form-field class="input-height width-33">
      <mat-label>OTP length</mat-label>
      <mat-select [(ngModel)]="otpLength">
        <mat-option [value]="6">6</mat-option>
        <mat-option [value]="8">8</mat-option>
      </mat-select>
      <mat-hint
        >Some Authenticator Apps only support an OTP length of 6.
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="input-height width-33">
      <mat-label>Hash algorithm</mat-label>
      <mat-select [(ngModel)]="hashAlgorithm">
        <mat-option value="sha1">sha1</mat-option>
        <mat-option value="sha256">sha256</mat-option>
        <mat-option value="sha512">sha512</mat-option>
      </mat-select>
      <mat-hint
        >Some Authenticator Apps only support the SHA1 algorithm.
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="width-32 input-height">
      <mat-label>Timestep</mat-label>
      <input
        [(ngModel)]="timeStep"
        matInput
        placeholder="For example '1d' or '12h'"
        required />
      <mat-error>Timestep is <strong>required</strong></mat-error>
      <mat-hint
        >The time in which the password can be used. For example '1d' or '12h'.
      </mat-hint>
    </mat-form-field>
  </div>
</div>
