<div class="flex-column">
  <div class="token-type-paragraph">
    <p>{{ text }}</p>
  </div>
  <h4 class="enroll-h4">Token Configuration</h4>
  <mat-checkbox [formControl]="generateOnServerControl"
                class="server-checkbox">
    Generate OTP key on the server
    @if (generateOnServerControl.value) {
      <span class="dot">.</span><span>
        <br />
        The server will create the OTP key and a QR Code will be displayed to
        you to be scanned.
      </span>
    }
  </mat-checkbox>
  <div class="otp-inputs-container">
    <mat-form-field class="input-height width-33 hint-spacer">
      <mat-label>OTP length</mat-label>
      <mat-select [formControl]="otpLengthControl">
        @for (len of otpLengthOptions; track len) {
          <mat-option [value]="len">{{ len }}</mat-option>
        }
      </mat-select>
      <mat-hint>Some Authenticator Apps only support an OTP length of 6.
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="input-height width-33 hint-spacer">
      <mat-label>Hash algorithm</mat-label>
      <mat-select [formControl]="hashAlgorithmControl">
        @for (alg of hashAlgorithmOptions; track alg.value) {
          <mat-option [value]="alg.value">{{ alg.viewValue }}</mat-option>
        }
      </mat-select>
      <mat-hint>Some Authenticator Apps only support the SHA1 algorithm.
      </mat-hint>
    </mat-form-field>
    @if (!generateOnServerControl.value) {
      <mat-form-field class="input-height width-33">
        <mat-label>OTP Key</mat-label>
        <input [formControl]="otpKeyControl"
               matInput
               placeholder="Enter OTP key"
               required />
        <mat-error>OTP key is <strong>required</strong> (min 16 chars)
        </mat-error>
      </mat-form-field>
    } @else {
      <span class="input-height width-33"></span>
    }
  </div>
  <div class="otp-inputs-container">
    <!-- New row for timestep -->
    <mat-form-field class="width-32 input-height">
      <mat-label>Timestep</mat-label>
      <input [formControl]="timeStepControl"
             matInput
             placeholder="For example '1d' or '12h'"
             required />
      <mat-error>Timestep is <strong>required</strong></mat-error>
      <mat-hint>The time in which the password can be used. For example '1d' or '12h'.
      </mat-hint>
    </mat-form-field>
  </div>
</div>
