@use "styles";

.radius-server-page-layout {
  display: flex;
  justify-content: center;
}

.radius-server-page-container {
  @include styles.main-component-style;
  display: grid;
  position: relative;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  .action-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--global-gap);
  }
}

.radius-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
