<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  #scrollContainer
  appScrollToTop
  class="radius-server-page-layout">
  <div class="radius-server-page-container">

    @if (isEditMode) {
      <h3
        class="margin-8"
        i18n>
        Edit RADIUS Server
      </h3>
    } @else {
      <h3
        class="margin-8"
        i18n>
        Create RADIUS Server
      </h3>
    }

    <div
      #stickySentinel
      class="sticky-sentinel"></div>

    <div
      #stickyHeader
      class="header-row sticky-header">
      <div class="action-buttons">
        <button
          (click)="onCancel()"
          class="action-button-secondary button-width-s"
          mat-stroked-button>
          <span i18n>Cancel</span>
        </button>
        <button
          (click)="save()"
          [disabled]="radiusForm.invalid"
          class="action-button-primary button-width-s"
          mat-stroked-button>
          <mat-icon>save</mat-icon>
          <span i18n>Save</span>
        </button>
      </div>
    </div>

    @if (radiusForm) {
      <form
        [formGroup]="radiusForm"
        class="radius-form">
        <mat-form-field
          appearance="fill"
          class="input-width-l margin-bottom-32">
          <mat-label i18n>Identifier</mat-label>
          <app-clearable-input
            (onClick)="radiusForm.get('identifier')?.setValue('')"
            [showClearButton]="!isEditMode && !!radiusForm.get('identifier')?.value">
            <input
              formControlName="identifier"
              matInput
              placeholder="myRadiusServer"
              required />
          </app-clearable-input>
          <mat-hint i18n>The unique identifying name of the RADIUS server definition.</mat-hint>
          @if (radiusForm.get('identifier')?.hasError('required')) {
            <mat-error
              i18n>Identifier is <strong>required</strong>
            </mat-error>
          }
          @if (radiusForm.get('identifier')?.hasError('pattern')) {
            <mat-error
              i18n>Identifier contains <strong>invalid characters</strong>. Only alphanumeric characters, dots, underscores and hyphens are allowed.
            </mat-error>
          }
        </mat-form-field>

        <div class="flex-row gap-16 margin-bottom-16">
          <mat-form-field
            appearance="fill"
            class="input-width-l">
            <mat-label i18n>IP or FQDN</mat-label>
            <app-clearable-input
              (onClick)="radiusForm.get('server')?.setValue('')"
              [showClearButton]="!!radiusForm.get('server')?.value">
              <input
                formControlName="server"
                matInput
                placeholder="1.2.3.4"
                required />
            </app-clearable-input>
            @if (radiusForm.get('server')?.hasError('required')) {
              <mat-error
                i18n>Server is <strong>required</strong>
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            class="input-width-s">
            <mat-label i18n>Port</mat-label>
            <input
              formControlName="port"
              matInput
              placeholder="1812"
              type="number" />
          </mat-form-field>
        </div>

        <div class="flex-row gap-16 margin-bottom-16">
          <mat-form-field
            appearance="fill"
            class="input-width-l">
            <mat-label i18n>Secret</mat-label>
            <app-clearable-input
              (onClick)="radiusForm.get('secret')?.setValue('')"
              [showClearButton]="!!radiusForm.get('secret')?.value">
              <input
                formControlName="secret"
                matInput
                required
                type="password" />
            </app-clearable-input>
            @if (radiusForm.get('secret')?.hasError('required')) {
              <mat-error
                i18n>Secret is <strong>required</strong>
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            class="input-width-s">
            <mat-label i18n>Timeout</mat-label>
            <input
              formControlName="timeout"
              matInput
              placeholder="5"
              type="number" />
          </mat-form-field>
        </div>

        <div class="flex-row gap-16">
          <mat-form-field
            appearance="fill"
            class="input-width-l">
            <mat-label i18n>RADIUS Dictionary</mat-label>
            <app-clearable-input
              (onClick)="radiusForm.get('dictionary')?.setValue('')"
              [showClearButton]="!!radiusForm.get('dictionary')?.value">
              <input
                formControlName="dictionary"
                matInput
                placeholder="/etc/privacyidea/dictionary" />
            </app-clearable-input>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            class="input-width-s">
            <mat-label i18n>Retries</mat-label>
            <input
              formControlName="retries"
              matInput
              placeholder="3"
              type="number" />
          </mat-form-field>
        </div>

        <mat-form-field
          appearance="fill"
          class="input-width-xl">
          <mat-label i18n>Description</mat-label>
          <app-clearable-input
            (onClick)="radiusForm.get('description')?.setValue('')"
            [showClearButton]="!!radiusForm.get('description')?.value">
            <input
              formControlName="description"
              matInput
              placeholder="some wise words" />
          </app-clearable-input>
        </mat-form-field>

        <div class="checkbox-group">
          <mat-checkbox
            formControlName="message_authenticator"
            i18n>Require Message-Authenticator
          </mat-checkbox>
        </div>

        <h4 i18n>Test RADIUS Server</h4>

        <div class="flex-row gap-16">
          <mat-form-field
            appearance="fill"
            class="input-width-m">
            <mat-label i18n>Username</mat-label>
            <app-clearable-input
              (onClick)="radiusForm.get('username')?.setValue('')"
              [showClearButton]="!!radiusForm.get('username')?.value">
              <input
                formControlName="username"
                matInput />
            </app-clearable-input>
          </mat-form-field>
          <div class="flex ali-center">
            <mat-form-field
              appearance="fill"
              class="input-width-m">
              <mat-label i18n>Password</mat-label>
              <app-clearable-input
                (onClick)="radiusForm.get('password')?.setValue('')"
                [showClearButton]="!!radiusForm.get('password')?.value">
                <input
                  formControlName="password"
                  matInput
                  type="password" />
              </app-clearable-input>
            </mat-form-field>
            <button
              (click)="test()"
              [disabled]="isTesting()"
              class="margin-bottom-16 margin-left-16"
              i18n-matTooltip
              mat-icon-button
              matTooltip="Send RADIUS test request">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </div>
      </form>
    }
  </div>
</div>
