@use "../../../../../styles";
@use "@angular/material" as mat;

.radius-dialog-content {
  min-width: 664px
}

.row {
  display: flex;
  gap: 16px;
  width: 100%;
}

.col-8 {
  flex: 2;
}

.col-5 {
  flex: 5;
}

.col-4 {
  flex: 1;
}

.col-2 {
  flex: 1;
}

.col-6 {
  flex: 1;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
