@use "@angular/material" as mat;

.list-item-card {
  width: 100%;
}

.mat-expansion-panel-header {
  align-items: center;
}

.policy-priority-input {
  -moz-appearance: textfield;
  appearance: textfield;
  background-color: var(--mat-sys-surface-container-highest);
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #29b6f6;
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 600;
  height: 28px;
  outline: none;
  padding: 0;
  text-align: center;
  width: 33px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    box-shadow: 0 0 0 1px var(--mat-sys-primary);
  }
}

.header-description {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.description-label {
  align-items: center;
  display: flex;
  font-weight: 500;
  justify-content: center;
  text-transform: uppercase;
}

.policy-scope-dropdown {
  width: 150px;
}

.actions {
  align-items: center;
  display: flex;
  gap: var(--half-global-padding);
}

.width-100 {
  width: 100%;
}

.policy-title-container {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 100%;
}
