<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title i18n>WebAuthn Token Settings</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="panel-content">
    <p i18n>The WebAuthn token is a hardware token, that communicates with the browser. You may set a trust anchor
            directory, which is a path to a directory containing certificates to trust for WebAuthn authenticator
            attestation.
    </p>

    <mat-form-field
      appearance="fill">
      <mat-label i18n>trust_anchor_dir</mat-label>
      <input
        [(ngModel)]="formData()['webauthn.trust_anchor_dir']"
        matInput
        placeholder="/etc/privacyidea/trusted_attestation_roots">
      <mat-hint i18n>The path to the directory containing the trust anchors.</mat-hint>
    </mat-form-field>

    <p i18n>
      This should be a path to a local directory on the server, that privacyIDEA has read access to. It should contain
      certificate files. Any certificates in this directory will be trusted to correctly attest authenticators during
      enrollment.
    </p>
    <p i18n>
      This does not need to be set for WebAuthn to work, however without this, privacyIDEA can not check, whether an
      attestation certificate is actually trusted (it will still be checked for validity). Therefore it is mandatory to
      set this, if webauthn_authenticator_attestation_level is set to "trusted" by a policy for any user.
    </p>

    @if (formData()['webauthn.trust_anchor_dir'] && !formData()['webauthn.trust_anchor_dir'].startsWith('/')) {
      <div
        class="alert alert-warning"
        i18n>The trust_anchor_dir must be an absolute path.
      </div>
    }
    @if (formData()['webauthn.trust_anchor_dir'] && formData()['webauthn.trust_anchor_dir'].endsWith('/')) {
      <div
        class="alert alert-warning"
        i18n>The trust_anchor_dir must not end with a "/".
      </div>
    }
  </div>
</mat-expansion-panel>
