<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title i18n>Yubico Token Settings</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="panel-content">
    <p i18n>The Yubico Token is a Yubikey that is registered with the YubiCloud service. The Yubikey emits a 44
            character one time password. The first 12 characters are a unique ID which is used to bind the device to the
            user.
    </p>
    <p i18n>The authentication request is forwarded to the YubiCloud. For accessing the YubiCloud you need to enter an
            API Client ID and an API Key, which you can request
      <a
        href="https://upgrade.yubico.com/getapikey/"
        target="_blank">here
      </a>
    </p>

    <mat-form-field
      appearance="fill">
      <mat-label i18n>API client ID</mat-label>
      <input
        [(ngModel)]="formData()['yubico.id']"
        matInput
        placeholder="The client ID"
        required>
    </mat-form-field>

    <mat-form-field
      appearance="fill">
      <mat-label i18n>API Key</mat-label>
      <input
        [(ngModel)]="formData()['yubico.secret']"
        matInput
        placeholder="API Key"
        required>
    </mat-form-field>

    <mat-form-field
      appearance="fill">
      <mat-label i18n>Yubico URL</mat-label>
      <input
        [(ngModel)]="formData()['yubico.url']"
        matInput
        placeholder="https://api.yubico.com/wsapi/2.0/verify"
        required
        type="url">
    </mat-form-field>
  </div>
</mat-expansion-panel>
