<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title i18n>Yubico Token Settings</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="panel-content">
    <p i18n>The Yubico Token is a Yubikey that is registered with the YubiCloud service. The Yubikey emits a 44
      character one time password. The first 12 characters are a unique ID which is used to bind the device to the
      user.
    </p>
    <p i18n>The authentication request is forwarded to the YubiCloud. For accessing the YubiCloud you need to enter
      an API Client ID and an API Key, which you can request
      <a
        href="https://upgrade.yubico.com/getapikey/"
        target="_blank">here
      </a>
      .
    </p>

    <mat-form-field
      appearance="fill">
      <mat-label i18n>API client ID</mat-label>
      <input
        [(ngModel)]="formData()['yubico.id']"
        matInput
        placeholder="The client ID"
        required>
    </mat-form-field>

    <mat-form-field
      appearance="fill">
      <mat-label i18n>API Key</mat-label>
      <input
        [(ngModel)]="formData()['yubico.secret']"
        matInput
        placeholder="API Key"
        required>
    </mat-form-field>

    <mat-form-field
      appearance="fill">
      <mat-label i18n>Yubico URL</mat-label>
      <input
        [(ngModel)]="formData()['yubico.url']"
        matInput
        placeholder="https://api.yubico.com/wsapi/2.0/verify"
        required
        type="url">
    </mat-form-field>
  </div>
</mat-expansion-panel>
