<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (isEditMode() || policyService.selectedPolicyHasAdminConditions()) {
  <div class="admin-container">
    <h2
      class="admin-title"
      i18n>
      Admin Conditions
    </h2>

    @if (isEditMode()) {
      <mat-form-field
        appearance="fill"
        class="full-width">
        <mat-label i18n>Select Admin Realms</mat-label>
        <mat-select
          #realmSelect
          [value]="this.selectedRealms()"
          [multiple]="true"
          (selectionChange)="selectRealm($event.value)">
          <button
            mat-button
            class="toggle-all-button"
            (click)="toggleAllRealms()">
            {{ isAllRealmsSelected() ? "Deselect all" : "Select all" }}
          </button>
          @for (adminRealmOption of this.realmService.adminRealmOptions(); track $index) {
            <mat-option [value]="adminRealmOption">{{ adminRealmOption }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="admin-list-wrapper">
        <div class="admin-list">
          @for (admin of selectedAdmins(); track admin) {
            <div class="admin-chip">
              <span>{{ admin }}</span>
              <button
                mat-icon-button
                (click)="removeAdmin(admin)"
                class="remove-admin-btn">
                <mat-icon class="remove-admin-icon">close</mat-icon>
              </button>
            </div>
          }
        </div>
      </div>
      <div class="admin-input-container">
        <mat-form-field class="add-admin-input">
          <mat-label i18n>Add Admin</mat-label>
          <input
            matInput
            [formControl]="adminFormControl"
            #adminInput
            (keyup.enter)="
              adminFormControl.markAsTouched();
              addAdmin(adminInput.value);
              !adminFormControl.invalid && (adminInput.value = '')
            " />
          @if (adminFormControl.hasError("includesComma")) {
            <mat-error i18n> Admin must not contain commas. </mat-error>
          }
        </mat-form-field>
        <button
          class="add-admin-button button-hover"
          [disabled]="!adminInput.value.trim() || adminFormControl.invalid"
          (click)="addAdmin(adminInput.value); adminInput.value = ''">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    } @else {
      <div class="readonly-admin-grid-container">
        @if (selectedRealms().length > 0) {
          <span
            class="readonly-label"
            i18n>
            Realms:
          </span>
          <div class="readonly-chips-container">
            @for (realm of selectedRealms(); track realm) {
              <div class="readonly-chip">{{ realm }}</div>
            }
          </div>
        }
        @if (selectedResolvers().length > 0) {
          <span
            class="readonly-label"
            i18n>
            Resolvers:
          </span>
          <div class="readonly-chips-container">
            @for (resolver of selectedResolvers(); track resolver) {
              <div class="readonly-chip">{{ resolver }}</div>
            }
          </div>
        }
        @if (selectedAdmins().length > 0) {
          <span
            class="readonly-label"
            i18n>
            Admins:
          </span>
          <div class="admins-container">
            <div class="readonly-chips-container">
              @for (admin of selectedAdmins(); track admin) {
                <div class="readonly-chip">{{ admin }}</div>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
}
