<div
  aria-label="Realm Layout"
  class="realm-layout"
  i18n-aria-label>
  <div
    appScrollToTop
    class="realm-table-container">
    <div class="filter-paginator-container">
      <mat-form-field
        class="token-table-filter"
        subscriptSizing="dynamic">
        <mat-label i18n>Filter Realms...</mat-label>
        <app-clearable-input
          (onClick)="resetFilter()"
          [showClearButton]="filterString().length > 0">
          <input
            #filterHTMLInputElement
            (input)="onFilterInput(filterHTMLInputElement.value)"
            [value]="filterString()"
            aria-label="Filter Input"
            i18n-aria-label
            i18n-placeholder
            matInput
            placeholder="Example: 'node1' or 'resolver: ldap'" />
        </app-clearable-input>
      </mat-form-field>
      <mat-paginator
        [length]="totalLength()"
        [pageSizeOptions]="pageSizeOptions()"
        [pageSize]="pageSizeOptions()[0]"
        showFirstLastButtons></mat-paginator>
    </div>

    <div class="flex-row margin-bottom-1 margin-top-1">
      <mat-form-field
        subscriptSizing="dynamic">
        <mat-label i18n>Node</mat-label>

        <mat-select
          (selectionChange)="onNodeSelectionChange($event.value)"
          [value]="selectedNode()">

          @for (node of nodeOptions(); track node.value) {
            <mat-option [value]="node.value">
              {{ node.label }}
            </mat-option>
          }

        </mat-select>
      </mat-form-field>
    </div>

    <div class="audit-table-overflow">
      <table
        [dataSource]="realmsDataSource()"
        aria-label="Realm Data Table"
        class="token-table"
        mat-table
        matSort>
        @for (column of columnKeysMap; track column) {
          <ng-container [matColumnDef]="column.key">
            <th
              *matHeaderCellDef
              attr.aria-label="{{ column.label }} Header"
              mat-header-cell
              mat-sort-header>
              {{ column.label }}
            </th>
            <td
              *matCellDef="let element"
              [ngClass]="{ 'width-18rem': column.key === 'resolvers' }"
              attr.aria-label="{{ column.label }} Cell"
              mat-cell>
              <div>
                @switch (column.key) {
                  @case ("name") {
                    <span>{{ element.name }}</span>
                  }
                  @case ("isDefault") {
                    <span>
                      {{ element.isDefault ? ("Yes" | i18nSelect : { "true": "Yes", "false": "No" }) : ("No") }}
                    </span>
                  }
                  @case ("resolvers") {
                    <span>{{ element.resolvers }}</span>
                  }
                  @case ("nodes") {
                    <span>{{ element.nodes }}</span>
                  }
                  @default {
                    <span>{{ element[column.key] }}</span>
                  }
                }
              </div>
            </td>
          </ng-container>
        }

        <tr
          *matHeaderRowDef="columnKeys"
          aria-label="Header Row"
          mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: columnKeys"
          aria-label="Data Row"
          mat-row></tr>
        <tr
          *matNoDataRow
          aria-label="No Data Row">
          <td
            [attr.colspan]="columnKeys.length"
            aria-label="No Data Cell">
            No data matching the filter.
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
