@use "../../../../styles";
@use "@angular/material" as mat;

.realm-layout {
  display: flex;
  justify-content: center;
}

.realm-table-container {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  width: 1370px;
  display: grid;
  overflow: auto;
}

.node-filter {
  min-width: 220px;
  margin-left: 1rem;
}