@use "../../../../../../styles";
@use "../../../policies.component.scss";
@use "@angular/material" as mat;

.button-row {
  display: flex;
  overflow: auto;
  scrollbar-width: thin;
  width: 100%;
}

.button-item {
  border: 1px solid var(--mat-sys-outline);
  border-radius: 0;
  cursor: pointer;
  flex: 1;
  margin: 0;
  padding: var(--half-global-padding) var(--global-padding);
  text-align: center;
  color: var(--mat-sys-on-surface);
}

.button-item + .button-item {
  border-left: none;
}

.button-item:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.button-item:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.button-item:hover {
  background-color: var(--mat-sys-primary-light);
  color: var(--mat-sys-on-primary);
}

.selected-button {
  background-color: var(--mat-sys-primary-base);
  color: var(--mat-sys-on-primary);
  font-weight: 600;
}

.button-item:focus {
  outline: 2px solid var(--mat-sys-primary-base);
  outline-offset: -2px;
  position: relative;
  z-index: 1;
}
