<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<div class="list-item-card">
  <mat-expansion-panel
    #panel
    class="margin-4"
    [disabled]="isPolicyEdited()"
    (opened)="handleExpansion()"
    (closed)="handleCollapse(panel)">
    <mat-expansion-panel-header class="mat-expansion-panel-header">
      <mat-panel-title>
        @if (panel.expanded) {
          <input
            type="text"
            class="policy-name-input"
            placeholder="Policy Name"
            [ngModel]="newPolicy().name"
            (ngModelChange)="onNameChange($event)"
            (click)="$event.stopPropagation(); panel.expanded = true"
            (keydown)="$event.stopPropagation()" />
        } @else {
          <p i18n>New Policy</p>
        }
      </mat-panel-title>
      <mat-panel-description class="header-description">
        <div class="description-label">
          @if (!policyHasActions() && panel.expanded) {
            <mat-form-field
              appearance="fill"
              class="policy-scope-dropdown"
              (click)="$event.stopPropagation()">
              <mat-label i18n>Scope</mat-label>
              <mat-select
                [value]="newPolicy().scope"
                (selectionChange)="selectPolicyScope($event.value)">
                @for (scopeOption of policyService.allPolicyScopes(); track scopeOption) {
                  <mat-option [value]="scopeOption">{{ scopeOption }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          } @else {
            <span>
              {{ newPolicy().scope.toLocaleUpperCase() }}
            </span>
          }
        </div>
        <div class="actions">
          @if (panel.expanded) {
            <button
              mat-icon-button
              [disabled]="!canSavePolicy()"
              (click)="$event.stopPropagation(); savePolicy(panel)">
              <mat-icon>save</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="$event.stopPropagation(); resetPolicy()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-body">
      <div class="priority-description">
        <app-policy-priority
          [editMode]="true"
          [priority]="newPolicy().priority"
          (priorityChange)="onPriorityChange($event)" />
        <app-policy-description
          [isEditMode]="true"
          [policy]="newPolicy()"
          (policyChange)="onPolicyChange($event)" />
      </div>

      <div class="tab-buttons">
        <button
          mat-stroked-button
          class="button-hover"
          [class.button-active]="activeTab() === 'actions'"
          (click)="setActiveTab('actions')">
          ACTIONS
        </button>
        <button
          mat-stroked-button
          class="button-hover"
          [class.button-active]="activeTab() === 'conditions'"
          (click)="setActiveTab('conditions')">
          CONDITIONS
        </button>
      </div>

      @if (activeTab() === "actions") {
        <app-action-tab
          [isEditMode]="true"
          [policy]="newPolicy()" />
      }
      @if (activeTab() === "conditions") {
        <app-conditions-tab
          [isEditMode]="true"
          [(policy)]="newPolicy" />
      }
    </div>
  </mat-expansion-panel>
</div>
