@use "../../../../../styles" as styles;
@use "../../policies.component.scss";
@use "@angular/material" as mat;

// --- Main Layout ---

.placeholder-for-right-column {
  grid-area: right-column;
}

// --- Tab Buttons ---
.tab-buttons {
  display: flex;
  gap: calc(var(--global-gap) / 2);
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: var(--half-global-padding) 0;
}

.policy-name-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  margin-left: 2px;
  padding: var(--half-global-padding) 0;
  width: 100%;
}

// --- Content Sections ---
.actions-list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 2);
}

.action-card {
  padding: var(--quarter-global-padding) var(--global-padding);
  border-radius: var(--border-radius);
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.conditions-list {
  padding: var(--global-padding);
  border-radius: var(--border-radius);
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.add-action-section {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
  padding: var(--global-padding);
  border-radius: var(--border-radius);
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.add-action-details {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 2);
  max-height: 200px;
  overflow-y: auto;
  padding-right: var(
    --half-global-padding
  ); /* Adds space for the scrollbar to prevent content from touching the edge */
}

.search-input {
  border: none;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  padding: var(--half-global-padding) 0;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
  border-bottom-color: var(--mat-sys-primary);
}

.add-action-button {
  align-self: flex-end;
  color: var(--mat-sys-primary);
}

// --- Detail Rows ---
.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-row:not(:last-child) {
  padding-bottom: var(--half-global-padding);
}

.detail-row:not(:first-child) {
  padding-top: var(--half-global-padding);
}

.detail-label {
  color: var(--mat-sys-on-surface);
  font-weight: 500;
  margin-right: var(--half-global-padding);
}

.detail-value {
  color: var(--mat-sys-on-surface-variant);
  text-align: right;
  flex-grow: 1;
}

.delete-action-button {
  margin-left: var(--half-global-padding);
  flex-shrink: 0;
}

.priority-description {
  display: flex;
  align-items: stretch;
  gap: var(--global-gap);
  app-policy-priority {
    flex: 1 1 0;
    height: 100%;
  }
  app-policy-description {
    flex: 5 1 0;
    height: 100%;
  }
}
