<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="tokengroup-page-container">
  @if (isEditMode) {
    <h3
      class="margin-8"
      i18n>
      Edit Tokengroup
    </h3>
  } @else {
    <h3
      class="margin-8"
      i18n>
      Create Tokengroup
    </h3>
  }

  <div class="header-row">
    <button
      (click)="onCancel()"
      class="action-button-secondary button-width-s"
      mat-stroked-button>
      <span i18n>Cancel</span>
    </button>
    <button
      (click)="save()"
      [disabled]="tokengroupForm.invalid"
      class="action-button-primary button-width-s"
      mat-stroked-button>
      <mat-icon>save</mat-icon>
      <span i18n>Save</span>
    </button>
  </div>

  <div class="tokengroup-content">
    <form
      [formGroup]="tokengroupForm"
      class="tokengroup-form">

      <div class="flex-column gap-16">
        <mat-form-field
          appearance="fill"
          class="input-width-l margin-bottom-16">
          <mat-label i18n>Identifier</mat-label>
          <app-clearable-input
            (onClick)="tokengroupForm.get('groupname')?.setValue('')"
            [showClearButton]="!isEditMode && !!tokengroupForm.get('groupname')?.value">
            <input
              formControlName="groupname"
              matInput
              placeholder="myNewGroup"
              required />
          </app-clearable-input>
          <mat-hint i18n>This is the unique identifying name for this group definition.</mat-hint>
          @if (tokengroupForm.get('groupname')?.hasError('required')) {
            <mat-error i18n>Identifier is <strong>required</strong>.</mat-error>
          }
          @if (tokengroupForm.get('groupname')?.hasError('pattern')) {
            <mat-error
              i18n>Identifier contains <strong>invalid characters</strong>. Only alphanumeric characters, dots, underscores and hyphens are allowed.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field
          appearance="fill"
          class="input-width-xl">
          <mat-label i18n>Description</mat-label>
          <app-clearable-input
            (onClick)="tokengroupForm.get('description')?.setValue('')"
            [showClearButton]="!!tokengroupForm.get('description')?.value">
            <input
              formControlName="description"
              matInput
              placeholder="some wise words" />
          </app-clearable-input>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
