<div aria-label="Token Get Serial" class="token-get-serial">
  <div class="token-get-serial-container">
    <div class="token-get-serial-header">
      <h2>Get Serial Number</h2>
    </div>
    <p class="help-block" translate>
      By entering an OTP value you can get the serial number of the token.
      You can also enter additional optional parameters, to narrow down the
      search for the token. So you can only search within certain token types
      or in assigned or unassigned tokens.
    </p>
    <div class="token-get-serial-content">
    </div>

  </div>