@use "styles";
@use "table";

.container-create-container {
  @include styles.main-component-style;
  display: grid;
  min-width: calc(616px + 2 * 16px);
}

.container-type-hint {
  margin-top: 8px;
  font-size: 1rem;
}

.type-select {
  flex: 0 0 calc(2 * 308px + 16px / 3 + 2 * 12px);
  width: calc(2 * 308px + 16px / 3 + 2 * 12px);
}

@media (max-width: 996px) {
  .type-select {
    flex: 0 0 calc(308px + 2 * 12px);
    width: calc(308px + 2 * 12px);
  }
}
