@use "../../../../../../styles" as styles;

@mixin action-tab-input {
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  box-sizing: border-box;
  resize: vertical;

  &:focus {
    outline: none;
    border-bottom-color: var(--mat-sys-primary);
  }
}

.policy-flex-row {
  width: 100%;
  min-width: 0;
  overflow-y: auto;

  &.view-mode {
    display: block;
  }
}

.flex-body {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
}

.view-mode-container {
  column-count: 2;
  gap: calc(var(--global-gap) / 2);
  width: 100%;
}

.view-item-wrapper {
  display: inline-block;
  width: 100%;
  margin-bottom: calc(var(--global-gap) / 2);
  break-inside: avoid;
}
