.card-button {
  height: 40px;
  width: 100%;
  border: none;
  justify-content: start;
  border-radius: var(--border-radius);
  background: var(--background-blue);
  box-shadow: var(--box-shadow-blue);
  cursor: pointer;
  transition: 0ms;
}

.card-button.activ,
.card-button:hover {
  background: var(--background-blue-inset);
  box-shadow: var(--box-shadow-blue-inset);
  transition: 0ms;
}

.mat-divider {
  border-top-color: #E0E2EC;
}
