@import '../../../../../styles/styles.scss';

$tab-padding: 1rem;
$list-width: 240px;
$list-padding: var(--global-padding);

::ng-deep .mat-mdc-tab {
  padding-left: $tab-padding;
  padding-right: $tab-padding;
}

.mdc-list {
  padding: $list-padding 0;
  width: $list-width;
  overflow: hidden;
}

.mat-mdc-list-item {
  padding: 0;
}
