@import '../../../../../styles/table.css';
@import '../../../../../styles/buttons.scss';

::ng-deep .mat-mdc-tab {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mdc-list {
  padding: 2rem 0;
  width: 240px;
}

.mat-mdc-list-item {
  padding: 0;
}

::ng-deep .mat-mdc-card-content {
  padding: 0;
}
