<div
  aria-label="Token Applications SSH"
  class="token-applications-ssh"
  i18n-aria-label>
  <div class="details-flex-layout flex-column">
    <div class="application-p-div">
      <p i18n>
        SSH Tokens can be attached to a service ID with a user. The user is the user on the SSH server and may differ
        from the token owner. To attach the token to a service ID go to the token details.
      </p>
      <p i18n>
        To define service IDs go to
        <a ui-sref="config.serviceid">Service ID config</a>
        .
      </p>
    </div>
  </div>
  <div
    appScrollToTop
    class="application-table-container">
    <div class="filter-paginator-container">
      <mat-form-field
        class="application-table-filter"
        subscriptSizing="dynamic">
        <mat-label i18n>Enter Filter</mat-label>
        <app-clearable-input
          (onClick)="machineService.clearFilter()"
          [showClearButton]="machineService.machineFilter().isNotEmpty">
          <input
            #filterInput
            (input)="machineService.handleFilterInput($event)"
            [value]="machineService.machineFilter().filterString"
            aria-label="Filter Input"
            i18n-aria-label
            i18n-placeholder
            matInput
            placeholder="Example query: 'service_id: myService'" />
        </app-clearable-input>
      </mat-form-field>
      <mat-paginator
        (page)="machineService.onPageEvent($event)"
        [length]="length()"
        [pageIndex]="machineService.pageIndex()"
        [pageSizeOptions]="pageSizeOptions()"
        [pageSize]="machineService.pageSize()"
        showFirstLastButtons></mat-paginator>
    </div>
    <app-keyword-filter
      [advancedApiFilter]="machineService.sshAdvancedApiFilter"
      [apiFilter]="machineService.sshApiFilter"
      [filterHTMLInputElement]="filterInput"
      [filterValue]="machineService.machineFilter"></app-keyword-filter>
    <table
      (matSortChange)="machineService.onSortEvent($event)"
      [dataSource]="dataSource()"
      [matSortDisableClear]="false"
      aria-label="Token Applications Table"
      class="token-table"
      i18n-aria-label
      mat-table
      matSort>
      @for (column of columnsKeyMap; track column) {
        <ng-container [matColumnDef]="column.key">
          <th
            *matHeaderCellDef
            attr.aria-label="{{ column.label }} Header"
            mat-header-cell
            mat-sort-header>
            {{ column.label }}
          </th>
          <td
            *matCellDef="let element"
            attr.aria-label="{{ column.label }} Cell"
            mat-cell
            [ngClass]="{ 'width-18rem': column.key === 'description' }">
            <div [ngClass]="tableUtilsService.getClassForColumnKey(column.key)">
              @switch (column.key) {
                @case ("serial") {
                  <a
                    attr.aria-label="{{ column.label }} Link"
                    (click)="contentService.tokenSelected(element.serial)">
                    {{ element[column.key] }}
                  </a>
                  <app-copy-button [copyText]="element.serial"></app-copy-button>
                }
                @default {
                  @if (tableUtilsService.isLink(column.key)) {
                    <a
                      attr.aria-label="{{ column.label }} Link"
                      href="#">
                      {{ element[column.key] }}
                    </a>
                  } @else {
                    <span [ngClass]="tableUtilsService.getClassForColumn(column.key, element)">
                      {{ tableUtilsService.getDisplayText(column.key, element) }}
                    </span>
                  }
                }
              }
            </div>
          </td>
        </ng-container>
      }
      <tr
        *matHeaderRowDef="displayedColumns"
        aria-label="Header Row"
        i18n-aria-label
        mat-header-row></tr>
      <tr
        *matRowDef="let row; columns: displayedColumns"
        aria-label="Data Row"
        i18n-aria-label
        mat-row></tr>
      <tr
        *matNoDataRow
        aria-label="No Data Row"
        i18n-aria-label>
        <td
          [attr.colspan]="displayedColumns.length"
          aria-label="No Data Cell"
          i18n
          i18n-aria-label>
          No data matching the filter.
        </td>
      </tr>
    </table>
  </div>
</div>
