<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

@if (availableWidgetTypes().length > 0) {
  <button
    mat-stroked-button
    class="action-button-secondary button-width-m"
    [matMenuTriggerFor]="widgetMenu">
    <mat-icon>add</mat-icon>
    <span i18n>Add Widget</span>
  </button>
  <mat-menu #widgetMenu="matMenu">
    @for (widget of availableWidgetTypes(); track widget.type) {
      <button
        mat-menu-item
        (click)="add(widget.type)">
        @if (widget.headerIcon; as icon) {
          <span class="margin-right-16">
            <ng-container *ngComponentOutlet="icon" />
          </span>
        } @else {
          <mat-icon class="margin-right-16">{{ widget.icon }}</mat-icon>
        }
        {{ widget.title }}
      </button>
    }
  </mat-menu>
}
