<!--
  (c) NetKnights GmbH 2026,  https://netknights.it

  This code is free software; you can redistribute it and/or
  modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
 -->
<div class="conditions-container">
  <h2
    class="conditions-title"
    i18n>
    Environment Conditions
  </h2>

  <app-multi-select-only
    label="privacyIDEA Nodes"
    [items]="availablePinodesList()"
    [selectedItems]="selectedPinodes()"
    (selectionChange)="updateSelectedPinodes($event)">
  </app-multi-select-only>

  <div class="flex-row-stretch">
    <mat-form-field
      appearance="outline"
      class="flex-grow-1">
      <mat-label i18n>Valid time</mat-label>
      <input
        matInput
        [formControl]="validTimeFormControl"
        placeholder="Mon-Fri: 9-18, Sat: 10-15" />
      @if (validTimeFormControl.touched && validTimeFormControl.invalid) {
        <mat-error i18n>Please enter a valid time format</mat-error>
      }
      @if (validTimeFormControl.value !== "") {
        <app-clear-button
          matSuffix
          (onClick)="clearValidTimeControl()"></app-clear-button>
      }
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="flex-grow-1">
      <mat-label i18n>Client</mat-label>
      <input
        matInput
        [formControl]="clientFormControl"
        placeholder="10.0.0.0/8, !10.0.0.124" />
      @if (clientFormControl.touched && clientFormControl.invalid) {
        <mat-error i18n>Please enter a valid client format</mat-error>
      }
      @if (clientFormControl.value !== "") {
        <app-clear-button
          matSuffix
          (onClick)="clearClientControl()"></app-clear-button>
      }
    </mat-form-field>
  </div>

  <div class="user-agent-list-wrapper">
    <div class="user-agent-list">
      @for (userAgent of selectedUserAgents(); track $index) {
        <div class="user-agent-chip-edit">
          <span>{{ userAgent }}</span>
          <button
            mat-icon-button
            (click)="removeUserAgent(userAgent)"
            class="remove-user-agent-btn">
            <mat-icon class="remove-user-agent-icon">close</mat-icon>
          </button>
        </div>
      }
    </div>
    @if (selectedUserAgents().length > 0) {
      <div class="clear-user-agents-container">
        <button
          mat-stroked-button
          class="action-button-1"
          (click)="clearUserAgents()"
          i18n>
          Clear user agents
        </button>
      </div>
    }
  </div>

  <div class="user-agent-input-container">
    <mat-form-field
      appearance="outline"
      class="user-agent-select">
      <mat-label i18n>Common User Agents</mat-label>
      <mat-select
        #uaSelect
        [value]="null"
        (selectionChange)="addUserAgentFromSelect($event, uaSelect)"
        panelClass="auto-width-dropdown">
        <div class="select-search-header">
          <input
            matInput
            placeholder="Search..."
            [value]="userAgentSearch()"
            (input)="userAgentSearch.set($any($event.target).value)"
            (keydown)="$event.stopPropagation()"
            (keydown.enter)="handleEnterOnSearch($event, uaSelect)"
            class="select-search-input" />
        </div>

        @for (ua of filteredUserAgentPresets(); track ua) {
          <mat-option [value]="ua">{{ ua }}</mat-option>
        }

        @if (filteredUserAgentPresets().length === 0) {
          <mat-option
            disabled
            i18n
            >No agents found</mat-option
          >
        }
      </mat-select>
    </mat-form-field>
    <div class="gap-div-8px"></div>
    <mat-form-field
      appearance="outline"
      class="add-user-agent-input flex-grow-1">
      <mat-label i18n>Add Custom User Agent</mat-label>
      <input
        matInput
        [formControl]="addUserAgentFormControl"
        #userAgentInput
        (keyup.enter)="
          addUserAgentFormControl.markAsTouched();
          addUserAgentFormControl.invalid ? null : (userAgentInput.value = '');
          addUserAgent()
        " />
      @if (addUserAgentFormControl.hasError("includesComma")) {
        <mat-error i18n>User Agent must not contain commas.</mat-error>
      }
    </mat-form-field>

    <button
      class="input-attached-button"
      [disabled]="!userAgentInput.value.trim() || addUserAgentFormControl.invalid"
      (click)="addUserAgent(); userAgentInput.value = ''">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
