.policy-flex-row {
  display: flex;
  gap: calc(var(--global-gap) / 4 * 3);
  flex-direction: row;
  margin-bottom: var(--global-gap);
  min-width: 0;
  width: 100%;
}

.flex-body {
  flex: 9 1 0;
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
  min-width: 0;
}
.flex-detail {
  flex: 5 1 0;
  min-width: 0;
}

@mixin action-tab-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  resize: vertical;
  width: 100%;
}
