.policy-flex-row {
  display: flex;
  gap: calc(var(--global-gap) / 4 * 3);
  flex-direction: row;
  min-width: 0;
  width: 100%;
  max-height: 564px;
  overflow-y: auto;
  align-items: flex-start;

  // View Mode Anpassung
  &.view-mode {
    display: block; // Erlaubt dem Grid-Container darunter die volle Breite
  }
}

.flex-body {
  // Im Edit-Mode bekommt die linke Seite 9 Anteile
  flex: 9 1 0;
  min-width: 0;
  gap: var(--global-gap);
  display: flex;
  flex-direction: column;
}

.flex-detail {
  // Im Edit-Mode bekommt die Detail-Ansicht 5 Anteile
  flex: 5 1 0;
  min-width: 0;
  position: sticky;
  top: 0;
}

// Neues Container-Layout für den View Mode
.view-mode-container {
  display: grid;
  // Zwei gleich große Spalten (1:1), da keine Details angezeigt werden
  grid-template-columns: 1fr 1fr;
  gap: var(--global-gap);
  width: 100%;
  align-items: flex-start;
}

.view-column {
  min-width: 0;
}
