<div
  class="policy-flex-row"
  [class.view-mode]="!isEditMode()">
  @if (isEditMode()) {
    <div class="flex-body">
      @if (actions().length > 0) {
        <app-added-actions-list
          [isEditMode]="true"
          [actions]="actions()"
          (actionsChange)="onActionsChange($event)"
          (actionRemove)="onActionRemove($event)"
          [(selectedAction)]="selectedAction" />
      }

      <app-action-selector
        [selectedPolicyAction]="selectedAction()"
        (selectedPolicyActionChange)="onSelectedActionChange($event)"
        [policy]="policy()"
        (actionAdd)="onActionAdd($event)" />
    </div>

    <app-action-detail
      class="flex-detail"
      [isEditMode]="true"
      [(selectedAction)]="selectedAction"
      (actionAdd)="onActionAdd($event)"
      (actionsUpdate)="onActionUpdate($event)"
      [policy]="policy()" />
  } @else {
    <div class="view-mode-container">
      <div class="view-column">
        @if (actionsFirstHalf().length > 0) {
          <app-added-actions-list
            [isEditMode]="false"
            [actions]="actionsFirstHalf()"
            (actionsChange)="onActionsChange($event)"
            (actionRemove)="onActionRemove($event)"
            [selectedAction]="selectedAction()" />
        }
      </div>

      <div class="view-column">
        @if (actionsSecondHalf().length > 0) {
          <app-added-actions-list
            [isEditMode]="false"
            [actions]="actionsSecondHalf()"
            (actionsChange)="onActionsChange($event)"
            (actionRemove)="onActionRemove($event)"
            [selectedAction]="selectedAction()" />
        }
      </div>
    </div>
  }
</div>
