.policy-flex-row {
  display: flex;
  gap: calc(var(--global-gap) / 4 * 3);
  flex-direction: row;
  min-width: 0;
  width: 100%;

  max-height: 564px;
  overflow-y: auto;
  align-items: flex-start;
}

.flex-body {
  flex: 9 1 0;
  min-width: 0;
  gap: var(--global-gap);
  display: flex;
  flex-direction: column;
}

.flex-detail {
  flex: 5 1 0;
  min-width: 0;
  position: sticky;
  top: 0;
}

@mixin action-tab-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  resize: vertical;
  width: 100%;
}
