<div class="flex-column">
  <h4 class="enroll-h4">Token Configuration</h4>
  <span> Please answer at least {{ configMinNumberOfAnswers() }} of the following questions. </span>
  <div
    [formGroup]="questionForm()"
    class="margin-top-1 form-group">
    @for (question of configQuestions(); track question; let i = $index) {
      <mat-form-field class="question-input-width input-height">
        <mat-label>{{ question.question }}</mat-label>
        <input
          type="text"
          [formControlName]="questionControlNames()[i]"
          matInput />
      </mat-form-field>
    }
  </div>
  @if (questionForm().hasError("minAnswers") && questionForm().touched) {
    <mat-error>At least {{ configMinNumberOfAnswers() }} answers are <strong>required</strong>.</mat-error>
  }
</div>
