<div class="flex-column">
  <div class="token-type-paragraph">
    <p>{{ text }}</p>
  </div>
  <h4 class="enroll-h4">Token Configuration</h4>
  <span>
    Please answer at least {{ configMinNumberOfAnswers() }} of the following questions.
  </span>
  <div class="margin-top-1 form-group">
    @for (question of configQuestions(); track question) {
      <mat-form-field class="question-input-width">
        <mat-label>{{ question.text }}</mat-label>
        <input type="text"
               [ngModel]="answers()[question.question]"
               (ngModelChange)="onAnswerChange($event, question.question)"
               matInput
               [required]="isRequired(question.question)" />
        <mat-error>
          At least {{ configMinNumberOfAnswers() }} are <strong>required</strong>
        </mat-error>
      </mat-form-field>
    }
    <mat-form-field class="question-description">
      <mat-label>Description</mat-label>
      <textarea [(ngModel)]="description"
                [maxlength]="80"
                matInput
                placeholder="Enter description"
                rows="3"></textarea>
    </mat-form-field>
  </div>
</div>
