<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  aria-label="Container Details Token Table"
  class="container-details-token-table-layout"
  i18n-aria-label>
  <div class="flex-column">
    <h3
      class="margin-8"
      i18n>
      Tokens in Container
    </h3>
    <div class="flex-row filter-paginator-container">
      @if (dataSource.data.length > 1) {
        <mat-form-field
          class="container-details-token-table-filter width-50"
          subscriptSizing="dynamic">
          <mat-label i18n>Filter Token...</mat-label>
          <app-clearable-input
            (onClick)="clearFilter()"
            [showClearButton]="filterInput.value !== ''">
            <input
              #filterInput
              (keyup)="handleFilterInput($event)"
              aria-label="Filter Input"
              i18n-aria-label
              i18n-placeholder
              matInput
              placeholder="Filter across all columns." />
          </app-clearable-input>
        </mat-form-field>
      }
      <mat-paginator
        [hidePageSize]="true"
        [pageSize]="pageSize" />
    </div>
  </div>
  <div class="responsive-flex-row-1580">
    <table
      [dataSource]="dataSource"
      aria-label="Token of Container Data Table"
      class="container-details-token-table"
      i18n-aria-label
      mat-table>
      @for (column of columnsKeyMap; track column) {
        <ng-container [matColumnDef]="column.key">
          <th
            *matHeaderCellDef
            attr.aria-label="{{ column.label }} Header"
            mat-header-cell>
            <div class="flex ali-center">
              {{ column.label }}
              <div class="margin-left-16 flex">
                <button
                  (click)="tableUtilsService.onSortButtonClick(column.key, sort)"
                  class="sort-button"
                  mat-icon-button
                  type="button">
                  <mat-icon>{{ tableUtilsService.getSortIcon(column.key, sort()) }}</mat-icon>
                </button>
              </div>
            </div>
          </th>
          <td
            *matCellDef="let element"
            attr.aria-label="{{ column.label }} Cell"
            mat-cell>
            <ng-container>
              <div [ngClass]="tableUtilsService.getClassForColumnKey(column.key)">
                @switch (column.key) {
                  @case ("serial") {
                    <div class="flex-row flex-nowrap ali-center">
                      @if (element.username === authService.username() || authService.role() === "admin") {
                        <a
                          (click)="contentService.tokenSelected(element.serial)"
                          attr.aria-label="{{ column.label }} Link">
                          {{ element[column.key] }}
                        </a>
                      } @else {
                        <span> {{ element[column.key] }} </span>
                      }
                      <app-copy-button [copyText]="element.serial"></app-copy-button>
                    </div>
                  }
                  @case ("active") {
                    <span
                      (click)="toggleActive(element)"
                      [matTooltip]="tableUtilsService.getTooltipForColumn(column.key,element)"
                      [ngClass]="tableUtilsService.getClassForColumn(column.key, element)">
                      {{ tableUtilsService.getDisplayText(column.key, element) }}
                    </span>
                  }
                  @case ("username") {
                    <a
                      (click)="contentService.userSelected(element[column.key], element['user_realm'])"
                      attr.aria-label="{{ column.label }} Link">
                      {{ element[column.key] }}
                    </a>
                  }
                  @default {
                    @if (tableUtilsService.isLink(column.key)) {
                      <a
                        attr.aria-label="{{ column.label }} Link"
                        href="#">
                        {{ element[column.key] }}
                      </a>
                    } @else {
                      <span> {{ element[column.key] }} </span>
                    }
                  }
                }
              </div>
            </ng-container>
          </td>
        </ng-container>
      }
      <ng-container matColumnDef="actions">
        <th
          *matHeaderCellDef
          aria-label="Actions Column Header"
          i18n
          i18n-aria-label
          mat-header-cell>
          <div class="flex just-center">
            Actions
          </div>
        </th>
        <td
          *matCellDef="let element"
          aria-label="Actions Button Cell"
          i18n-aria-label
          mat-cell>
          <div class="flex-row just-center">
            @if (authService.actionAllowed("container_remove_token")) {
              <button
                (click)="removeTokenFromContainer(containerSerial(), element.serial)"
                i18n-matTooltip
                mat-icon-button
                matTooltip="Remove Token from Container">
                <mat-icon> remove_circle_outline</mat-icon>
              </button>
            }
            @if (authService.actionAllowed("delete")) {
              <button
                (click)="deleteTokenFromContainer(element.serial)"
                i18n-matTooltip
                mat-icon-button
                matTooltip="Delete Token">
                <mat-icon> delete</mat-icon>
              </button>
            }
          </div>
        </td>
      </ng-container>
      <tr
        *matHeaderRowDef="displayedColumns"
        aria-label="Header Row"
        i18n-aria-label
        mat-header-row></tr>
      <tr
        *matRowDef="let row; columns: displayedColumns"
        aria-label="Data Row"
        i18n-aria-label
        mat-row></tr>
      <tr
        *matNoDataRow
        aria-label="No Data Row"
        i18n-aria-label>
        <td
          [attr.colspan]="displayedColumns.length"
          aria-label="No Data Cell"
          i18n
          i18n-aria-label>
          No data matching the filter.
        </td>
      </tr>
    </table>
  </div>
</div>
