@use "../../../../../styles";

.container-details-token-table-layout {
  @include styles.base-table-structure(
    ".container-details-token-table",
    ".container-details-token-table-filter",
    ".table-scroll-container"
  );

  .container-details-token-table-filter {
    width: 576px;
  }

  .container-details-token-table {
    width: 576px;
  }

  .container-details-action-row {
    padding: 0 16px 0 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .container-details-action-column {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
}
