<div
  appScrollToTop
  aria-label="Token Applications"
  class="token-applications"
  i18n-aria-label>
  <h3
    class="margin-left-1"
    i18n>
    Token Applications
  </h3>
  <mat-form-field
    appearance="fill"
    class="application-type-select">
    <mat-label i18n>Select Application Type</mat-label>
    <mat-select
      [(value)]="selectedApplicationType"
      [value]="selectedApplicationType()">
      <mat-option
        i18n
        value="ssh">SSH: Attaching SSH keys to services
      </mat-option>
      <mat-option
        i18n
        value="offline">Offline: Use HOTP token for offline login to notebooks
      </mat-option>
    </mat-select>
  </mat-form-field>

  @switch (selectedApplicationType()) {
    @case ("ssh") {
      <app-token-applications-ssh />
    }
    @case ("offline") {
      <app-token-applications-offline />
    }
    @default {
      <div>
        <h3 i18n>Application Type Not Found</h3>
      </div>
    }
  }
</div>
