@use "../../../../../styles";

.gap-1 {
  gap: 1rem;
}

.margin-top-16 {
  margin-top: 1rem;
}

.margin-bottom-16 {
  margin-bottom: 1rem;
}

.margin-right-16 {
  margin-right: 1rem;
}

mat-spinner {
  display: inline-block;
  vertical-align: middle;
}
