@use "../../../../styles/styles";

.navigation-self-service-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--global-padding);
  padding: var(--global-padding);
  max-height: calc(var(--main-height) - var(--global-padding) * 2);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}
