<div
  [@componentFade]
  class="navigation-self-service-column">
  <app-navigation-self-service-button
    i18n-title
    key="{{ this.ROUTE_PATHS.TOKENS }}"
    matIconName="shield"
    title="Token Overview" />
  @if (authService.tokenEnrollmentAllowed()) {
    <app-navigation-self-service-button
      i18n-title
      key="{{ this.ROUTE_PATHS.TOKENS_ENROLLMENT }}"
      matIconName="add_moderator"
      title="Token Enrollment" />
  }
  @if (authService.rights().includes("assign")) {
    <app-navigation-self-service-button
      i18n-title
      key="{{this.ROUTE_PATHS.TOKENS_ASSIGN_TOKEN}}"
      matIconName="admin_panel_settings"
      matIconSize="tile-icon-large"
      title="Assign Token" />
  }
  @if (authService.rights().includes("container_list")) {
    <app-navigation-self-service-button
      i18n-title
      key="{{this.ROUTE_PATHS.TOKENS_CONTAINERS}}"
      matIconClass="mdi--folder-search"
      title="Container Overview" />
  }
  @if (authService.rights().includes("container_create")) {
    <app-navigation-self-service-button
      i18n-title
      key="{{this.ROUTE_PATHS.TOKENS_CONTAINERS_CREATE}}"
      matIconName="create_new_folder"
      title="Create Container" />
  }
  @if (authService.rights().includes("auditlog")) {
    <app-navigation-self-service-button
      i18n-title
      key="{{this.ROUTE_PATHS.AUDIT}}"
      matIconName="manage_search"
      title="Audit Log" />
  }
</div>
