@use "../../../../styles/styles";

.navigation-self-service-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--global-padding);
  padding: calc(2 * var(--global-padding));
  max-height: var(--total-layout-height);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  box-sizing: border-box;
  height: 100vh;
  background: var(--mat-sys-surface-container-high);
}
