<div class="flex-column">
  <h4 class="enroll-h4">Token Configuration</h4>
  <div class="otp-inputs-container">
    <mat-form-field class="input-height width-33">
      <mat-label i18n>Test Yubikey</mat-label>
      <input
        [formControl]="testYubiKeyControl"
        i18n-placeholder
        matInput
        placeholder="Push Yubikey button here" />
    </mat-form-field>
    <mat-form-field class="input-height width-33">
      <mat-label>OTP length</mat-label>
      <input
        [formControl]="otpLengthControl"
        matInput
        min="32"
        type="number"/>
    </mat-form-field>
    <mat-form-field class="input-height width-33">
      <mat-label i18n>OTP Key</mat-label>
      <input
        [formControl]="otpKeyControl"
        i18n-placeholder
        matInput
        placeholder="Enter OTP key"
        required/>
      <mat-error i18n>OTP key is <strong>required</strong> and must be 32 characters long</mat-error>
    </mat-form-field>
  </div>
</div>
