<h1 mat-dialog-title>User Assignment</h1>
<mat-dialog-content>
  <mat-form-field appearance="fill"
                  class="pin-field">
    <mat-label>PIN (optional)</mat-label>
    <input [(ngModel)]="pin"
           [type]="hidePin() ? 'password' : 'text'"
           autocomplete="new-password"
           matInput />
    <button (click)="togglePinVisibility()"
            [attr.aria-label]="'Show PIN'"
            [attr.aria-pressed]="!hidePin"
            mat-icon-button
            matSuffix
            type="button">
      <mat-icon>{{ hidePin() ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill"
                  class="pin-field">
    <mat-label>PIN (repeat)</mat-label>
    <input [(ngModel)]="pinRepeat"
           [type]="hidePin() ? 'password' : 'text'"
           autocomplete="new-password"
           matInput />
    <button (click)="togglePinVisibility()"
            [attr.aria-label]="'Show PIN Repeat'"
            [attr.aria-pressed]="!hidePin"
            mat-icon-button
            matSuffix
            type="button">
      <mat-icon>{{ hidePin() ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    @if (pinRepeat() && !pinsMatch()) {
      <mat-error>PINs do not match</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onCancel()"
          mat-button>Cancel
  </button>
  <button (click)="onConfirm()"
          [disabled]="!pinsMatch()"
          color="primary"
          mat-button>Assign to all Token
  </button>
</mat-dialog-actions>
