<h1
  i18n
  mat-dialog-title>
  User Assignment
</h1>
<mat-dialog-content>
  <mat-form-field
    appearance="fill"
    class="pin-field">
    <mat-label i18n>PIN (optional)</mat-label>
    <input
      [(ngModel)]="pin"
      [type]="hidePin() ? 'password' : 'text'"
      autocomplete="new-password"
      matInput />
    <button
      (click)="togglePinVisibility()"
      [attr.aria-label]="'Show PIN'"
      [attr.aria-pressed]="!hidePin()"
      mat-icon-button
      matSuffix
      type="button">
      <mat-icon>{{ hidePin() ? "visibility_off" : "visibility" }}</mat-icon>
      Show PIN
    </button>
  </mat-form-field>
  <mat-form-field
    appearance="fill"
    class="pin-field">
    <mat-label i18n>PIN (repeat)</mat-label>
    <input
      [(ngModel)]="pinRepeat"
      [type]="hidePin() ? 'password' : 'text'"
      autocomplete="new-password"
      matInput />
    <button
      (click)="togglePinVisibility()"
      [attr.aria-label]="'Show PIN Repeat'"
      [attr.aria-pressed]="!hidePin()"
      mat-icon-button
      matSuffix
      type="button">
      <mat-icon>{{ hidePin() ? "visibility_off" : "visibility" }}</mat-icon>
      Show PIN Repeat
    </button>
    @if (pinRepeat() && !pinsMatch()) {
      <mat-error i18n>PINs do not match</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    (click)="onCancel()"
    mat-button
    i18n>
    Cancel
  </button>
  <button
    (click)="onConfirm()"
    [disabled]="!pinsMatch()"
    color="primary"
    mat-button
    i18n>
    Assign to all Tokens
  </button>
</mat-dialog-actions>
