<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<mat-panel-title>
  <div
    class="policy-priority"
    matTooltip="Priority">
    {{ policy().priority }}
  </div>
  <div class="gap-div-8px"></div>
  <div class="policy-name">
    {{ policy().name }}
  </div>
</mat-panel-title>

<mat-panel-description class="header-description">
  <div class="description-label">
    <span>
      {{ policy().scope ? policy().scope.toLocaleUpperCase() : "NO SCOPE" }}
    </span>
  </div>

  <div class="description-label">
    <span
      class="policy-description-text"
      #descText
      [matTooltip]="policy().description"
      [matTooltipDisabled]="descText.scrollHeight <= descText.clientHeight">
      {{ policy().description }}
    </span>
  </div>

  <div class="actions">
    @if (authService.actionAllowed("policywrite")) {
      <button
        mat-icon-button
        (click)="$event.stopPropagation(); copyPolicy()">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="$event.stopPropagation(); editPolicy()">
        <mat-icon>edit</mat-icon>
      </button>
    }
    @if (authService.actionAllowed("policydelete")) {
      <button
        mat-icon-button
        (click)="$event.stopPropagation(); deletePolicy(policy().name)">
        <mat-icon>delete</mat-icon>
      </button>
    }
    <mat-slide-toggle
      class="small-toggle"
      #slideToggle
      [checked]="policy().active"
      (change)="togglePolicyActive(policy(), $event.checked); slideToggle._switchElement.nativeElement.blur()"
      (click)="$event.stopPropagation()"
      [disableRipple]="true">
    </mat-slide-toggle>
  </div>
</mat-panel-description>
