@use "../../../../styles";
@use "@angular/material" as mat;

$gap-small: 8px;

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  border-radius: var(--border-radius);
  @include mat.elevation(5);
  background-color: var(--table-color);
  padding: var(--global-padding);
  max-height: calc(var(--main-height) - var(--global-padding) * 5);
  overflow: auto;

  .details-table {
    ::ng-deep .mat-mdc-form-field-infix {
      margin-bottom: -8px !important;
    }
  }

  .mat-mdc-select-value-text {
    font-size: 14px;
  }
}

.container-details-header {
  flex-direction: row;
  display: flex;
  gap: $gap-small;
  margin-left: 16px;
  align-items: center;
}

.detail-table-wrapper {
  display: flex;
  gap: 20px;
  width: auto;
  max-width: fit-content;
}

.details-section {
  width: auto;
  max-width: fit-content;
  table-layout: auto;
  border-collapse: collapse;
}

.add-token {
  margin-bottom: 16px;
  width: 576px;
}

.token-option {
  border: 1px solid var(--mat-sys-outline);
  background: var(--mat-sys-surface-container-low);
  margin: 0 1px;
  border-radius: var(--border-radius);
}

.token-option-span {
  background: var(--mat-sys-surface-container-lowest);
  padding: 6px;
  border-radius: var(--border-radius);
  margin-right: 8px;
}

.checkbox-paginator-container {
  gap: 16px;
  height: 60px;
}

.pad-top-10 {
  padding-top: 10px;
}

::ng-deep .cdk-overlay-container div.mat-mdc-autocomplete-panel {
  max-height: 516px;

  &.user-selection-autocomplete {
    max-height: 256px;
  }

  .mat-mdc-option.mdc-list-item.token-option .mdc-list-item__primary-text {
    height: 28px;
    display: flex;
    align-items: center;
    border-left: 2px solid var(--mat-sys-outline);
    padding: 10px;
  }
}
