<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  appScrollToTop
  aria-label="Details"
  class="details-container"
  i18n-aria-label>
  <div class="details-flex-layout flex-column">
    <div class="details-header">
      <h3 i18n>Details for Container:</h3>
      <h3 class="token-serial">{{ containerSerial() }}</h3>
      <app-copy-button [copyText]="containerSerial()"></app-copy-button>
      @if (authService.actionAllowed("auditlog")) {
        <button
          (click)="showContainerAuditLog()"
          [routerLink]="[ROUTE_PATHS.AUDIT]"
          mat-icon-button
          matTooltip="Show container in audit log">
          <mat-icon>receipt_long</mat-icon>
        </button>
      }
    </div>
    <div
      [ngClass]="[overflowService.isWidthOverflowing('body', 1310) ? 'flex-column' : 'flex-row']"
      class="details-flex-layout">
      <div>
        <table
          [dataSource]="containerDetailData()"
          aria-label="Container Detail Data Table"
          class="details-table border-bottom-none"
          i18n-aria-label
          mat-table>
          <ng-container matColumnDef="key">
            <td
              *matCellDef="let element"
              class="details-key-row"
              mat-cell>
              {{ element.keyMap.label }}
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <td
              *matCellDef="let element"
              [ngClass]="tableUtilsService.getTdClassForKey(element.keyMap.key)
              .concat(element.isEditing() ? ['padding-0'] : [])"
              mat-cell>
              @switch (element.keyMap.key) {
                @case ("states") {
                  @for (state of element.value; track state; let idx = $index) {
                    <span
                      [ngClass]="[tableUtilsService.getSpanClassForState(state, false)]"
                      class="font-14">
                      {{ tableUtilsService.getDisplayTextForState(state) }}
                    </span>
                  }
                }
                @case ("realms") {
                  @if (element.isEditing()) {
                    <mat-form-field
                      class="input-width-m height-77"
                      subscriptSizing="dynamic">
                      <mat-label i18n>Select Realms</mat-label>
                      <mat-select
                        [(ngModel)]="selectedRealms"
                        [value]="selectedRealms()"
                        multiple>
                        @for (option of realmService.realmOptions(); track option) {
                          @if (option === userRealm()) {
                            <mat-option
                              disabled
                              value="{{ option }}">
                              {{ option }}
                            </mat-option>
                          } @else {
                            <mat-option value="{{ option }}">{{ option }}</mat-option>
                          }
                        }
                      </mat-select>
                    </mat-form-field>
                  } @else {
                    <div
                      [ngClass]="{ 'height-77': element.value.length > 2 }"
                      class="details-scrollable-container">
                      @for (realm of element.value; track realm; let idx = $index) {
                        <mat-list-item class="height-auto pad-0">
                          <span class="font-14">• {{ realm }}</span>
                        </mat-list-item>
                      }
                    </div>
                  }
                }
                @case ("description") {
                  @if (element.isEditing()) {
                    <mat-form-field
                      class="input-width-m description height-126"
                      subscriptSizing="dynamic">
                      <textarea
                        [(ngModel)]="element.value"
                        i18n-placeholder
                        matInput
                        placeholder="Enter description"
                        rows="4"></textarea>
                    </mat-form-field>
                  } @else {
                    <div class="details-description-div">
                      <span class="details-table-item details-scrollable-container scroll-margin-pad">
                        {{ element.value }}
                      </span>
                    </div>
                  }
                }
                @default {
                  <span>{{ element.value }}</span>
                }
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <td
              *matCellDef="let element"
              class="edit-column-cell"
              mat-cell>
              @if (isEditableElement(element.keyMap.key)) {
                <app-edit-buttons
                  [cancelEdit]="cancelContainerEdit.bind(this)"
                  [element]="element"
                  [isEditingInfo]="isEditingInfo"
                  [isEditingUser]="isEditingUser"
                  [saveEdit]="saveContainerEdit.bind(this)"
                  [shouldHideEdit]="isAnyEditing"
                  [toggleEdit]="toggleContainerEdit.bind(this)"></app-edit-buttons>
              }
            </td>
          </ng-container>
          <tr
            *matRowDef="let row; columns: ['key', 'value', 'edit']"
            class="height-52"
            mat-row></tr>
        </table>
        <table
          [dataSource]="userData()"
          aria-label="User Detail Data Table"
          class="details-table"
          i18n-aria-label
          mat-table>
          <ng-container matColumnDef="key">
            <td
              *matCellDef="let element"
              class="details-key-row"
              mat-cell>
              {{ element.keyMap.label }}
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <td
              *matCellDef="let element"
              [ngClass]="tableUtilsService.getTdClassForKey(element.keyMap.key)
              .concat(isEditingUser() ? ['padding-0'] : [])"
              mat-cell>
              @switch (element.keyMap.key) {
                @case ("user_name") {
                  @if (isEditingUser() && userService.selectedUserRealm() !== "") {
                    <mat-form-field
                      class="input-width-m height-52"
                      subscriptSizing="dynamic">
                      <mat-label>Enter User</mat-label>
                      <app-clearable-input
                        (onClick)="userService.selectionFilter.set('')"
                        [showClearButton]="userService.selectionFilter() !== ''">
                        <input
                          [(ngModel)]="userService.selectionFilter"
                          [matAutocomplete]="userAuto"
                          matInput />
                        <mat-autocomplete
                          #userAuto="matAutocomplete"
                          class="user-selection-autocomplete">
                          @for (option of userService.selectionFilteredUsernames(); track option) {
                            <mat-option [value]="option">{{ option }}</mat-option>
                          }
                        </mat-autocomplete>
                      </app-clearable-input>
                    </mat-form-field>
                  } @else {
                    <a
                      (click)="contentService.userSelected(element.value, element['user_realm'])"
                      i18n-aria-label="{{ element.keyMap.label }} Link">
                      {{ element.value }}
                    </a>
                  }
                }
                @case ("user_realm") {
                  @if (isEditingUser()) {
                    <mat-form-field
                      class="input-width-m height-52"
                      subscriptSizing="dynamic">
                      <mat-label i18n>Select Realm of User</mat-label>
                      <mat-select
                        [(ngModel)]="userService.selectedUserRealm"
                        [value]="userService.selectedUserRealm()">
                        @for (option of realmService.realmOptions(); track option) {
                          <mat-option value="{{ option }}">{{ option }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  } @else {
                    <span>{{ element.value }}</span>
                  }
                }
                @default {
                  {{ element.value }}
                }
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <td
              *matCellDef="let element"
              class="edit-column-cell"
              mat-cell>
              @if (authService.actionAllowed("container_unassign_user")) {
                @if (element.keyMap.key === "user_name" && !(isAnyEditing() && !isEditingUser())) {
                  @if (element.value) {
                    <div class="edit-button-container">
                      <button
                        (click)="unassignUser()"
                        class="yellow"
                        i18n-aria-label="Unassign User"
                        mat-icon-button>
                        <mat-icon>person_remove</mat-icon>
                      </button>
                    </div>
                  } @else {
                    <app-edit-buttons
                      [cancelEdit]="cancelContainerEdit.bind(this)"
                      [element]="element"
                      [isEditingInfo]="isEditingInfo"
                      [isEditingUser]="isEditingUser"
                      [saveEdit]="saveContainerEdit.bind(this)"
                      [shouldHideEdit]="isAnyEditing"
                      [toggleEdit]="toggleContainerEdit.bind(this)"></app-edit-buttons>
                  }
                }
              }
            </td>
          </ng-container>
          <tr
            *matRowDef="let row; columns: ['key', 'value', 'edit']"
            class="height-52"
            mat-row></tr>
        </table>
        <app-container-details-info
          [detailData]="containerDetailData"
          [infoData]="infoData"
          [isAnyEditingOrRevoked]="isAnyEditing"
          [isEditingInfo]="isEditingInfo"
          [isEditingUser]="isEditingUser" />
        @if (overflowService.isWidthOverflowing("body", 1310)) {
          <mat-divider class="margin-top-16 margin-bottom-16" />
        }
      </div>
      <div
        [ngClass]="[overflowService.isWidthOverflowing('body', 1310) ? '' : 'margin-left-16']"
        class="flex-column">
        <app-container-details-token-table [containerTokenData]="containerTokenData" />
        <div class="flex-row gap-32">
          @if (authService.actionAllowed("container_add_token")) {
            <div class="flex-column width-100">
              <h4 class="margin-left-16 margin-bottom-0">Add Token</h4>
              <div class="flex-row filter-paginator-container">
                <section>
                  <mat-checkbox
                    [(ngModel)]="showOnlyTokenNotInContainer">
                    <span i18n> Only display tokens that are not in a container </span>
                  </mat-checkbox>
                </section>
                <mat-paginator
                  (page)="onPageEvent($event)"
                  [hidePageSize]="true"
                  [length]="total()"
                  [pageIndex]="pageIndex()"
                  [pageSize]="pageSize()"></mat-paginator>
              </div>
              <mat-form-field class="margin-bottom-16 input-width-xl">
                <mat-label i18n>Add Token to Container</mat-label>
                <app-clearable-input
                  (onClick)="tokenService.clearFilter()"
                  [showClearButton]="tokenService.tokenFilter().isNotEmpty">
                  <input
                    #filterHTMLInputElement
                    #tokenAutoTrigger="matAutocompleteTrigger"
                    (input)="tokenService.handleFilterInput($event)"
                    [matAutocomplete]="tokenAuto"
                    [value]="tokenService.tokenFilter().filterString"
                    i18n-placeholder
                    matInput
                    placeholder="Example query: 'type: hotp serial: 123'" />
                </app-clearable-input>
                @if (!showOnlyTokenNotInContainer()) {
                  <mat-hint> Adding a token removes it from its previous container</mat-hint>
                }
                <mat-autocomplete #tokenAuto="matAutocomplete">
                  @for (option of tokenDataSource().data; track option) {
                    <mat-option
                      (click)="addTokenToContainer(option)"
                      class="token-option">
                      <span class="token-option-span"> {{ option["serial"] }} </span>
                      <span class="token-option-span">
                        {{ option["tokentype"] }}
                      </span>
                      <span
                        [ngClass]="option['active'] ? 'highlight-true' : 'highlight-false'"
                        class="token-option-span"
                        i18n>
                        {{ option["active"] ? "active" : "deactivated" }}
                      </span>
                      <span class="token-option-span">
                        {{ option["username"] }}
                      </span>
                      <mat-icon>add</mat-icon>
                    </mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
          }
        </div>
      </div>
      <div
        [ngClass]="[overflowService.isWidthOverflowing('body', 1310) ? '' : 'margin-left-16']"
        class="flex-column gap-16 ali-center">
        <app-container-details-actions
          [containerSerial]="containerSerial()"
          [containerType]="containerType()"></app-container-details-actions>
        <app-container-details-token-actions
          [containerSerial]="containerSerial()"
          [tokenData]="containerTokenData"
          [user]="rawUserData"></app-container-details-token-actions>
      </div>
    </div>
  </div>
</div>
