@use "styles";
@use "table";
@use "@angular/material" as mat;

$gap-small: 8px;

.details-container {
  @include styles.main-component-style;
  display: grid;

  .mat-mdc-select-value-text {
    font-size: 14px;
  }
}

.token-serial {
  color: var(--mat-sys-primary);
}

.detail-table-wrapper {
  display: flex;
  gap: 20px;
  width: auto;
  max-width: fit-content;
}

.details-section {
  width: auto;
  max-width: fit-content;
  table-layout: auto;
  border-collapse: collapse;
}

::ng-deep .cdk-overlay-container div.mat-mdc-autocomplete-panel {
  max-height: 265px;

  &.user-selection-autocomplete {
    max-height: 256px;
  }
}
