<div aria-label="Details"
     class="details-container">
  <div class="details-flex-layout flex-column">
    <div class="container-details-header">
      <h3>Details for Container: </h3>
      <h3 style="color: var(--blue-base)"> {{ containerSerial() }} </h3>
      <app-copy-button [copyText]="containerSerial()"></app-copy-button>
    </div>
    <div [ngClass]="[
        overflowService.isWidthOverflowing('.token-layout', 1310)
          ? 'flex-column'
          : 'flex-row',
      ]"
         class="details-flex-layout">
      <div>
        <table [dataSource]="containerDetailData()"
               aria-label="Container Detail Data Table"
               class="details-table border-bottom-none"
               mat-table>
          <ng-container matColumnDef="key">
            <td *matCellDef="let element"
                class="details-key-row"
                mat-cell>
              {{ element.keyMap.label }}
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <td *matCellDef="let element"
                [ngClass]="tableUtilsService.getTdClassForKey(element.keyMap.key)"
                class="fix-width-20-padr-0"
                mat-cell>
              @switch (element.keyMap.key) {
                @case ("states") {
                  @for (state of element.value; track state; let idx = $index) {
                    <span class="font-14"
                          [ngClass]="[
                        tableUtilsService.getSpanClassForState(state, false),
                      ]">
                      {{ tableUtilsService.getDisplayTextForState(state) }}
                    </span>
                  }
                }
                @case ("realms") {
                  @if (element.isEditing()) {
                    <mat-form-field class="width-18rem">
                      <mat-label>Select Realms</mat-label>
                      <mat-select [(ngModel)]="selectedRealms"
                                  multiple>
                        @for (option of realmOptions(); track option) {
                          @if (option === userRealm) {
                            <mat-option value="{{ option }}"
                                        disabled>{{ option }}
                            </mat-option>
                          } @else {
                            <mat-option value="{{ option }}">{{
                                option
                              }}
                            </mat-option>
                          }
                        }
                      </mat-select>
                    </mat-form-field>
                  } @else {
                    <div class="details-scrollable-container"
                         [ngClass]="{ 'details-list': element.value.length > 2 }">
                      @for (realm of element.value;
                        track realm;
                        let idx = $index) {
                        <mat-list-item class="height-auto">
                          <span class="font-14">• {{ realm }}</span>
                        </mat-list-item>
                      }
                    </div>
                  }
                }
                @case ("description") {
                  @if (element.isEditing()) {
                    <mat-form-field class="width-18rem description">
                      <textarea matInput
                                rows="4"
                                [(ngModel)]="element.value"
                                placeholder="Enter description"></textarea>
                    </mat-form-field>
                  } @else {
                    <div class="details-description-div">
                      <span class="details-table-item details-scrollable-container scroll-margin-pad">
                        {{ element.value }}
                      </span>
                    </div>
                  }
                }
                @default {
                  <span>{{ element.value }}</span>
                }
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <td *matCellDef="let element"
                class="edit-column-cell"
                mat-cell>
              @if (isEditableElement(element.keyMap.key)) {
                <app-edit-buttons [toggleEdit]="toggleContainerEdit.bind(this)"
                                  [saveEdit]="saveContainerEdit.bind(this)"
                                  [cancelEdit]="cancelContainerEdit.bind(this)"
                                  [shouldHideEdit]="isAnyEditing"
                                  [isEditingUser]="isEditingUser"
                                  [isEditingInfo]="isEditingInfo"
                                  [element]="element"></app-edit-buttons>
              }
            </td>
          </ng-container>
          <tr *matRowDef="let row; columns: ['key', 'value', 'edit']"
              class="height-52"
              mat-row></tr>
        </table>
        <table [dataSource]="userData()"
               aria-label="User Detail Data Table"
               class="details-table"
               mat-table>
          <ng-container matColumnDef="key">
            <td *matCellDef="let element"
                class="details-key-row"
                mat-cell>{{ element.keyMap.label }}
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <td *matCellDef="let element"
                class="user-editable-row height-52 fix-width-20-padr-0"
                mat-cell>
              @switch (element.keyMap.key) {
                @case ("user_name") {
                  @if (isEditingUser() && userService.selectedUserRealm() !== "") {
                    <mat-form-field class="width-18rem">
                      <mat-label>Enter User</mat-label>
                      <input matInput
                             [(ngModel)]="userService.selectedUsername"
                             [matAutocomplete]="userAuto" />
                      <mat-autocomplete #userAuto="matAutocomplete"
                                        class="user-selection-autocomplete">
                        @for (option of userService.filteredUserOptions(); track option) {
                          <mat-option [value]="option">{{ option }}</mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field>
                  } @else {
                    <a href="#">{{ element.value }}</a>
                  }
                }
                @case ("user_realm") {
                  @if (isEditingUser()) {
                    <mat-form-field class="width-18rem">
                      <mat-label>Select Realm of User</mat-label>
                      <mat-select [(ngModel)]="userService.selectedUserRealm">
                        @for (option of realmOptions(); track option) {
                          <mat-option value="{{ option }}">{{ option }}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  } @else {
                    <a href="#">{{ element.value }}</a>
                  }
                }
                @default {
                  {{ element.value }}
                }
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <td *matCellDef="let element"
                class="edit-column-cell"
                mat-cell>
              @if (element.keyMap.key === "user_name" &&
              !(isAnyEditing() && !isEditingUser())) {
                @if (element.value) {
                  <div class="edit-button-container">
                    <button mat-icon-button
                            class="yellow"
                            (click)="unassignUser()">
                      <mat-icon>person_remove</mat-icon>
                    </button>
                  </div>
                } @else {
                  <app-edit-buttons [toggleEdit]="toggleContainerEdit.bind(this)"
                                    [saveEdit]="saveContainerEdit.bind(this)"
                                    [cancelEdit]="cancelContainerEdit.bind(this)"
                                    [shouldHideEdit]="isAnyEditing"
                                    [isEditingUser]="isEditingUser"
                                    [isEditingInfo]="isEditingInfo"
                                    [element]="element"></app-edit-buttons>
                }
              }
            </td>
          </ng-container>
          <tr *matRowDef="let row; columns: ['key', 'value', 'edit']"
              mat-row></tr>
        </table>
        <div class="details-flex-layout">
          <app-container-details-info [containerSerial]="containerSerial"
                                      [detailData]="containerDetailData"
                                      [infoData]="infoData"
                                      [isAnyEditingOrRevoked]="isAnyEditing"
                                      [isEditingInfo]="isEditingInfo"
                                      [isEditingUser]="isEditingUser"
                                      [refreshDetails]="
              refreshContainerDetails
            "></app-container-details-info>
        </div>
        @if (overflowService.isWidthOverflowing(".token-layout", 1310)) {
          <br />
          <mat-divider></mat-divider><br />
        }
      </div>
      <div [ngClass]="[
          overflowService.isWidthOverflowing('.token-layout', 1310)
            ? ''
            : 'margin-left-1',
        ]"
           class="flex-column">
        <div class="flex-row checkbox-paginator-container">
          <section>
            <mat-checkbox [(ngModel)]="showOnlyTokenNotInContainer"
                          [ngClass]="{ 'pad-top-10': showOnlyTokenNotInContainer() }">
              <span> Only display tokens not in a container </span>
              @if (!showOnlyTokenNotInContainer()) {
                <br /><span> Note: Adding a token removes it from</span><br />
                <span style="margin-left: 39px"> its previous container. </span>
              }
            </mat-checkbox>
          </section>
          <mat-paginator (page)="onPageChanged($event)"
                         [hidePageSize]="true"
                         [length]="this.length"
                         [pageIndex]="pageIndex"
                         [pageSizeOptions]="this.pageSizeOptions"
                         [pageSize]="pageSize"></mat-paginator>
        </div>
        <mat-form-field class="add-token">
          <mat-label>Add Token to Container</mat-label>
          <input #tokenAutoTrigger="matAutocompleteTrigger"
                 #tokenFilterInput
                 (keyup)="handleFilterInput($event)"
                 [matAutocomplete]="tokenAuto"
                 matInput
                 placeholder="Example query: 'type: hotp serial: 123'" />
          <mat-autocomplete #tokenAuto="matAutocomplete">
            @for (option of tokenOptions(); track option) {
              <mat-option class="token-option"
                          (click)="addTokenToContainer(option)">
                <span class="token-option-span"> {{ option["serial"] }} </span>
                <span class="token-option-span">
                  {{ option["tokentype"] }}
                </span> <span class="token-option-span"
                              [ngClass]="
                    option['active'] ? 'highlight-true' : 'highlight-false'
                  ">
                  {{ option["active"] ? "active" : "deactivated" }}
                </span> <span class="token-option-span">
                  {{ option["username"] }}
                </span>
                <mat-icon>add</mat-icon>
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-divider class="width-36"></mat-divider>
        <app-container-details-token-table [containerSerial]="containerSerial"
                                           [dataSource]="containerTokenData"
                                           [isProgrammaticChange]="isProgrammaticChange"
                                           [refreshContainerDetails]="refreshContainerDetails"
                                           [selectedContent]="selectedContent"
                                           [tokenSerial]="tokenSerial"></app-container-details-token-table>
      </div>
    </div>
  </div>
</div>
