<div class="well">

    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        Enter your username and password and click Log In to authenticate.
    </div>

    <div class="alert alert-danger" ng-show="authenticationError">
        Authentication Failed ({{ authenticationError }}). Try again.
    </div>

    <div class="container">
        <form name="formSignin" class="form-signin" role="form" novalidate>
            <h2 class="form-signin-heading">Please sign in</h2>

            <label for="username" class="sr-only">Username</label>
            <input name="username" id="username" class="form-control"
                   ng-model="login.username" required placeholder="Username"
                   autofocus/>

            <label for="password" class="sr-only">Password</label>
            <input name="password" type="password"
                   id="password" class="form-control"
                   ng-model="login.password" required placeholder="Password"/>

            <div class="text-center">
                <button ng-click="authenticate()"
                        ng-disabled="authForm.$invalid"
                        class="btn btn-primary btn-block">Log In
                </button>
            </div>

        </form>
    </div>
</div>
