<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="event-selection-container">
  <mat-form-field
    class="event-chips-field height-unset"
    floatLabel="always">
    <mat-label i18n>Events</mat-label>
    <mat-chip-grid
      #chipGrid
      [formControl]="selectedEvents"
      required
      aria-label="Selected events">
      @for (event of selectedEvents.value; track $index) {
        <mat-chip-row (removed)="removeEvent(event)">
          {{ event }}
          <button
            matChipRemove
            [attr.aria-label]="'remove ' + event">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input
        [matChipInputFor]="chipGrid"
        style="display: none" />
    </mat-chip-grid>
    <mat-error i18n>At least one event must be selected.</mat-error>
  </mat-form-field>

  <div class="add-events-container">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title i18n>Add Events</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="panel-content">
        <app-clearable-input
          (onClick)="searchTerm.set('')"
          [showClearButton]="searchTerm() !== ''">
          <input
            clearableInput
            type="text"
            placeholder="Search events..."
            i18n-placeholder
            [ngModel]="searchTerm()"
            (ngModelChange)="searchTerm.set($event)"
            class="search-input" />
        </app-clearable-input>

        @if (remainingEvents().length > 0) {
          <div class="event-items">
            @for (event of remainingEvents(); track event) {
              <div
                class="event-item"
                (click)="addEvent(event)">
                <span class="event-name">{{ event }}</span>
                <button class="add-event-button">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            }
          </div>
        } @else {
          <p i18n>No events available.</p>
        }
      </div>
    </mat-expansion-panel>
  </div>
</div>
