<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<app-widget-state [state]="state()">
  <div class="table-container">
    <table class="admin-table">
      <thead>
        <tr>
          <th>
            <app-table-sort-header key="date" [sortState]="sort" label="Date" i18n-label />
          </th>
          <th>
            <app-table-sort-header key="administrator" [sortState]="sort" label="Administrator" i18n-label />
          </th>
          <th>
            <app-table-sort-header key="action" [sortState]="sort" label="Action" i18n-label />
          </th>
          <th>
            <app-table-sort-header key="action_detail" [sortState]="sort" label="Detail" i18n-label />
          </th>
        </tr>
      </thead>
      <tbody>
        @for (entry of sortedEntries(); track entry.number) {
          <tr>
            <td>{{ entry.date | localDateTime }}</td>
            <td>{{ entry.administrator }}</td>
            <td>{{ entry.action }}</td>
            <td>{{ entry.action_detail }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</app-widget-state>
