@if (authService.actionAllowed("setpin")) {
  <div class="user-pin-input">
    <input
      style="display: none"
      type="text"/>
    <input
      style="display: none"
      type="password"/>
    <input
      [(ngModel)]="setPinValue"
      [type]="'password'"
      class="input"
      i18n-placeholder
      placeholder="Token PIN"/>
    <input
      [(ngModel)]="repeatPinValue"
      [type]="'password'"
      class="input"
      i18n-placeholder
      placeholder="Repeat PIN"/>
  </div>
}
<div class="user-pin-button">
  @if (authService.actionAllowed("setpin")) {
    <button
      (click)="setPin()"
      class="action-button-1 width-238"
      i18n
      mat-stroked-button>
      <mat-icon>password</mat-icon>
      Set PIN
    </button>
  }
  @if (authService.actionsAllowed(["setrandompin", "otp_pin_set_random"])) {
    <button
      (click)="setRandomPin()"
      class="action-button-1 width-238"
      mat-stroked-button
      i18n>
      <mat-icon>casino</mat-icon>
      Random PIN
    </button>
  }
</div>
