<div class="header-container">
  <div class="brand">
    <img
      alt="logo"
      aria-label="Logo"
      class="logo"
      height="307"
      i18n-alt
      i18n-aria-label
      ngSrc="assets/privacyIDEA1.png"
      ngSrcset="1x"
      sizes="(max-width: 307px) 100vw, 307px"
      width="307" />
  </div>
  <div class="nav-div">
    <nav class="nav-menu">
      @if (authService.menus().includes("tokens")) {
        <a
          [ngClass]="{ active: isActive(ROUTE_PATHS.TOKENS) }"
          extended
          mat-fab
          routerLink="{{authService.anyTokenActionAllowed() ? this.ROUTE_PATHS.TOKENS :
            (authService.anyContainerActionAllowed() ? this.ROUTE_PATHS.TOKENS_CONTAINERS : this.ROUTE_PATHS.TOKENS)}}">
          <mat-icon>shield</mat-icon>
          <h4 i18n>Tokens</h4>
        </a>
      }
      @if (authService.menus().includes("users")) {
        <a
          [ngClass]="{ active: isActive(ROUTE_PATHS.USERS) }"
          extended
          mat-fab
          routerLink="{{ this.ROUTE_PATHS.USERS }}">
          <mat-icon>supervised_user_circle</mat-icon>
          <h4>{{ authService.role() === "admin" ? "Users" : "User" }}</h4>
        </a>
      }
      @if (authService.menus().includes("machines")) {
        <a
          extended
          href="#"
          mat-fab
          disabled>
          <mat-icon>dns</mat-icon>
          <h4 i18n>Machines</h4>
        </a>
      }
      @if (authService.menus().includes("config")) {
        <a
          extended
          href="#"
          mat-fab
          disabled>
          <mat-icon>miscellaneous_services</mat-icon>
          <h4 i18n>Configuration</h4>
        </a>
      }
      @if (authService.menus().includes("audit")) {
        <a
          [ngClass]="{ active: isActive(ROUTE_PATHS.AUDIT) }"
          extended
          mat-fab
          routerLink="{{ ROUTE_PATHS.AUDIT }}">
          <mat-icon>manage_search</mat-icon>
          <h4 i18n>Audit</h4>
        </a>
      }
      @if (authService.menus().includes("components")) {
        <a
          extended
          href="#"
          mat-fab
          disabled>
          <mat-icon>grid_view</mat-icon>
          <h4 i18n>Components</h4>
        </a>
      }
      <button
        (click)="refreshPage()"
        class="refresh-btn"
        mat-fab>
        <mat-icon>refresh</mat-icon>
      </button>
    </nav>
    <h4
      class="preview"
      i18n>
      Preview
    </h4>
    <div class="profile-div">
      <app-theme-switcher />
      <div
        [ngClass]="[
          sessionTimerService.remainingTime()! < 31000
            ? 'red-light'
            : sessionTimerService.remainingTime()! < 60000
              ? 'yellow-light'
              : 'surface-highest'
        ]"
        class="session-timer">
        @if (sessionTimerService.remainingTime()! < 599500) {
          {{ sessionTimerService.remainingTime() | date:'m:ss':'UTC' }}
        } @else if (sessionTimerService.remainingTime()! < 3600000) {
          {{ sessionTimerService.remainingTime() | date:'m':'UTC' }}min
        } @else {
          {{ sessionTimerService.remainingTime() | date:"H'h' mm'min'":"UTC" }}
        }
      </div>
      <div class="profile-logout-div flex-row">
        <a
          aria-label="Support"
          class="support-btn"
          extended
          href="https://netknights.it/support_link_admin"
          i18n-aria-label
          mat-fab
          target="_blank">
          <mat-icon>support_agent</mat-icon>
          <h4 i18n>Support</h4>
        </a>
        <button
          class="profile-btn"
          disabled
          extended
          href="#"
          mat-fab>
          <mat-icon>account_box</mat-icon>
          <h4>{{ profileText }}</h4>
        </button>
        <button
          (click)="logout()"
          aria-label="Logout"
          class="logout-btn"
          i18n-aria-label
          mat-icon-button>
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
