@use "../../../../styles";
@use "@angular/material" as mat;

$header-bg: white;
$header-shadow: var(--box-shadow);
$menu-link-color: #767676;
$hover-bg: var(--background-blue);
$active-bg: var(--blue-base);
$shadow-white: var(--box-shadow-white);
$border-radius: var(--border-radius);

// Mixin for Flexbox
@mixin flex-center($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.header-container {
  @include flex-center;
  @include mat.elevation(3);
  background: $header-bg;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 2;
  position: sticky;
  width: fit-content;
  min-width: 100%;
  height: var(--header-height);

  .brand {
    @include flex-center;
    margin-right: 40px;

    img {
      margin-left: 40px;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      @include mat.elevation(5);
    }
  }

  .nav-div {
    display: flex;
    flex-direction: row;
    // align-items: center;
    width: 100%;
  }

  .nav-menu {
    @include flex-center;
    white-space: nowrap;
    padding-left: 2px;

    a {
      text-decoration: none;
      border-radius: 0;
      color: $menu-link-color;
      height: 60px;
      min-width: 120px;
      padding: 20px;
      background: $header-bg;
      box-shadow: none;
      transition: 0ms;

      &:hover {
        box-shadow: var(--box-shadow-header);
        z-index: 1;
        background: $hover-bg;
        color: white;
        transform: translateX(-2px);
        transition:
          transform 200ms,
          box-shadow 200ms ease;
      }

      &.active {
        box-shadow: var(--box-shadow-header);
        z-index: 1;
        background: $active-bg;
        color: white;
        transform: translateX(-2px);
        transition:
          transform 200ms,
          box-shadow 200ms ease;
      }
    }
  }
  .session-timer {
    width: 48px;
    height: 19px;
    padding-left: 16px;
    justify-content: center;
    display: flex;
  }

  .profile-div {
    margin-left: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h4 {
    margin-left: 4px;
  }

  .margin-right-10 {
    margin-right: 10px;
  }

  .profile-logout-div {
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    gap: 16px;
  }
}

::ng-deep {
  #mat-menu-panel-0 {
    max-width: none;
  }
  .mat-mdc-menu-content {
    padding: 0 !important;
  }
}
