@use "../../../../styles";
@use "@angular/material" as mat;

$header-shadow: var(--box-shadow);
$hover-bg: var(--mat-sys-surface-container-highest);
$shadow-white: var(--box-shadow-white);
$border-radius: var(--border-radius);

// Mixin for Flexbox
@mixin flex-center($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.header-container {
  @include flex-center;
  @include mat.elevation(3);
  background: var(--mat-sys-surface-container-lowest);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 2;
  position: sticky;
  width: fit-content;
  min-width: 100%;
  height: var(--header-height);

  .brand {
    @include flex-center;
    margin-right: var(--double-global-padding);

    img {
      margin-left: var(--double-global-padding);
      height: 52px;
      width: 52px;
      border-radius: 50%;
      @include mat.elevation(5);
    }
  }

  .nav-div {
    display: flex;
    flex-direction: row;
    // align-items: center;
    width: 100%;
  }

  .nav-menu {
    @include flex-center;
    white-space: nowrap;
    padding-left: 2px;

    a {
      text-decoration: none;
      border-radius: 0;
      height: 60px;
      min-width: 120px;
      padding: 20px;
      background: var(--mat-sys-surface-container-lowest);
      box-shadow: none;
      transition: 0ms;

      &:hover {
        box-shadow: var(--box-shadow-header);
        z-index: 1;
        background: var(--mat-sys-primary-base);
        color: var(--mat-sys-on-primary);
        transform: translateX(-2px);
        transition: transform 200ms,
        box-shadow 200ms ease;
      }

      &.active {
        z-index: 1;
        background: var(--mat-sys-primary-base-active);
        color: var(--mat-sys-on-primary);
        transform: translateX(-2px);
        transition: transform 200ms,
        box-shadow 200ms ease;

        &:hover {
          box-shadow: var(--box-shadow-header);
          z-index: 1;
          background: var(--mat-sys-primary-base);
          color: var(--mat-sys-on-primary);
          transform: translateX(-2px);
          transition: transform 200ms,
          box-shadow 200ms ease;
        }
      }
    }
  }

  .session-timer {
    width: 70px;
    height: 19px;
    padding-left: 16px;
    justify-content: center;
    display: flex;
  }

  .session-timer-selfservice {
    width: 48px;
    height: 19px;
    padding: 16px;
    justify-content: center;
    display: flex;
  }

  .profile-div {
    margin-left: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h4 {
    margin-left: 4px;
  }

  .margin-right-10 {
    margin-right: 10px;
  }

  .profile-logout-div {
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    gap: 16px;
  }

  .preview {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 32px 8px 32px;
    border: 2px solid var(--mat-sys-on-surface);
    padding: 8px;
    border-radius: var(--border-radius);
    color: var(--mat-sys-on-surface);
  }
}

::ng-deep {
  #mat-menu-panel-0 {
    max-width: none;
  }

  .mat-mdc-menu-content {
    padding: 0 !important;
  }
}
