<div class="header-container">
  <div class="brand">
    <img alt="logo"
         aria-label="Logo"
         class="logo"
         height="307"
         ngSrc="assets/privacyIDEA1.png"
         ngSrcset="1x"
         sizes="(max-width: 307px) 100vw, 307px"
         width="307" />
  </div>
  <div class="nav-div">
    <nav class="nav-menu">
      @if (authService.role() === 'admin') {
        <a [ngClass]="{ active: isActive('/token') }"
           extended
           mat-fab
           routerLink="token">
          <mat-icon>shield</mat-icon>
          <h4>Tokens</h4></a>

        <a [ngClass]="{ active: isActive('/user') }"
           extended
           mat-fab
           routerLink="user">
          <mat-icon>supervised_user_circle</mat-icon>
          <h4>{{ authService.role() === 'admin' ? "Users" : "User" }}</h4></a>

        <a extended
           href="#"
           mat-fab>
          <mat-icon>dns</mat-icon>
          <h4>Machines</h4></a>

        <a extended
           href="#"
           mat-fab>
          <mat-icon>miscellaneous_services</mat-icon>
          <h4>Configuration</h4></a>

        <a [ngClass]="{ active: isActive('/audit') }"
           extended
           mat-fab
           routerLink="audit">
          <mat-icon>manage_search</mat-icon>
          <h4>Audit</h4></a>

        <a extended
           href="#"
           mat-fab>
          <mat-icon>grid_view</mat-icon>
          <h4>Components</h4></a>
      }
      <button (click)="refreshPage()"
              class="refresh-btn"
              mat-fab>
        <mat-icon>refresh</mat-icon>
      </button>
    </nav>
    <div class="profile-div">
      <div [ngClass]="[
      sessionTimerService.remainingTime() < 31000
        ? 'red-light'
        : sessionTimerService.remainingTime() < 60000
          ? 'yellow-light'
          : 'shadow',]"
           class="session-timer">
        @if (sessionTimerService.remainingTime() < 60000) {
          {{ sessionTimerService.remainingTime() | date: "mm:ss" }}
        } @else if (sessionTimerService.remainingTime() >= 60000 &&
        sessionTimerService.remainingTime() < 600000) {
          {{ sessionTimerService.remainingTime() | date: "m" }}min
        } @else {
          {{ sessionTimerService.remainingTime() | date: "mm" }}min
        }
      </div>
      <div class="profile-logout-div flex-row">
        @if (authService.role() === 'admin') {
          <button class="profile-btn"
                  extended
                  href="#"
                  mat-fab>
            <mat-icon>account_box</mat-icon>
            <h4>{{ profileText }}</h4>
          </button>
        } @else {
          <button class="profile-btn"
                  [class.active]="trigger.menuOpen"
                  #trigger="matMenuTrigger"
                  [matMenuTriggerFor]="profileMenu"
                  extended
                  mat-fab>
            <mat-menu #profileMenu="matMenu">
              <app-user-self-service />
            </mat-menu>
            <mat-icon>account_box</mat-icon>
            <h4>{{ profileText }}</h4>
          </button>
          <button (click)="logout()"
                  class="logout-btn"
                  aria-label="Logout"
                  mat-icon-button>
            <mat-icon>logout</mat-icon>
          </button>
        }
      </div>
    </div>
  </div>
</div>
