:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
}

.actions-pin-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.actions-pin-input-button {
  display: flex;
}
