<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<h2
  i18n
  mat-dialog-title>
  {{ isEditMode ? 'Edit SMS Gateway' : 'Create SMS Gateway' }}
</h2>

<mat-dialog-content class="sms-dialog-content">
  <form
    [formGroup]="smsForm"
    class="sms-form">
    <mat-form-field
      appearance="fill"
      class="width-100 margin-bottom-1">
      <mat-label i18n>Name</mat-label>
      <input
        formControlName="name"
        matInput
        placeholder="mySmsGateway" />
      @if (smsForm.get('name')?.hasError('required')) {
        <mat-error i18n>Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="width-100 margin-bottom-1">
      <mat-label i18n>Provider Module</mat-label>
      <mat-select formControlName="providermodule">
        @for (provider of providerEntries(); track provider.key) {
          <mat-option [value]="provider.key">
            {{ provider.key.split('.').pop() }}
          </mat-option>
        }
      </mat-select>
      @if (smsForm.get('providermodule')?.hasError('required')) {
        <mat-error i18n>Provider Module is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="width-100 margin-bottom-1">
      <mat-label i18n>Description</mat-label>
      <input
        formControlName="description"
        matInput
        placeholder="some wise words" />
    </mat-form-field>
  </form>

  @if (selectedProvider()) {
    <h3 i18n>Parameters</h3>
    <form
      [formGroup]="parametersForm"
      class="parameters-form">
      @for (param of parameterEntries(); track param.key) {
        <div>
          <mat-form-field
            appearance="fill"
            class="width-100 margin-bottom-1">
            <mat-label>{{ param.key }}</mat-label>

            @if (param.value.values) {
              <mat-select [formControlName]="param.key">
                @for (val of param.value.values; track val) {
                  <mat-option [value]="val">
                    {{ val }}
                  </mat-option>
                }
              </mat-select>
            }

            @if (!param.value.values && param.value.type === 'text') {
              <textarea
                [formControlName]="param.key"
                matInput
                rows="4"></textarea>
            }

            @if (!param.value.values && param.value.type !== 'text') {
              <input
                [formControlName]="param.key"
                matInput />
            }

            <mat-hint>{{ param.value.description }}</mat-hint>

            @if (parametersForm.get(param.key)?.hasError('required')) {
              <mat-error i18n>This field is required</mat-error>
            }
          </mat-form-field>
        </div>
      }
    </form>
  }

  @if (selectedProvider()?.options_allowed) {
    <h3 i18n>Options</h3>

    <div class="table-wrapper">
      <table
        [dataSource]="optionRows"
        class="width-100 mat-elevation-z0"
        mat-table>
        <ng-container matColumnDef="key">
          <th
            *matHeaderCellDef
            i18n
            mat-header-cell>
            Key
          </th>
          <td
            *matCellDef="let row"
            mat-cell>
            {{ row.key }}
          </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th
            *matHeaderCellDef
            i18n
            mat-header-cell>
            Value
          </th>
          <td
            *matCellDef="let row"
            mat-cell>
            {{ row.value }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            *matHeaderCellDef
            i18n
            mat-header-cell>
            Actions
          </th>
          <td
            *matCellDef="let row"
            class="actions-cell"
            mat-cell>
            <button
              (click)="deleteOption(row.key)"
              color="warn"
              mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr
          *matHeaderRowDef="optionDisplayedColumns"
          mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: optionDisplayedColumns"
          mat-row></tr>

        <ng-container matColumnDef="footerKey">
          <td
            *matFooterCellDef
            mat-footer-cell>
            <mat-form-field
              appearance="fill"
              class="width-100">
              <mat-label i18n>Option Name</mat-label>
              <input
                [(ngModel)]="newOptionKey"
                matInput />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="footerValue">
          <td
            *matFooterCellDef
            mat-footer-cell>
            <mat-form-field
              appearance="fill"
              class="width-100">
              <mat-label i18n>Value</mat-label>
              <input
                [(ngModel)]="newOptionValue"
                matInput />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="footerActions">
          <td
            *matFooterCellDef
            mat-footer-cell>
            <div class="add-button">
              <button
                (click)="addOption()"
                [disabled]="!newOptionKey"
                color="primary"
                mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr
          *matFooterRowDef="optionFooterColumns"
          class="add-footer-row"
          mat-footer-row></tr>
      </table>
    </div>
  }

  @if (selectedProvider()?.headers_allowed) {
    <h3 i18n>Headers</h3>

    <div class="table-wrapper">
      <table
        [dataSource]="headerRows"
        class="width-100 mat-elevation-z0 sms-kv-table"
        mat-table>
        <ng-container matColumnDef="key">
          <th
            *matHeaderCellDef
            i18n
            mat-header-cell>
            Key
          </th>
          <td
            *matCellDef="let row"
            mat-cell>
            {{ row.key }}
          </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th
            *matHeaderCellDef
            i18n
            mat-header-cell>
            Value
          </th>
          <td
            *matCellDef="let row"
            mat-cell>
            {{ row.value }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            *matHeaderCellDef
            i18n
            mat-header-cell>
            Actions
          </th>
          <td
            *matCellDef="let row"
            class="actions-cell"
            mat-cell>
            <button
              (click)="deleteHeader(row.key)"
              color="warn"
              mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr
          *matHeaderRowDef="headerDisplayedColumns"
          mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: headerDisplayedColumns"
          mat-row></tr>

        <ng-container matColumnDef="footerKey">
          <td
            *matFooterCellDef
            mat-footer-cell>
            <mat-form-field
              appearance="fill"
              class="width-100">
              <mat-label i18n>Header Name</mat-label>
              <input
                [(ngModel)]="newHeaderKey"
                matInput />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="footerValue">
          <td
            *matFooterCellDef
            mat-footer-cell>
            <mat-form-field
              appearance="fill"
              class="width-100">
              <mat-label i18n>Value</mat-label>
              <input
                [(ngModel)]="newHeaderValue"
                matInput />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="footerActions">
          <td
            *matFooterCellDef
            mat-footer-cell>
            <div class="flex ali-center just-center">
              <button
                (click)="addHeader()"
                [disabled]="!newHeaderKey"
                color="primary"
                mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr
          *matFooterRowDef="headerFooterColumns"
          class="add-footer-row"
          mat-footer-row></tr>
      </table>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    (click)="onCancel()"
    i18n
    mat-button>
    Cancel
  </button>
  <button
    (click)="save()"
    [disabled]="smsForm.invalid || parametersForm.invalid"
    class="action-button-1 width-238"
    i18n
    mat-stroked-button>
    <mat-icon>save</mat-icon>
    Save
  </button>
</mat-dialog-actions>
