@use "../../../../../../styles" as styles;

.h3-margin {
  margin: var(--half-global-padding) 0;
}

.detail-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.add-action-button {
  align-self: flex-end;
  color: var(--mat-sys-primary);
}

.warning-icon {
  color: #e5a500;
}


/*
 * When .detail-row is used for the [innerHTML] container itself inside
 * .action-detail-card, it must not be a flex container, otherwise the
 * text flow will be broken into separate flex items.
 * We reset it to a standard block element here.
 */
.action-detail-card > .detail-row {
  display: block;
}
