.input-container {
  position: relative;
}

.input-container button {
  border-radius: 50%;
  aspect-ratio: 1;
  position: absolute;
  right: 2px;
  top: -20%;
  border: 0 solid transparent;
  background-color: var(--grey-light-active);
  color: var(--mat-sys-surface-container-lowest);
  width: 1.1rem;
  height: 1.1rem;
  padding: 0;
}

.input-container button mat-icon {
  font-size: 14px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container button:hover {
  background-color: var(--red-light);
  cursor: pointer;
}
