@use "styles";
@use "table";

:host {
  display: block;
}

.ldap-config-container {
  display: grid;
  grid-template-columns: repeat(2, var(--input-width-l));
  gap: var(--global-gap);

  --mat-form-field-filled-disabled-label-text-color: var(--mat-sys-on-surface-variant);
  --mat-checkbox-disabled-label-color: var(--mat-sys-on-surface);

  .mat-mdc-select-disabled,
  *:disabled {
    color: var(--mat-sys-on-surface) !important;
  }
}

.span-2 {
  grid-column: span 2;
}

.checkbox-container {
  display: flex;
  align-items: center;
  min-height: var(--mat-form-field-container-height, 56px);
}
