<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="ldap-config-container">
  <div class="ldap-config-section">
    <div class="row-container">
      <mat-form-field>
        <mat-label i18n="@@ldapUri">Server URI</mat-label>
        <input
          matInput
          placeholder="ldap://privacyidea.server1, ldap://privacyidea.server2"
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().LDAPURI"
          (ngModelChange)="updateData({ LDAPURI: $event })" />
      </mat-form-field>
    </div>
    <div class="row-container">
      <div class="checkbox-container">
        <mat-checkbox
          matInput
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().TLS_VERIFY"
          (ngModelChange)="updateTlsVerify($event)"
          i18n="@@tlsVerify">
          TLS Verify
        </mat-checkbox>
      </div>
      @if (hostsData().TLS_VERIFY) {
        <mat-form-field>
          <mat-label i18n="@@tlsCaFile">TLS CA File</mat-label>
          <input
            matInput
            placeholder="/etc/privacyidea/ldap-ca.crt"
            [disabled]="!isEditMode()"
            [ngModel]="hostsData().TLS_CA_FILE"
            (ngModelChange)="updateData({ TLS_CA_FILE: $event })" />
          <mat-hint i18n="@@tlsCaFileHint">
            Path to a CA certificate file to verify the LDAP server's TLS certificate.
          </mat-hint>
        </mat-form-field>
      } @else {
        <div></div>
      }
    </div>
    <div class="row-container">
      <mat-form-field>
        <mat-label i18n="@@ldapBase">Base DN</mat-label>
        <input
          matInput
          placeholder="ou=users,dc=domain,dc=tld"
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().LDAPBASE"
          (ngModelChange)="updateData({ LDAPBASE: $event })" />
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="@@bindDn">Bind DN</mat-label>
        <input
          matInput
          placeholder="cn=admin,ou=users,dc=domain,dc=tld"
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().BINDDN"
          (ngModelChange)="updateData({ BINDDN: $event })" />
      </mat-form-field>
    </div>

    <div class="row-container">
      <mat-form-field>
        <mat-label i18n="@@bindPw">Bind Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="topsecret"
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().BINDPW"
          (ngModelChange)="updateData({ BINDPW: $event })" />
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n="@@authType">Bind Type</mat-label>
        <mat-select
          matInput
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().AUTHTYPE"
          (ngModelChange)="updateData({ AUTHTYPE: $event })">
          <mat-option value="Simple">simple</mat-option>
          <mat-option value="SASL Digest-MD5">SASL Digest-MD5</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row-container">
      <mat-form-field>
        <mat-label i18n="@@timeout">Timeout</mat-label>
        <input
          type="number"
          matInput
          placeholder="5"
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().TIMEOUT"
          (ngModelChange)="updateData({ TIMEOUT: $event })" />
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n="@@sizeLimit">Size Limit</mat-label>
        <input
          type="number"
          matInput
          placeholder="500"
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().SIZELIMIT"
          (ngModelChange)="updateData({ SIZELIMIT: $event })" />
      </mat-form-field>
    </div>
  </div>

  <div class="ldap-config-section">
    <div class="row-container">
      @if (isEditMode()) {
        <button
          mat-stroked-button
          class="button-margin"
          [ngClass]="isActiveDirectoryAttributesPreassigned() ? 'action-button-active' : 'action-button-1'"
          (click)="preassignActiveDirectoryAttributes()"
          i18n="@@preassignADAttributesButton">
          Pre-assign Active Directory Attributes
        </button>
      } @else {
        <div>
          <!-- Spacer -->
        </div>
      }
      <div>
        <!-- Spacer -->
      </div>
      <div class="checkbox-container">
        <mat-checkbox
          matInput
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().NOREFERRALS === 'True'"
          (ngModelChange)="onClickNoReferrals($event)"
          i18n="@@noReferrals">
          <p>Referrals are not tracked (anonymously)</p>
        </mat-checkbox>
      </div>
    </div>

    <div class="row-container">
      <mat-form-field>
        <mat-label i18n="@@idAttribute">ID Attribute</mat-label>
        <input
          matInput
          placeholder="DN"
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().IDATTRIBUTE"
          (ngModelChange)="updateData({ IDATTRIBUTE: $event })" />
        <mat-hint i18n="@@idAttributeHint"> An attribute or DN to identify the machine </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n="@@searchFilter">Search Filter</mat-label>
        <input
          matInput
          placeholder="(objectClass=computer)"
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().SEARCHFILTER"
          (ngModelChange)="updateData({ SEARCHFILTER: $event })" />
      </mat-form-field>
    </div>

    <div class="row-container">
      <mat-form-field>
        <mat-label i18n="@@hostnameAttribute">Hostname Attribute</mat-label>
        <input
          matInput
          placeholder="dNSHostName"
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().HOSTNAMEATTRIBUTE"
          (ngModelChange)="updateData({ HOSTNAMEATTRIBUTE: $event })" />
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="@@ipAttribute">IP Attribute</mat-label>
        <input
          matInput
          [disabled]="!isEditMode()"
          [ngModel]="hostsData().IPATTRIBUTE"
          (ngModelChange)="updateData({ IPATTRIBUTE: $event })" />
        <mat-hint i18n="@@ipAttributeHint">An attribute that contains the IP address of the machine. </mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
