<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="ldap-config-container">
  <mat-form-field
    class="span-2"
    subscriptSizing="dynamic">
    <mat-label i18n="@@ldapUri">Server URI</mat-label>
    <input
      matInput
      placeholder="ldap://privacyidea.server1, ldap://privacyidea.server2"
      [disabled]="!fieldsEnabled()"
      [value]="hostsData().LDAPURI ?? ''"
      (input)="updateData({ LDAPURI: $event.target['value'] })" />
  </mat-form-field>

  <div class="checkbox-container">
    <mat-checkbox
      [disabled]="!fieldsEnabled()"
      [checked]="hostsData().TLS_VERIFY"
      (change)="updateTlsVerify($event.checked)"
      i18n="@@tlsVerify">
      TLS Verify
    </mat-checkbox>
  </div>
  <mat-form-field>
    <mat-label i18n="@@tlsCaFile">TLS CA File</mat-label>
    <input
      matInput
      placeholder="/etc/privacyidea/ldap-ca.crt"
      [disabled]="!fieldsEnabled() || !hostsData().TLS_VERIFY"
      [value]="hostsData().TLS_CA_FILE ?? ''"
      (input)="updateData({ TLS_CA_FILE: $event.target['value'] })" />
    <mat-hint i18n="@@tlsCaFileHint">
      Path to a CA certificate file to verify the LDAP server's TLS certificate.
    </mat-hint>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@ldapBase">Base DN</mat-label>
    <input
      matInput
      placeholder="ou=users,dc=domain,dc=tld"
      [disabled]="!fieldsEnabled()"
      [value]="hostsData().LDAPBASE ?? ''"
      (input)="updateData({ LDAPBASE: $event.target['value'] })" />
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@bindDn">Bind DN</mat-label>
    <input
      matInput
      placeholder="cn=admin,ou=users,dc=domain,dc=tld"
      [disabled]="!fieldsEnabled()"
      [value]="hostsData().BINDDN ?? ''"
      (input)="updateData({ BINDDN: $event.target['value'] })" />
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@bindPw">Bind Password</mat-label>
    <input
      type="password"
      matInput
      placeholder="topsecret"
      [disabled]="!fieldsEnabled()"
      [value]="hostsData().BINDPW ?? ''"
      (input)="updateData({ BINDPW: $event.target['value'] })" />
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@authType">Bind Type</mat-label>
    <mat-select
      [disabled]="!fieldsEnabled()"
      [value]="hostsData().AUTHTYPE"
      (selectionChange)="updateData({ AUTHTYPE: $event.value })">
      <mat-option value="Simple">simple</mat-option>
      <mat-option value="SASL Digest-MD5">SASL Digest-MD5</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@timeout">Timeout</mat-label>
    <input
      type="number"
      matInput
      placeholder="5"
      [disabled]="!fieldsEnabled()"
      [value]="hostsData().TIMEOUT ?? ''"
      (input)="updateData({ TIMEOUT: $event.target['value'] })" />
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label i18n="@@sizeLimit">Size Limit</mat-label>
    <input
      type="number"
      matInput
      placeholder="500"
      [disabled]="!fieldsEnabled()"
      [value]="hostsData().SIZELIMIT ?? ''"
      (input)="updateData({ SIZELIMIT: $event.target['value'] })" />
  </mat-form-field>

  <div class="checkbox-container">
    <mat-checkbox
      [disabled]="!fieldsEnabled()"
      [checked]="hostsData().NOREFERRALS === 'True'"
      (change)="onClickNoReferrals($event.checked)"
      i18n="@@noReferrals">
      <p>Referrals are not tracked (anonymously)</p>
    </mat-checkbox>
  </div>
  @if (fieldsEnabled()) {
    <button
      (click)="preassignActiveDirectoryAttributes()"
      class="action-button-secondary"
      mat-stroked-button
      type="button">
      <mat-icon>auto_fix_high</mat-icon>
      <span i18n="@@preassignADAttributesButton">Pre-assign Active Directory Attributes</span>
    </button>
  }

  <mat-form-field>
    <mat-label i18n="@@idAttribute">ID Attribute</mat-label>
    <input
      matInput
      placeholder="DN"
      [disabled]="!fieldsEnabled()"
      [value]="hostsData().IDATTRIBUTE ?? ''"
      (input)="updateData({ IDATTRIBUTE: $event.target['value'] })" />
    <mat-hint i18n="@@idAttributeHint">An attribute or DN to identify the machine</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n="@@searchFilter">Search Filter</mat-label>
    <input
      matInput
      placeholder="(objectClass=computer)"
      [disabled]="!fieldsEnabled()"
      [value]="hostsData().SEARCHFILTER ?? ''"
      (input)="updateData({ SEARCHFILTER: $event.target['value'] })" />
  </mat-form-field>

  <mat-form-field>
    <mat-label i18n="@@hostnameAttribute">Hostname Attribute</mat-label>
    <input
      matInput
      placeholder="dNSHostName"
      [disabled]="!fieldsEnabled()"
      [value]="hostsData().HOSTNAMEATTRIBUTE ?? ''"
      (input)="updateData({ HOSTNAMEATTRIBUTE: $event.target['value'] })" />
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n="@@ipAttribute">IP Attribute</mat-label>
    <input
      matInput
      [disabled]="!fieldsEnabled()"
      [value]="hostsData().IPATTRIBUTE ?? ''"
      (input)="updateData({ IPATTRIBUTE: $event.target['value'] })" />
    <mat-hint i18n="@@ipAttributeHint">An attribute that contains the IP address of the machine.</mat-hint>
  </mat-form-field>
</div>
