@use "../../../styles";

.events-layout {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 240px);
  overflow: auto;
  display: grid;
}
