<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  appScrollToTop
  aria-label="Event Handlers"
  class="events-table-container"
  i18n-aria-label>
  <div class="filter-paginator-container">
    <mat-form-field
      class="event-handler-table-filter"
      subscriptSizing="dynamic">
      <mat-label i18n>Filter Event Handlers ...</mat-label>
      <app-clearable-input
        (onClick)="onClearFilter()"
        [showClearButton]="filterHTMLInputElement.value.length > 0">
        <input
          #filterHTMLInputElement
          (input)="onFilterInput(filterHTMLInputElement.value)"
          [value]="filterString()"
          aria-label="Filter Input"
          i18n-aria-label
          i18n-placeholder
          matInput
          placeholder="Example query: 'username: root'" />
      </app-clearable-input>
    </mat-form-field>
    <mat-paginator
      [length]="eventHandlerDataSource().data.length"
      [pageSizeOptions]="pageSizeOptions()"
      [pageSize]="pageSizeOptions()[1]"
      showFirstLastButtons></mat-paginator>
  </div>

  <div class="actions-container">
    @if (authService.actionAllowed("eventhandling_write")) {
      <button
        (click)="onCreateNewEventHandler()"
        class="action-button-primary button-width-l"
        i18n
        mat-stroked-button>
        <mat-icon>add</mat-icon>
        Create New Event Handler
      </button>
    }
    <mat-slide-toggle
      (change)="toggleDetailedView()"
      [checked]="detailedView()">Detailed View
    </mat-slide-toggle>
  </div>

  <table
    [dataSource]="eventHandlerDataSource()"
    class="event-handler-table"
    mat-table>
    @for (column of Object.keys(columnKeysMap); track column) {
      @if (column !== "delete" || authService.actionAllowed("eventhandling_write")) {
        <ng-container [matColumnDef]="column">
          <th
            *matHeaderCellDef
            mat-header-cell>
            <div class="flex ali-center">
              {{ columnKeysMap[column] }}
              @if (column !== 'delete') {
                <div class="margin-left-16 flex">
                  <button
                    (click)="tableUtilsService.onSortButtonClick(column, sort)"
                    class="sort-button"
                    mat-icon-button
                    type="button">
                    <mat-icon>{{ tableUtilsService.getSortIcon(column, sort()) }}</mat-icon>
                  </button>
                </div>
              }
            </div>
          </th>
          <td
            *matCellDef="let element; let row"
            [ngClass]="detailedView() ? 'detailed-cell' : 'compact-cell'"
            mat-cell>
            @switch (column) {
              @case ("name") {
                <div [ngClass]="detailedView() ? 'break-words' : 'text-overflow-ellipsis'">
                  @if (authService.actionAllowed("eventhandling_write")) {
                    <a
                      (click)="onEditEventHandler(element)"
                      [innerHTML]="element.name | highlight:filterString()"
                      tabindex="0"></a>
                  } @else {
                    <span [innerHTML]="element.name | highlight:filterString()"></span>
                  }
                </div>
              }
              @case ("event") {
                @if (detailedView()) {
                  <div class="detailed-cell-container">
                    <ul class="no-indention margin-0">
                      @for (event of getEventArray(element.event); track event) {
                        <li [innerHTML]="event | highlight:filterString()"></li>
                      }
                    </ul>
                  </div>
                } @else {
                  <span [innerHTML]="(element.event?.join(', ')) | highlight:filterString()"></span>
                }
              }
              @case ("conditions") {
                @if (detailedView()) {
                  <div class="detailed-cell-container">
                    <ul class="no-indention margin-0">
                      @for (condition of Object.entries(element.conditions); track condition[0]) {
                        <li [innerHTML]="(condition[0] + ': ' + condition[1]) | highlight:filterString()"></li>
                      }
                    </ul>
                  </div>
                } @else {
                  <span [innerHTML]="formatConditions(element.conditions) | highlight:filterString()"></span>
                }
              }
              @case ("action") {
                <div [innerHTML]="element.action | highlight:filterString()"></div>
                @if (detailedView()) {
                  <ul class="no-indention margin-top-0">
                    @for (option of Object.entries(element.options); track option[0]) {
                      <li [innerHTML]="(option[0] + ': ' + option[1]) | highlight:filterString()"></li>
                    }
                  </ul>
                }
              }
              @case ("active") {
                <mat-slide-toggle
                  (click)="toggleActive(element); $event.stopPropagation()"
                  [checked]="element.active"
                  [disableRipple]="true"
                  [disabled]="!authService.actionAllowed('eventhandling_write')"
                  matTooltip="Toggle Active Status"></mat-slide-toggle>
              }
              @case ("delete") {
                <button
                  (click)="onDeleteEventHandler(element); $event.stopPropagation()"
                  mat-icon-button
                  matTooltip="Delete Event Handler">
                  <mat-icon>delete</mat-icon>
                </button>
              }
              @case ("ordering") {
                {{ element.ordering }}
              }
              @default {
                <span
                  [innerHTML]="element[column] | highlight:filterString()"
                  [ngClass]="detailedView() ? 'break-words' : 'text-overflow-ellipsis'"></span>
              }
            }
          </td>
        </ng-container>
      }
    }

    <tr
      *matHeaderRowDef="columnKeys()"
      mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: columnKeys()"
      [ngClass]="detailedView() ? 'detailed-row' : 'compact-row'"
      class="example-element-row"
      mat-row></tr>
  </table>
</div>