@use "styles";
@use "table";
@use "@angular/material" as mat;

.details-container {
  @include styles.main-component-style;
  display: grid;

  .mat-mdc-select-value-text {
    font-size: 14px;
  }
}

.token-serial {
  color: var(--mat-sys-primary);
}
