<div class="flex-column">
  <h4 class="enroll-h4">Token Configuration</h4>
  <mat-button-toggle-group
    [formControl]="intentionToggleControl"
    [hideSingleSelectionIndicator]="true"
    class="button-toggle-group">
    <mat-button-toggle
      i18n
      value="generate">Generate Request
    </mat-button-toggle>
    <mat-button-toggle
      i18n
      value="uploadRequest">Upload Request
    </mat-button-toggle>
    <mat-button-toggle
      i18n
      value="uploadCert">Upload Certificate
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="flex-row gap-1">
    <mat-form-field class="width-33">
      <mat-label i18n>CA Connector</mat-label>
      <mat-select
        [errorStateMatcher]="caConnectorErrorStateMatcher"
        [formControl]="caConnectorControl"
        [value]="caConnectorControl.value"
        required>
        @for (option of caConnectorOptions(); track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
      <mat-error i18n>CA Connector is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="width-33">
      <mat-label i18n>Certificate Template</mat-label>
      <mat-select
        [formControl]="certTemplateControl"
        [value]="certTemplateControl.value">
        @for (option of certTemplateOptions(); track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <span class="width-33"></span>
  </div>

  @switch (intentionToggleControl.value) {
    @case ("generate") {
      <span
        i18n
        class="margin-bottom-1">
        The server will create the private RSA key and store it in the database. <br />
        You can later download the PKCS#12 file.</span>
    }
    @case ("uploadRequest") {
      <mat-form-field class="width-66">
        <mat-label i18n> Certificate Signing Request (PEM)</mat-label>
        <textarea
          [formControl]="pemControl"
          matInput
          i18n-placeholder
          placeholder="Paste the Certificate Signing Request here"
          rows="3"></textarea>
      </mat-form-field>
    }
    @case ("uploadCert") {
      <mat-form-field class="width-66">
        <mat-label i18n> Certificate (PEM)</mat-label>
        <textarea
          [formControl]="pemControl"
          matInput
          i18n-placeholder
          placeholder="Paste the Certificate here"
          rows="3"></textarea>
      </mat-form-field>
    }
  }
</div>
