<div
  appScrollToTop
  aria-label="Details"
  class="details-container"
  i18n-aria-label>
  <div class="details-header">
    <h3 i18n>Details for User:</h3>
    <h3 style="color: var(--mat-sys-primary)">{{ userService.detailsUsername() }}</h3>
    <h3>in Realm {{ userService.selectedUserRealm() }}</h3>
  </div>
  <div class="user-details three-col">
    <div class="user-details-column">
        <div class="label" i18n>Username</div>
        <div class="value">{{ userData().username || "-" }}</div>

        <div class="label" i18n>Given name</div>
        <div class="value">{{ userData().givenname || "-" }}</div>

        <div class="label" i18n>Surname</div>
        <div class="value">{{ userData().surname || "-" }}</div>

        <div class="label" i18n>Description</div>
        <div class="value">{{ userData().description || "-" }}</div>
    </div>

    <div class="user-details-column">
      <div class="label" i18n>Email</div>
      <div class="value">{{ userData().email || "-" }}</div>

      <div class="label" i18n>Phone</div>
      <div class="value">{{ userData().phone || "-" }}</div>

      <div class="label" i18n>Mobile</div>
      <div class="value">{{ userData().mobile || "-" }}</div>
    </div>

    <div class="flex-column">
      <h3 class="margin-top-0" i18n>Custom Attributes:</h3>
      <div class="add-attr-row">
        <mat-form-field class="width-13rem">
          <mat-label i18n>Attribute Key</mat-label>
          <div class="flex-row">
          @if (keyMode() === 'select') {
            <mat-select
              [(ngModel)]="selectedKey">
              @for (k of keyOptions(); track k) {
                <mat-option [value]="k">{{ k }}</mat-option>
              }
              @if (hasWildcardKey()) {
                <mat-option (onSelectionChange)="switchToCustomKey()" [value]="'__CUSTOM__'">
                  <i i18n>Custom…</i>
                </mat-option>
              }
            </mat-select>
          } @else {
            <input matInput [(ngModel)]="addKeyInput" i18n-placeholder placeholder="Enter key" />
            @if (keyOptions().length > 0) {
              <button
                type="button"
                mat-icon-button
                class="ml-4 mt--8 return-button"
                (click)="switchToSelectKey()"
                i18n-aria-label="Back to key select"
                aria-label="Back to key select">
                <mat-icon>arrow_left</mat-icon>
              </button>
            }
          }
          </div>
        </mat-form-field>

        <mat-form-field class="width-13rem">
          <mat-label i18n>Attribute Value</mat-label>

          @if (isValueInput()) {
            <input matInput [(ngModel)]="addValueInput" i18n-placeholder placeholder="Enter value" />
          } @else {
            <mat-select [(ngModel)]="selectedValue">
              @for (v of valueOptions(); track v) {
                <mat-option [value]="v">{{ v }}</mat-option>
              }
            </mat-select>
          }
        </mat-form-field>

        <button
          class="ml-8"
          mat-icon-button
          color="primary"
          [disabled]="!canAddAttribute()"
          (click)="addCustomAttribute()"
          i18n>
          <mat-icon>save</mat-icon>
        </button>
      </div>

      <div class="custom-user-details three-col mt-12 custom-details">
        @for (attr of userService.userAttributesList(); track attr.key) {
          <div class="label">
            {{ attr.key }}
          </div>
          <div class="value">{{ attr.value || "-" }}</div>
          @if (deletableAttributes().includes(attr.key)) {
            <button
              mat-icon-button
              class="ml-4"
              (click)="deleteCustomAttribute(attr.key)"
              i18n-aria-label="Delete custom attribute"
              aria-label="Delete custom attribute">
              <mat-icon>delete</mat-icon>
            </button>
          } @else {
            <br/>
          }
        }
      </div>
    </div>
  </div>

  <app-user-details-token-table />

  <div class="flex-row filter-paginator-container">
    <mat-form-field class="width-66">
      <mat-label i18n>Assign Token to User</mat-label>
      <app-clearable-input
        (onClick)="tokenService.clearFilter()"
        [showClearButton]="tokenService.tokenFilter().isNotEmpty">
        <input
          #filterHTMLInputElement
          #tokenAutoTrigger="matAutocompleteTrigger"
          (input)="tokenService.handleFilterInput($event)"
          [matAutocomplete]="tokenAuto"
          [value]="tokenService.tokenFilter().filterString"
          i18n-placeholder
          matInput
          placeholder="Example query: 'type: hotp serial: 123'" />
      </app-clearable-input>
      <mat-autocomplete #tokenAuto="matAutocomplete">
        @for (option of tokenDataSource().data; track option) {
          <mat-option
            (click)="assignUserToToken(option)"
            class="token-option">
            <span class="token-option-span"> {{ option["serial"] }} </span>
            <span class="token-option-span">
                    {{ option["tokentype"] }}
                  </span>
            <span
              [ngClass]="option['active'] ? 'highlight-true' : 'highlight-false'"
              class="token-option-span"
              i18n>
                    {{ option["active"] ? "active" : "deactivated" }}
                  </span>
            <span class="token-option-span">
                    {{ option["username"] }}
                  </span>
            <mat-icon>add</mat-icon>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-paginator
      (page)="onPageEvent($event)"
      [hidePageSize]="true"
      [length]="total()"
      [pageIndex]="pageIndex()"
      [pageSize]="pageSize()"/>
  </div>

  <app-user-details-container-table />

</div>