<div class="edit-button-container">
  @if (!shouldHide()) {
    <button mat-icon-button class="black flex"
            (click)="toggleEditMode(element, element.keyMap.key, 'edit')">
      <mat-icon>
        edit
      </mat-icon>
    </button>
  } @else if (element.isEditing()
  || (isEditingUser() && element.keyMap.key === "username")
  || (isEditingInfo() && element.keyMap.key === "info")) {
    @if (!isEditingUser()) {
      <button mat-icon-button class="black flex"
              (click)="toggleEditMode(element, element.keyMap.key, 'save')">
        <mat-icon>save_as</mat-icon>
      </button>
    }
    <button mat-icon-button class="red flex"
            (click)="toggleEditMode(element, element.keyMap.key, 'cancel')">
      <mat-icon>cancel</mat-icon>
    </button>
  } @else {
    <br/>
  }
</div>
