@import '../../../../../styles/table.css';

.red-icon {
  color: var(--red-base);
}

.editable-row {
  width: 18rem;
  max-width: 18rem;
  min-width: 18rem;
  padding-right: 0;
}

.user-editable-row {
  min-width: 234px;
}
