<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  #scrollContainer
  appScrollToTop
  aria-label="Assign Token Self-Service"
  class="assign-token-self-service-container"
  i18n-aria-label>
  <div #stickySentinel></div>
  <div
    #stickyHeader
    class="sticky-header">
    <div class="sticky-controls ali-center">
      <h3 class="margin-8" i18n>Assign Token</h3>

      <div class="enroll-button-container margin-left-auto">
        <button
          (click)="assignUserToToken()"
          class="action-button-primary button-width-m margin-left-auto"
          i18n
          mat-stroked-button>
          <mat-icon>person_add</mat-icon>
          Assign Token
        </button>
      </div>
    </div>
  </div>

  <div class="margin-left-16">
    <div class="width-880 margin-bottom-0">
      <p i18n>
        If you were handed a token device, you may connect this device to your account. Turn over the token, you may find a
        serial number printed on the token. Please enter this serial number and make up a token pin.
      </p>
    </div>
    <mat-form-field class="input-width-l">
      <mat-label i18n>Enter Serial</mat-label>
      <input
        [(ngModel)]="selectedToken"
        matInput
        required />
      <mat-error i18n>Serial is <strong>required</strong></mat-error>
    </mat-form-field>

    <div class="flex-column gap-8">
      <h4 i18n>Set PIN</h4>
      <input
        class="hidden-input"
        type="text" />
      <input
        class="hidden-input"
        type="password" />
      <div class="flex-column">
        <mat-form-field class="input-width-s">
          <mat-label i18n>PIN</mat-label>
          <input
            [(ngModel)]="setPinValue"
            [type]="'password'"
            matInput />
        </mat-form-field>

        <mat-form-field class="input-width-s">
          <mat-label i18n>Repeat PIN</mat-label>
          <input
            [(ngModel)]="repeatPinValue"
            [type]="'password'"
            matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
