<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  appScrollToTop
  aria-label="Assign Token Self-Service"
  class="assign-token-self-service-container"
  i18n-aria-label>
  <h3
    class="margin-left-1"
    i18n>
    Assign Token
  </h3>
  <p i18n>
    If you were handed a token device, you may connect this device to your account. Turn over the token, you may find a
    serial number printed on the token. Please enter this serial number and make up a token pin.
  </p>
  <div class="flex-row gap-1">
    <mat-form-field class="input-height width-50">
      <mat-label i18n>Enter Serial</mat-label>
      <input
        [(ngModel)]="selectedToken"
        matInput
        required />
      <mat-error i18n>Serial is <strong>required</strong></mat-error>
    </mat-form-field>
    <button
      (click)="assignUserToToken()"
      class="card-button-1"
      mat-stroked-button
      i18n>
      <mat-icon>person_add</mat-icon>
      Assign Token
    </button>
  </div>
  <input
    class="hidden-input"
    type="text" />

  <input
    class="hidden-input"
    type="password" />
  <div class="flex-column user-pin-container">
    <h4
      class="enroll-h4"
      i18n>
      Set PIN
    </h4>
    <div class="user-pin-input">
      <input
        [(ngModel)]="setPinValue"
        [type]="'password'"
        class="input"
        i18n-placeholder
        placeholder="PIN" />

      <input
        [(ngModel)]="repeatPinValue"
        [type]="'password'"
        class="input"
        i18n-placeholder
        placeholder="Repeat PIN" />
    </div>
  </div>
</div>
