@if (template().container_type) {
  <mat-chip-listbox [multiple]="false">
    @for (type of availableTokenTypes(); track type) {
      <mat-chip (click)="onAddToken(type)">
        {{ _toTitleCase(type) }}
        <mat-icon matChipTrailingIcon>add</mat-icon>
      </mat-chip>
    }
  </mat-chip-listbox>
}
<div class="added-tokens-list">
  @for (token of tokens(); track $index) {
    <app-template-added-token-row
      [tokenEnrollmentPayload]="token"
      [index]="$index"
      (onEditToken)="onEditToken($event, $index)"
      (onRemoveToken)="onDeleteToken($index)">
    </app-template-added-token-row>
  }
</div>
