<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (isEditMode()) {
  <div class="added-actions-list-container">
    <mat-expansion-panel
      #panel
      expanded="true">
      <mat-expansion-panel-header class="mat-expansion-panel-header">
        <mat-panel-title>
          <p i18n>Actions</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="added-actions-container">
        @for (action of actions(); track action.name) {
          <div
            class="action-card-in-panel"
            [class.action-card-in-panel-selected]="selectedAction()?.name === action.name"
            (click)="onActionClick(action)">
            <div class="action-row">
              <span class="action-label">{{ action.name }}</span>
              @if (!isBooleanAction(action.name)) {
                <span class="action-value">{{ action.value }}</span>
              }

              <div class="gap-div-8px"></div>
              <button
                mat-icon-button
                class="action-button-in-panel"
                (click)="removeActionFromSelectedPolicy(action.name); $event.stopPropagation()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        }
      </div>
    </mat-expansion-panel>
  </div>
} @else {
  <div class="added-actions-container">
    @for (action of actions(); track action.name) {
      <div
        class="action-card"
        [class.action-card-selected]="selectedAction()?.name === action.name"
        (click)="onActionClick(action)">
        <div class="action-row">
          <span class="action-label">{{ action.name }}</span>
          @if (!isBooleanAction(action.name)) {
            <span class="action-value">{{ action.value }}</span>
          }
        </div>
      </div>
    }
  </div>
}
