@use "../../../../../../styles" as styles;

.gap-div-8px {
  width: 8px;
  height: 8px;
}

.action-button {
  flex-shrink: 0;
  margin: auto -6px;
  --mat-icon-button-state-layer-color: currentColor;
}

.mat-mdc-button-ripple {
  top: 1px;
  left: 1px;
  width: 36px;
  height: 36px;
}

.action-card {
  padding: 0px var(--global-padding);
}
.added-actions-list-container {
  ::ng-deep mat-expansion-panel.mat-expansion-panel {
    background-color: var(--mat-sys-surface-container) !important;
  }
  ::ng-deep mat-expansion-panel.mat-expansion-panel-header {
    padding: var(--half-global-padding) var(--three-quarters-global-padding) !important;
    height: 1rem;
  }
}
