@use "../../../../../../styles" as styles;

.gap-div-8px {
  width: 8px;
  height: 8px;
}

.action-button {
  flex-shrink: 0;
  margin: auto -6px;
  --mat-icon-button-state-layer-color: currentColor;
}

.mat-mdc-button-ripple {
  top: 1px;
  left: 1px;
  width: 36px;
  height: 36px;
}
