<div class="flex-column">
  <h4 class="enroll-h4">Token Configuration</h4>
  <mat-checkbox
    [formControl]="generateOnServerFormControl"
    class="server-checkbox"
    i18n>
    Generate the OTP key on the server and show a QR code to scan.
  </mat-checkbox>
  <div class="otp-inputs-container">
    @if (!this.authService.checkForceServerGenerateOTPKey("hotp")) {
      <mat-form-field class="input-height width-33">
        <mat-label i18n>OTP Key</mat-label>
        <input
          matInput
          [formControl]="otpKeyFormControl"
          i18n-placeholder
          placeholder="Enter OTP key"
          required />
        @if (otpKeyFormControl.hasError("required")) {
          <mat-error i18n> OTP key is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    }

    <mat-form-field
      class="input-height width-33">
      <mat-label i18n>OTP length</mat-label>
      <mat-select
        [formControl]="otpLengthFormControl"
        [value]="otpLengthFormControl.value">
        @for (len of otpLengthOptions; track len) {
          <mat-option [value]="len">{{ len }}</mat-option>
        }
      </mat-select>
      <mat-hint i18n> Some Authenticator Apps only support an OTP length of 6.</mat-hint>
    </mat-form-field>

    <mat-form-field
      class="input-height width-33">
      <mat-label i18n>Hash algorithm</mat-label>
      <mat-select
        [formControl]="hashAlgorithmFormControl"
        [value]="hashAlgorithmFormControl.value">
        @for (alg of hashAlgorithmOptions; track alg.value) {
          <mat-option [value]="alg.value">{{ alg.viewValue }}</mat-option>
        }
      </mat-select>
      <mat-hint i18n> Some Authenticator Apps only support the SHA1 algorithm.</mat-hint>
    </mat-form-field>
  </div>
</div>
