<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<app-dialog-wrapper
  title="Token Assignment"
  i18n-title="@@tokenAssignmentTitle"
  (close)="close()"
  (onAction)="onAction($event)"
  [actions]="dialogActions()">
  <mat-form-field
    appearance="fill"
    class="pin-field">
    <mat-label i18n>PIN (optional)</mat-label>
    <input
      [(ngModel)]="pin"
      [type]="hidePin() ? 'password' : 'text'"
      autocomplete="new-password"
      matInput />

    <button
      (click)="togglePinVisibility()"
      mat-icon-button
      matSuffix
      type="button">
      @if (hidePin()) {
        <mat-icon
          aria-hidden="false"
          i18n-aria-label="@@ariaShowPin"
          aria-label="Show PIN"
          >visibility_off</mat-icon
        >
      } @else {
        <mat-icon
          aria-hidden="false"
          i18n-aria-label="@@ariaHidePin"
          aria-label="Hide PIN"
          >visibility</mat-icon
        >
      }
    </button>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    class="pin-field">
    <mat-label i18n>PIN (repeat)</mat-label>
    <input
      [(ngModel)]="pinRepeat"
      [type]="hidePin() ? 'password' : 'text'"
      autocomplete="new-password"
      matInput />

    <button
      (click)="togglePinVisibility()"
      mat-icon-button
      matSuffix
      type="button">
      @if (hidePin()) {
        <mat-icon
          aria-hidden="false"
          i18n-aria-label="@@ariaShowPin"
          aria-label="Show PIN"
          >visibility_off</mat-icon
        >
      } @else {
        <mat-icon
          aria-hidden="false"
          i18n-aria-label="@@ariaHidePin"
          aria-label="Hide PIN"
          >visibility</mat-icon
        >
      }
    </button>

    @if (pinRepeat() && !pinsMatch()) {
      <mat-error i18n>PINs do not match</mat-error>
    }
  </mat-form-field>
</app-dialog-wrapper>
