<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="flex-column">
  @if (!defaultSmtpIsSet()) {
    @if (authService.role() === "admin") {
      <span
        i18n
        class="inline-warning">
        For E-Mail tokens to work properly you need to set the
        <a
          role="button"
          tabindex="0"
          aria-label="Go to Email token configuration"
          i18n-aria-label
          (click)="goToEmailConfig()"
          (keydown)="onEmailConfigKeydown($event)">
          Email Token Configuration
        </a>!
      </span>
    } @else {
      <span
        i18n
        class="inline-warning">
        The E-Mail token enrollment is not completely configured. Please contact your administrator.
      </span>
    }
  }
  <mat-checkbox
    [formControl]="readEmailDynamicallyControl"
    i18n>
    Read email dynamically from user source on each request
  </mat-checkbox>
  <div class="flex-row gap-16">
    @if (!readEmailDynamicallyControl.value) {
      <mat-form-field class="input-width-l">
        <mat-label i18n>Email Address</mat-label>
        <input
          [formControl]="emailAddressControl"
          matInput
          required />
        <mat-error i18n>Email Address is <strong>required</strong></mat-error>
      </mat-form-field>
    } @else {
      <span class="input-width-l"></span>
    }
  </div>
</div>
