body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.filtered {
    color: orange;
}

.sortUp:after {
    content: '\25B2';
}
.sortDown:after {
    content: '\25BC';
}

.unsorted:after {
    content: '\25CF';
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .round-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin .round-bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .round-none {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.policyaction {
    min-width: 150px;
}

.lock-dialog {
   background-color: rgba(0, 0, 0, 0.8);
}

/* User Add
*/
.css-form input.ng-invalid {
   background-color: #FA787E;
}

.spin {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.deactivated {
    text-align: center;
}

/*
.ng-invalid.radio label,
.ng-invalid.checkbox label,
.ng-invalid.radio-inline label,
.ng-invalid.checkbox-inline label {
  color: #a94442;
}
*/

input.ng-invalid:not(#username):not(#password),
select.ng-invalid {
    background: rgba(169, 68, 66, 0.05);
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
input.ng-invalid:focus:not(#username):not(#password),
select.ng-invalid:focus:not(#username):not(#password){
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.pilogo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}