<div class="flex-column">
  <h4 class="enroll-h4">Token Configuration</h4>
  <mat-checkbox
    [formControl]="generateOnServerFormControl"
    class="server-checkbox">
    Generate the OTP key on the server and show a QR code to scan.
  </mat-checkbox>
  <div class="otp-inputs-container">
    @if (!this.authService.checkForceServerGenerateOTPKey("totp")) {
      <mat-form-field class="input-height width-33">
        <mat-label>OTP Key</mat-label>
        <input
          matInput
          [formControl]="otpKeyFormControl"
          placeholder="Enter OTP key"
          required />
        @if (otpKeyFormControl.hasError("required")) {
          <mat-error>OTP key is <strong>required</strong></mat-error>
        }
        @if (otpKeyFormControl.hasError("minlength")) {
          <mat-error>OTP key must be at least 16 characters</mat-error>
        }
      </mat-form-field>
    }

    <mat-form-field
      class="input-height width-33">
      <mat-label>OTP length</mat-label>
      <mat-select
        [formControl]="otpLengthFormControl"
        [value]="otpLengthFormControl.value">
        @for (len of otpLengthOptions; track len) {
          <mat-option [value]="len">{{ len }}</mat-option>
        }
      </mat-select>
      <mat-hint>Some Authenticator Apps only support an OTP length of 6.</mat-hint>
    </mat-form-field>

    <mat-form-field
      class="input-height width-33">
      <mat-label>Hash algorithm</mat-label>
      <mat-select
        [formControl]="hashAlgorithmControl"
        [value]="hashAlgorithmControl.value">
        @for (alg of hashAlgorithmOptions; track alg.value) {
          <mat-option [value]="alg.value">{{ alg.viewValue }}</mat-option>
        }
      </mat-select>
      <mat-hint>Some Authenticator Apps only support the SHA1 algorithm.</mat-hint>
    </mat-form-field>
  </div>
  <div class="otp-inputs-container">
    <mat-form-field class="width-33 input-height margin-top-1">
      <!-- Adjusted width to fit in a 3-column layout -->
      <mat-label>Timestep</mat-label>
      <mat-select
        [formControl]="timeStepControl"
        [value]="timeStepControl.value">
        @for (step of timeStepOptions; track step) {
          <mat-option [value]="step">{{ step }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>
