@import "../../../../../styles/styles";

.token-type-paragraph {
  text-align: justify;
  padding: 1rem;

  p {
    margin-top: 1px;
  }
}

.dot {
  margin-left: -4px;
}

.otp-input-form {
  width: 33%;
  height: 76.5px;
}

.timestep-form {
  width: 32%;
  height: 76.5px;
  margin-top: 2rem;
}

.server-checkbox {
  margin-bottom: 1rem;
}

.description-form {
  width: 66%;
  margin-top: 2rem;
}
