<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<div class="list-item-card">
  <mat-expansion-panel
    #panel
    class="margin-4"
    [disabled]="isEditMode() || policyService.isSelectedPolicyEdited()"
    (opened)="handleExpansion(panel, policy().name)"
    (closed)="handleCollapse(panel, policy().name)">
    <mat-expansion-panel-header class="mat-expansion-panel-header">
      <mat-panel-title>
        @if (isEditingPolicy(policy().name)) {
          <input
            type="text"
            class="policy-name-input"
            placeholder="Policy Name"
            [ngModel]="selectedPolicy()!.name"
            (ngModelChange)="onNameChange($event)"
            (click)="$event.stopPropagation(); panel.expanded = true"
            (keydown)="$event.stopPropagation()" />
        } @else {
          <div class="policy-name">
            {{ policy().name }}
          </div>
        }
      </mat-panel-title>
      <mat-panel-description class="header-description">
        <div class="description-label">
          @if (isEditingPolicy(policy().name) && policyService.isScopeChangeable(selectedPolicy()!)) {
            <mat-form-field
              appearance="fill"
              class="policy-scope-dropdown"
              (click)="$event.stopPropagation()">
              <mat-label i18n>Scope</mat-label>
              <mat-select
                [value]="selectedPolicy()!.scope"
                (selectionChange)="selectPolicyScope($event.value)">
                @for (scopeOption of policyService.allPolicyScopes(); track scopeOption) {
                  <mat-option [value]="scopeOption">{{ scopeOption }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          } @else {
            <span>
              {{ policy().scope.toLocaleUpperCase() }}
            </span>
          }
        </div>
        <div class="actions">
          @if (panel.expanded) {
            @if (isEditingPolicy(policy().name)) {
              <button
                mat-icon-button
                [disabled]="!canSavePolicy()"
                (click)="$event.stopPropagation(); savePolicy()">
                <mat-icon>save</mat-icon>
              </button>
              <button
                mat-icon-button
                class="action-button"
                (click)="$event.stopPropagation(); cancelEditMode()">
                <mat-icon>cancel</mat-icon>
              </button>
            } @else {
              <button
                mat-icon-button
                (click)="$event.stopPropagation(); isEditMode.set(true)">
                <mat-icon>edit</mat-icon>
              </button>
            }
            <button
              mat-icon-button
              (click)="$event.stopPropagation(); deletePolicy(policy().name)">
              <mat-icon>delete</mat-icon>
            </button>
          }
          <mat-slide-toggle
            #slideToggle
            [checked]="panel.expanded ? selectedPolicy()!.active : policy().active"
            (change)="togglePolicyActive(policy(), $event.checked); slideToggle._switchElement.nativeElement.blur()"
            (click)="$event.stopPropagation()"
            [disableRipple]="true">
          </mat-slide-toggle>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-body">
      <div class="priority-description">
        <app-policy-priority
          [editMode]="isEditMode()"
          [priority]="selectedPolicy()?.priority ?? policy().priority"
          (priorityChange)="updatePolicyPriority($event)" />
        <app-policy-description
          [isEditMode]="isEditMode()"
          [policy]="selectedPolicy() ?? policy()"
          (policyChange)="onPolicyChange($event)" />
      </div>
      @if (isEditingPolicy(policy().name) || policyService.selectedPolicyHasConditions()) {
        <div class="tab-buttons">
          <button
            mat-stroked-button
            class="button-hover"
            [class.button-active]="activeTab() === 'actions'"
            (click)="setActiveTab('actions')">
            ACTIONS
          </button>
          <button
            mat-stroked-button
            class="button-hover"
            [class.button-active]="activeTab() === 'conditions'"
            (click)="setActiveTab('conditions')">
            CONDITIONS
          </button>
        </div>
      }
      @if (activeTab() === "actions") {
        <app-action-tab
          [isEditMode]="isEditMode()"
          [policy]="policy()"
          (policyChange)="onPolicyChange($event)" />
      }
      @if (activeTab() === "conditions" && selectedPolicy()) {
        <app-conditions-tab
          [isEditMode]="isEditMode()"
          [policy]="selectedPolicy()!" />
      }
    </div>
  </mat-expansion-panel>
</div>
