@use "../../../../../styles";

.motp-pin-input {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
}

.motp-input {
  display: flex;
  width: 31%;
  height: 48px;
  border-radius: 3px;
  outline: none;

  &:focus {
    outline: styles.$focus-outline;
  }
}

.motp-description-form {
  width: 66%;
}
