<div class="flex-column">
  <h4 class="enroll-h4">Token Configuration</h4>
  <mat-checkbox
    [formControl]="generateOnServerControl"
    class="server-checkbox"
    i18n>
    Generate the OTP key on the server and show a QR code to scan.
  </mat-checkbox>
  <div class="otp-inputs-container">
    @if (!this.authService.checkForceServerGenerateOTPKey("motp")) {
      <mat-form-field class="width-33 input-height">
        <mat-label i18n>OTP Key</mat-label>
        <input
          matInput
          [formControl]="otpKeyFormControl"
          i18n-placeholder
          placeholder="Enter OTP key"
          required />
        <mat-error i18n>OTP key is <strong>required</strong></mat-error>
      </mat-form-field>
    }
  </div>
</div>
<div class="flex-column">
  <input
    style="display: none"
    type="text" />
  <input
    style="display: none"
    type="password" />
  <h4
    class="enroll-h4"
    i18n>
    mOTP PIN
  </h4>
  <span i18n>The mOTP PIN is the PIN that needs to be entered on the mobile device.</span>
  <div class="motp-pin-input">
    <mat-form-field class="motp-input">
      <mat-label i18n>Enter Password</mat-label>
      <input
        [formControl]="motpPinControl"
        [type]="'password'"
        matInput />
      @if (motpPinControl.hasError("required") && (motpPinControl.touched || motpPinControl.dirty)) {
        <mat-error i18n>Password is <strong>required</strong></mat-error>
      }
      @if (motpPinControl.hasError("minlength") && (motpPinControl.touched || motpPinControl.dirty)) {
        <mat-error i18n>Password must be at least 4 characters long</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="motp-input">
      <mat-label i18n>Repeat Password</mat-label>
      <input
        [formControl]="repeatMotpPinControl"
        [type]="'password'"
        i18n-placeholder
        matInput
        placeholder="Repeat Password" />
      @if (repeatMotpPinControl.hasError("motpPinMismatch") && (repeatMotpPinControl.touched || repeatMotpPinControl.dirty)) {
        <mat-error i18n>mOTP PINs do not match.</mat-error>
      }
    </mat-form-field>
  </div>
</div>
