@use "../../../styles";
@use "@angular/material" as mat;

.layout {
  --max-height: calc(100vh - 64px - var(--global-padding) * 2);
}

.progress-bar {
  position: fixed;
  top: calc(
          100% - max(var(--mdc-linear-progress-track-height, 4px), var(--mdc-linear-progress-active-indicator-height, 4px))
  );
  left: 0;
  width: 100%;
  z-index: 1000;
}

.loading-urls-container {
  position: fixed;
  bottom: 1vh;
  right: 0;
  z-index: 9999;
}

.loading-url {
  margin-left: auto;
  margin-right: 16px;
  margin-bottom: 2px;
  color: var(--mat-sys-primary);
  opacity: 0.33;
}

.drawer-container {
  height: 100vh;
}

.drawer {
  @include mat.elevation(5);
  border-radius: var(--border-radius);
  background: var(--table-color);
  width: fit-content;
}

.drawer-content {
  justify-content: center;
  display: flex;
}

.drawer-button-div {
  display: flex;
  margin-top: 284px;
  margin-left: var(--global-padding);
  height: 100%;
  position: fixed;
}

.drawer-content-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.selfservice-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.selfservice-content-container {
  display: grid;
  justify-items: center;
  align-content: start;
  height: calc(var(--main-height) - var(--global-padding) * 2);
  padding: calc(2 * var(--global-padding));
}

::ng-deep {
  .mat-drawer-backdrop {
    opacity: 0.5;
  }

  .mdc-list-item.mdc-list-item--with-one-line {
    height: auto !important;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .mat-accordion .mat-expansion-panel {
    border-radius: 0;
    overflow: hidden;
  }

  .mat-accordion .mat-expansion-panel:first-of-type {
    border-top-left-radius: var(--border-radius) !important;
    border-top-right-radius: var(--border-radius) !important;
  }

  .mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-left-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
  }

  .mat-accordion .mat-expansion-panel.mat-expanded {
    border-radius: var(--border-radius) !important;
  }

  .mat-accordion .mat-expansion-panel:first-of-type .mat-expansion-panel-header {
    border-top-left-radius: inherit !important;
    border-top-right-radius: inherit !important;
  }

  .mat-accordion .mat-expansion-panel:last-of-type .mat-expansion-panel-header {
    border-bottom-left-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
  }

  mat-panel-title.mat-expansion-panel-header-title .mat-icon {
    color: var(--mat-expansion-header-description-color, var(--mat-sys-on-surface-variant));
    margin-right: 16px;
  }

  .cdk-overlay-container {
    margin-left: 297px;
    width: calc(100% - 297px);

    .mat-mdc-select-panel {
      margin-left: -297px;
    }

    .mat-mdc-autocomplete-panel {
      margin-left: -297px;
    }

    .mat-mdc-tooltip {
      margin-left: -340px;
    }
  }
}
