<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  class="layout"
  aria-label="Layout"
  i18n-aria-label>
  <main
    aria-label="Main Router Outlet"
    i18n-aria-label>
    <router-outlet></router-outlet>
    @if (showProgressBar()) {
      <div class="loading-urls-container">
        @for (l of loadingUrls(); track l.key) {
          <span class="loading-url"> {{ l.url.slice(1) }} </span>
          <br />
        }
      </div>
      <mat-progress-bar
        class="progress-bar"
        mode="indeterminate" />
    }
  </main>
</div>
