@use "../../../styles";

.layout {
  --max-height: calc(100vh - 64px - var(--global-padding) * 2);
}

.progress-bar {
  position: fixed;
  top: calc(
    100% - max(var(--mdc-linear-progress-track-height, 4px), var(--mdc-linear-progress-active-indicator-height, 4px))
  );
  left: 0;
  width: 100%;
  z-index: 1000;
}

.loading-urls-container {
  position: fixed;
  bottom: 1vh;
  right: 0;
  z-index: 9999;
}

.loading-url {
  margin-left: auto;
  margin-right: 16px;
  margin-bottom: 2px;
  color: var(--mat-sys-primary);
  opacity: 0.33;
}
