@use "styles";
@use "table";

:host {
  display: block;
}

.hint {
  font-size: var(--mat-sys-body-small-size);
  color: var(--mat-sys-primary);
  margin-left: 16px;
}

.preset-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 100%;

  .preset-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.checkbox-inline {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
