<div class="flex-column">
  <div class="token-type-paragraph">
    <p>{{ text }}</p>
  </div>
  <h4 class="enroll-h4">Token configuration</h4>
  <mat-form-field class="width-66">
    <mat-label>Secret</mat-label>
    <textarea [(ngModel)]="otpKey"
              matInput
              placeholder="Your secret phrase."
              rows="3"></textarea>
  </mat-form-field>
  <mat-form-field class="width-66">
    <mat-label>Description</mat-label>
    <textarea [(ngModel)]="description"
              [maxlength]="80"
              matInput
              placeholder="Enter description"
              rows="3"></textarea>
  </mat-form-field>
</div>
