@use "styles";
@use "table";

.user-details-token-table-layout {
  @include table.base-table-structure(
    ".user-details-token-table",
    ".user-details-token-table-filter",
    ".table-scroll-container"
  );

  .user-details-token-table {
    width: 1069px;
  }

  .user-details-action-row {
    padding: 0 16px 0 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .user-details-action-column {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  .filter-paginator-container {
    margin-bottom: 16px;
    justify-content: space-between;
  }
}

.username-header {
  color: var(--mat-sys-primary);
}
