@use "styles";
@use "table";

.user-details-token-table-layout {
  @include table.base-table-structure(
    ".user-details-token-table",
    ".user-details-token-table-filter",
    ".table-scroll-container"
  );

  .user-details-action-row {
    padding: 0 16px 0 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .user-details-action-column {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
}

::ng-deep {
  .mat-mdc-header-row.mat-mdc-table-sticky .mat-mdc-header-cell {
    background-color: var(--table-color) !important;
    z-index: 100;
  }
}

.username-header {
  color: var(--mat-sys-primary);
}
