<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  aria-label="User Details Token Table"
  class="user-details-token-table-layout"
  i18n-aria-label>
  <div class="flex-column">
    <div class="details-header">
      <h4 i18n>Tokens of User</h4>
      <h4 class="username-header">&nbsp;{{ userService.detailsUser().username }}</h4>
      <h4>:</h4>
    </div>
    <div class="flex-row gap-8 margin-bottom-16">
      <ng-content></ng-content>
      @if (authService.actionAllowed("delete")) {
        <button
          (click)="deleteSelected()"
          [disabled]="selection().length === 0"
          class="action-button-delete-secondary button-width-l"
          mat-stroked-button>
          <mat-icon>delete_sweep</mat-icon>
          <span i18n>Delete</span>
        </button>
      }
      @if (authService.actionAllowed("unassign")) {
        <button
          (click)="unassignSelected()"
          [disabled]="selection().length === 0"
          class="action-button-secondary button-width-l"
          mat-stroked-button>
          <mat-icon>person_remove</mat-icon>
          <span i18n>Unassign</span>
        </button>
      }
      @if (authService.actionAllowed("enable") && authService.actionAllowed("disable")) {
        <button
          (click)="toggleActiveSelected()"
          [disabled]="selection().length === 0"
          class="action-button-secondary button-width-l"
          mat-stroked-button>
          <mat-icon>toggle_on</mat-icon>
          <span i18n>(De)activate</span>
        </button>
      }
      @if (authService.actionAllowed("reset")) {
        <button
          (click)="resetFailcountSelected()"
          [disabled]="selection().length === 0"
          class="action-button-secondary button-width-l"
          mat-stroked-button>
          <mat-icon>restart_alt</mat-icon>
          <span i18n>Reset Failcounters</span>
        </button>
      }
    </div>
    <div class="responsive-flex-row-1580">
      <table
        [dataSource]="dataSource"
        aria-label="Token Table of the User"
        class="user-details-token-table"
        i18n-aria-label
        mat-table>
        <ng-container matColumnDef="select">
          <th
            *matHeaderCellDef
            class="table-checkbox"
            mat-header-cell>
            <mat-checkbox
              (change)="$event ? toggleAllRows() : null"
              [checked]="isAllSelected()"
              [disabled]="dataSource.data.length === 0"
              [indeterminate]="selection().length > 0 && !isAllSelected()" />
          </th>
          <td
            *matCellDef="let row"
            class="table-checkbox"
            mat-cell>
            <mat-checkbox
              (change)="$event ? toggleRow(row) : null"
              (click)="$event.stopPropagation()"
              [checked]="selection().includes(row)"
              [disabled]="dataSource.data.length === 0" />
          </td>
        </ng-container>
        @for (column of columnsKeyMap; track column) {
          <ng-container [matColumnDef]="column.key">
            <th
              *matHeaderCellDef
              attr.aria-label="{{ column.label }} Header"
              mat-header-cell>
              <div class="flex ali-center">
                {{ column.label }}
                <div class="margin-left-16 flex">
                  <button
                    (click)="tableUtilsService.onSortButtonClick(column.key, sort)"
                    class="sort-button"
                    mat-icon-button
                    type="button">
                    <mat-icon>{{ tableUtilsService.getSortIcon(column.key, sort()) }}</mat-icon>
                  </button>
                </div>
              </div>
            </th>
            <td
              *matCellDef="let element"
              [ngClass]="{ 'input-width-l': column.key === 'description' }"
              attr.aria-label="{{ column.label }} Cell"
              mat-cell>
              <ng-container>
                <div [ngClass]="tableUtilsService.getClassForColumnKey(column.key)">
                  @switch (column.key) {
                    @case ("serial") {
                      <app-copyable [copyText]="element.serial">
                        <a
                          (click)="contentService.tokenSelected(element.serial)"
                          (keydown.enter)="contentService.tokenSelected(element.serial)"
                          attr.aria-label="{{ column.label }} Link"
                          role="button"
                          tabindex="0">
                          {{ element[column.key] }}
                        </a>
                      </app-copyable>
                    }
                    @case ("active") {
                      <span
                        [matTooltip]="tableUtilsService.getTooltipForColumn(column.key, element)"
                        [ngClass]="tableUtilsService.getClassForColumn(column.key, element)">
                        {{ tableUtilsService.getDisplayText(column.key, element) }}
                      </span>
                    }
                    @case ("failcount") {
                      <span [ngClass]="tableUtilsService.getClassForColumn(column.key, element)">
                        {{ tableUtilsService.getDisplayText(column.key, element) }}
                      </span>
                    }
                    @case ("container_serial") {
                      @if (authService.actionAllowed("container_list")) {
                        <app-copyable [copyText]="element[column.key]">
                          <a
                            (click)="contentService.navigateContainerDetails(element[column.key])"
                            (keydown.enter)="contentService.navigateContainerDetails(element[column.key])"
                            attr.aria-label="{{ column.label }} Link"
                            role="button"
                            tabindex="0">
                            {{ element[column.key] }}
                          </a>
                        </app-copyable>
                      }
                    }
                    @default {
                      <span>{{ element[column.key] }}</span>
                    }
                  }
                </div>
              </ng-container>
            </td>
          </ng-container>
        }
        <tr
          *matHeaderRowDef="displayedColumns"
          aria-label="Header Row"
          i18n-aria-label
          mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: displayedColumns"
          aria-label="Data Row"
          i18n-aria-label
          mat-row></tr>
        <tr
          *matNoDataRow
          aria-label="No Data Row"
          i18n-aria-label>
          <td
            [attr.colspan]="displayedColumns.length"
            aria-label="No Data Cell"
            i18n
            i18n-aria-label>
            No tokens found.
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
