<div aria-label="Footer Container" class="footer-container">
  <span> privacyIDEA {{ version }} </span>
  <div class="footer-right">
    <a aria-label="Online Documentation" href="https://privacyidea.readthedocs.io"
       target="_blank">Online Documentation</a>
    <a aria-label="privacyIDEA Forum" href="https://community.privacyidea.org/"
       target="_blank">privacyIDEA Forum</a>
    <a aria-label="Support" class="support-btn" extended
       href="https://netknights.it/support_link_admin" mat-fab
       target="_blank">
      <mat-icon>support_agent</mat-icon>
      <h4>Support</h4>
    </a>
  </div>
</div>
