<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="actions-pin-input">
  <input
    [(ngModel)]="fristOTPValue"
    class="input"
    i18n-placeholder
    placeholder="First OTP" />
  <input
    [(ngModel)]="secondOTPValue"
    class="input"
    i18n-placeholder
    placeholder="Second OTP" />
</div>
<div class="actions-pin-input-button">
  <button
    (click)="resyncOTPToken()"
    class="action-button-1 width-238"
    mat-stroked-button
    i18n>
    <mat-icon>sync</mat-icon>
    Resync Token
  </button>
</div>
