@if (overflowService.isWidthOverflowing("body", 1580)) {
  <br />
}
<div
  [ngClass]="{
    'ali-center': overflowService.isWidthOverflowing('body', 1580),
  }"
  class="actions-otp-container"
>
  <div class="user-pin-container user-pin-container-padding">
    <app-set-pin-action [setPinValue]="setPinValue" [repeatPinValue]="repeatPinValue" />
    <br />
    <mat-divider />
    <br />
  </div>
  @if (tokenType() !== "passkey") {
    <app-resync-token-action />
    <br />
    <mat-divider />
    <br />
  }
  @if (tokenType() !== "passkey") {
    <app-test-otp-pin-action />
    @if (tokenType() === "sshkey") {
      <button (click)="assignSSHMachineDialog()" class="detail-button" extended mat-fab>
        <mat-icon class="detail-button-icon">computer</mat-icon>
        Assign SSH Machine
      </button>
    }
  } @else {
    <button (click)="testPasskey()" class="detail-button" extended mat-fab>
      <mat-icon class="detail-button-icon">key</mat-icon>
      Test Passkey
    </button>
  }
</div>
