<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="actions-otp-container">
  @if (token()?.rollout_state === "verify") {
    <app-verify-enrollment></app-verify-enrollment>
    <mat-divider class="margin-top-8 margin-bottom-8" />
  }

  <div class="actions-sections-row">
    @if (authService.actionAllowed("setpin") || authService.actionsAllowed(["setrandompin", "otp_pin_set_random"])) {
      <section class="actions-section actions-section--wide">
        <h5 class="actions-section-title" i18n>PIN Setup</h5>
        <app-set-pin-action
          [repeatPinValue]="repeatPinValue"
          [setPinValue]="setPinValue" />
      </section>
    }

    @if (tokenType() !== "passkey" && tokenType() !== "webauthn" && authService.actionAllowed("resync")) {
      <section class="actions-section actions-section--wide test-sync-section">
        <h5 class="actions-section-title" i18n>Sync</h5>
        <app-resync-token-action />
      </section>
    }

    @if (tokenType() !== "passkey" && tokenType() !== "webauthn") {
      <section class="actions-section actions-section--wide test-sync-section">
        <h5 class="actions-section-title" i18n>Test</h5>
        <app-test-otp-pin-action />
      </section>
    }

  </div>
</div>
