@if (templateOptions().options && (templateOptions().options | keyvalue).length > 0) {
  <h2>Options:</h2>
  <mat-list>
    @for (option of templateOptions().options | keyvalue; track option.key) {
      <mat-list-item>
        <strong>{{ option.key }}:</strong> {{ option.value }}
      </mat-list-item>
    }
  </mat-list>
}

@if (templateOptions().tokens && templateOptions().tokens.length > 0) {
  <h2>Tokens:</h2>
  @for (token of templateOptions().tokens; track token) {
    <div class="token-container">
      @if (token.type) {
        <span class="token-item"> <strong i18n> Type:</strong>&nbsp;{{ token.type }} </span>
      }
      @for (entry of token | keyvalue; track entry.key) {
        @if (entry.key !== "type") {
          <span class="token-item">
            <strong>{{ entry.key }}:</strong>&nbsp;{{ entry.value }}
          </span>
        }
      }
    </div>
  }
}
