/**
 * (c) NetKnights GmbH 2026,  https://netknights.it
 *
 * This code is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 **/

:host {
  display: inline-flex;
  align-items: center;
  gap: var(--quarter-global-padding);
  max-width: 100%;
}

.sort-header-label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sort-button.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 24px;
  --mat-icon-button-state-layer-size: 24px;
  --mdc-icon-button-icon-size: 20px;
  height: 24px;
  width: 24px;
  min-width: 24px;
  padding: 0;
  flex: none;
  justify-content: center;

  .mat-icon {
    justify-content: center;
  }

  .mat-mdc-button-touch-target {
    height: 24px;
    width: 24px;
  }
}
