@if (policyService.selectedAction() !== null) {
  <div class="action-detail-column">
    <h3>{{ policyService.selectedAction()?.name }}</h3>
    <div class="action-detail-card">
      <span class="detail-row">
        {{ policyService.selectedActionDetail()?.desc }}
      </span>
    </div>
    @switch (policyService.selectedActionDetail()?.type) {
      @case ("bool") {
        <app-bool-select-buttons
          (onSelectString)="policyService.updateSelectedActionValue($event)"
          [initialValue]="policyService.selectedAction()?.value ?? 'true'" />
      }
      @case ("str") {
        <input
          type="text"
          placeholder="Text"
          [ngModel]="policyService.selectedAction()?.value"
          (ngModelChange)="policyService.updateSelectedActionValue($event)"
          class="action-value-input"
          (keydown.enter)="policyService.addActionToSelectedPolicy()" />
      }
      @case ("int") {
        <input
          type="number"
          placeholder="Number"
          [ngModel]="policyService.selectedAction()?.value"
          (ngModelChange)="policyService.updateSelectedActionValue($event)"
          class="action-value-input"
          (keydown.enter)="policyService.addActionToSelectedPolicy()" />
      }
      @case ("text") {
        <textarea
          placeholder="Text"
          [ngModel]="policyService.selectedAction()?.value"
          (ngModelChange)="policyService.updateSelectedActionValue($event)"
          class="action-value-textarea"></textarea>
      }
      @default {
        <p i18n>Unknown action type: {{ policyService.selectedActionDetail()?.type }}</p>
      }
    }
    @if (actionIsAlreadyAdded()) {
      <button
        mat-raised-button
        color="primary"
        (click)="applyChanges()"
        [disabled]="!inputIsValid()">
        Apply Changes
      </button>
    } @else {
      <button
        mat-raised-button
        color="primary"
        (click)="policyService.addActionToSelectedPolicy()"
        [disabled]="!inputIsValid()">
        Add Action
      </button>
    }
  </div>
}
