<div class="action-detail-column">
  @if (selectedActionName !== "") {
    <h3>{{ selectedActionName }}</h3>
    <div class="action-detail-card">
      <span class="detail-row">
        {{ selectedAction?.desc }}
      </span>
    </div>
    @switch (selectedAction?.type) {
      @case ("bool") {
        <app-bool-select-buttons (onSelectString)="actionValue.set($event)" />
      }
      @case ("str") {
        <input
          type="text"
          placeholder="Text"
          [ngModel]="actionValue()"
          (ngModelChange)="actionValue.set($event)"
          class="action-value-input" />
      }
      @case ("int") {
        <input
          type="number"
          placeholder="Number"
          [ngModel]="actionValue()"
          (ngModelChange)="actionValue.set($event)"
          class="action-value-input" />
      }
    }
    <button
      mat-raised-button
      color="primary"
      (click)="onAddAction()"
      [disabled]="!inputIsValid()">
      Add Action
    </button>
  }
</div>
