<div class="action-detail-column">
  @if (policyService.selectedActionName() !== "") {
    <h3>{{ policyService.selectedActionName() }}</h3>
    <div class="action-detail-card">
      <span class="detail-row">
        {{ policyService.selectedAction()?.desc }}
      </span>
    </div>
    @switch (policyService.selectedAction()?.type) {
      @case ("bool") {
        <app-bool-select-buttons (onSelectString)="this.policyService.selectedActionValue.set($event)" />
      }
      @case ("str") {
        <input
          type="text"
          placeholder="Text"
          [ngModel]="this.policyService.selectedActionValue()"
          (ngModelChange)="this.policyService.selectedActionValue.set($event)"
          class="action-value-input"
          (keydown.enter)="this.policyService.addAction()" />
      }
      @case ("int") {
        <input
          type="number"
          placeholder="Number"
          [ngModel]="this.policyService.selectedActionValue()"
          (ngModelChange)="this.policyService.selectedActionValue.set($event)"
          class="action-value-input"
          (keydown.enter)="this.policyService.addAction()" />
      }
    }
    <button
      mat-raised-button
      color="primary"
      (click)="this.policyService.addAction()"
      [disabled]="!inputIsValid()">
      Add Action
    </button>
  }
</div>
