.view-mode-container {
  gap: calc(var(--global-gap) / 2);
  width: 100%;
}

.view-item-wrapper {
  display: inline-block;
  width: 100%;
  margin-bottom: calc(var(--global-gap) / 2);
  break-inside: avoid;
}
