@import '../../../../styles/styles.scss';

$gap-small: 8px;
$table-border-color: #E0E2EC;

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--table-color);
  padding: var(--global-padding);
  margin-left: 1rem;
  overflow: auto;

  .details-table {
    ::ng-deep .mat-mdc-form-field-infix {
      margin-bottom: -8px !important;
    }
  }
}

h3 {
  margin: 0 0 1rem 0;
}

.container-details-header {
  flex-direction: row;
  display: flex;
  gap: $gap-small;
  margin-left: 1rem;
}

.detail-table-wrapper {
  display: flex;
  gap: 20px;
  width: auto;
  max-width: fit-content;
}

.details-section {
  width: auto;
  max-width: fit-content;
  table-layout: auto;
  border-collapse: collapse;
}

.add-token {
  margin-bottom: 1rem;
}

.token-option-span {
  background: #fff;
  padding: 6px;
  border-radius: var(--border-radius);
  margin-right: 8px;
}

.checkbox-paginator-container {
  gap: 1rem;
  height: 60px;
}

.pad-top-10 {
  padding-top: 10px;
}

::ng-deep {
  .mat-mdc-option .mdc-list-item__primary-text {
    height: 28px;
    display: flex;
    align-items: center;
  }
}
