@import '../../../../../styles/table.css';

.info-table th:nth-child(odd),
.info-table td:nth-child(odd) {
  border: 1px solid #E0E2EC;
  box-sizing: border-box;
  background: #f3f3f3;
}

.info-table th:nth-child(even),
.info-table td:nth-child(even) {
  border: 1px solid #E0E2EC;
  box-sizing: border-box;
  background: #ffffff;
}

.mat-mdc-table {
  min-width: 0;
}

.info-title {
  display: flex;
  padding-left: 16px;
  align-items: center;
  width: 143px;
  border: 1px solid #E0E2EC;
  box-sizing: border-box;
  font-size: 14px;
}

.info-container {
  flex-direction: row;
  display: flex;
  width: auto;
  border: 1px solid #E0E2EC;
  border-top: 0;
}

.info-input {
  margin-left: 5px;
}

.delete-info-icon {
  margin-top: 10px
}

.value-container {
  width: calc(18rem - 2px);
}

.value-td {
  padding: 0;
}

.info-span {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-top: 5px;
}

::ng-deep .mat-mdc-text-field-wrapper {
  padding-left: 5px;
}

::ng-deep .info-container .mat-mdc-form-field-subscript-wrapper {
  height: 5px;
}

::ng-deep .info-container .mat-mdc-form-field-infix {
  padding-bottom: 0;
  margin-bottom: -3px;
}

.mat-icon-button {
  font-size: 25px;
}

::ng-deep .mat-mdc-form-field {
  font-size: 14px;
}
