<div class="policy-card">
  <mat-expansion-panel
    #panel
    class="margin-4"
    (afterCollapse)="deselectPolicy(policy().name)"
    (opened)="selectPolicy(policy().name)"
    [disabled]="policyService.isPolicyEdited() && policyService.viewMode() !== 'view'">
    <mat-expansion-panel-header class="mat-expansion-panel-header">
      <mat-panel-title>
        @if (isEditingPolicy(policy().name)) {
          <input
            type="text"
            class="policy-name-input"
            placeholder="Policy Name"
            [ngModel]="policy().name"
            (ngModelChange)="onNameChange($event)"
            (click)="$event.stopPropagation(); panel.expanded = true"
            (keydown)="$event.stopPropagation()" />
        } @else {
          {{ policy().name }}
        }
      </mat-panel-title>
      <mat-panel-description class="header-description">
        <div class="policy-scope-label">
          @if (isEditingPolicy(policy().name) && policyService.isScopeChangeable(policy())) {
            <app-horizontal-wheel
              [initialValue]="policy().scope"
              [values]="policyService.allPolicyScopes"
              (onSelect)="selectPolicyScope($event)" />
          } @else {
            <span>
              {{ policy().scope.toLocaleUpperCase() }}
            </span>
          }
        </div>
        <div class="policy-actions">
          @if (panel.expanded) {
            @if (isEditingPolicy(policy().name)) {
              <button
                mat-icon-button
                [disabled]="!canSavePolicy()"
                (click)="$event.stopPropagation(); savePolicy()">
                <mat-icon>save</mat-icon>
              </button>
              <button
                mat-icon-button
                class="action-button"
                (click)="$event.stopPropagation(); cancelEditMode()">
                <mat-icon>cancel</mat-icon>
              </button>
            } @else {
              <button
                mat-icon-button
                (click)="$event.stopPropagation(); enableEditMode('edit')">
                <mat-icon>edit</mat-icon>
              </button>
            }
            <button
              mat-icon-button
              (click)="$event.stopPropagation(); deletePolicy(policy().name)">
              <mat-icon>delete</mat-icon>
            </button>
          }
          <mat-slide-toggle
            [checked]="policy().active"
            (change)="togglePolicyActive(policy(), $event.checked)"
            (click)="$event.stopPropagation()">
          </mat-slide-toggle>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="policy-grid-container">
      <div class="tab-buttons">
        <button
          mat-flat-button
          [ngClass]="activeTab() === 'actions' ? 'tab-button-active' : 'tab-button'"
          (click)="setActiveTab('actions')">
          ACTIONS
        </button>
        <button
          mat-flat-button
          [ngClass]="activeTab() === 'conditions' ? 'tab-button-active' : 'tab-button'"
          (click)="setActiveTab('conditions')">
          CONDITIONS
        </button>
      </div>

      @if (activeTab() === "actions") {
        @if (isEditMode) {
          <app-selected-actions-list class="grid-area-content-header" />
          <app-policy-description class="grid-area-detail-header" />
          <app-action-selector class="grid-area-content-body" />
          <app-action-detail class="grid-area-detail-body" />
        } @else {
          <app-selected-actions-list class="grid-area-content-header" />
        }
      }

      @if (activeTab() === "conditions") {
        <div class="conditions-list">
          <div class="detail-row">
            <span class="detail-label">Active:</span>
            <span class="detail-value">{{ policy().active }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Client:</span>
            <span class="detail-value">{{ policy().client }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Name:</span>
            <span class="detail-value">{{ policy().name }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Realm:</span>
            <span class="detail-value">{{ policy().realm }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Resolver:</span>
            <span class="detail-value">{{ policy().resolver }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Scope:</span>
            <span class="detail-value">{{ policy().scope }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">Time:</span>
            <span class="detail-value">{{ policy().time }}</span>
          </div>
          <div class="detail-row">
            <span class="detail-label">User:</span>
            <span class="detail-value">{{ policy().user }}</span>
          </div>
        </div>
      }
    </div>
  </mat-expansion-panel>
</div>
