<div class="policy-card">
  <mat-expansion-panel
    #panel
    class="margin-4"
    [disabled]="isEditMode() || policyService.isPolicyEdited()"
    (opened)="handleExpansion(panel, policy()?.name)"
    (closed)="handleCollapse(panel, policy()?.name)">
    <mat-expansion-panel-header class="mat-expansion-panel-header">
      <mat-panel-title>
        @if (isNew()) {
          @if (panel.expanded) {
            <input
              type="text"
              class="policy-name-input"
              placeholder="Policy Name"
              [ngModel]="selectedPolicy()!.name"
              (ngModelChange)="onNameChange($event)"
              (click)="$event.stopPropagation(); panel.expanded = true"
              (keydown)="$event.stopPropagation()" />
          } @else {
            <p i18n>New Policy</p>
          }
        } @else if (policy()) {
          @if (isEditingPolicy(policy()!.name)) {
            <input
              type="text"
              class="policy-name-input"
              placeholder="Policy Name"
              [ngModel]="selectedPolicy()!.name"
              (ngModelChange)="onNameChange($event)"
              (click)="$event.stopPropagation(); panel.expanded = true"
              (keydown)="$event.stopPropagation()" />
          } @else {
            {{ policy()!.name }}
          }
        }
      </mat-panel-title>
      <mat-panel-description class="header-description">
        <div class="policy-scope-label">
          @if (isNew()) {
            @if (!this.policyService.selectedPolicyHasActions() && panel.expanded) {
              <app-horizontal-wheel
                [initialValue]="newPolicyScope()"
                [values]="policyService.allPolicyScopes"
                (onSelect)="selectPolicyScope($event)"
                (click)="$event.stopPropagation()" />
            } @else {
              <span>
                {{ newPolicyScope().toLocaleUpperCase() }}
              </span>
            }
          } @else if (policy()) {
            @if (isEditingPolicy(policy()!.name) && policyService.isScopeChangeable(selectedPolicy()!)) {
              <app-horizontal-wheel
                [initialValue]="selectedPolicy()!.scope"
                [values]="policyService.allPolicyScopes"
                (onSelect)="selectPolicyScope($event)"
                (click)="$event.stopPropagation()" />
            } @else {
              <span>
                {{ policy()!.scope.toLocaleUpperCase() }}
              </span>
            }
          }
        </div>
        <div class="policy-actions">
          @if (isNew()) {
            @if (panel.expanded) {
              <button
                mat-icon-button
                [disabled]="!canSavePolicy()"
                (click)="$event.stopPropagation(); savePolicy(panel)">
                <mat-icon>save</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="$event.stopPropagation(); resetPolicy(panel)">
                <mat-icon>close</mat-icon>
              </button>
            }
          } @else if (policy()) {
            @if (panel.expanded) {
              @if (isEditingPolicy(policy()!.name)) {
                <button
                  mat-icon-button
                  [disabled]="!canSavePolicy()"
                  (click)="$event.stopPropagation(); savePolicy()">
                  <mat-icon>save</mat-icon>
                </button>
                <button
                  mat-icon-button
                  class="action-button"
                  (click)="$event.stopPropagation(); cancelEditMode()">
                  <mat-icon>cancel</mat-icon>
                </button>
              } @else {
                <button
                  mat-icon-button
                  (click)="$event.stopPropagation(); isEditMode.set(true)">
                  <mat-icon>edit</mat-icon>
                </button>
              }
              <button
                mat-icon-button
                (click)="$event.stopPropagation(); deletePolicy(policy()!.name)">
                <mat-icon>delete</mat-icon>
              </button>
            }
            <mat-slide-toggle
              #slideToggle
              [checked]="panel.expanded ? selectedPolicy()!.active : policy()!.active"
              (change)="togglePolicyActive(policy()!, $event.checked); slideToggle._switchElement.nativeElement.blur()"
              (click)="$event.stopPropagation()"
              [disableRipple]="true">
            </mat-slide-toggle>
          }
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-body">
      <div class="priority-description">
        <app-policy-priority [editMode]="isEditMode()" />
        <app-policy-description />
      </div>
      @if (isNew() || isEditingPolicy(policy()!.name) || policyService.selectedPolicyHasConditions()) {
        <div class="tab-buttons">
          <button
            mat-stroked-button
            class="button-hover"
            [class.button-active]="activeTab() === 'actions'"
            (click)="setActiveTab('actions')">
            ACTIONS
          </button>
          <button
            mat-stroked-button
            class="button-hover"
            [class.button-active]="activeTab() === 'conditions'"
            (click)="setActiveTab('conditions')">
            CONDITIONS
          </button>
        </div>
      }
      @if (activeTab() === "actions") {
        <!-- [isEditMode]="isNew() || isEditingPolicy(policy()?.name || '')"  -->
        <app-action-tab />
      }
      @if (activeTab() === "conditions") {
        <app-conditions-tab />
      }
    </div>
  </mat-expansion-panel>
</div>
