<div class="policy-details">
  <div class="tab-buttons">
    <button
      mat-flat-button
      [ngClass]="activeTab() === 'actions' ? 'tab-button-active' : 'tab-button'"
      (click)="setActiveTab('actions')">
      ACTIONS
    </button>
    <button
      mat-flat-button
      [ngClass]="activeTab() === 'conditions' ? 'tab-button-active' : 'tab-button'"
      (click)="setActiveTab('conditions')">
      CONDITIONS
    </button>
  </div>

  <div class="selected-content">
    @if (activeTab() === "actions") {
      <div class="actions-list">
        <h4>Actions of this policy:</h4>
        @for (entry of getActionsOfPolicy(); track entry[0]) {
          <div class="action-card">
            <div class="detail-row">
              <span class="detail-label">{{ entry[0] }}</span>
              <span class="detail-value">{{ entry[1] }}</span>
              @if (isEditMode()) {
                <button
                  mat-icon-button
                  class="edit-action-button"
                  (click)="editAction(entry[0])">
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  class="delete-action-button"
                  (click)="deleteAction(entry[0])">
                  <mat-icon>delete</mat-icon>
                </button>
              }
            </div>
          </div>
        }
      </div>
      @if (isEditMode()) {
        <h4>Add new action:</h4>
        <div class="add-action-section">
          <input
            type="text"
            placeholder="Search action..."
            [(ngModel)]="addActionValue"
            class="search-input" />
          <div class="add-action-details">
            <div class="policy-action-item">
              <span class="detail-label">policy_action_1</span>
              <span class="detail-value">type: str</span>
            </div>
            <div class="policy-action-item">
              <span class="detail-label">policy_action_2</span>
              <span class="detail-value">type: list (multiselect)</span>
            </div>
            <div class="policy-action-item">
              <span class="detail-label">policy_action_3</span>
              <span class="detail-value">type: bool</span>
            </div>
          </div>
          <button
            mat-icon-button
            class="add-action-button"
            [hidden]="!isAddActionValueProvided()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
      }
    }

    @if (activeTab() === "conditions") {
      <div class="conditions-list">
        <div class="detail-row">
          <span class="detail-label">Active:</span>
          <span class="detail-value">{{ policy().active }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Client:</span>
          <span class="detail-value">{{ policy().client }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Name:</span>
          <span class="detail-value">{{ policy().name }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Realm:</span>
          <span class="detail-value">{{ policy().realm }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Resolver:</span>
          <span class="detail-value">{{ policy().resolver }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Scope:</span>
          <span class="detail-value">{{ policy().scope }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Time:</span>
          <span class="detail-value">{{ policy().time }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">User:</span>
          <span class="detail-value">{{ policy().user }}</span>
        </div>
      </div>
    }
  </div>

  <div class="placeholder-for-right-column"></div>
</div>
