@use "@angular/material" as mat;

mat-card-title {
  font-size: 1.2em;
  font-weight: 500;
  padding: var(--half-global-padding);
}

mat-card {
  background-color: var(--mat-sys-surface-container) !important;
  margin-bottom: 1rem;
}

mat-chip {
  white-space: nowrap;
  cursor: pointer !important;
}

mat-icon {
  vertical-align: middle;
  font-size: 20px;
  width: 20px;
  height: 20px;
}
