@use "@angular/material" as mat;

mat-card-title {
  font-size: 1.2em;
  font-weight: 500;
  padding: var(--half-global-padding);
}

mat-card {
  --mdc-elevated-card-container-shape: var(--border-radius);
  --mdc-elevated-card-container-color: var(--mat-sys-surface-container);
  margin-bottom: 1rem;
}

mat-chip {
  --mdc-chip-container-shape-radius: var(--border-radius);
  white-space: nowrap;
  cursor: pointer !important;
}

mat-icon {
  vertical-align: middle;
  font-size: 20px;
  width: 20px;
  height: 20px;
}
::ng-deep {
  .mdc-evolution-chip__action--presentational {
    cursor: pointer !important;
  }
}
