<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
@if (conditionName() !== "") {
  <div class="action-detail-column">
    <div class="action-detail-title">
      <h3 i18n>
        {{ conditionName() }}
      </h3>
    </div>
    <div class="action-detail-card">
      <span
        class="detail-row"
        [innerHTML]="conditionDetails().desc">
      </span>
    </div>
    @if (isEditMode()) {
      @if (conditionDetails()?.value) {
        <!-- add dropdown to select value from list -->
        @if (conditionDetails()?.value?.length === 0) {
          <!-- // Warning: No Value Available. Nothing to select not possible to add. NO MAT FORM FIELD -->
          <p i18n>No values available for this condition.</p>
        } @else if (conditionDetails()?.type === "multi") {
          <mat-form-field
            appearance="fill"
            class="full-width">
            <mat-select
              [value]="conditionValue() || []"
              [multiple]="true"
              (selectionChange)="conditionValue.set($event.value)">
              @for (option of availableConditionValues(); track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        } @else {
          <!-- Needs to be a separate selection as multiple state can not be changed during runtime -->
          <mat-form-field
            appearance="fill"
            class="full-width">
            <mat-select
              [value]="conditionValue()"
              (selectionChange)="conditionValue.set($event.value)">
              @for (option of availableConditionValues(); track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      } @else {
        @switch (conditionDetails()?.type) {
          @case ("bool") {
            <!-- Show Nothing -->
          }
          @case ("int") {
            <input
              type="number"
              placeholder="Number"
              [ngModel]="conditionValue()"
              (ngModelChange)="conditionValue.set($event)"
              class="action-value-input"
              (keydown.enter)="submitCondition()" />
          }
          @case ("text") {
            <textarea
              placeholder="Text"
              [ngModel]="conditionValue()"
              (ngModelChange)="conditionValue.set($event)"
              class="action-value-textarea"></textarea>
          }
          @default {
            <!-- str, regex -->
            <input
              type="text"
              placeholder="Text"
              [ngModel]="conditionValue()"
              (ngModelChange)="conditionValue.set($event)"
              class="action-value-input"
              (keydown.enter)="submitCondition()" />
          }
        }
      }
      @if (isNewCondition()) {
        <button
          mat-raised-button
          color="primary"
          (click)="submitCondition()"
          [disabled]="!inputIsValid()"
          i18n>
          Apply Changes
        </button>
      } @else {
        <button
          mat-raised-button
          color="primary"
          (click)="submitCondition()"
          [disabled]="!inputIsValid()"
          i18n>
          Add Condition
        </button>
      }
    }
  </div>
}
