<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<div
  appScrollToTop
  aria-label="Policy Table"
  class="policies-table-layout"
  i18n-aria-label>
  <app-policies-table-actions [policySelection]="selectedPolicies()" />
  <table
    mat-table
    [dataSource]="policiesListFiltered()"
    class="policies-table"
    multiTemplateDataRows>
    <ng-container matColumnDef="select">
      <th
        *matHeaderCellDef
        class="table-checkbox"
        mat-header-cell>
        <mat-checkbox
          (change)="masterToggle()"
          [checked]="isAllSelected()"
          [indeterminate]="selectedPolicies().size > 0 && !isAllSelected()"
          aria-label="Select All Policies"
          i18n-aria-label>
        </mat-checkbox>
      </th>
      <td
        mat-cell
        class="table-checkbox"
        *matCellDef="let policy">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="toggleSelection(policy.name)"
          [checked]="isSelected(policy.name)"
          aria-label="Select Policy"
          i18n-aria-label>
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="priority">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="col-priority">
        Priority
      </th>
      <td
        mat-cell
        *matCellDef="let policy"
        class="col-priority">
        {{ policy.priority }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="col-name">
        Name
      </th>
      <td
        mat-cell
        *matCellDef="let policy"
        class="col-name">
        @if (authService.actionAllowed("policywrite")) {
          <button
            mat-button
            class="text-link-button"
            (click)="$event.stopPropagation(); editPolicy(policy)">
            {{ policy.name }}
          </button>
        } @else {
          {{ policy.name }}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="scope">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="col-scope">
        Scope
      </th>
      <td
        mat-cell
        *matCellDef="let policy"
        class="col-scope">
        {{ policy.scope ? policy.scope.toLocaleUpperCase() : "NO SCOPE" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="col-description">
        Description
      </th>
      <td
        mat-cell
        *matCellDef="let policy"
        class="col-description">
        {{ policy.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="col-active">
        Active
      </th>
      <td
        mat-cell
        *matCellDef="let policy"
        class="col-active">
        <div class="centered-content">
          <mat-slide-toggle
            class="small-toggle"
            [checked]="policy.active"
            (change)="policyService.togglePolicyActive(policy, $event.checked)"
            (click)="$event.stopPropagation()"
            [disableRipple]="true">
          </mat-slide-toggle>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="col-actions">
        Actions
      </th>
      <td
        mat-cell
        *matCellDef="let policy"
        class="col-actions">
        <div class="actions-wrapper">
          @if (authService.actionAllowed("policydelete")) {
            <button
              mat-icon-button
              (click)="$event.stopPropagation(); deletePolicy(policy.name)">
              <mat-icon>delete</mat-icon>
            </button>
          }
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let policy"
        [attr.colspan]="displayedColumns.length">
        <div
          [@detailExpand]="expandedElements().has(policy) ? 'expanded' : 'collapsed'"
          class="expanded-detail">
          <app-policy-panel-view [policy]="policy"></app-policy-panel-view>
        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let policy; columns: displayedColumns"
      class="policy-row"
      [class.expanded-row]="expandedElements().has(policy)"
      (click)="toggleExpansion(policy)"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="detail-row"></tr>
    <tr
      *matNoDataRow
      aria-label="No Data Row"
      i18n-aria-label>
      <td
        [attr.colspan]="displayedColumns.length"
        aria-label="No Data Cell"
        i18n
        i18n-aria-label>
        No policies found.
      </td>
    </tr>
  </table>
</div>
