@use "../../../../styles";

.policies-table-layout {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".policies-table", ".policies-table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  overflow: auto;
  display: grid;
}

.policies-table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;

  // Fixe schmale Spalten
  .table-checkbox,
  .col-priority,
  .col-scope,
  .col-active {
    width: 1%;
    white-space: nowrap;
  }

  // Die Description-Spalte
  .col-description {
    // Dieser Trick zwingt die Spalte, den Restplatz zu nehmen
    // UND den overflow-wrap zu triggern:
    width: 99%;
    min-width: 200px; // Verhindert, dass sie zu klein wird

    white-space: normal;
    word-break: break-word; // Bricht lange Wörter
    overflow-wrap: anywhere;

    // Optional: Text linksbündig, da mehrzeilig
    text-align: left !important;
  }
}

.col-active {
  width: 80px;
}

.policy-row {
  cursor: pointer;
  &:hover {
    background-color: var(--mat-sys-surface-container-low);
  }
}

.detail-row {
  height: 0;
}

.expanded-row {
  background-color: var(--mat-sys-surface-container-low);
}

.selfservice-paginator-container {
  justify-content: end;
  display: flex;
}

.self-service-table-container {
  overflow-y: auto;
  max-width: 70.5rem;
}

.realm-break {
  margin-top: 3px;
}
.expanded-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-top-width: 0;
  td {
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
  }
}
