@use "../../../../styles" as styles;

.policies-table-layout {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".policies-table", ".policies-table-filter", ".table-scroll-container");
  max-height: var(--max-height);
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  overflow: auto;
  display: grid;
}

.token-table {
  th.mat-mdc-header-cell.mat-column-resolvers {
    width: 100%;
  }

  td.mat-mdc-cell.mat-column-resolvers,
  td.mat-mdc-footer-cell.mat-column-resolvers {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

th.mat-header-cell {
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap;
}

td.mat-cell {
  max-width: 300px;
  padding: 8px 16px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;

  > * {
    margin: 0 auto;
  }
}

.mat-column-description {
  max-width: 400px;
  min-width: 150px;
  white-space: normal !important;
  word-wrap: break-word;
  text-align: left !important;
  line-height: 1.5;
}

.mat-column-priority,
.mat-column-scope,
.mat-column-active {
  width: 1%;
}

.mat-column-actions {
  width: 180px;
  text-align: right !important;

  > * {
    margin: 0 0 0 auto;
    display: flex;
    justify-content: flex-end;
  }
}

.policy-row {
  cursor: pointer;
  &:hover {
    background-color: var(--mat-sys-surface-container-low);
  }
}

.detail-row {
  height: 0;
}

.text-link-button {
  height: auto !important;
  line-height: inherit !important;
  padding: 0 !important;
  min-width: unset !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  color: var(--mat-sys-primary-base);
  text-align: left;

  &:hover {
    text-decoration: underline;
    background: transparent !important;
  }
}

td.col-name {
  text-align: left !important;
  .text-link-button {
    margin: 0;
  }
}
