@use "styles";
@use "table";
@use "dialog";

.user-new-resolver-layout {
  display: flex;
  justify-content: center;
}

.user-new-resolver-container {
  @include dialog.dialog-container-styles;
  @include table.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");

  min-width: 632px;

  @media (max-width: 1000px) {
    min-width: unset;
  }
}

.resolver-type-select {
  margin-left: 16px;

  @media (max-width: 1000px) {
    margin-left: 0;
    margin-top: 16px
  }
}

:host ::ng-deep .mat-mdc-form-field-infix {
  width: unset;
}
