<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  aria-label="User Resolver Editor"
  class="user-new-resolver-layout"
  i18n-aria-label>
  <div
    #scrollContainer
    appScrollToTop
    class="user-new-resolver-container">
    @if (isEditMode) {
      <h3
        class="margin-left-1"
        i18n>Edit User Source
      </h3>
    } @else {
      <h3
        class="margin-left-1"
        i18n>Create User Source
      </h3>
    }

    <div
      #leftColumn
      class="flex-row margin-bottom-0">
      <mat-form-field subscriptSizing="dynamic" class="min-width-40">
        <mat-label i18n>Resolver Name</mat-label>
        <mat-hint>
          @if (isEditMode) {
            <span i18n>Change the configuration of the selected resolver.</span>
          } @else {
            <span i18n>Define a new resolver used as a user source.</span>
          }
        </mat-hint>
        <app-clearable-input
          (onClick)="resolverName = ''"
          [showClearButton]="!isEditMode && !!resolverName">
          <input
            #nameInput="ngModel"
            [(ngModel)]="resolverName"
            [disabled]="isEditMode"
            matInput
            placeholder="resolver1"
            required />
        </app-clearable-input>
        @if (nameInput.invalid && (nameInput.dirty || nameInput.touched)) {
          <mat-error i18n>Resolver name is <strong>required</strong>.</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="width-238">
        <mat-label i18n>Type</mat-label>
        <mat-select
          (ngModelChange)="onTypeChange($event)"
          [(ngModel)]="resolverType"
          [disabled]="isEditMode">
          <mat-option [value]="'ldapresolver'">LDAP</mat-option>
          <mat-option [value]="'sqlresolver'">SQL</mat-option>
          <mat-option [value]="'httpresolver'">HTTP</mat-option>
          <mat-option [value]="'entraidresolver'">EntraID</mat-option>
          <mat-option [value]="'keycloakresolver'">Keycloak</mat-option>
          <mat-option [value]="'passwdresolver'">Passwd</mat-option>
          <mat-option [value]="'scimresolver'">SCIM</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      #stickySentinel
      class="sticky-sentinel"></div>

    <div
      #stickyHeader
      class="sticky-header">
      <div class="sticky-controls ali-center">
        @if (resolverType !== 'passwdresolver') {
          @if (['entraidresolver', 'keycloakresolver', 'httpresolver'].includes(resolverType)) {
            <mat-form-field>
              <mat-label i18n>Test Username</mat-label>
              <app-clearable-input
                (onClick)="testUsername = ''"
                [showClearButton]="!!testUsername">
                <input
                  [(ngModel)]="testUsername"
                  matInput
                  placeholder="foo@bar.com" />
              </app-clearable-input>
            </mat-form-field>

            <mat-form-field>
              <mat-label i18n>Test User ID</mat-label>
              <app-clearable-input
                (onClick)="testUserId = ''"
                [showClearButton]="!!testUserId">
                <input
                  [(ngModel)]="testUserId"
                  matInput
                  placeholder="foo@bar.com" />
              </app-clearable-input>
            </mat-form-field>
          }

          @if (resolverType === 'ldapresolver') {
            <button
              (click)="onQuickTest()"
              [disabled]="isSaving || isTesting || !resolverType || !isAdditionalFieldsValid"
              class="action-button-1 width-238"
              mat-stroked-button>
              <mat-icon>wifi</mat-icon>
              <span i18n>Quick Resolver Test</span>
            </button>
          }

          <button
            (click)="onTest()"
            [disabled]="isSaving || isTesting || !resolverType || !isAdditionalFieldsValid"
            class="action-button-1 width-238"
            mat-stroked-button>
            <mat-icon>wifi</mat-icon>
            <span i18n>Test Connection</span>
          </button>
        }

        <button
          (click)="onSave()"
          [disabled]="!resolverName || !resolverType || !isAdditionalFieldsValid"
          class="action-button-1 width-238"
          mat-stroked-button>
          <mat-icon>save</mat-icon>
          <span i18n>Save</span>
        </button>

        <button
          (click)="onCancel()"
          mat-button>
          <span i18n>Cancel</span>
        </button>
      </div>
    </div>

    @if (resolverType === 'ldapresolver') {
      <app-ldap-resolver [data]="formData" />
    }

    @if (resolverType === 'sqlresolver') {
      <app-sql-resolver [data]="formData" />
    }

    @if (resolverType === 'passwdresolver') {
      <app-passwd-resolver [data]="formData" />
    }

    @if (resolverType === 'scimresolver') {
      <app-scim-resolver [data]="formData" />
    }

    @if (resolverType === 'httpresolver') {
      <app-http-resolver
        [data]="formData"
        [type]="resolverType" />
    }

    @if (resolverType === 'entraidresolver') {
      <app-entraid-resolver
        [data]="formData"
        [type]="resolverType" />
    }

    @if (resolverType === 'keycloakresolver') {
      <app-keycloak-resolver
        [data]="formData"
        [type]="resolverType" />
    }
  </div>
</div>