@use "styles";
@use "table";

.user-new-resolver-layout {
  display: flex;
  justify-content: center;
}

.user-new-resolver-container {
  @include table.table-container-styles;
  @include table.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  max-height: 90vh;
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  display: grid;
  overflow: auto;
  position: relative;
}

:host ::ng-deep .mat-mdc-form-field-infix {
  width: unset;
}
