@use "styles";
@use "table";

.user-new-resolver-layout {
  display: flex;
  justify-content: center;
}

.user-new-resolver-container {
  @include table.table-container-styles;
  @include table.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  max-height: 90vh;
  max-width: calc(100vw - var(--global-padding) * 5 - 48px);
  display: grid;
  overflow: auto;
  position: relative;
}

.min-width-40 {
  min-width: 40%;
  width: 238px;
}

.type-section {
  margin-top: 1rem;

  h3 {
    margin-bottom: 0.5rem;
  }
}

::ng-deep {
  .mat-mdc-form-field-infix {
    width: unset;
  }
}
