<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title i18n>EMail Token Settings</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="panel-content">
    <p i18n>The EMail token is a challenge response token that sends the OTP value to the given email address, when the
            correct OTP PIN was presented by the user.
    </p>

    <mat-form-field
      appearance="fill"
      class="margin-bottom-16">
      <mat-label i18n>SMTP server configuration</mat-label>
      <mat-select [(ngModel)]="formData()['email.identifier']">
        @for (server of smtpServers(); track server) {
          <mat-option [value]="server">{{ server }}</mat-option>
        }
      </mat-select>
      <mat-hint i18n>Select a predefined
        <a
          [routerLink]=[ROUTE_PATHS.EXTERNAL_SERVICES_SMTP]><strong>SMTP server configuration</strong>.
        </a>
      </mat-hint>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="margin-bottom-16">
      <mat-label i18n>OTP validity time</mat-label>
      <input
        [(ngModel)]="formData()['email.validtime']"
        matInput
        type="number">
      <mat-hint i18n>The time in seconds for which the sent OTP value is valid for authentication.</mat-hint>
    </mat-form-field>
  </div>
</mat-expansion-panel>
