<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<app-widget-state [state]="state()">
  <table class="policies-table">
    <tbody>
      <tr>
        <td i18n>Active Policies</td>
        <td>{{ policies().active.length }}</td>
      </tr>
      <tr>
        <td colspan="2">
          @for (name of policies().active; track name; let first = $first) {
            @if (!first) {
              <span class="separator">|</span>
            }
            <a [routerLink]="['/policies/details', name]">{{ name }}</a>
          }
        </td>
      </tr>
      <tr>
        <td i18n>Inactive Policies</td>
        <td>{{ policies().inactive.length }}</td>
      </tr>
      <tr>
        <td colspan="2">
          @for (name of policies().inactive; track name; let first = $first) {
            @if (!first) {
              <span class="separator">|</span>
            }
            <a [routerLink]="['/policies/details', name]">{{ name }}</a>
          }
        </td>
      </tr>
    </tbody>
  </table>
</app-widget-state>
