@use "../../../../../../styles" as styles;

// overwrite some properties of the global style
.action-selector-container {
  max-width: calc(0.5 * (100vw - var(--global-padding) * 5 - 48px));;
  min-width: 0;
}
