<mat-expansion-panel class="additional-conditions-panel">
  <mat-expansion-panel-header>
    <mat-panel-title> Additional Conditions </mat-panel-title>
  </mat-expansion-panel-header>

  @for (condition of additionalConditions(); track $index) {
    @if (editIndex() === $index) {
      <!-- Edit Row -->
      <div class="additional-condition-row">
        <div>
          <mat-select [(ngModel)]="conditionSection">
            @for (option of allSectionOptions; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-select>
        </div>
        <div>
          <input
            matInput
            placeholder="Key"
            [(ngModel)]="conditionKey" />
        </div>
        <div>
          <mat-select [(ngModel)]="conditionComparator">
            @for (comporatorOption of allComporatorOptions; track comporatorOption) {
              <mat-option [value]="comporatorOption">{{ comporatorOption }}</mat-option>
            }
          </mat-select>
        </div>
        <div>
          <input
            matInput
            placeholder="Value"
            [(ngModel)]="conditionValue" />
        </div>
        <div>
          <mat-checkbox [(ngModel)]="conditionActive">Negate</mat-checkbox>
        </div>
        <div>
          <mat-select [(ngModel)]="conditionHandleMissingData">
            @for (handleMissingDataOption of allHandleMissingDataOptions; track handleMissingDataOption) {
              <mat-option [value]="handleMissingDataOption">{{ handleMissingDataOption }}</mat-option>
            }
          </mat-select>
        </div>
        <div class="action-buttons">
          <button
            mat-icon-button
            (click)="saveEditedCondition()">
            <mat-icon>save</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="cancelEdit()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
    } @else {
      <!-- Display Row -->
      <div
        class="additional-condition-row hover-highlight"
        (click)="startEditCondition(condition, $index)">
        <div>{{ condition[0] }}</div>
        <div>{{ condition[1] }}</div>
        <div>{{ condition[2] }}</div>
        <div>{{ condition[3] }}</div>
        <div>{{ condition[4] ? "Yes" : "No" }}</div>
        <div>{{ condition[5] }}</div>
        <div class="action-buttons">
          <button
            mat-icon-button
            (click)="removeCondition($index); $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    }
  }

  <!-- Add New Condition Row -->
  <div class="additional-condition-row new-condition-row">
    <div>
      <mat-select
        [(ngModel)]="newConditionSection"
        placeholder="Section">
        @for (option of allSectionOptions; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </div>
    <div>
      <input
        matInput
        placeholder="Key"
        [(ngModel)]="newConditionKey" />
    </div>
    <div>
      <mat-select
        [(ngModel)]="newConditionComparator"
        placeholder="Comparator">
        @for (comporatorOption of allComporatorOptions; track comporatorOption) {
          <mat-option [value]="comporatorOption">{{ comporatorOption }}</mat-option>
        }
      </mat-select>
    </div>
    <div>
      <input
        matInput
        placeholder="Value"
        [(ngModel)]="newConditionValue" />
    </div>
    <div>
      <mat-checkbox [(ngModel)]="newConditionActive">Negate</mat-checkbox>
    </div>
    <div>
      <mat-select
        [(ngModel)]="newConditionHandleMissingData"
        placeholder="If Data Missing">
        @for (handleMissingDataOption of allHandleMissingDataOptions; track handleMissingDataOption) {
          <mat-option [value]="handleMissingDataOption">{{ handleMissingDataOption }}</mat-option>
        }
      </mat-select>
    </div>
    <button
      mat-icon-button
      class="action-buttons"
      (click)="saveNewCondition()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-expansion-panel>
