/**
 * (c) NetKnights GmbH 2026,  https://netknights.it
 *
 * This code is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 **/

@mixin host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@mixin stat-table($padding-block: var(--quarter-global-padding)) {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: $padding-block var(--global-padding);

    &:nth-child(2) {
      text-align: center;
      font-weight: 600;
    }
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }
}
