@use "styles";
@use "table";
@use "@angular/material" as mat;

.container-templates-layout {
  @include table.table-container-styles;
  @include table.base-table-structure(
    ".container-templates-table",
    ".container-templates-table-filter",
    ".container-templates-scroll-container"
  );
  display: flex;
  flex-direction: column;
  max-height: var(--max-height);
  gap: var(--global-gap);
  width: 1000px;

  th,
  td {
    padding: 0 var(--half-global-padding);
    text-align: left;
  }
  .table-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--half-global-gap);
    white-space: nowrap;
    flex-wrap: nowrap;
    > div {
      flex-shrink: 0;
    }
  }
  .container-templates-list-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--global-gap) / 4);
    overflow: auto;
  }

  .button-active {
    background-color: var(--mat-sys-primary-base-active);
    color: var(--mat-sys-on-primary);
  }
  .button-hover:hover:not(:disabled):not(.button-active) {
    background-color: var(--mat-sys-primary-base-hover);
    color: var(--mat-sys-on-primary);
    font-weight: 600;
    cursor: pointer;
  }

  .options-cell {
    padding: 0;
  }
}
