<app-dialog-wrapper
  title="New Container Template"
  i18n-title
  [showCancelButton]="true">
  <div class="flex-column">
    <mat-card class="default-template-card-row">
      <div class="template-name-container">
        <input
          matInput
          type="text"
          class="template-name-input"
          placeholder="Template Name"
          [ngModel]="newTemplate().name"
          (ngModelChange)="onNameChange($event)"
          (keydown)="$event.stopPropagation()" />
      </div>

      <mat-card-content>
        <mat-checkbox
          [checked]="newTemplate().default"
          (change)="onDefaultToggle()"
          (click)="$event.stopPropagation()"
          matTooltip="Set as default template"
          i18n-matTooltip="@@containerTemplate.setAsDefaultTooltip">
          <span i18n>Set as default template</span>
        </mat-checkbox>
      </mat-card-content>
    </mat-card>

    <div>
      <h3 i18n>Select Scope</h3>
      <app-selector-buttons
        [values]="containerTypes()"
        [initialValue]="newTemplate().container_type"
        [allowDeselect]="true"
        (onSelect)="onTypeChange($event)" />
    </div>
    <div class="template-type-select-container">
      <mat-select
        [ngModel]="newTemplate().container_type"
        (ngModelChange)="onTypeChange($event)"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
        placeholder="Container Type"
        i18n-placeholder>
        @for (type of containerTemplateService.availableContainerTypes(); track type) {
          <mat-option [value]="type">
            {{ type }}
          </mat-option>
        }
      </mat-select>
    </div>

    @if (newTemplate().container_type) {
      <app-container-template-add-token-chips
        [containerType]="newTemplate().container_type"
        (onAddToken)="onAddToken($event)" />
    }

    @if (options() && (options() | keyvalue).length > 0) {
      <h2>Options:</h2>
      <mat-list>
        @for (option of options() | keyvalue; track option.key) {
          <mat-list-item>
            <strong>{{ option.key }}:</strong> {{ option.value }}
          </mat-list-item>
        }
      </mat-list>
    }

    @if (tokens() && tokens().length > 0) {
      <div class="added-tokens-list">
        @for (token of tokens(); track $index) {
          <app-template-added-token-row
            [token]="token"
            [index]="$index"
            [isEditMode]="isEditMode"
            (onEditToken)="onEditToken($event, $index)"
            (onRemoveToken)="onDeleteToken($event)">
          </app-template-added-token-row>
        }
      </div>
    }
  </div>
</app-dialog-wrapper>
