@use "styles";
@use "table";
@use "../../container-templates.component.scss";
@use "@angular/material" as mat;

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
}

.default-template-card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mat-sys-surface-container-low) !important;
  padding: 0 16px;
  border-radius: var(--border-radius);
  min-height: 64px;

  .template-name-container {
    flex: 1;
    margin-right: 24px;
    align-content: center;

    .template-name-input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--mat-sys-outline-variant);
      border-radius: 0;
      box-sizing: border-box;
      font-size: 1rem;
      width: 100%;
      padding: var(--half-global-padding) 0;

      &:focus {
        outline: none;
        border-bottom-color: var(--mat-sys-primary);
      }
    }
  }

  mat-card-content {
    padding: 0 !important;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }

  mat-checkbox {
    white-space: nowrap;
  }
}

.template-type-select-container {
  display: flex;
  align-items: center;
  width: 100%;

  mat-select {
    width: 100%;
    max-width: 300px;
  }

  ::ng-deep .mat-mdc-select-trigger {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }
}

.template-actions {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.added-tokens-list {
  display: flex;
  flex-direction: column;
  gap: var(--half-global-gap);
}
