@use "../../../../../styles";

ul {
  column-count: 4;
  column-gap: 22px;
}

app-dialog-wrapper li {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}
