<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  #scrollContainer
  appScrollToTop
  aria-label="Token Enrollment"
  class="token-enrollment-container">
  <h3
    class="margin-8"
    i18n>
    Enroll a New Token
  </h3>
  <form (submit)="$event.preventDefault(); enrollToken()">
    <app-token-enrollment-type-selector
      [canReopenDialog]="canReopenEnrollmentDialog()"
      [formInvalid]="isFormInvalid()"
      [scrollContainer]="scrollContainer"
      (reopenDialog)="reopenEnrollmentDialog()" />
    <div class="responsive-margin-left-1310">
      <div class="width-948 margin-bottom-0">
        <p>{{ tokenTypeDescription() }}</p>
      </div>
      <h4 i18n>Token Configuration</h4>
      <app-enroll-token-type-switch [tokenTypeKey]="tokenService.selectedTokenType().key" />
      <mat-form-field
        class="input-width-xl margin-top-16">
        <mat-label i18n>Description</mat-label>
        <textarea
          [formField]="descriptionForm"
          i18n-placeholder
          matInput
          placeholder="Enter description"
          rows="3"></textarea>
        <mat-hint align="end">{{ description().length }} / {{ tokenService.maxDescriptionLength }}
        </mat-hint>
        @if (descriptionForm().errors().some(e => e.kind === 'required') && descriptionForm().touched()) {
          <mat-error i18n>
            Description is <strong>required</strong>.
          </mat-error>
        }
        @if (descriptionForm().errors().some(e => e.kind === 'maxlength') && descriptionForm().touched()) {
          <mat-error i18n>
            Description must not exceed {{ tokenService.maxDescriptionLength }} characters.
          </mat-error>
        }
      </mat-form-field>

      <div class="flex-row gap-16">
        @if (authService.actionAllowed("enrollpin")) {
          <app-enrollment-pin
            [setPinControl]="setPinForm"
            [repeatPinControl]="repeatPinForm" />
        }

        @if (authService.actionAllowed("container_list")) {
          <div class="flex-column">
            <h4 i18n>Add Token to a Container</h4>
            <mat-form-field class="input-width-l">
              <app-clearable-input
                (clearButtonClick)="selectedContainer.set(''); trackChange()"
                [showClearButton]="selectedContainer() !== ''">
                <input
                  [value]="selectedContainer()"
                  (input)="selectedContainer.set($any($event.target).value); trackChange()"
                  [matAutocomplete]="containerAuto"
                  matInput />
              </app-clearable-input>
              <mat-label i18n>Container Serial</mat-label>
              <mat-autocomplete
                #containerAuto="matAutocomplete"
                (optionSelected)="selectedContainer.set($event.option.value); trackChange()">
                @for (option of containerService.containersForTokenType(); track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>
        }
      </div>
    </div>
  </form>
</div>
