<!--
 (c) NetKnights GmbH 2025,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div
  #scrollContainer
  appScrollToTop
  aria-label="Token Enrollment"
  class="token-enrollment-container">
  <h3 class="margin-8">Enroll a New Token</h3>
  <form
    (ngSubmit)="enrollToken()"
    [formGroup]="formGroupSignal()">
    <div #stickySentinel></div>
    <div
      #stickyHeader
      class="sticky-header">
      <div class="sticky-controls ali-center">
        <mat-form-field
          class="input-width-xl type-select">
          <mat-select
            [(ngModel)]="tokenService.selectedTokenType"
            [ngModelOptions]="{ standalone: true }"
            [panelClass]="'multi-column-panel'"
            [value]="tokenService.selectedTokenType()">
            @for (type of tokenService.tokenTypeOptions(); track type) {
              <mat-option
                #tooltip="matTooltip"
                (click)="tooltip.hide()"
                [matTooltip]="type.info.split(':')[1]"
                [value]="type"
                class="select-option">
                {{ type.info.split(":")[0] }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="enroll-button-container margin-left-auto">
          <button
            [disabled]="formGroupSignal().invalid || !tokenService.selectedTokenType()"
            class="action-button-primary button-width-m"
            mat-stroked-button
            type="submit">
            <mat-icon>add_moderator</mat-icon>
            Enroll Token
          </button>
          <button
            (click)="reopenEnrollmentDialog()"
            [matTooltip]="'Reopen enrollment dialog'"
            [ngClass]="{ hidden: !canReopenEnrollmentDialog() }"
            mat-icon-button
            type="button">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="responsive-margin-left-1310">
      <div class="width-884 margin-bottom-0">
        <p>{{ tokenTypeDescription() }}</p>
      </div>
      <h4 i18n>Token Configuration</h4>
      <app-enroll-token-type-switch
        [tokenTypeKey]="tokenService.selectedTokenType().key"
        (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
        (enrollmentArgsGetterChange)="updateEnrollmentArgsGetter($event)"
        (onEnrollmentResponseChange)="updateOnEnrollmentResponse($event)"
        (reopenDialogChange)="updateReopenDialog($event)" />
      <mat-form-field
        class="input-width-xl margin-top-16">
        <mat-label i18n>Description</mat-label>
        <textarea
          [formControl]="descriptionControl"
          [maxlength]="80"
          matInput
          placeholder="Enter description"
          rows="3"></textarea>
        <mat-hint align="end">{{ descriptionControl.value.length }} / {{ tokenService.maxDescriptionLength }}
        </mat-hint>
      </mat-form-field>
      <div class="gap-16">
        @if (authService.actionAllowed("userlist")) {
          <div class="width-100">
            <h4 i18n>Assign Token to a User</h4>
            <app-user-assignment
              [required]="isUserRequired()"
              [selectedUserRealmControl]="selectedUserRealmControl"
              [showOnlyAddToRealm]="
                !['passkey', 'webauthn', 'tiqr', 'push'].includes(tokenService.selectedTokenType().key)
              "
              [userFilterControl]="userFilterControl"></app-user-assignment>
          </div>
        }
      </div>

      <div class="flex-row gap-16">
        @if (authService.actionAllowed("enrollpin")) {
          <app-enrollment-pin
            [setPinControl]="setPinControl"
            [repeatPinControl]="repeatPinControl"
            [formGroup]="formGroupSignal()" />
        }

        @if (authService.actionAllowed("container_list")) {
          <div class="flex-column">
            <h4 i18n>Add Token to a Container</h4>
            <mat-form-field class="input-width-l">
              <app-clearable-input
                (onClick)="selectedContainerControl.setValue('')"
                [showClearButton]="containerService.selectedContainer() !== ''">
                <input
                  [formControl]="selectedContainerControl"
                  [matAutocomplete]="containerAuto"
                  matInput />
              </app-clearable-input>
              <mat-label i18n>Container Serial</mat-label>
              <mat-autocomplete #containerAuto="matAutocomplete">
                @for (option of containerService.filteredContainerOptions(); track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>
        }
      </div>

      <div>
        <mat-accordion>
          <mat-expansion-panel class="expansion-panel margin-bottom-16">
            <mat-expansion-panel-header>
              <mat-panel-title i18n> Extended Attributes</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="expansion-well">
              <div class="flex-row gap-16">
                <mat-form-field class="date-picker input-width-l">
                  <mat-label i18n>Validity Start Date</mat-label>
                  <input
                    [formControl]="selectedStartDateControl"
                    [matDatepicker]="startPicker"
                    matInput
                    placeholder="2026-01-01" />
                  <mat-hint i18n>Date Format: YYYY-MM-DD</mat-hint>
                  <mat-datepicker-toggle
                    [for]="startPicker"
                    matIconSuffix></mat-datepicker-toggle>
                  <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="time-picker input-width-l">
                  <mat-label i18n>Validity Start Time</mat-label>
                  <input
                    [formControl]="selectedStartTimeControl"
                    matInput
                    max="23"
                    min="0"
                    type="time" />
                </mat-form-field>

                <mat-form-field class="zone-picker input-width-l">
                  <mat-label i18n>Timezone</mat-label>
                  <mat-select [formControl]="selectedTimezoneOffsetControl">
                    @for (option of timezoneOptions; track option) {
                      <mat-option [value]="option.value">{{ option.label }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="flex-row gap-16 margin-top-16">
                <mat-form-field class="date-picker input-width-l">
                  <mat-label i18n>Validity End Date</mat-label>
                  <input
                    [formControl]="selectedEndDateControl"
                    [matDatepicker]="endPicker"
                    matInput
                    placeholder="2027-01-01" />
                  <mat-hint i18n>Date Format: YYYY-MM-DD</mat-hint>
                  <mat-datepicker-toggle
                    [for]="endPicker"
                    matIconSuffix></mat-datepicker-toggle>
                  <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="time-picker input-width-l">
                  <mat-label i18n>Validity End Time</mat-label>
                  <input
                    [formControl]="selectedEndTimeControl"
                    matInput
                    max="23"
                    min="0"
                    type="time" />
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </form>
</div>
