<div
  appScrollToTop
  aria-label="Token Enrollment"
  class="token-enrollment-container"
  i18n-aria-label>
  <div
    [innerHTML]="preTopHtml$ | async"
    class="margin-top-1"></div>
  <h3
    class="margin-left-1"
    i18n>
    Token Enrollment
  </h3>
  <mat-form-field class="width-100">
    <mat-select
      [(ngModel)]="selectedTokenType"
      [panelClass]="'multi-column-panel'"
      [value]="selectedTokenType()">
      @for (type of tokenService.tokenTypeOptions(); track type) {
        <mat-option
          class="token-type-option type-option"
          [value]="type"
          i18n-matTooltip
          matTooltip="{{ type.info.split(':')[1] }}">
          {{ type.info.split(":")[0] }}
        </mat-option>
      }

      <button
        (click)="versioningService.openDocumentation('tokentypes')"
        class="card-button width-100"
        i18n
        mat-flat-button>
        <mat-icon>info_outline</mat-icon>
        Help About Tokentypes
      </button>
    </mat-select>
    <mat-hint
      class="token-type-hint"
      i18n>
      @if (selectedTokenType().info) {
        {{ selectedTokenType().info.split(":")[1] }}
      }
    </mat-hint>
  </mat-form-field>
  <form [formGroup]="formGroup">
    <div class="enroll-button-container">
      <button
        (click)="reopenEnrollmentDialog()"
        [disabled]="!canReopenEnrollmentDialog()"
        [matTooltip]="'Reopen enrollment dialog'"
        i18n-matTooltip
        mat-icon-button
        type="button">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button
        (click)="enrollToken()"
        [ngClass]="{
          'card-button-disabled': formGroup.invalid,
          'card-button': true
        }"
        i18n
        mat-flat-button>
        <mat-icon>add</mat-icon>
        <span i18n>Enroll</span>
        {{ selectedTokenType().key }}
        <span i18n>Token</span>
      </button>
    </div>
    @switch (selectedTokenType().key) {
      @case ("hotp") {
        <app-enroll-hotp
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("totp") {
        <app-enroll-totp
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("spass") {
        <app-enroll-spass
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("motp") {
        <app-enroll-motp
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("sshkey") {
        <app-enroll-sshkey
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("yubikey") {
        <app-enroll-yubikey
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("remote") {
        <app-enroll-remote
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("yubico") {
        <app-enroll-yubico
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("radius") {
        <app-enroll-radius
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("sms") {
        <app-enroll-sms
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("4eyes") {
        <app-enroll-foureyes
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("applspec") {
        <app-enroll-applspec
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("daypassword") {
        <app-enroll-daypassword
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("certificate") {
        <app-enroll-certificate
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("email") {
        <app-enroll-email
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("indexedsecret") {
        <app-enroll-indexedsecret
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("paper") {
        <app-enroll-paper
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("push") {
        <app-enroll-push
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("question") {
        <app-enroll-question
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("registration") {
        <app-enroll-registration
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("tan") {
        <app-enroll-tan
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("tiqr") {
        <app-enroll-tiqr
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("u2f") {
        <app-enroll-u2f
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("vasco") {
        <app-enroll-vasco
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("webauthn") {
        <app-enroll-webauthn
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
      @case ("passkey") {
        <app-enroll-passkey
          (additionalFormFieldsChange)="updateAdditionalFormFields($event)"
          (clickEnrollChange)="updateClickEnroll($event)" />
      }
    }
    <mat-form-field class="description-form">
      <mat-label i18n>Description</mat-label>
      <textarea
        [formControl]="descriptionControl"
        [maxlength]="80"
        i18n-placeholder
        matInput
        placeholder="Enter description"
        rows="3"></textarea>
    </mat-form-field>
    <div class="flex-row gap-1">
      <div class="flex-column width-100">
        <input
          style="display: none"
          type="text" />
        <input
          style="display: none"
          type="password" />
        <h4
          class="enroll-h4"
          i18n>
          Assign Token to a Container
        </h4>
        <mat-form-field class="width-50 input-height">
          <mat-label i18n>Enter Container</mat-label>
          <app-clearable-input
            (onClick)="containerInput.value = ''; selectedContainerControl.setValue(null)"
            [showClearButton]="containerService.selectedContainer() !== ''">
            <input
              #containerInput
              [formControl]="selectedContainerControl"
              [matAutocomplete]="containerAuto"
              matInput />
          </app-clearable-input>
          <mat-autocomplete #containerAuto="matAutocomplete">
            @for (option of containerService.filteredContainerOptions(); track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      @if (selectedTokenType().key !== "passkey") {
        <div class="flex-column user-pin-container">
          <h4
            i18n
            class="enroll-h4">
            Set PIN
          </h4>
          <div class="user-pin-input">
            <input
              [formControl]="setPinControl"
              [type]="'password'"
              class="input"
              i18n-placeholder
              placeholder="PIN" />
            <input
              [formControl]="repeatPinControl"
              [type]="'password'"
              class="input"
              i18n-placeholder
              placeholder="Repeat PIN" />
          </div>
          @if (formGroup.hasError("pinMismatch") &&
          (formGroup.get("setPin")?.touched || formGroup.get("repeatPin")?.touched)) {
            <mat-error
              i18n
              class="pin-error">
              PINs do not match.
            </mat-error>
          }
        </div>
      } @else {
        <div class="width-33"></div>
      }
    </div>
  </form>
  <div
    [innerHTML]="preBottomHtml$ | async"
    class="margin-bottom-1"></div>
</div>
