<div aria-label="Token Enrollment"
     class="token-enrollment-container">
  <h3 class="margin-left-1">Token Enrollment</h3>
  <mat-form-field class="select-token-type">
    <mat-select [(ngModel)]="selectedType"
                [panelClass]="'multi-column-panel'">
      @for (type of tokenTypesOptions; track type) {
        <mat-option class="token-type-option"
                    [value]="type">{{ type.info.split(':')[0] }}
        </mat-option>
      }
    </mat-select>
    <mat-hint class="token-type-hint">
      @if (selectedType()?.info) {
        {{ selectedType().info.split(':')[1] }}
      }
    </mat-hint>
  </mat-form-field>
  <div class="enroll-button-container">
    <button (click)="this.dialog.open(TokenEnrollmentDialogComponent, {
          data: {
            response: this.response(),
            tokenSerial: this.tokenSerial,
            selectedContent: this.selectedContent

          },
        });"
            [disabled]="this.response() === null"
            mat-icon-button>
      <mat-icon>qr_code_scanner</mat-icon>
    </button>
    <button (click)="enrollToken()"
            [disabled]="motpPin() !== repeatMotpPin() || setPinValue() !== repeatPinValue()"
            [ngClass]="{'disabled-button': motpPin() !== repeatMotpPin() || setPinValue() !== repeatPinValue(),
       'card-button': true}"
            mat-flat-button>
      <mat-icon>add</mat-icon>
      Enroll {{ selectedType().key }} token
    </button>
  </div>
  @switch (selectedType().key) {
    @case ("hotp") {
      <app-enroll-hotp [generateOnServer]="generateOnServer"
                       [otpLength]="otpLength"
                       [otpKey]="otpKey"
                       [hashAlgorithm]="hashAlgorithm"
                       [description]="description" />
    }
    @case ("totp") {
      <app-enroll-totp [generateOnServer]="generateOnServer"
                       [otpLength]="otpLength"
                       [otpKey]="otpKey"
                       [hashAlgorithm]="hashAlgorithm"
                       [description]="description"
                       [timeStep]="timeStep" />
    }
    @case ("spass") {
      <app-enroll-spass [description]="description" />
    }
    @case ("motp") {
      <app-enroll-motp [motpPin]="motpPin"
                       [repeatMotpPin]="repeatMotpPin"
                       [generateOnServer]="generateOnServer"
                       [description]="description" />
    }
    @case ("sshkey") {
      <app-enroll-sshkey [description]="description"
                         [sshPublicKey]="sshPublicKey" />
    }
    @case ("yubikey") {
      <app-enroll-yubikey [otpKey]="otpKey"
                          [otpLength]="otpLength"
                          [description]="description" />
    }
    @case ("remote") {
      <app-enroll-remote [remoteSerial]="remoteSerial"
                         [remoteServer]="remoteServer"
                         [remoteRealm]="remoteRealm"
                         [remoteUser]="remoteUser"
                         [remoteResolver]="remoteResolver"
                         [checkPinLocally]="checkPinLocally"
                         [description]="description" />
    }
    @case ("yubico") {
      <app-enroll-yubico [yubikeyIdentifier]="yubikeyIdentifier"
                         [description]="description" />
    }
    @case ("radius") {
      <app-enroll-radius [checkPinLocally]="checkPinLocally"
                         [radiusServerConfiguration]="radiusServerConfiguration"
                         [radiusUser]="radiusUser"
                         [description]="description" />
    }
    @case ("sms") {
      <app-enroll-sms [phoneNumber]="phoneNumber"
                      [smsGateway]="smsGateway"
                      [description]="description"
                      [readNumberDynamically]="readNumberDynamically" />
    }
    @case ("4eyes") {
      <app-enroll-foureyes [seperator]="seperator"
                           [description]="description"
                           [requiredTokensOfRealm]="requiredTokenOfRealm" />
    }
    @case ("applspec") {
      <app-enroll-asp [serviceId]="serviceId"
                      [generateOnServer]="generateOnServer"
                      [otpKey]="otpKey"
                      [description]="description" />
    }
    @case ("daypassword") {
      <app-enroll-daypassword [otpKey]="otpKey"
                              [otpLength]="otpLength"
                              [hashAlgorithm]="hashAlgorithm"
                              [description]="description"
                              [timeStep]="timeStep"/>
    }
    @case ("certificate") {
      <app-enroll-certificate [caConnector]="caConnector"
                       [certTemplate]="certTemplate"
                       [pem]="pem"
                       [description]="description" />
    }
    @case ("email") {
      <app-enroll-email [emailAddress]="emailAddress"
                        [readEmailDynamically]="readEmailDynamically"
                        [description]="description" />
    }
  }
  <h4 class="enroll-h4">Assign token to user</h4>
  <div class="assign-user-container">
    <input style="display:none"
           type="text" />

    <input style="display:none"
           type="password" />

    <mat-form-field class="enroll-input-form">
      <mat-label>Select Realm of User</mat-label>
      <mat-select [(ngModel)]="selectedUserRealm">
        @for (option of realmOptions(); track option; ) {
          <mat-option value="{{ option }}">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="enroll-input-form">
      <mat-label>Enter User</mat-label>
      <input [(ngModel)]="selectedUsername"
             [matAutocomplete]="userAuto"
             matInput>
      <mat-autocomplete #userAuto="matAutocomplete">
        @for (option of filteredUserOptions(); track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <div class="flex-column">
      <h5>Pin / Password</h5>
      <div class="user-pin-input">
        <input [(ngModel)]="setPinValue"
               [type]="'password'"
               class="input"
               placeholder="Pin">

        <input [(ngModel)]="repeatPinValue"
               [type]="'password'"
               class="input"
               placeholder="Repeat Pin">
      </div>
    </div>
  </div>

  <h4 class="enroll-h4">Assign token to a container</h4>
  <mat-form-field class="enroll-input-form">
    <mat-label>Enter Container</mat-label>
    <input [(ngModel)]="selectedContainer"
           [matAutocomplete]="containerAuto"
           matInput>
    <mat-autocomplete #containerAuto="matAutocomplete">
      @for (option of filteredContainerOptions(); track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-accordion>
    <mat-expansion-panel class="expension-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Extended Attributes</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex-row">
        <mat-form-field class="date-picker">
          <mat-label>Choose a start date</mat-label>
          <input [(ngModel)]="selectedStartDate"
                 [matDatepicker]="startPicker"
                 matInput
                 placeholder="Start date">
          <mat-hint>Date format: YYYY-MM-DD</mat-hint>
          <mat-datepicker-toggle [for]="startPicker"
                                 matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="time-picker">
          <mat-label>Enter start time</mat-label>
          <input [(ngModel)]="selectedStartTime"
                 matInput
                 max="23"
                 min="0"
                 placeholder="HH"
                 type="time" />
        </mat-form-field>

        <mat-form-field class="zone-picker">
          <mat-label>Timezone Offset</mat-label>
          <mat-select [(ngModel)]="selectedTimezoneOffset">
            @for (option of timezoneOptions; track option) {
              <mat-option [value]="option.value">{{ option.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex-row">
        <mat-form-field class="date-picker">
          <mat-label>Choose a end date</mat-label>
          <input [(ngModel)]="selectedEndDate"
                 [matDatepicker]="endPicker"
                 matInput
                 placeholder="End date">
          <mat-hint>Date format: YYYY-MM-DD</mat-hint>
          <mat-datepicker-toggle [for]="endPicker"
                                 matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="time-picker">
          <mat-label>Enter end time</mat-label>
          <input [(ngModel)]="selectedEndTime"
                 matInput
                 max="23"
                 min="0"
                 type="time" />
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
