@use "styles";
@use "table";
@use "@angular/material" as mat;

.token-enrollment-container {
  @include table.table-container-styles;
  max-height: var(--max-height);
  overflow: auto;
  display: grid;
}
