@use "../../../../../styles";
@use "@angular/material";

.container-templates-table {
  @include styles.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  width: 100%;
}

.container-templates-list-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 4);
  overflow: auto;
}

.button-active {
  background-color: var(--mat-sys-primary-base-active);
  color: var(--mat-sys-on-primary);
}
.button-hover:hover:not(:disabled):not(.button-active) {
  background-color: var(--mat-sys-primary-base-hover);
  color: var(--mat-sys-on-primary);
  font-weight: 600;
  cursor: pointer;
}
.header-cell-content {
  display: flex;
  align-items: center;
  gap: calc(var(--global-gap) / 4);
}
