@use "styles";
@use "table";
@use "@angular/material" as mat;

.sms-gateways-container {
  @include styles.main-component-style;
  @include table.base-table-structure(".sms-gateways-table", ".table-filter", ".table-scroll-container");
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}

.clickable {
  cursor: pointer;
  color: var(--mat-sys-primary);
  text-decoration: underline;
}
