<div class="flex-column">
  <h4 class="enroll-h4">Token Configuration</h4>
  <mat-checkbox
    [formControl]="generateOnServerControl"
    class="server-checkbox"
    i18n>
    Generate the static password on the Server
  </mat-checkbox>

  <div class="flex-row gap-1">
    @if (!authService.checkForceServerGenerateOTPKey("applspec")) {
      <mat-form-field class="serviceid-input-form input-height">
        <mat-label i18n>Application Specific Password</mat-label>
        <input
          matInput
          [formControl]="otpKeyFormControl"
          i18n-placeholder
          placeholder="Enter static password" />
      </mat-form-field>
    }

    <mat-form-field class="width-64 input-height">
      <mat-label i18n>Service ID</mat-label>
      <mat-select
        [errorStateMatcher]="applspecErrorStateMatcher"
        [formControl]="serviceIdControl"
        [value]="serviceIdControl.value"
        required>
        @for (option of serviceIdOptions(); track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
      <mat-error i18n>Service ID is <strong>required</strong></mat-error>
    </mat-form-field>
  </div>
</div>
