@use "styles";
@use "table";

ul {
  column-count: 3;
  column-gap: 32px;
}

app-dialog-wrapper li {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
}
