<div aria-label="Filter Table" class="filter-table">
  <div class="filter-paginator-container">
    <mat-form-field class="token-table-filter" subscriptSizing="dynamic">
      <mat-label>Enter Filter</mat-label>
      <input
        #input
        (keyup)="handleFilterInput($event)"
        [value]="filterValue"
        aria-label="Filter Input"
        matInput
        placeholder="Example query: 'type: hotp userid: 1000'" />
    </mat-form-field>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="numItems"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      aria-label="Select page of tokens"
      showFirstLastButtons></mat-paginator>
  </div>
  <div class="filter-keyword-container">
    <div class="filter-keyword-title">
      <mat-icon class="filter-icon">filter_alt</mat-icon>
      Filter by:&nbsp;
    </div>
    @for (
      filter of showAdvancedFilter() ? filters : basicFilters;
      track filter
    ) {
      <button
        mat-fab
        extended
        (click)="toggleKeyword(filter, input)"
        class="keyword-button">
        <mat-icon
          class="keyword-button-icon"
          [ngClass]="
            {
              change_circle: 'change-keyword',
              remove_circle: 'remove-keyword',
              add_circle: 'add-keyword',
            }[filter.getIconName(input.value)]
          ">
          {{ filter.getIconName(input.value) }}
        </mat-icon>
        {{ filter.label }}
      </button>
    }
    @if (advancedFilters.length !== 0) {
      <button
        (click)="showAdvancedFilter.set(!showAdvancedFilter())"
        class="more-keyword-button"
        extended
        mat-fab>
        <mat-icon class="keyword-button-icon">
          {{ showAdvancedFilter() ? "remove" : "add" }}
        </mat-icon>
      </button>
    }
  </div>
  <table
    (matSortChange)="handleSortEvent()"
    [dataSource]="dataSource()"
    aria-label="Token Data Table"
    class="token-table"
    mat-table
    matSort>
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.key">
        <th
          *matHeaderCellDef
          attr.aria-label="{{ column.label }} Header"
          mat-header-cell
          mat-sort-header>
          {{ column.label }}
        </th>
        <td
          *matCellDef="let element"
          attr.aria-label="{{ column.label }} Cell"
          mat-cell
          [ngClass]="{ 'width-18': column.key === 'description' }">
          <ng-container>
            <div [ngClass]="column.getNgClass(element)">
              @switch (column.type) {
                @case ("OnClickTableColumn".toString()) {
                  @for (
                    item of column.getItems(element);
                    track item;
                    let idx = $index
                  ) {
                    <a
                      attr.aria-label="{{ column.label }} Link"
                      (click)="handleOnClick(element, column)">
                      {{ item }}</a
                    ><br style="margin-top: 3px" />
                  }
                }
                @case ("RouterTableColumn".toString()) {
                  @for (item of column.getItems(element); track item) {
                    <a attr.aria-label="{{ column.label }} Link" href="#">
                      {{ item }} </a
                    ><br style="margin-top: 3px" />
                  }
                }
                @default {
                  @for (
                    item of column.getItems(element);
                    track item;
                    let idx = $index
                  ) {
                    {{ item }}
                    <br style="margin-top: 3px" />
                  }
                }
              }
            </div>
          </ng-container>
        </td>
      </ng-container>
    }

    <tr
      *matHeaderRowDef="displayedColumns"
      aria-label="Header Row"
      mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: displayedColumns"
      aria-label="Data Row"
      mat-row></tr>
    <tr *matNoDataRow aria-label="No Data Row">
      <td [attr.colspan]="displayedColumns.length" aria-label="No Data Cell">
        No data matching the filter.
      </td>
    </tr>
  </table>
</div>
