<div aria-label="Filter Table" class="filter-table">
  <div class="filter-paginator-container">
    <mat-form-field class="token-table-filter" subscriptSizing="dynamic">
      <mat-label>Enter Filter</mat-label>
      <input
        #input
        (keyup)="handleFilterInput($event)"
        [value]="filterValue"
        aria-label="Filter Input"
        matInput
        placeholder="Example query: 'type: hotp userid: 1000'" />
    </mat-form-field>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="numItems"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      aria-label="Select page of tokens"
      showFirstLastButtons></mat-paginator>
  </div>
  @if (basicFilters.length + advancedFilters.length > 0) {
    <div class="filter-keyword-container">
      <div class="filter-keyword-title">
        <mat-icon class="filter-icon">filter_alt</mat-icon>
        Filter by:&nbsp;
      </div>
      @for (filter of basicFilters; track basicFilters) {
        <button
          mat-fab
          extended
          (click)="toggleKeyword(filter, input)"
          class="keyword-button">
          <mat-icon
            class="keyword-button-icon"
            [ngClass]="
              {
                change_circle: 'change-keyword',
                remove_circle: 'remove-keyword',
                add_circle: 'add-keyword',
              }[filter.getIconName(input.value)]
            ">
            {{ filter.getIconName(input.value) }}
          </mat-icon>
          {{ filter.label }}
        </button>
      }
      @if (advancedFilters.length !== 0) {
        <button
          (click)="showAdvancedFilter.set(!showAdvancedFilter())"
          class="more-keyword-button"
          extended
          mat-fab>
          <mat-icon class="keyword-button-icon">
            {{ showAdvancedFilter() ? "remove" : "add" }}
          </mat-icon>
        </button>
        @for (
          filter of showAdvancedFilter() ? advancedFilters : [];
          track showAdvancedFilter() ? advancedFilters : []
        ) {
          <button
            mat-fab
            extended
            (click)="toggleKeyword(filter, input)"
            class="keyword-button">
            <mat-icon
              class="keyword-button-icon"
              [ngClass]="
                {
                  change_circle: 'change-keyword',
                  remove_circle: 'remove-keyword',
                  add_circle: 'add-keyword',
                }[filter.getIconName(input.value)]
              ">
              {{ filter.getIconName(input.value) }}
            </mat-icon>
            {{ filter.label }}
          </button>
        }
      }
    </div>
  }
  <table
    (matSortChange)="handleSortEvent()"
    [dataSource]="dataSource()"
    aria-label="Token Data Table"
    class="token-table"
    mat-table
    matSort>
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.key">
        <th
          *matHeaderCellDef
          attr.aria-label="{{ column.label }} Header"
          mat-header-cell
          mat-sort-header>
          {{ column.label }}
        </th>
        <td
          *matCellDef="let element"
          attr.aria-label="{{ column.label }} Cell"
          mat-cell
          [ngClass]="{
            'width-18': column.key === 'description',
          }">
          <div
            class="table-scrollable-container"
            [ngClass]="{
              'td-start': column.align === 'start',
              'td-end': column.align === 'end',
              'td-left': column.align === 'left',
              'td-right': column.align === 'right',
              'td-center': column.align === 'center',
              'td-justify': column.align === 'justify',
              'td-match-parent': column.align === 'match-parent',
            }">
            @switch (column.type) {
              @case ("OnClickTableColumn".toString()) {
                @for (
                  item of column.getItems(element);
                  track item;
                  let idx = $index
                ) {
                  <div class="asdasd">
                    <a
                      [ngClass]="column.getNgClass(element)"
                      attr.aria-label="{{ column.label }} Link"
                      (click)="handleOnClick(element, column)">
                      {{ item }}</a
                    >
                    @if (column.isCopyable) {
                      <button class="copy-button" [cdkCopyToClipboard]="item">
                        <mat-icon class="copy-icon">content_copy</mat-icon>
                      </button>
                    }
                  </div>
                }
              }
              @case ("RouterTableColumn".toString()) {
                @for (item of column.getItems(element); track item) {
                  <div class="overflow-wrap: normal">
                    <a
                      [ngClass]="column.getNgClass(element)"
                      attr.aria-label="{{ column.label }} Link"
                      href="column.getLink(element)">
                      {{ item }}
                    </a>
                    @if (column.isCopyable) {
                      <button class="copy-button" [cdkCopyToClipboard]="item">
                        <mat-icon class="copy-icon">content_copy</mat-icon>
                      </button>
                    }
                  </div>
                }
              }
              @default {
                @for (
                  item of column.getItems(element);
                  track item;
                  let idx = $index
                ) {
                  {{ item }}
                  @if (column.isCopyable) {
                    <button
                      [ngClass]="column.getNgClass(element)"
                      class="copy-button"
                      [cdkCopyToClipboard]="item">
                      <mat-icon class="copy-icon">content_copy</mat-icon>
                    </button>
                  }
                }
              }
            }
          </div>
        </td>
      </ng-container>
    }

    <tr
      *matHeaderRowDef="displayedColumns"
      aria-label="Header Row"
      mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: displayedColumns"
      aria-label="Data Row"
      mat-row></tr>
    <tr *matNoDataRow aria-label="No Data Row">
      <td [attr.colspan]="displayedColumns.length" aria-label="No Data Cell">
        No data matching the filter.
      </td>
    </tr>
  </table>
</div>
