@use "../../../../../../styles/index";

.hint {
  display: block;
  font-family: var(--mat-form-field-subscript-text-font, var(--mat-sys-body-small-font));
  font-size: var(--mat-form-field-subscript-text-size, var(--mat-sys-body-small-size));
  font-weight: var(--mat-form-field-subscript-text-weight, var(--mat-sys-body-small-weight));
  color: var(--mat-sys-primary);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  line-height: var(--mat-form-field-subscript-text-line-height, var(--mat-sys-body-small-line-height));
  letter-spacing: var(--mat-form-field-subscript-text-tracking, var(--mat-sys-body-small-tracking));
}