@use "styles";
@use "buttons";
@use "@angular/material";

.policy-action-item {
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: var(--mat-sys-level1);
  display: flex;
  gap: var(--global-gap);
  font-weight: 500;
  justify-content: space-between;
  margin: var(--half-global-padding) 0;
  padding: 0 var(--three-quarters-global-padding);
  background-color: var(--mat-sys-primary-container);
}

.detail-label {
  flex: 1 0 0;
}

.detail-description {
  padding: var(--half-global-padding) 0;
  flex: 3 0 0;
}

.detail-input {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;

  .full-width {
    width: 100%;
  }
  .half-width {
    width: 50%;
  }
}

.add-action-button {
  &:focus-visible {
    outline: 1px solid var(--mat-sys-primary-light);
    outline-offset: 1px;
    box-shadow: 0 0 0 1px var(--mat-sys-surface);
    border-radius: var(--border-radius);
  }
}

.action-value-input,
.action-value-textarea {
  background-color: var(--mat-sys-surface);
  border: 1px solid var(--mat-sys-outline);
  border-radius: var(--border-radius);
  padding: 8px;
  width: 100%;
  color: var(--mat-sys-on-surface);
  font-family: inherit;
  box-sizing: border-box;
}
