<div
  aria-label="Policies Layout"
  class="policies-layout">
  <data class="colum"></data>
  This is the expansion title
  <mat-expansion-panel>
    <mat-panel-title> This is the expansion title </mat-panel-title>
    <mat-panel-description> This is a summary of the content </mat-panel-description></mat-expansion-panel
  >
  <mat-expansion-panel>
    <mat-panel-title> This is the expansion title </mat-panel-title>
    <mat-panel-description> This is a summary of the content </mat-panel-description></mat-expansion-panel
  >
  <mat-expansion-panel>
    <mat-panel-title> This is the expansion title </mat-panel-title>
    <mat-panel-description> This is a summary of the content </mat-panel-description></mat-expansion-panel
  >
</div>
