@use "../../../styles" as styles;
@use "@angular/material" as mat;

.policies-layout {
  @include styles.table-container-styles;
  @include styles.base-table-structure(".token-table", ".token-table-filter", ".table-scroll-container");
  display: flex;
  flex-direction: column;
  max-height: var(--max-height);
  width: 1000px;

  ::ng-deep mat-expansion-panel.mat-expansion-panel-header {
    padding: var(--half-global-padding) var(--three-quarters-global-padding) !important;
    height: 1rem;
  }

  ::ng-deep mat-expansion-panel.mat-expansion-panel-spacing {
    margin: 0;
  }

  ::ng-deep .mat-accordion .mat-expansion-panel:last-of-type .mat-expansion-panel-header {
    height: 1rem;
    padding: var(--global-padding);
  }
}
.full-width {
  width: 100%;
}
