<div aria-label="Token Layout" class="token-grid">
  <mat-grid-list cols="36" rowHeight="10vh">
    <mat-grid-tile [colspan]="1" [rowspan]="8"></mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="6">
      <div class="tile-content">
        <app-token-card
          (tabChange)="onTabChange($event)"
          [selectedTabIndex]="selectedTabIndex">
        </app-token-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="26" [rowspan]="8">
      <div *ngIf="selectedTabIndex === 0" class="tile-content">
        <main>
          <app-token-table></app-token-table>
        </main>
      </div>
      <div *ngIf="selectedTabIndex === 1" class="tile-content">
        <main>
          <app-container-table></app-container-table>
        </main>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="8"></mat-grid-tile>
    <mat-grid-tile [colspan]="36" [rowspan]="1"></mat-grid-tile>
  </mat-grid-list>
</div>
