<div aria-label="Token Layout" class="token-grid">
  <mat-grid-list cols="4" rowHeight="90vh">
    <mat-grid-tile [colspan]="1">
      <div class="tile-content">
        <app-token-card
          (tabChange)="onTabChange($event)"
          [selectedTabIndex]="selectedTabIndex"
          [tokenIsSelected]="tokenIsSelected">
        </app-token-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
      <div class="tile-content">
        <main>
          @if (selectedTabIndex === 0) {
            @if (!tokenIsSelected()) {
              <app-token-table [serial]="serial" [tokenIsSelected]="tokenIsSelected"></app-token-table>
            } @else {
              <app-token-details [serial]="serial"></app-token-details>
            }
          } @else {
            <div class="tile-content">
              <main>
                <app-container-table></app-container-table>
              </main>
            </div>
          }
        </main>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
