<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
<app-table-actions
  [actions]="actions()"
  layout="roomy">
  <mat-form-field
    class="input-width-l"
    subscriptSizing="dynamic">
    <mat-label i18n="@@user.selectRealm">Select Realm</mat-label>
    <mat-select
      (selectionChange)="userService.selectedUserRealm.set($event.value)"
      [value]="userService.selectedUserRealm()">
      @for (option of realmService.realmOptions(); track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</app-table-actions>

<mat-menu #realmMenu="matMenu">
  @for (option of realmService.realmOptions(); track option) {
    <button
      (click)="userService.selectedUserRealm.set(option)"
      mat-menu-item>
      <mat-icon>{{
        option === userService.selectedUserRealm() ? "radio_button_checked" : "radio_button_unchecked"
      }}</mat-icon>
      <span>{{ option }}</span>
    </button>
  }
</mat-menu>
