.selected-actions-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--global-gap) / 2);
  min-width: 0;
}

.action-card {
  padding: var(--half-global-padding) var(--global-padding);
  border-radius: var(--border-radius);
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  box-shadow: var(--mat-sys-level2);
}

.action-card-editmode:hover {
  background-color: var(--mat-sys-primary-light);
  color: var(--mat-sys-on-primary) !important;
  --mdc-icon-button-icon-color: currentColor;
  cursor: pointer;
}

.action-card-selected {
  background-color: var(--mat-sys-primary-base);
  color: var(--mat-sys-on-primary) !important;
  --mdc-icon-button-icon-color: currentColor;
}

.action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-row:not(:last-child) {
  padding-bottom: var(--half-global-padding);
}

.action-row:not(:first-child) {
  padding-top: var(--half-global-padding);
}

.action-label {
  font-weight: 500;
}

.action-value {
  text-align: right;
  flex-grow: 1;
}

.gap-div-8px {
  width: 8px;
  height: 8px;
}

.action-button {
  flex-shrink: 0;
  margin: auto -6px;
  --mat-icon-button-state-layer-color: currentColor;
}
.mat-mdc-button-ripple {
  top: 1px;
  left: 1px;
  width: 36px;
  height: 36px;
}
