<div class="selected-actions-container">
  @for (action of actions(); track action.name) {
    <div
      class="action-card"
      [class.action-card-selected]="policyService.selectedAction()?.name === action.name"
      [class.action-card-editmode]="editModeEnabled() && !isBooleanAction(action.name)"
      (click)="onActionClick(action)">
      <div class="action-row">
        <span class="action-label">{{ action.name }}</span>
        @if (isBooleanAction(action.name)) {
          @if (editModeEnabled()) {
            <mat-slide-toggle
              class="action-value"
              [checked]="action.value"
              (change)="onToggleChange(action.name, $event.checked)">
            </mat-slide-toggle>
          } @else {
            <mat-icon class="action-value">
              {{ parseBooleanValue(action.value) ? "check" : "close" }}
            </mat-icon>
          }
        } @else {
          <span class="action-value">{{ action.value }}</span>
        }
        @if (editModeEnabled()) {
          <div class="gap-div-8px"></div>
          <button
            mat-icon-button
            class="action-button"
            (click)="policyService.removeActionFromSelectedPolicy(action.name)">
            <mat-icon>delete</mat-icon>
          </button>
        }
      </div>
    </div>
  }
</div>
