<div class="well">
    <div class="row">  <!-- upper row -->
        <div class="col-lg-12" ui-view class="slide panel">
           <span ng-repeat="(source, feed) in rss">
               <h1>{{ source }}</h1>
               <span ng-repeat="item in feed">
                   <h3>{{ item.title }}</h3>
                   <p>{{ item.pub_date}}</p>
                   <p><a href="{{ item.link }}" target="news_window"><translate>Read more in new window...</translate></a></p>
                   <uib-accordion close-others="false">
                         <div uib-accordion-group
                                 class="panel-default">
                                <uib-accordion-heading>
                                    <translate>Summary</translate>
                                </uib-accordion-heading>
                                <!-- <p>{{ item.summary  }}</p> -->
                                <!-- do we want to display the HTML in safe way? -->
                                <p ng-bind-html="item.summary"></p>
                         </div>
                   </uib-accordion>
               </span>
            </span>
           </div>
       </div>
</div>


