.description-header {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0;
}

.action-priority-container {
  background-color: var(--mat-sys-surface-container);
  border-radius: var(--quarter-global-padding);
  box-shadow: var(--mat-sys-level2);
  color: var(--mat-sys-on-surface);
  display: flex;
  flex-direction: row;
  gap: var(--global-gap);
  min-width: 0;
  padding: var(--three-quarters-global-padding);
}

.description-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  padding: var(--half-global-padding) 0;
  resize: vertical;
  width: 100%;
}
