.description-header {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0;
}

.action-detail-column {
  background-color: var(--mat-sys-surface);
  border-radius: 4px;
  box-shadow: var(--mat-sys-level2);
  color: var(--mat-sys-on-surface);
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 0;
  padding: 12px;
}

.description-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 8px 0;
  resize: vertical;
  width: 100%;
  // min-height: 80px;
}