<div class="action-description-container">
  @if (policyService.selectedPolicy()?.description || this.policyService.viewMode() !== "view") {
    <div
      i18n
      class="description-header">
      Description
    </div>
    @if (this.policyService.viewMode() === "view") {
      <div class="description-text">
        {{ policyService.selectedPolicy()?.description }}
      </div>
    } @else {
      <textarea
        class="description-textarea"
        [ngModel]="policyService.selectedPolicy()?.description"
        (ngModelChange)="updatePolicyDescription($event)"
        placeholder="(optional) Enter a description for this policy..."
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="6"></textarea>
    }
  }
</div>
