name: codespell
on: [pull_request]

permissions: {}

jobs:
  reviewdog-codespell:
    permissions:
      checks: write
      contents: read
      pull-requests: write
    name: reviewdog / codespell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install codespell
        run: |
          python -m pip install -U codespell
      - name: Setup reviewdog
        uses: reviewdog/action-setup@d8edfce3dd5e1ec6978745e801f9c50b5ef80252 # v1.4.0
      - name: Run reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          codespell -q 3 -S $(paste -s -d, .codespell_skip) $(test -e .codespell_ignore && echo "-I .codespell_ignore") . \
          | reviewdog -efm="%f:%l: %m" -name="rd-codespell" -reporter=github-pr-review -level=info
