# This workflow will create python packages when the master branch is tagged

name: Python Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  build-dist:
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    name: Build Python sdist and wheel
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        submodules: "recursive"
        persist-credentials: false
    - run: mkdir -p dist
    - name: Set up Python 3.10
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: "3.12"
    - name: Install build environment
      run: >-
        python -m pip install build --user
    - name: Build a binary wheel and a source tarball
      run: >-
        python -m build --sdist --wheel --outdir dist/
    - name: Upload packages to artifacts
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        path: dist/*
    - name: Create GitHub pre-release
      id: gh_pre_release
      uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8
      if: contains(github.ref_name, 'dev')
      with:
        files: dist/*
        prerelease: True
    - name: Create GitHub release draft
      uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8
      if: steps.gh_pre_release.conclusion == 'skipped'
      with:
        files: dist/*
        draft: True
