# SPDX-FileCopyrightText: (C) 2014 NetKnights GmbH <https://netknights.it>
# SPDX-License-Identifier: CC0-1.0
#
# This workflow will create python packages when the master branch is tagged

name: Python Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  build-webui:
    name: Build new WebUI artifacts
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    # Build the new WebUI using node.js
    - name: Set up Node.js for building the new WebUI
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: lts/*  # Use the latest LTS-release
        package-manager-cache: false  # Disable cache for release builds

    - name: Install Node.js dependencies
      run: npm ci
      working-directory: ./privacyidea/static_new
    - name: Build the new WebUI
      run: npm run build -- --configuration production
      working-directory: ./privacyidea/static_new
    - name: Upload WebUI build artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: webui-artifact
        path: ./privacyidea/static_new/dist
        retention-days: 1

  build-dist:
    name: Build Python sdist and wheel
    permissions:
      contents: write  # for softprops/action-gh-release to create GitHub release
    needs: build-webui
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    # Get the new WebUI from the build artifacts
    - name: Get new WebUI build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: webui-artifact
        path: ./privacyidea/static_new/dist
    - name: List downloaded artifact
      run: ls -R ./privacyidea/static_new/dist
    - run: mkdir -p dist
    - name: Set up Python 3.13
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: "3.13"
    - name: Install build environment
      run: >-
        python -m pip install build --user
    - name: Build a binary wheel and a source tarball
      run: >-
        python -m build --sdist --wheel --outdir dist/
    - name: Upload packages to artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: dist/*
    - name: Create GitHub pre-release
      id: gh_pre_release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      if: contains(github.ref_name, 'dev')
      with:
        files: dist/*
        prerelease: True
    - name: Create GitHub release draft
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      if: steps.gh_pre_release.conclusion == 'skipped'
      with:
        files: dist/*
        draft: True
