@use "styles";
@use "table";

.token-get-serial {
  @include table.table-container-styles;

  max-height: var(--max-height);
  width: 56rem;
  overflow: auto;
  display: grid;
}

.token-get-serial-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
