@import "../../../../styles/styles";

.token-get-serial {
  @include table-container-styles;
  margin-left: 1rem;
  overflow: auto;
}

mat-form-field {
  width: 100%;
}

.token-get-serial-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
