<div
  appScrollToTop
  aria-label="Token Get Serial"
  class="token-get-serial"
  i18n-aria-label>
  <h3
    class="margin-left-1"
    i18n>
    Get Serial Number
  </h3>
  <p
    class="margin-left-1"
    i18n>
    By entering an OTP value you can get the serial number of the token. You can also enter additional optional
    parameters, to narrow down the search for the token. So you can only search within certain token types or in
    assigned or unassigned tokens.
  </p>
  <div class="flex-row gap-1">
    <mat-form-field class="width-66">
      <mat-label i18n>OTP Value</mat-label>
      <input
        #otpValueInput
        [(ngModel)]="otpValue"
        [disabled]="currentStep() !== 'init'"
        i18n-placeholder
        id="otpValue"
        matInput
        name="otpValue"
        placeholder="Enter some OTP value"
        required />
      <mat-error i18n>OTP value is <strong>required</strong></mat-error>
    </mat-form-field>
    <button
      (click)="onClickRunSearch()"
      [disabled]="otpValue() === ''"
      [ngClass]="{ 'card-button-disabled': otpValue() === '' }"
      class="card-button"
      i18n
      mat-flat-button>
      <mat-icon>{{ currentStep() !== "searching" ? "play_arrow" : "stop" }}</mat-icon>
      {{ currentStep() !== "searching" ? "Run" : "Stop" }}
      <span>Search</span>
    </button>
  </div>
  <h4
    class="enroll-h4"
    i18n>
    Search Configuration
  </h4>
  <mat-form-field class="width-66">
    <mat-label i18n>Token Type</mat-label>
    <mat-select
      [(ngModel)]="tokenType"
      [value]="tokenType()"
      i18n-placeholder
      placeholder="Select token type">
      @for (type of tokenTypesWithOTP(); track type) {
        <mat-option [value]="type['key']">{{ type["info"] }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="width-66">
    <mat-label i18n>Assignment State</mat-label>
    <mat-select
      [(ngModel)]="assignmentState"
      [value]="assignmentState()"
      i18n-placeholder
      placeholder="Specify assignment state">
      @for (assignment of assignmentStates; track assignment) {
        <mat-option
          [value]="assignment.key"
          i18n>{{ assignment.info }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="flex-row gap-1">
    <div class="flex-column width-66">
      <mat-form-field>
        <mat-label i18n>Serial Substring</mat-label>
        <input
          [(ngModel)]="serialSubstring"
          i18n-placeholder
          id="serialSubstring"
          matInput
          name="serialSubstring"
          placeholder="Enter optional serial substring" />
      </mat-form-field>
    </div>
    <div class="flex-column width-32 margin-bottom-1">
      <mat-form-field>
        <mat-label i18n>Count Window</mat-label>
        <input
          [(ngModel)]="countWindow"
          i18n-placeholder
          id="countWindow"
          matInput
          name="countWindow"
          placeholder="Lookahead OTP values"
          type="number" />
        <mat-hint i18n>Set number of lookahead OTP values (default 10).</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
