<div class="flex-column">
  <div class="flex-fix-size">
    <mat-card class="default-template-card-row">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label i18n>Template Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Template Name"
          i18n-placeholder
          aria-label="Template Name"
          [ngModel]="template().name"
          (ngModelChange)="editTemplate({ name: $event })"
          (keydown)="$event.stopPropagation()"
          [errorStateMatcher]="nameErrorMatcher" />
        @if (nameConflict()) {
          <mat-error i18n>Another template with this name already exists.</mat-error>
        }
      </mat-form-field>

      <mat-card-content>
        <mat-checkbox
          [checked]="template().default"
          (change)="editTemplate({ default: $event.checked })"
          (click)="$event.stopPropagation()"
          matTooltip="Set as default template"
          i18n-matTooltip="@@containerTemplate.setAsDefaultTooltip">
          <span i18n>Set as default template</span>
        </mat-checkbox>
      </mat-card-content>
    </mat-card>

    <div>
      <h3 i18n>Container Type</h3>
      <app-selector-buttons
        [values]="containerTypes()"
        [labels]="containerTypesTitleCase()"
        [initialValue]="template().container_type"
        [allowDeselect]="true"
        (onSelect)="editTemplate({ container_type: $event })"
        [disabled]="hasToken()" />
    </div>
  </div>

  <div class="flex-grow">
    <h3 i18n>Tokens</h3>
    <app-container-template-edit-body
      [template]="template()"
      [availableTokenTypes]="availableTokenTypes()"
      [tokens]="tokens()"
      (editTemplate)="editTemplate($event)" />
  </div>
</div>
