@use "../../../../../styles" as styles;
@use "../../container-templates/container-templates.component.scss";
@use "@angular/material" as mat;

// --- Main Layout ---

.placeholder-for-right-column {
  grid-area: right-column;
}

.template-card {
  border-radius: var(--border-radius);
  mat-expansion-panel {
    border-radius: var(--border-radius);
  }
  mat-expansion-panel-header {
    padding: 0 var(--global-padding);
    display: flex;
    align-items: center;
    gap: var(--global-gap);
    .mat-content {
      gap: var(--global-gap);
    }
    .template-default-indicator-container {
      width: 40px;
      flex-shrink: 0;
    }

    .template-name-container {
      align-content: center;
      .template-name-input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--mat-sys-outline-variant);
        border-radius: 0;
        box-sizing: border-box;
        font-size: 1rem;
        margin-left: 2px;
        padding: var(--half-global-padding) 0;
      }

      .template-name-plain {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    .template-type-select-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      mat-select {
        width: 300px;
      }

      // The mat-select is "naked" (not in a mat-form-field), so it's invisible by default.
      // We apply a border to the bottom of the trigger to make it look like a standard
      // material input field, similar to how it appears in other parts of the application like the policy editor.
      ::ng-deep .mat-mdc-select-trigger {
        border-bottom: 1px solid var(--mat-sys-outline-variant);
      }
    }

    .template-actions {
      display: flex;
      align-items: center;
      width: 120px;
      button {
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.mat-expansion-panel-body {
  gap: var(--global-gap);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
}

.addTokenRow {
  display: flex;
  gap: 16px;
  align-items: center;
}
