<!--
 (c) NetKnights GmbH 2026,  https://netknights.it

 This code is free software; you can redistribute it and/or
 modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 as published by the Free Software Foundation; either
 version 3 of the License, or any later version.

 This code is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU AFFERO GENERAL PUBLIC LICENSE for more details.

 You should have received a copy of the GNU Affero General Public
 License along with this program.  If not, see <http://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->

<button
  [matMenuTriggerFor]="languageMenu"
  aria-label="Change language"
  i18n-aria-label
  i18n-matTooltip
  mat-icon-button
  matTooltip="Change language">
  <mat-icon>language</mat-icon>
</button>
<mat-menu #languageMenu="matMenu">
  @for (locale of locales; track locale.code) {
    <button
      (click)="switchTo(locale.code)"
      [disabled]="locale.code === currentLocale"
      mat-menu-item>
      <span>{{ locale.label }}</span>
      @if (locale.code === currentLocale) {
        <mat-icon>check</mat-icon>
      }
    </button>
  }
</mat-menu>
